<template>
  <div class="default-layout">
    <overlay v-if="overlayActive" />
    <loader />
    <a class="skip-link" href="#viewport">Skip to main</a>
    <div id="viewport" class="w-100 relative">
      <main-header />
      <async-sidebar
        id="search-sidebar"
        class="search-sidebar"
        :async-component="SearchPanel"
        :is-open="isSearchPanelOpen"
        @close="$store.commit('ui/setSearchpanel')"
      />
      <async-sidebar
        id="microcart-sidebar"
        class="microcart-sidebar"
        :async-component="Microcart"
        :is-open="isMicrocartOpen"
        @close="$store.commit('ui/setMicrocart')"
      />
      <async-sidebar
        id="hamburger-sidebar"
        class="hamburger-sidebar"
        :async-component="SidebarMenu"
        :is-open="isSidebarOpen"
        @close="$store.commit('ui/setSidebar')"
        direction="left"
      />
      <async-sidebar
        id="wishlist-sidebar"
        class="wishlist-sidebar"
        :async-component="Wishlist"
        :is-open="isWishlistOpen"
        @close="$store.commit('ui/setWishlist')"
      />
      <async-sidebar
        id="free-gifts-sidebar"
        class="free-gifts-sidebar"
        :async-component="FreeGifts"
        :is-open="isFreeGiftsOpen"
        @close="$store.commit('ui/setFreeGifts')"
      />
      <slot />
      <main-footer />
      <notification />
      <sign-up />
      <!-- <cookie-notification /> -->
      <offline-badge />
      <order-confirmation
        :orders-data="ordersData"
        v-if="loadOrderConfirmation"
      />
      <product-sample-popup :product="readSampleProduct" />
      <product-quick-view :product="quickViewProduct" />
    </div>
    <modal :on-escape="false" name="modal-phonenumber" :width="450" class="modal-phonenumber">
      <div slot="content">
        <header class="modal-phone-number">
          <h2>{{ $t('Please confirm mobile phone number linked with this account') }} *</h2>
        </header>
        <form>
          <base-number
              class="col-xs-12 col-sm-12 mb15 px0"
              :maxlength="10"
              type="tel"
              name="phone-number"
              :placeholder="$t('Phone Number *')"
              v-model.trim="phoneNumber"
              @blur="$v.phoneNumber.$touch()"
              autocomplete="phone-number"
              :validations="[
                {
                  condition: $v.phoneNumber.$error && !$v.phoneNumber.required,
                  text: $t('Field is required')
                },
                {
                  condition: !$v.phoneNumber.minLength,
                  text: $t('Please enter 10 consecutive digit phone numbers.')
                },
                {
                  condition: !$v.phoneNumber.maxLength,
                  text: $t('Please enter 10 consecutive digit phone numbers.')
                }
              ]"
            />
          <button-full
            class="mb35"
            type="button"
            :disabled="$v.$invalid"
            @click.native="getPhoneNumber"
          >
            {{ $t('Confirm my number') }}
          </button-full>
        </form>
      </div>
    </modal>
    <vue-progress-bar />
  </div>
</template>

<script>
import Vue from 'vue'
import { mapState } from 'vuex'
import AsyncSidebar from 'theme/components/theme/blocks/AsyncSidebar/AsyncSidebar.vue'
import MainHeader from 'theme/components/core/blocks/Header/Header.vue'
import Overlay from 'theme/components/core/Overlay.vue'
import Loader from 'theme/components/core/Loader.vue'
import Notification from 'theme/components/core/Notification.vue'
import SignUp from 'theme/components/core/blocks/Auth/SignUp.vue'
// import CookieNotification from 'theme/components/core/CookieNotification.vue'
import OfflineBadge from 'theme/components/core/OfflineBadge.vue'
import { isServer } from '@vue-storefront/core/helpers'
import Head from 'theme/head'
import config from 'config'
import ProductSamplePopup from 'theme/components/theme/blocks/Product/ProductSamplePopup'
import ProductQuickView from 'theme/components/core/blocks/Product/ProductQuickView'
import { ReviewModule } from '@vue-storefront/core/modules/review'
import { registerModule, isModuleRegistered } from '@vue-storefront/core/lib/modules'
import LazyHydrate from 'vue-lazy-hydration'
import Modal from 'theme/components/core/Modal'
import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import BaseNumber from 'theme/components/core/blocks/Form/BaseNumber'
import { required, minLength, maxLength } from 'vuelidate/lib/validators'
// import { Notifier } from '@airbrake/browser'

const SidebarMenu = () => import(/* webpackChunkName: "vsf-sidebar-menu", webpackPreload: true */ 'theme/components/core/blocks/SidebarMenu/SidebarMenu.vue')
const Microcart = () => import(/* webpackChunkName: "vsf-microcart, webpackPreload: true" */ 'theme/components/core/blocks/Microcart/Microcart.vue')
const Wishlist = () => import(/* webpackChunkName: "vsf-wishlist, webpackPreload: true" */ 'theme/components/core/blocks/Wishlist/Wishlist.vue')
const FreeGifts = () => import(/* webpackChunkName: "vsf-wishlist, webpackPreload: true" */ 'theme/components/core/blocks/FreeGifts/FreeGifts.vue')
const SearchPanel = () => import(/* webpackChunkName: "vsf-search-panel" */ 'theme/components/core/blocks/SearchPanel/SearchPanel.vue')
const OrderConfirmation = () => import(/* webpackChunkName: "vsf-order-confirmation" */ 'theme/components/core/blocks/Checkout/OrderConfirmation.vue')

/*
var airbrake = new Notifier({
  environment: 'production',
  projectId: 378045,
  projectKey: '79c86dd0b70fac7a52b2f2d8a567c3a3'
})

Vue.config.errorHandler = function (err, _vm, info) {
  airbrake.notify({
    error: err,
    params: { info: info }
  })
}
*/

export default {
  data () {
    return {
      loadOrderConfirmation: false,
      ordersData: [],
      Microcart,
      Wishlist,
      FreeGifts,
      SearchPanel,
      SidebarMenu,
      readSampleProduct: {},
      quickViewProduct: {},
      phoneNumber: ''
    }
  },
  beforeCreate () {
    registerModule(ReviewModule)
  },
  computed: {
    ...mapState({
      overlayActive: state => state.ui.overlay,
      isSearchPanelOpen: state => state.ui.searchpanel,
      isSidebarOpen: state => state.ui.sidebar,
      isMicrocartOpen: state => state.ui.microcart,
      isWishlistOpen: state => state.ui.wishlist,
      isFreeGiftsOpen: state => state.ui.freegifts,
      currentUser: state => state.user.current
    }),
    isCustomerTelephone () {
      if(this.currentUser && this.currentUser.custom_attributes.length) {
        const customerTelephone = this.currentUser.custom_attributes.find(({attribute_code}) => attribute_code === 'customer_telephone' )
        return customerTelephone ? customerTelephone.value : null
      }
      return null
    }
  },
  watch: {
    currentUser: {
      handler (val) {
        if(val) {
          this.$bus.$emit('open-phonenumber-modal')
        }
      },
      immediate: true
    }
  },
  methods: {
    onOrderConfirmation (payload) {
      this.loadOrderConfirmation = true
      this.ordersData = payload
      this.$bus.$emit('modal-show', 'modal-order-confirmation')
    },
    fetchMenuData () {
      return this.$store.dispatch('category/list', { level: config.entities.category.categoriesDynamicPrefetch && config.entities.category.categoriesDynamicPrefetchLevel >= 0 ? config.entities.category.categoriesDynamicPrefetchLevel : null, includeFields: config.entities.optimize && isServer ? config.entities.category.includeFields : null, skipCache: isServer })
    },
    readSamplePopup (product) {
      if (product) {
        this.readSampleProduct = product;
        this.$bus.$emit('modal-show', 'modal-product-sample')
      }
    },
    quickViewDetails (product) {
      if (product) {
        this.quickViewProduct = product;
        this.$store.dispatch('review/list', { productId: product.id })
        this.$store.dispatch('productRewardPoints/list', product.id);
        this.$bus.$emit('modal-show', 'quick-view-modal')
      }
    },
    openPhoneNumberModal () {
      if(this.currentUser && !this.isCustomerTelephone) {
        setTimeout(() => {
          this.$bus.$emit('modal-show', 'modal-phonenumber')
        }, 7000);
      }
    },
    async getPhoneNumber () {
      const currentUser = JSON.parse(JSON.stringify(this.currentUser));
      if(currentUser.custom_attributes && currentUser.custom_attributes.length) {
        const hasCutTel = currentUser.custom_attributes.some(ca => ca.attribute_code === 'customer_telephone')
        if(!hasCutTel) {
          currentUser.custom_attributes.push({
            attribute_code: 'customer_telephone',
            value: this.phoneNumber
          })
        } else {
          currentUser.custom_attributes.map( ca => {
            if(ca.attribute_code === 'customer_telephone') {
              ca.value = this.phoneNumber
            }
          })
        }
        // Remove field because magento not allowing more than 5 custom attributes
        currentUser.custom_attributes.splice(currentUser.custom_attributes.findIndex(function(i){
            return i.attribute_code === "nosto_customer_reference";
        }), 1)
      }
      if(currentUser.addresses && currentUser.addresses.length) { // street array has only one field whereas it should have two field
        currentUser.addresses.map(add => {
          if(add.street.length < 2) {
            add.street.push(' ')
          }
        })
      }
      await this.$store.dispatch('user/update', { customer: currentUser })
      this.phoneNumber = ''
      this.$bus.$emit('modal-hide', 'modal-phonenumber')
    }
  },
  serverPrefetch () {
    return this.fetchMenuData()
  },
  beforeMount () {
    // Progress bar on top of the page
    this.$router.beforeEach((to, from, next) => {
      this.$Progress.setColor('#ffffff')
      this.$Progress.start()
      this.$Progress.increase(40)
      next()
    })
    this.$router.afterEach((to, from) => {
      this.$Progress.finish()
    })
    this.$bus.$on('offline-order-confirmation', this.onOrderConfirmation)
    this.$bus.$on('read-sample-popup', this.readSamplePopup);
    this.$bus.$on('quick-view-popup', this.quickViewDetails);
    this.$bus.$on('open-phonenumber-modal', this.openPhoneNumberModal);
  },
  beforeDestroy () {
    this.$bus.$off('offline-order-confirmation', this.onOrderConfirmation)
    this.$bus.$off('open-phonenumber-modal', this.openPhoneNumberModal);
  },
  metaInfo: Head,
  components: {
    MainHeader,
    MainFooter: () => import(/* webpackChunkName: 'vsf-footer' */ 'theme/components/core/blocks/Footer/Footer'),
    SidebarMenu, // eslint-disable-line vue/no-unused-components
    Overlay,
    Loader,
    Notification,
    SignUp,
    // CookieNotification,
    OfflineBadge,
    OrderConfirmation,
    AsyncSidebar,
    ProductSamplePopup,
    ProductQuickView,
    LazyHydrate,
    Modal,
    ButtonFull,
    BaseNumber
  },
  validations: { 
    phoneNumber: {
      required,
      minLength: minLength(10),
      maxLength: maxLength(10),
    }
  }
}
</script>

<style lang="scss" src="theme/css/main.scss"></style>
<style>
.ellipsis{
  /* autoprefixer: off */
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
/* will not be prefixed */
}
.modal.modal-phonenumber .modal-container{
  max-height: 230px;
}
</style>
