<template>
  <no-ssr>
    <div class="bbt__wrapper blogs blogs-tag container" v-if="blogsByTags.length > 0">
      <breadcrumbs
        class="mt40 mb40"
        :routes="[{name: 'PHOENIX', route_link: '/'},{name: $t('Guild'), route_link: '/guild'}]"
        :active-route="this.$route.params.tag"
      />
      <div class="shaded-box blog-list-wrap">
        <h2 class="sec-title flex middle-xs center-xs m0">{{ this.$route.params.tag }}</h2>
        <div class="blog-list">
          <blog-single v-for="blog in blogsByTags" :blog="blog" :key="blog.post_id" />
        </div>
      </div>
    </div>
  </no-ssr>
</template>
<script>
import NoSSR from 'vue-no-ssr'
import BlogSingle from '../components/BlogSingle.vue'
import Breadcrumbs from 'theme/components/core/Breadcrumbs'
export default {
  name: 'BlogsByTag',
  components: {
    'no-ssr': NoSSR,
    BlogSingle,
    Breadcrumbs
  },
  computed: {
    blogsByTags () {
      return this.$store.getters['blogs/getBlogsByTag'](this.$route.params.tag)
    }
  }
}
</script>
