<template>
  <no-ssr>
    <div class="bbt__wrapper blogs blogs-tag container">
      <breadcrumbs
        class="mt40 mb40"
        :routes="[{name: 'PHOENIX', route_link: '/'},{name: $t('Blogs'), route_link: '/guild'}]"
        :active-route="this.$route.params.category"
      />
      <div class="shaded-box blog-list-wrap">
        <h2 class="sec-title flex middle-xs center-xs m0">{{ this.$route.params.category }}</h2>
        <div class="blog-list">
          <blog-single v-for="blog in getCategoryBlog" :blog="blog" :key="blog.post_id" />
        </div>
      </div>
    </div>
  </no-ssr>
</template>
<script>
import NoSSR from 'vue-no-ssr'
import BlogSingle from '../components/BlogSingle.vue'
import Breadcrumbs from 'theme/components/core/Breadcrumbs'
import { mapGetters } from 'vuex'
export default {
  name: 'BlogsByCategory',
  components: {
    'no-ssr': NoSSR,
    BlogSingle,
    Breadcrumbs
  },
  computed: {
    ...mapGetters({
      getBlogs: 'blogs/getBlogs',
      categoriesList: 'blogs/getBlogsCategoryList'
    }),
    getCategoryBlog () {
      const catPost = this.categoriesList.filter(cat => cat.title.toLowerCase() == this.$route.params.category);
      let catPosts = [];
      if (catPost && catPost.length > 0) {
        (catPost[0].posts).map(pID => {
        const post = this.getBlogs.filter(b => b.post_id === pID)
          if (post && post.length) {
            catPosts.push(post[0])
          }
        })
      }
      return catPosts.sort((a, b) => parseInt(a.position) - parseInt(b.position));
    }
  }
}
</script>
