<template>
  <div class="bbt__wrapper blogs blogs-tag container">
    <breadcrumbs
      class="mt40 mb40"
      :routes="[{name: 'PHOENIX', route_link: '/'},{name: $t('Guild'), route_link: '/guild'}]"
      :active-route="$t('Search')"
    />
    <div div class="shaded-box blog-list-wrap relative">
      <h2 class="sec-title flex middle-xs center-xs m0">{{ $t('Search result(s)...') }}</h2>
      <div class="loader-ajax-slider" v-if="loading">
        <div class="site-ajax-loader" />
      </div>
      <div class="blog-list" v-if="searchedBlog.length && !loading">
        <blog-single v-for="blog in searchedBlog" :blog="blog" :key="blog.post_id" />
      </div>
      <div v-if="searchedBlog.length === 0 && loading === false">
        {{ $t('No result found..') }}
      </div>
    </div>
  </div>
</template>
<script>
import BlogSingle from '../components/BlogSingle.vue'
import Breadcrumbs from 'theme/components/core/Breadcrumbs'
export default {
  name: 'BlogSearch',
  data () {
    return {
      searchedBlog: [],
      loading: false
    }
  },
  components: {
    BlogSingle,
    Breadcrumbs
  },
  created () {
    this.loading = true
    this.$store.dispatch('blogs/searchKeyword', this.$route.query.q).then(res => {
        this.loading = false
        this.searchedBlog = res || []
    })
  }
}
</script>
<style lang="scss" scoped>
.site-ajax-loader {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.loader-ajax-slider {
  z-index: 1111;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  min-height: 350px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.site-ajax-loader:after {
  content: " ";
  display: block;
  width: 40px;
  height: 40px;
  margin: 8px;
  border-radius: 50%;
  border: 4px solid #1895f5;
  border-color: #1895f5 transparent #1895f5 transparent;
  animation: site-ajax-loader 1.2s linear infinite;
}
@keyframes site-ajax-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
