<template>
  <no-ssr>
    <div class="blogs container blogs_list">
      <breadcrumbs
        class="mt40 mb40"
        :routes="[{name: 'PHOENIX', route_link: '/'}]"
        :active-route="$t('Guild')"
      />
      <div class="shaded-box blog-list-wrap">
        <h2 class="sec-title flex middle-xs center-xs m0">{{ $t('Most Recent') }}</h2>
        <div class="blog-list">
          <blog-single v-for="blog in recentBlogs" :blog-description="false" :blog="blog" :key="blog.post_id" class="bl_single" />
        </div>
      </div>
      <div class="shaded-box blog-list-wrap" v-if="getCategoryBlog.length > 0">
        <h2 class="sec-title flex middle-xs center-xs m0">{{ $t('News & Activities') }}</h2>
        <div class="blog-list">
          <blog-single v-for="blog in getCategoryBlog" :blog-description="false" :blog="blog" :key="blog.post_id" class="bl_single" />
        </div>
      </div>
      <div class="search-blogs shaded-box">
        <search-blog />
        <blogs-category-list />
      </div>
      <div class="shaded-box blog-list-wrap blog-category-list">
        <blog-list />
      </div>
    </div>
  </no-ssr>
</template>
<script>
import { mapGetters } from 'vuex'
import NoSSR from 'vue-no-ssr'
import BlogsCategoryList from '../components/BlogCategoryListing.vue'
import SearchBlog from '../components/SearchBlog.vue'
import BlogList from '../components/BlogsList.vue'
import BlogSingle from '../components/BlogSingle.vue'
import Breadcrumbs from 'theme/components/core/Breadcrumbs'
export default {
  name: 'BlogsList',
  components: {
    BlogsCategoryList,
    SearchBlog,
    BlogList,
    BlogSingle,
    'no-ssr': NoSSR,
    Breadcrumbs
  },
  computed: {
    ...mapGetters({
      getBlogs: 'blogs/getBlogList',
      getRecentBlogs: 'blogs/getFeaturedBlogList',
      featuredBlog: 'blogs/getFirstBlogByPosition',
      positionedBlogs: 'blogs/getBlogsByPosition',
      categoriesList: 'blogs/getBlogsCategoryList',
      activeCategory: 'blogs/activeCategory'
    }),
    recentBlogs () {
      return this.getRecentBlogs.length > 0 ? this.getRecentBlogs.slice(0, 4).sort((a, b) => parseInt(a.position) - parseInt(b.position)) : []
    },
    getCategoryBlog () {
      const comicPost = this.categoriesList.filter(cat => cat.title === "News & Activities");
      let catPosts = [];
      if (comicPost && comicPost.length > 0) {
        (comicPost[0].posts).map(pID => {
        const post = this.getBlogs.filter(b => b.post_id === pID)
          if (post && post.length) {
            catPosts.push(post[0])
          }
        })
      }
      return catPosts.sort((a, b) => parseInt(a.position) - parseInt(b.position));
    }
  }
}
</script>
<style lang="scss">
  @import '~theme/css/base/text';
  @import '~theme/css/variables/colors';
  @import '~theme/css/helpers/functions/color';
  $color-black: color(black);
  $color-white: color(white);
  $color-secondary: color(secondary);
  $gray-888888: color(gray-888888);

  .blog-list {
    display: flex;
    flex-wrap: wrap;
    margin:0 -10px;
    .bl__wrapper--single {
      position: relative;
      width: 25%;
      padding-left:10px;
      padding-right:10px;
      border-top:0;
      padding-top:0px;
      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        width: 50%;
      }
      @media (max-width: 767px) {
        width: 100%;
      }
      .blog-disc {
        display: -webkit-box;
        /* autoprefixer: off */
        -webkit-box-orient: vertical;
        /* autoprefixer: on */
        -webkit-line-clamp: 3;
        overflow: hidden;
        margin-bottom: 10px;
        height: 60px;
      }
    }
    .blogimg {
      position: relative;
      padding-bottom: 67%;
      // padding-bottom: 65%;
      background: #F5F5F5;
      a {
        object-fit: cover;
        height: 100%;
        width: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        img {
        // height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
    .blog-text {
      padding: 15px 0 20px 0;
      .blog-title {
        font-size: 16px;
        font-weight: 500;
        color: #000;
        display: block;
        margin-bottom: 7px;
        min-height: 47px;
        @media (max-width: 767px) {
          min-height: auto;
        }
        &:hover {
          color: $color-secondary;
        }
      }
      p {
        font-size: 14px;
      }
    }
    .blog-cat {
      font-size: 14px;
      color: #000;
      a:not(:last-child):after {
        content: ", ";
        pointer-events: none;
      }
      b {
        font-weight: 500;
      }
    }
  }
  .blogs-category{
    padding:5px 0 0 0;
  }
  .blogs__featured-post{
    clear: both;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -7px;
    .bl_single{
      position: relative;
      width: 33.3%;
      padding-left:7px;
      padding-right:7px;
      @media (max-width: 767px) {
        width:100%;
        margin-bottom: 15px;
      }
    }
    .bl_single:nth-child(1){
       width: 100%;
       .bl__wrapper--title {
        .blogimg {
          padding-bottom: 40.40%;
          position: relative;
          @media (max-width: 767px) {
            margin-bottom:0px;
            padding-bottom: 18%;
            align-self: flex-start;
          }
        }
      }
    }
    .blog-text{
      margin-top: 15px;
    }
    @media (max-width: 767px) {
      .bl_single {
        .bl__wrapper--title {
          padding: 0;
          display: flex;
          .blogimg {
            width: 30%;
            position: relative;
          }
          .blog-text {
            width: 70%;
            position: relative;
            padding: 0 0 0 20px;
            margin-top: 0;
            .blog-title {
              font-size: 16px;
              color: #000;
              margin-bottom: 7px;
              padding: 0;
              background-color: transparent;
            }
            .blog-date {
              font-size: 13px;
            }
          }
        }
      }
    }
    .blog-disc{
      display: none;
    }
    a.blog-title{
      font-size: 17px;
      color: #000;
      display: block;
      margin-bottom: 7px;
      &:hover{
        color: $color-secondary;
      }
    }
    .blogimg{
      a {
        object-fit: cover;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        display: block;
      }
    }
    .blog-date{
      color: $gray-888888;
    }
  }
  .blog-tabing {
    margin-top: 40px;
    ul.tabs__header > li {
      font-size: 18px;
    }
    .blogs__featured-post {
      .bl__wrapper--single {
        width: 25%;
        .blogimg {
          padding-bottom: 40.40%;
          position: relative;
          overflow: hidden;
          a {
            transform: scale(1);
            transition: 0.2s;
          }
          &:hover {
            a {
              transform: scale(1.1);
            }
          }
        }
        .blog-text {
          .blog-title {
            font-size: 15px;
          }
        }
      }
    }
    @media (max-width: 767px) {
      margin-top: 10px;
      .blogs__featured-post {
        .bl__wrapper--single {
          width: 100%;
          &:not(:first-child) .bl__wrapper--title {
            padding-bottom: 0;
          }
          .blogimg {
            padding-bottom: 18%;
            align-self: flex-start;
          }
        }
      }
    }
  }
  .pagination{
    width: 100%;
  }

  </style>
