<template>
  <no-ssr>
    <div class="blogs blogs-details container" v-if="Object.keys(blogDetail).length">
      <breadcrumbs
        class="mt40 mb40"
        :routes="[{name: 'PHOENIX', route_link: '/'},{name: $t('Guild'), route_link: '/guild'}]"
        :active-route="$t(blogDetail.title)"
      />
      <div class="blog-wrap flex">
        <div class="shaded-box blog-details-left">
          <h1 class="title">
            {{ blogDetail.title }}
          </h1>
          <p>
            {{ $t('Author') + ' : ' + blogDetail.author_name }} - {{ blogDetail.publish_date | date('ll') }}
          </p>
          <div class="blog-banner">
            <img :src="blogDetail.featured_img" :alt="blogDetail.featured_img_alt || blogDetail.title">
          </div>
          <div v-html="blogDetail.content" class="blogdetails" />
          <p v-if="blogDetail.tags.length" class="tag-links-row">
            <template v-for="(tag,index) in blogDetail.tags">
              <router-link class="tag-links" :to="localizedRoute('/guild/tag/'+ tag)" :key="index">
                {{ tag }}
              </router-link>
            </template>
          </p>

          <div class="flex flex-wrap sharing-row mt30">
            <div class="flex sharing-col">
              <button class="btn-outlined flex" @click="toggleLike">
                <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg" class="block" data-v-25a3b197=""><path fill-rule="evenodd" clip-rule="evenodd" d="M17 1C20.3137 1 23 3.68629 23 7C23 12.9984 12 22 12 22C12 22 1 12.9996 1 7C1 3.68629 3.68629 1 7 1C9.08751 1 10.926 2.06607 12.0008 3.68347C13.074 2.06607 14.9125 1 17 1Z" fill="#A3A3A3" fill-opacity="0.1" stroke="#A3A3A3" stroke-width="1.5" data-v-25a3b197=""></path></svg>
                {{ $t('15 คน เลิฟบทความนี้ ') }}
              </button>
              <button class="btn-fill btn-secondary" @click="toggleAccordion">{{ $t('Write Your Comment') }}</button>
            </div>
            <div class="sharenetwork ml-auto flex flex-wrap">
              <ShareNetwork
                v-for="network in networks"
                :network="network.network"
                :key="network.network"
                :style="{backgroundColor: network.color}"
                :url="sharing.url"
                :title="blogDetail.title"
                :description="blogDetail.content | htmlDecode"
                :hashtags="blogDetail.title"
                :media="blogDetail.featured_img"
              >
                <i v-html="network.icon"></i>
                <span>{{ network.name }}</span>
              </ShareNetwork>
            </div>
          </div>
          <div class="blog-comments">
            <div class="comment-list">
              <div class="comment-item" v-for="(comment, index) in comments" :key="index">
                <h4>
                  {{ comment.author_nickname }}
                  <span>{{ comment.creation_time | date('D/M/YYYY HH:mm', storeView) }}</span>
                </h4>
                <p> {{ comment.text }}</p>
              </div>
            </div>
          </div>
          <div class="mt20" v-show="show">
            <blog-comment-form :blog="blogDetail" />
          </div>
          <div class="flex blog-button mt30">
            <button v-if="previousPost && Object.keys(previousPost).length > 0" @click="getPreviousPost()">
              <i role="button" class="material-icons">arrow_back</i>
              {{ $t('Previous Post') }}
            </button>
            <button class="btn-next" v-if="nextPost && Object.keys(nextPost).length > 0" @click="getNextPost()">
              {{ $t('Next Post') }}
              <i role="button" class="material-icons">arrow_forward</i>
            </button>
          </div>
        </div>
        <div class="shaded-box blogs-recent-right ml15 mb40">
          <h2>{{ $t('Most Recent') }}</h2>
          <div class="blog-list">
            <blog-single v-for="blog in recentBlogs" :blog-description="false" :blog="blog" :key="blog.post_id" class="bl_single" />
          </div>
        </div>
      </div>
      <div v-if="getRelatedPost.length > 0">
        <div class="shaded-box blog-related-products related-brand-slider">
          <h2 class="sec-title flex middle-xs center-xs m0">{{ $t('Related Post') }}</h2>
          <div class="brands-slider">
            <no-ssr>
              <carousel
                :per-page="1"
                :per-page-custom="[[0, 1], [480, 1], [550, 2], [767, 3], [1200, 4]]"
                :navigation-enabled="true"
                :pagination-enabled="false"
                pagination-active-color="#ffffff"
                pagination-color="#D8D8D8"
                navigation-next-label="<svg width='14' height='23' viewBox='0 0 14 23' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1.89844 21L11.7979 11.1005L1.89844 1.20101' stroke='#D8D8D8' stroke-width='3'/></svg>"
                navigation-prev-label="<svg width='14' height='23' viewBox='0 0 14 23' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M12.9023 21L3.00285 11.1005L12.9023 1.20101' stroke='#D8D8D8' stroke-width='3'/></svg>"
              >
                <slide v-for="(blog, index) in getRelatedPost" :key="index">
                  <blog-single :blog="blog" :key="blog.post_id" class="bl_single" />
                </slide>
              </carousel>
            </no-ssr>
           </div>
        </div>
      </div>
      <div v-if="blogDetail && blogDetail.relatedbrand.length !== 0">
        <div class="shaded-box blog-related-products related-brand-slider mt40">
          <h2 class="sec-title flex middle-xs center-xs m0">{{ $t('Related Brand') }}</h2>
          <div class="brands-slider">
            <no-ssr>
              <carousel
                :per-page="1"
                :per-page-custom="[[0, 1], [480, 1], [767, 1], [992, 4], [1200, 5]]"
                :navigation-enabled="true"
                :pagination-enabled="false"
                pagination-active-color="#ffffff"
                pagination-color="#D8D8D8"
                navigation-next-label="<svg width='14' height='23' viewBox='0 0 14 23' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1.89844 21L11.7979 11.1005L1.89844 1.20101' stroke='#D8D8D8' stroke-width='3'/></svg>"
                navigation-prev-label="<svg width='14' height='23' viewBox='0 0 14 23' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M12.9023 21L3.00285 11.1005L12.9023 1.20101' stroke='#D8D8D8' stroke-width='3'/></svg>"
              >
                <slide v-for="(slide, index) in blogDetail.relatedbrand" :key="index">
                  <div class="brands align-left">
                    <div class="brands-img-wrap">
                      <div class="brands-img">
                        <router-link
                          :to="localizedRoute('/series/'+slide.link)"
                        >
                          <img :src="getBrandImage(slide.brand_image,180,180) || '/assets/placeholder.svg'" :alt="slide.brand_name" width="180" height="180" onerror="this.src='/assets/placeholder.svg'">
                        </router-link>
                      </div>
                    </div>
                    <div class="brands-title">
                      <router-link
                        :to="localizedRoute('/series/'+slide.link)"
                      >
                        {{ slide.brand_name }}
                      </router-link>
                    </div>
                  </div>
                </slide>
              </carousel>
            </no-ssr>
           </div>
        </div>
      </div>
      <div class="shaded-box blog-related-products mt40" v-if="relatedProducts.length > 0">
        <h2 class="sec-title flex middle-xs center-xs m0">{{ $t('Related Products') }}</h2>
        <blog-product-slider
          :per-page-custom="[[0, ['auto', 15]], [768, [3, 15]], [992, [4, 20]], [1200, [5, 20]]]"
          :pagination-enabled="false"
          :slider-id="'related-product-slider'"
          :products-list="relatedProducts"
          :slide-auto-play="false"
        />
      </div>
    </div>
  </no-ssr>
</template>
<script>
import NoSSR from 'vue-no-ssr'
import { htmlDecode } from '@vue-storefront/core/filters/html-decode'
import Breadcrumbs from 'theme/components/core/Breadcrumbs'
import BlogSingle from '../components/BlogSingle.vue'
import { mapGetters } from 'vuex'
import { prepareQuery } from '@vue-storefront/core/modules/catalog/queries/common'
import VueSocialSharing from 'vue-social-sharing'
import Vue from 'vue'
import { brandsImgPath } from 'theme/helpers'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'

Vue.use(VueSocialSharing);

export default {
  data () {
    return {
      nextBtnVisibility: true,
      nextInx: 0,
      previousBtnVisibility: true,
      previousInx: 0,
      show: false,
      relatedProducts:[],
      comments: [],
      sharing: {
	      url:  '',
      },
      networks: [
        { network: 'facebook', name: 'Facebook', icon: '<svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" class="svg-inline--fa fa-facebook-f fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"></path></svg>', color: '#1877f2' },
        { network: 'twitter', name: 'Twitter', icon: '<svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" class="svg-inline--fa fa-twitter fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path></svg>', color: '#1da1f2' }
      ]
    }
  },
  // mixins: [VueSocialSharing],
  name: 'BlogDetail',
  created () {
   this.sharing.url = 'https://www.phoenixnext.com' + this.$route.fullPath
  },
  components: {
    'no-ssr': NoSSR,
    'Carousel': () => import('vue-carousel').then(Slider => Slider.Carousel),
    'Slide': () => import('vue-carousel').then(Slider => Slider.Slide),
    Breadcrumbs,
    BlogSingle,
    VueSocialSharing,
    BlogProductSlider: () => import(/* webpackChunkName: "vsf-blog-product-listing" */ '../components/BlogProductSlider.vue'),
    BlogCommentForm: () => import(/* webpackChunkName: "vsf-blog-comment-form" */ '../components/BlogCommentForm.vue')
  },
  watch: {
    '$route' () {
      this.getProducts()
      this.getComments()
    }
  },
  methods: {
    login () {
      this.$bus.$emit('modal-show', 'modal-signup')
    },
    toggleLike () {
      if (!this.currentUser) {
        this.login();
      }
      else {
        console.log('Please apply the like count call form magneto side')
      }
    },
    toggleAccordion () {
      if (!this.currentUser) {
        this.login();
        return false;
      } else {
        this.show = !this.show;
      }
    },
    getNextPost () {
      this.$router.push(this.localizedRoute(this.nextPost.identifier))
      return;
    },
    getPreviousPost () {
      this.$router.push(this.localizedRoute(this.previousPost.identifier))
      return;
    },
    async getProducts () {
      if (typeof this.blogDetail.relatedproduct !== 'undefined') {
        const getRelatedProductIds = this.blogDetail.relatedproduct.map(i => Number(i))
        let relatedProductsQuery = prepareQuery({ filters: [{ key: 'id', value: { 'in': getRelatedProductIds } }] });
        const response = await this.$store.dispatch('product/list', {
          query: relatedProductsQuery,
          size: 150,
          prefetchGroupProducts: false,
          updateState: false
        })
        this.relatedProducts = response.items
      }
    },
    async getComments() {
      const response = await this.$store.dispatch('blogs/getCommentsByPost', this.blogDetail.post_id);
      this.comments = response.sort((a, b) => new Date(b.creation_time) - new Date (a.creation_time ));
    },
    getBrandImage (image, width, height) {
      let img = image ? image.split('/') : []
      return img.length > 0 ? brandsImgPath(img[img.length - 1], width, height) : null;
    }
  },
  mounted () {
    this.getProducts()
    this.getComments()
  },
  computed: {
    currentUser () {
      return this.$store.state.user.current
    },
    ...mapGetters({
      getBlogs: 'blogs/getBlogs',
      getRecentBlogs: 'blogs/getFeaturedBlogList',
      getProductRelated: 'product/getProductRelated',
    }),
    recentBlogs () {
      return this.getRecentBlogs.length > 0 ? this.getRecentBlogs.sort((a, b) => parseInt(a.position) - parseInt(b.position)).slice(0, 5) : []
    },
    blogDetail () {
      return this.$store.getters['blogs/getBlogByIdentifier'](this.$route.params.slug) || {}
    },
    currentPostIndex () {
      return this.getBlogs.findIndex(p => p.post_id === this.blogDetail.post_id);
    },
    nextPost () {
      const nextInx = parseInt(this.currentPostIndex) + 1
      return this.getBlogs[nextInx];
    },
    previousPost () {
      const previousInx = parseInt(this.currentPostIndex) - 1
      return this.getBlogs[previousInx];
    },
    getRelatedPost () {
      const relatedPost = this.blogDetail.relatedpost
      let catPosts = [];
      if (relatedPost && relatedPost.length > 0) {
        (relatedPost).map(pID => {
        const post = this.getBlogs.filter(b => b.post_id === pID)
          if (post && post.length) {
            catPosts.push(post[0])
          }
        })
      }
      return catPosts.sort((a, b) => parseInt(a.position) - parseInt(b.position));
    },
    storeView () {
      return currentStoreView()
    }
  },
  metaInfo () {
   let meta = [
      { vmid: 'og:image', name: 'og:image', content: this.blogDetail.featured_img ? this.blogDetail.featured_img: 'theme/assets/placeholder.jpg'},
      { vmid: 'twitter:card', name: 'twitter:card', content: 'summary_large_image'},
      { vmid: 'twitter:image', name: 'twitter:image', content: this.blogDetail.featured_img ? this.blogDetail.featured_img: 'theme/assets/placeholder.jpg'},
      { vmid: 'og:title', name: 'og:title', content: htmlDecode(this.blogDetail.og_title)},
      { vmid: 'twitter:title', name: 'twitter:title', content: htmlDecode(this.blogDetail.og_title)},
      { vmid: 'twitter:description', name: 'twitter:description', content: htmlDecode(this.blogDetail.og_description)},
      { vmid: 'og:description', name: 'og:description', content: htmlDecode(this.blogDetail.og_description)}
    ]
    if(this.blogDetail.meta_description) {
      meta.push({ vmid: 'description', name: 'description', content: htmlDecode(this.blogDetail.meta_description) })
    }
    return {
      bodyClass: 'blogDetails',
      title: this.blogDetail.meta_title ? htmlDecode(this.blogDetail.meta_title) : this.blogDetail.title,
      meta
    }
  }
}
</script>
<style lang="scss">
  @import '~theme/css/base/text';
  @import '~theme/css/variables/colors';
  @import '~theme/css/helpers/functions/color';
  $black: color(black);
  $white: color(white);
  $color-secondary: color(secondary);
  .blog-wrap {
    .blog-details-left {
      width: 75%;
      height: 100%;
      .sharing-row{
        align-items: center;
        @media (max-width: 1023px) {
          display: block;
          text-align: center;
        }
        .sharing-col{
          justify-content: center;
          .btn-outlined{
            border-radius: 4px;
            padding: 12px 25px;
            align-items: center;
            font-weight: 700;
            margin-right:10px;
            justify-content: center;
            svg{
              margin-right: 5px;
              height: 20px;
            }
            @media (max-width: 1023px) {
              width: 48%;
              margin: 0 0;
              padding: 12px 5px;
            }
          }
          .btn-fill{
            border-radius: 4px;
            padding: 12px 25px;
            border-color: #FF9900;
            background-color: #FF9900;
            @media (max-width: 1023px) {
              width: 48%;
              margin: 0 0%;
              padding: 12px 5px;
            }
          }
          @media (max-width: 1023px) {
            justify-content: space-between;
          }
        }
        .sharenetwork{
          margin-left: auto;
          justify-content: center;
          @media (max-width: 1023px) {
            padding-top: 10px;
          }
        }
        a[class^="share-network-"] {
          flex: none;
          color: $white;
          border-radius: 3px;
          overflow: hidden;
          display:flex;
          flex-direction: row;
          align-content: center;
          align-items: center;
          cursor: pointer;
          margin: 0 0px 0px 10px;
          text-decoration: none;
          padding:6px 15px;
          font-size: 15px;
          &:hover{
            color: $white;
          }
          i{
            display: flex;
            align-items: center;
            margin-right:7px;
            svg{
              height:17px;
            }
          }
        }
      }
    }
    .blogs-recent-right {
      width: 25%;
      height: 100%;
      padding: 15px;
      margin-bottom: 40px !important;
      .blog-list {
        display: block;
        margin: 0;
      }
      .bl_single {
        width: 100%;
        padding: 0;
        &:last-child {
          .blog-text {
            padding-bottom: 0;
          }
        }
      }
    }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .blog-details-left {
        width: 65%;
      }
      .blogs-recent-right {
        width: 35%;
      }
    }
    @media (max-width: 767px) {
      flex-wrap: wrap;
      .blog-details-left {
        width: 100%;
        margin-bottom: 40px;
      }
      .blogs-recent-right {
        width: 100%;
        margin-left: 0;
        margin-bottom:0px !important;
      }
    }
  }
  .related-post{
      .brands-slider{
        padding: 0 33px;
        @media (max-width: 767px) {
          padding:0px 22px !important;
        }
        .VueCarousel-navigation-button{
          cursor: pointer;
          svg{
            width: 10px;
            height: 18px;
            path{
              stroke: #1895F5;
            }
          }
        }
        .VueCarousel-navigation--disabled{
          svg{
            path{
              stroke: #D8D8D8;
            }
          }
        }
      }
    }
  .blogs-details{
    > img{
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
    .bl_single{
      margin-bottom: 10px;
    }
    .blogimg{
        position: relative;
        padding-bottom: 67%;
         text-align: center;
        // padding-bottom: 65%;
        background: #F5F5F5;
        a{
          object-fit: cover;
          height: 100%;
          width: 100%;
          position: absolute;
          display: flex;
          align-items: center;
          img{
          // height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
    }
    .blog-text{
        padding: 15px 0 20px 0;
        .blog-title{
          font-size: 16px;
          font-weight: 500;
          color: #000;
          display: block;
          margin-bottom: 7px;
          min-height: 47px;
          @media (max-width: 767px) {
            min-height: auto;
          }
          &:hover{
            color: $color-secondary;
          }
        }
        p {
          font-size: 14px;
        }
    }
    .blog-cat {
        font-size: 14px;
        color: #000;
        a:not(:last-child):after {
          content: ", ";
          pointer-events: none;
        }
        b {
          font-weight: 500;
        }
      }
    .blogdetails{
      padding: 25px 0 0 0;
    }
    .blog-button {
      color: $white;
    }
    .bl_single{
      margin-bottom: 10px;
    }
    iframe {
      @media (max-width: 1192px) {
        width: 100%;
        height: 300px;
      }
    }
    @media (max-width: 1272px) {
      line-break: anywhere;
      img {
        max-width: 100%;
        height: auto;
      }
    }
    .blog-button {
      button {
        font-size: 14px;
        color: $white;
        background-color: $color-secondary;
        border: 0 none;
        border-radius: 4px;
        padding: 10px 15px;
        display: flex;
        align-items: center;
        i {
          font-size: 18px;
          margin-right: 5px;
        }
        &.btn-next {
          margin-left: auto;
          i {
            margin: 0 0 0 5px;
          }
        }
        @media (max-width: 767px) {
          font-size: 13px;
          padding: 10px 12px;
          i {
            font-size: 16px;
          }
        }
      }
    }
    .blog-related-products {
      .blog-products-slider {
        padding: 0 25px;
        @media (max-width: 767px) {
          padding: 0 15px;
        }
        .swiper-button-prev,
        .swiper-button-next {
          margin: auto 10px;
        }
      }
    }
    .blog-list-wrap .blog-list{
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin: 0 -10px;
    }
    .blog-list-wrap .blog-list .bl__wrapper--single {
      position: relative;
      width: 25%;
      padding-left: 10px;
      padding-right: 10px;
      border-top: 0;
      padding-top: 0;
      @media only screen and (min-width: 768px) and (max-width: 1023px){
        width: 50%;
      }
      @media (max-width: 767px){
        width: 100%;
      }
    }
  }
  .tag-links-row{
    padding-top: 20px;
    margin-bottom: 0;
    .tag-links{
      background: #f8f8f8;
      padding: 2px 5px;
      border: solid 1px #ddd;
      margin-right: 5px;
    }
  }
  .blog-comments{
    .comment-list{
      .comment-item{
        padding: 15px 0 0;
        h4{
          margin: 0 0 10px;
          span{
            font-weight: normal;
            font-size: 12px;
          }
        }
        p{
          margin: 0;
          padding: 0 0 15px;
        }
      }
    }
  }
  .blogs-comment-form{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    > div{
      flex-basis: 100%;
      max-width: 100%;
      input, textarea {
        font-size: 16px;
      }
      &.base-input{
        padding: 0 10px;
      }
    }
    .add-comment-btn{
      margin:0 15px 10px;
      &.col-xs-12 {
        padding: 0 10px;
      }
    }
    .add-comment-btn{
      margin:0 10px 10px;
      border-radius: 4px;
      padding: 12px 25px;
    }
  }
  .related-brand-slider{
    .VueCarousel-navigation-button{
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      z-index: 2;
      line-height: 1;
      background-color: #fff;
      -webkit-box-shadow: 0 0 9px #ddd;
      box-shadow: 0 0 9px #ddd;
      width: 36px;
      height: 36px;
      cursor: pointer;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: center;
      justify-content: center;
      background: #fff;
      padding: 0;
      border-radius: 100%;
    }
    .VueCarousel{
      padding: 0 5px;
    }
    .VueCarousel-slide{
      padding: 0 10px;
    }
    .brands-img{
      margin:0 0 10px 0;
      a{
        min-height: 200px;
        position: relative;
        width: 100%;
        max-width: 100%;
        height: 100%;
        display: block;
        padding-top: 100%;
        img{
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          max-width: 100%;
          max-height: 100%;
          cursor: pointer;
        }
      }
    }
    .brands-title{
      height: 60px;
      overflow: hidden;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
    }
    @media (max-width: 767px) {
      margin-top: 40px;
       .VueCarousel-navigation-prev{
        left: 5px !important;
      }
      .VueCarousel-navigation-next{
        right: 5px !important;
      }
    }
  }
  </style>
