<template>
<div class="payment pb20 order-tab-wrap">
    <div class="row" :class="{ 'circle_active' : isActive || isFilled, 'circle-active' : !isFilled && !isActive }">
      <div class="col-auto col-md-1 number-circle-wrap">
        <div class="number-circle">
          2
        </div>
      </div>
      <div class="col-xs col-md-11">
        <div class="row mb5">
          <div class="col-xs-12 col-sm-6 col-lg-7">
            <h3 class="order-tab-title">
              {{ $t('Payment') }}
            </h3>
          </div>
          <!-- <div class="col-xs-12 col-sm-6 col-lg-5">
            <div class="lh30 flex end-sm" v-if="!isActive">
              <a href="#" class="edit-btn flex middle-xs" @click.prevent="$parent.changeSection('payment')">
                <span class="pr5">
                  {{ $t('Edit payment') }}
                </span>
                <i class="material-icons">edit</i>
              </a>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <div class="row" v-if="isActive">
      <div class="hidden-xs col-sm-2 col-md-1" />
      <div class="col-xs-12 col-md-11 col-lg-9">
           <div class="row">
              <div class="col-xs-12">
                <h4 class="f-s-16 weight-600 cl-primary mb10 mt15">
                  {{ $t('Payment Method') }}
                </h4>
              </div>
              <div class="col-xs-12">
                <div class="payment-method-list">
                  <div v-for="(method, index) in paymentMethods" :key="index" class="payment-method-item">
                    <div>
                      <label class="radioStyled" :class="method.code">
                        <input
                          type="radio"
                          :value="method.code"
                          name="payment-method"
                          v-model="payment.paymentMethod"
                          @change="$v.payment.paymentMethod.$touch(); changePaymentMethod()"
                        >
                        <span class="checkmark new">
                          <span>
                            <strong />
                          </span>
                          {{ method.title ? method.title : method.name }}
                        </span>
                      </label>
                    </div>
                  </div>

                </div>
                <span data-testid="errorMessage" class="block cl-error weight-700 f-s-12 mt8 validation-error" v-if="!$v.payment.paymentMethod.required">
                  {{ $t('Field is required') }}</span>
              </div>
          </div>
      </div>
    </div>
    <div class="row" v-show="isActive">
      <div class="hidden-xs col-sm-2 col-md-1" />
      <div class="col-xs-12 col-md-11 col-lg-9">
        <div class="mt15 mb20 middle-xs button-container-wrap">
          <div class="order-again-msg">
            {{ $t('Please check your order again. Then click "Buy Now" and wait until the payment is complete. (Do not close or refresh the website)') }}
          </div>
          <base-checkbox
            class="mb40"
            id="acceptOrderPrivacy"
            @blur="$v.acceptOrderPrivacy.$touch()"
            v-model="acceptOrderPrivacy"
            :validations="[{
              condition: !$v.acceptOrderPrivacy.sameAs && $v.acceptOrderPrivacy.$error,
              text: $t('You must accept the terms and conditions.')
            }]"
          >
            {{ $t('I accept the') }}
            <router-link
              class="link pointer underline"
              to="/i/privacy-policy"
            >
              {{ $t('Privacy Policy') }}
            </router-link>
            {{ $t('and') }}
            <router-link
              class="link pointer underline"
              to="/i/return-policy"
            >
              {{ $t('Return Policy') }}
            </router-link>*
          </base-checkbox>
          <div class="button-container">
            <slot name="placeOrderButton">
              <button
                @click="placeOrder"
                data-testid="orderReviewSubmit"
                class="place-order-btn btn-fill btn-secondary"
                :disabled="$v.acceptOrderPrivacy.$invalid || $v.payment.paymentMethod.$invalid"
              >
                {{ $t('PLACE THE ORDER') }}
              </button>
            </slot>
          </div>
        </div>
      </div>
    </div>
</div>
</template>
<script>
import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox'
import { required, sameAs } from 'vuelidate/lib/validators'
export default {
    name: 'NewPayment',
    components: {
      BaseCheckbox
    },
    props: {
        isActive: {
            type: Boolean,
            default: false
        }
    },
    data () {
      return {
        payment: this.$store.getters['checkout/getPaymentDetails'],
        acceptOrderPrivacy: false
      }
    },
    watch: {
      paymentMethods (nV, old) {
        //set default selection for the payment method
        // Reason for watcher: Procastination in updating [this.paymentMethods]
        if (!this.payment.paymentMethod || this.payment.paymentMethod === 'cashondelivery') {
          // this.payment.paymentMethod = this.paymentMethods.length > 0 ? this.paymentMethods[0].code : ''
          this.changePaymentMethod() // update payment method
        }
        this.payment.paymentMethod = ''
      }
    },
    computed: {
      paymentMethods () {
        const pMethods = this.$store.getters['checkout/getPaymentMethods']
        if(pMethods.length === 0) return []
          return ['promptpay','p2c2ppayment','p123payment'].map(method => (pMethods.find(({ code }) => code === method)))
        }
    },
    beforeMount () {
      this.$bus.$on('checkout-after-load', this.onloadCheckout)
    },
    methods: {
      async onloadCheckout () {
        this.payment = this.$store.state.checkout.paymentDetails
      },
      async changePaymentMethod () {
        if (this.payment.paymentMethod) {
          await this.$store.dispatch('checkout/updatePaymentDetails', { paymentMethod: this.payment.paymentMethod })
        }
      },
      notifyEmptyCart () {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'warning',
          message: this.$t('Shopping cart is empty. Please add some products before entering Checkout')
        })
      },
      async placeOrder () {
        if(!this.$v.acceptOrderPrivacy.$invalid && !this.$v.payment.paymentMethod.$invalid) {
          if (this.$store.state.cart.cartItems.length === 0) {
            this.notifyEmptyCart()
            this.$router.push(this.localizedRoute('/'))
          } else {
            await this.$store.dispatch('checkout/updatePaymentDetails', { paymentMethodAdditional: {} })
            this.$bus.$emit('checkout-place-order')
          }
        }
      }
    },
    beforeDestroy () {
      this.$bus.$off('checkout-after-load')
    },
    validations() {
      return {
        payment: {
          paymentMethod: {
            required
          }
        },
        acceptOrderPrivacy: {
          sameAs: sameAs(() => true)
        }
      }
    }
}
</script>
