<template>
<div class="shipping pb20 order-tab-wrap">
   <div class="row" :class="{ 'circle_active' : isActive || isFilled, 'circle-active' : !isFilled && !isActive }">
      <div class="col-auto col-md-1 number-circle-wrap">
         <div class="number-circle">
            1
         </div>
      </div>
      <div class="col-xs col-md-11">
        <h3 class="order-tab-title">
          {{ $t('Shipping') }}
        </h3>
      </div>
   </div>
   <div class="row">
      <div class="hidden-xs col-sm-2 col-md-1" />
      <div class="col-xs-12 col-md-11 col-lg-11">
        <div class="flex pt30 pb15" v-if="!isActive && isFilled">
            <a href="#" class="edit-btn flex middle-xs" @click.prevent="$parent.changeSection('shipping')">
              <span class="pr12">
                {{ $t('Edit payment') }}
              </span>
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.259 2.6918C15.584 3.0168 15.584 3.5418 15.259 3.8668L13.734 5.3918L10.609 2.2668L12.134 0.741797C12.459 0.416797 12.984 0.416797 13.309 0.741797L15.259 2.6918ZM0.5 15.5002V12.3752L9.71667 3.15854L12.8417 6.28354L3.625 15.5002H0.5Z" fill="#1895F5"/>
              </svg>
            </a>
        </div>
        <div class="shipping-address-list" v-if="isActive && userAddresses.length > 0">
          <div class="flex customer-address">
            <div class="shipping-address-item" v-for="addr of userAddresses" :key="addr.id" :class="{'primary-address' : addr.default_billing}">
              <div class="shipping-summary" :class="{'active': currentAddrId === addr.id}" @click="setCurrentAddr(addr)">
                <div class="address-box">
                  <p class="full-name">
                    {{ addr.firstname }} {{ addr.lastname }}
                  </p>
                  <p v-if="addr.company">
                    {{ addr.company }}
                  </p>
                  <p>
                    {{ addr.street[0] }}
                    <span v-if="addr.street[1]"> {{ addr.street[1] }}</span>
                  </p>
                  <p>
                    {{ addr.city }} {{ addr.postcode }}
                  </p>
                  <p>
                    <span v-if="addr.region">{{ addr.region.region }}, Thailand</span>

                  </p>
                  <p class="telephone" v-if="isCustomerTelephone">
                    {{ isCustomerTelephone }}
                  </p>
                  <a class="edit-addr-link" @click.prevent="openShipping = !openShipping">
                    <svg class="mr10" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M15.259 2.6918C15.584 3.0168 15.584 3.5418 15.259 3.8668L13.734 5.3918L10.609 2.2668L12.134 0.741801C12.459 0.416801 12.984 0.416801 13.309 0.741801L15.259 2.6918ZM0.5 15.5002V12.3752L9.71667 3.15854L12.8417 6.28354L3.625 15.5002H0.5Z" fill="#1895F5"/>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            <div class="shipping-address-item" v-if="isActive && hasAddr">
              <div class="shipping-summary address-btn" @click.prevent="openShipping = !openShipping">
                <a href="#" class="f-s-15 weight-600">
                  {{ $t('+ Add Shipping Address') }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

   <div class="row" v-if="(isActive && hasNoAddr) || openShipping">
        <div class="hidden-xs col-sm-2 col-md-1"></div>
        <div class="col-xs-12 col-md-11 col-lg-11">
          <div class="row">
            <base-checkbox
                v-if="currentUser && hasShippingDetails"
                class="col-xs-12 my15"
                id="shipToMyAddressCheckbox"
                v-model="shipToMyAddress"
                @change="onChangeSetDefaultAddr"
                style="display:none"
              >
                {{ $t('Ship to my default address') }}
            </base-checkbox>
            <base-input
              class="col-xs-12 col-sm-6 mb15"
              type="text"
              name="first-name"
              :placeholder="$t('First name *')"
              v-model.trim="shipping.firstName"
              @blur="$v.shipping.firstName.$touch()"
              autocomplete="given-name"
              :validations="[
                {
                  condition: $v.shipping.firstName.$error && !$v.shipping.firstName.required,
                  text: $t('Field is required')
                },
                {
                  condition: !$v.shipping.firstName.minLength,
                  text: $t('Name must have at least 2 letters.')
                }
              ]"
            />
            <base-input
              class="col-xs-12 col-sm-6 mb15"
              type="text"
              name="last-name"
              :placeholder="$t('Last name *')"
              v-model.trim="shipping.lastName"
              @blur="$v.shipping.lastName.$touch()"
              autocomplete="family-name"
              :validations="[{
                condition: $v.shipping.lastName.$error && !$v.shipping.lastName.required,
                text: $t('Field is required')
              }]"
            />
            <base-number
              class="col-xs-12 col-sm-12 mb15 zip-code-checkout"
              :maxlength="5"
              type="tel"
              name="zip-code"
              :placeholder="'Postal code *'"
              v-model.trim="shipping.zipCode"
              @blur="$v.shipping.zipCode.$touch()"
              @keyup="getSuggestions"
              @input="validZipcode"
              autocomplete="postal-code"
              :validations="[
                {
                  condition: $v.shipping.zipCode.$error && !$v.shipping.zipCode.required,
                  text: $t('Field is required')
                },
                {
                  condition: !$v.shipping.zipCode.minLength,
                  text: $t('กรุณากรอกรหัสไปรษณีย์ให้ครบ 5 หลัก')
                }
              ]"
            />
            <div class="suggestions relative base-input col-xs-12 col-sm-12" v-if="addressSuggestion.length > 0">
              <div class="suggestion-block">
                <div class="suggestion-list">
                  <span class="suggestion" @click="fillAddress(suggestion)" v-for="(suggestion, index) in addressSuggestion" :key="index">{{ suggestion.district + ', ' + suggestion.province + ', ' + suggestion.postal_code }}</span>
                </div>
              </div>
            </div>
            <base-input
              class="col-xs-12 col-sm-12 mb15"
              type="text"
              name="street-address"
              :placeholder="$t('House number and street *')"
              v-model.trim="shipping.streetAddress"
              @blur="$v.shipping.streetAddress.$touch()"
              autocomplete="address-line1"
              :validations="[
                {
                  condition: $v.shipping.streetAddress.$error && !$v.shipping.streetAddress.required,
                  text: $t('Field is required')
                }
              ]"
            />
            <base-input
              class="col-xs-12 col-sm-6 mb15"
              type="text"
              name="city"
              :placeholder="$t('District / District *')"
              v-model.trim="shipping.city"
              @blur="$v.shipping.city.$touch()"
              autocomplete="address-level2"
              :validations="[
                {
                  condition: $v.shipping.city.$error && !$v.shipping.city.required,
                  text: $t('Field is required')
                },
                {
                  condition: $v.shipping.city.$error && $v.shipping.city.required,
                  text: $t('Please provide valid city name')
                }
              ]"
            />
            <base-input
              class="col-xs-12 col-sm-6 mb15"
              type="text"
              name="state"
              :placeholder="$t('Province *')"
              v-model.trim="shipping.state"
              autocomplete="address-level1"
            />
            <base-number
              class="col-xs-12 mb15"
              name="phone-number"
              :placeholder="$t('Phone Number *')"
              type="tel"
              :validations="[
                {
                  condition: $v.shipping.phoneNumber.$error && !$v.shipping.phoneNumber.required,
                  text: $t('Field is required')
                },
                {
                  condition: !$v.shipping.phoneNumber.minLength,
                  text: $t('Please enter 10 consecutive digit phone numbers.')
                },
                {
                  condition: !$v.shipping.phoneNumber.maxLength,
                  text: $t('Please enter 10 consecutive digit phone numbers.')
                }
              ]"
              v-model.trim="shipping.phoneNumber"
              @blur="$v.shipping.phoneNumber.$touch()"
              autocomplete="tel"
              maxlength="10"
            />
          </div>
        </div>
   </div>
   <div class="row" v-if="isActive">
      <div class="hidden-xs col-sm-2 col-md-1" />
      <div class="col-xs-12 col-md-11 col-lg-11">
        <div class="row">
          <h4 class="col-xs-12 shipping-field-title">
            {{ $t('Shipping Method') }}
          </h4>
          <div class="col-xs-12">
            <div class="shipping-list">
              <div v-for="(method, index) in shippingMethods" :key="index" class="shipping-item box-radio">
                <label class="radioStyled">
                  <input
                    type="radio"
                    :value="method.method_code"
                    name="shipping-method"
                    v-model="shipping.shippingMethod"
                    @change="$v.shipping.shippingMethod.$touch(); changeShippingMethod(method);"
                  >
                  <span class="checkmark">
                    <span class="shipping-item-price">{{ method.amount | price(storeView) }}</span>
                    {{ method.method_title }}
                  </span>
                </label>
              </div>
            </div>
          </div>
          <span class="validation-error" v-if="$v.shipping.shippingMethod.$error && !$v.shipping.shippingMethod.required">
            {{ $t('Field is required') }}
          </span>
        </div>
      </div>
    </div>
    <div class="row" v-if="isActive">
     <div class="hidden-xs col-sm-2 col-md-1" />
        <div class="col-xs-12 col-md-11 col-lg-11">
            <div class="flex mt15 mb20 middle-xs button-container-wrap">
            <div class="button-container">
                <button
                class="btn-fill btn-secondary"
                data-testid="shippingSubmit"
                @click="sendDataToCheckout"
                :disabled="$v.shipping.$invalid"
                >
                {{ $t('CONTINUE TO PAYMENT') }}
                </button>
            </div>
            </div>
        </div>
    </div>
    <div class="row" v-if="!isActive && isFilled">
      <div class="hidden-xs col-sm-2 col-md-1" />
      <div class="col-xs-12 col-md-11 col-lg-11">
        <div class="row">
          <div class="col-xs-12" data-testid="shippingAddressSummary">
            <div class="filled-info">
              <p>
                {{ shipping.firstName }} {{ shipping.lastName }}<br>
                {{ shipping.streetAddress }} {{ shipping.city }} {{ shipping.zipCode }} <span v-if="shipping.state">{{ shipping.state }}, Thailand</span>
              </p>
              <div class="mb25" v-if="shipping.phoneNumber">
                <span class="pr15">{{ shipping.phoneNumber }}</span>
              </div>
              <h4 class="shipping-field-title">
                {{ $t('Shipping Method') }}
              </h4>
              <div class="mb20">
                <div class="shipping-list">
                  <div class="shipping-item box-radio">
                    <label class="radioStyled">
                      <input type="radio" value="" checked disabled name="chosen-shipping-method">
                      <span class="checkmark">
                        <span class="shipping-item-price">{{ currentShipping.amount | price(storeView) }}</span>
                        {{ currentShipping.method_title }}
                      </span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</template>
<script>
import  { mapGetters } from 'vuex'
import { required, minLength, maxLength } from 'vuelidate/lib/validators'
import { unicodeAlpha, unicodeAlphaNum } from '@vue-storefront/core/helpers/validators'
import BaseInput from 'theme/components/core/blocks/Form/BaseInput'
import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox'
import BaseNumber from 'theme/components/core/blocks/Form/BaseNumber'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import addresses from 'theme/resource/address.json'
export default {
    name: 'NewShipping',
    components: {
        BaseInput,
        BaseCheckbox,
        BaseNumber
    },
    props: {
        isActive: {
            type: Boolean,
            default: false
        }
    },
    data () {
        return {
            shipping: {
                firstName: '',
                lastName: '',
                country: 'TH',
                streetAddress: '',
                apartmentNumber: '',
                city: '',
                state: '',
                region_id: 0,
                zipCode: '',
                phoneNumber: '',
                shippingMethod: '',
                shippingCarrier: ''
            },
            countryCode: 'TH',
            currentShipping: {},
            addressSuggestion: [],
            isFilled: false,
            currentAddrId: null,
            openShipping: false,
            shipToMyAddress: false,
            shippingWatcher: null
        }
    },
    computed: {
    ...mapGetters({
        shippingMethods: 'checkout/getShippingMethods'
      }),
      currentUser () {
        return this.$store.state.user.current || null
      },
      storeView () {
        return currentStoreView()
      },
      userAddresses () {
        let { current } = this.$store.state.user
        return current ? current.addresses : []
      },
      hasNoAddr () {
        return this.userAddresses.length === 0 // return true
      },
      hasAddr () {
        return this.userAddresses.length > 0
      },
      getDefaultShippingAddress () {
        return this.hasAddr ?  this.userAddresses.find(addr => addr.default_shipping) : null
      },
      hasShippingDetails () {
        const { default_shipping } = this.currentUser
        return default_shipping || false
      },
      isCustomerTelephone () {
        if(this.currentUser && this.currentUser.custom_attributes.length) {
          const customerTelephone = this.currentUser.custom_attributes.find(({attribute_code}) => attribute_code === 'customer_telephone' )
          return customerTelephone ? customerTelephone.value : null
        }
        return null
      }
    },
    beforeMount () {
      this.$bus.$on('checkout-after-load', async () => {
        this.$set(this,'shipping', this.$store.state.checkout.shippingDetails)
        if(this.hasNoAddr && this.currentUser) {
          this.shipping.firstName = this.currentUser.firstname
          this.shipping.lastName = this.currentUser.lastname
        }
        this.setCustomerTelephone()
        await this.checkDefaultShippingMethod()
        await this.changeShippingMethod()
        if(this.userAddresses.length) {
          this.setCurrentAddr(this.userAddresses[0])
        }
      })
    },
    beforeDestroy () {
      this.$bus.$off('checkout-after-load')
      this.shippingWatcher()
    },
    mounted () {
      if(!this.shippingWatcher) {
        this.shippingWatcher = this.$watch('shippingMethods', async (nV) => {
            if(nV.length) {
              this.currentShipping = nV[0]
              this.shipping.shippingMethod = nV[0].method_code
              this.shipping.shippingCarrier = nV[0].carrier_code
              await this.$store.dispatch('checkout/saveShippingDetails', this.shipping)
              await this.sendDataToCheckout()
            }
        })
      }
    },
    methods: {
        checkDefaultShippingMethod() {
          if ((!this.shipping.shippingMethod && this.shippingMethods.length) || (this.shippingMethods.length && Object.keys(this.currentShipping).length === 0)) {
            let shipping = this.shippingMethods.find(item => item.method_code === this.shipping.shippingMethod)
              let defaultShips = shipping ? shipping : this.shippingMethods[0] // if default it true, // else first will be selected
              this.currentShipping = defaultShips
              this.shipping.shippingMethod = defaultShips.method_code
              this.shipping.shippingCarrier = defaultShips.carrier_code
              this.shipping.country = this.countryCode
            }
        },
        async changeShippingMethod (method = null) {
            this.currentShipping = method || this.currentShipping
            if (Object.keys(this.currentShipping).length) {
              this.shipping = Object.assign(this.shipping, { shippingCarrier: this.currentShipping.carrier_code })
              const payload = {
                  country: this.shipping.country,
                  method_code: this.currentShipping.method_code,
                  carrier_code: this.currentShipping.carrier_code,
                  payment_method: ''
              }
            await this.$store.dispatch('cart/syncTotals', { forceServerSync: true, methodsData: payload })
          }
        },
        validZipcode () {
          this.shipping.zipCode = this.shipping.zipCode.replaceAll(/[^0-9]/g, '');
        },
        setCustomerTelephone () {
          if(this.isCustomerTelephone) {
            this.shipping.phoneNumber = this.isCustomerTelephone
          }
        },
        async sendDataToCheckout () {
          if(this.$v.$invalid) return
          const paymentMethod = this.$store.state.checkout.paymentDetails?.paymentMethod || ''
          this.shipping.country = this.countryCode
          const payment = Object.assign({}, this.shipping, { paymentMethod, paymentMethodAdditional: {}})
          // set shipping and payment info same
          await this.$store.dispatch('checkout/saveShippingDetails', this.shipping)
          await this.$store.dispatch('checkout/savePaymentDetails', payment)
          this.isFilled = true
          this.openShipping = false
          this.$parent.changeSection('payment')
        },
        fillAddress (suggestion) {
          if (suggestion) {
            this.shipping.city = suggestion.district
            this.shipping.state = suggestion.province
            this.shipping.zipCode = suggestion.postal_code
            this.addressSuggestion = []
          }
        },
        getSuggestions () {
          let foundAddr = null
          if(this.shipping.zipCode && this.shipping.zipCode.length > 2) {
            foundAddr = addresses.filter(addr => (addr.postal_code.toLowerCase().search(this.shipping.zipCode.toLowerCase()) >= 0))
            this.addressSuggestion = foundAddr ? foundAddr : []
          }
        },
        async setCurrentAddr (addr) {
          this.currentAddrId = addr?.id || null
          this.shipping = {
            firstName: addr.firstname,
            lastName: addr.lastname,
            country: this.countryCode,
            streetAddress: addr.street[0],
            apartmentNumber: '',
            city: addr.city,
            state: (addr.region && addr.region.region) ? addr.region.region : addr.state,
            region_id: addr.region_id || 0,
            zipCode: addr.postcode,
            phoneNumber: this.isCustomerTelephone ? this.isCustomerTelephone : '',
            shippingMethod: this.currentShipping?.method_code || 0,
            shippingCarrier: this.currentShipping?.carrier_code || 0,
          }
          // this.openShipping = !this.isCustomerTelephone ? true : false
          await this.$store.dispatch('checkout/saveShippingDetails', this.shipping)
        },
        onChangeSetDefaultAddr (checked) {
          if(checked) {
            this.setCurrentAddr(this.getDefaultShippingAddress)
          } else {
            this.currentAddrId = null
            this.shipping = {
              firstName: '',
              lastName: '',
              country: this.countryCode,
              streetAddress: '',
              apartmentNumber: '',
              city: '',
              state: '',
              region_id: 0,
              zipCode: '',
              phoneNumber: this.isCustomerTelephone ? this.isCustomerTelephone : '',
              shippingMethod: this.currentShipping?.method_code || 0,
              shippingCarrier: this.currentShipping?.carrier_code || 0,
            }
          }
        }
    },
    validations: {
      shipping: {
        firstName: {
          required,
          minLength: minLength(2),
          unicodeAlpha
        },
        lastName: {
          required,
          unicodeAlpha
        },
        streetAddress: {
          required,
          unicodeAlphaNum
        },
        shippingMethod: {
          required
        },
        zipCode: {
          required,
          minLength: minLength(5),
          unicodeAlphaNum
        },
        phoneNumber: {
          required,
          minLength: minLength(10),
          maxLength: maxLength(10),
        },
        city: {
          required,
          unicodeAlpha
        }
    }
  }
}
</script>
<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-secondary: color(secondary);
$color-primary: color(primary);
$gray-D8D8D8: color(gray-D8D8D8);
$gray-A3A3A3: color(gray-A3A3A3);
$gray-EEEEEE: color(gray-EEEEEE);
$gray-333435: color(gray-333435);
$gray-666666: color(gray-666666);

.shipping-field-title {
  font-size: 14px;
  font-weight: 500;
  color: $color-primary;
  margin-top: 15px;
  margin-bottom: 9px;
}

.shipping-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -7px;
  margin-right: -7px;

  .shipping-item {
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 15px;
    min-width: 200px;
  }
}
.suggestion-block{
  position: relative;
  .suggestion-list{
    background: $gray-EEEEEE;
    border: solid 1px $gray-A3A3A3;
    position: absolute;
    top: -15px;
    width: 100%;
    z-index: 1;
    left: 0;
    padding: 5px 10px;
    span{
      display: block;
      font-size: 13px;
      line-height: 1.3;
      cursor: pointer;
      border-bottom: solid 1px $gray-A3A3A3;
      padding: 5px 0;
      width: 100%;
      &:last-child{
        border-bottom: 0px;
      }
    }
  }
}
.shipping-address-list {
  margin-top: 15px;
  .customer-address {
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  .shipping-address-item {
    padding: 0 10px;
    margin-bottom: 20px;
    width: 50%;
    @media (max-width: 767px) {
      width: 100%;
    }
    .shipping-summary {
      font-size: 13px;
      border-radius: 4px;
      line-height: 1.5;
      color: $gray-666666;
      font-weight: 600;
      background-color: rgba(163,163,163,0.05);
      padding: 9px 16px;
      border: 1px solid $gray-A3A3A3;
      position: relative;
      min-height: 143px;
      &.address-btn{
        display: flex;
        height: 100%;
        justify-content: center;
      }
      a{
        color: $gray-666666;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .telephone {
        margin: 15px 0 10px;
      }
      p {
        margin-bottom: 0;
      }
      &.active {
        border-color: $color-secondary;
        background-color: rgba(24,149,245,0.05);
      }
    }

    .edit-addr-link {
      position: absolute;
      right: 10px;
      bottom: 10px;

      i {
        font-size: 18px;
        display: block;
      }
    }
  }
}
</style>

<style>
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
</style>
