<template>
  <div class="my-profile account-block shaded-box">
    <!-- Customer Level Section -->
    <div class="profile-br-box profile-info level-top">
      <h2>Level ปัจจุบัน</h2>
      <div class="level-img">
        <img :src="previousLevel.icon" width="201.6" height="40" alt="Pheonix Next">
        <label>
          Level - {{ levelData.previous_level }}
        </label>
      </div>
      <ul v-if="levelData.previous_level == 9999">
        <li>ใส่โค้ด lv9999 ส่งฟรีไม่มีขั้นต่ำ ไม่จำกัดจำนวนครั้ง!</li>
        <li>ของพรีเมี่ยมสุดพิเศษเมื่ออัพถึงเลเวล 9999 หรือคงสถานะเลเวล 9999 ในรอบถัดไป (1 ครั้งต่อรอบ)</li>
        <li>และสิทธิพิเศษอีกมากมาย ติดตามการประกาศเร็วๆ นี้</li>
        <li>ใช้สิทธิพิเศษได้ตั้งแต่วันที่ 16 ส.ค. - 7 ก.พ. 2024</li>
      </ul>
      <ul v-if="levelData.previous_level == 999">
        <li>ใส่โค้ด lv999 ส่งฟรีไม่มีขั้นต่ำ 3 ครั้ง/เดือน</li>
        <li>ของพรีเมี่ยมสุดพิเศษเมื่ออัพถึงเลเวล 999 หรือคงสถานะเลเวล 999 ในรอบถัดไป (รับ 1 ครั้งต่อรอบ)</li>
        <li>และสิทธิพิเศษอีกมากมาย ติดตามการประกาศเร็วๆ นี้</li>
        <li>ใช้สิทธิพิเศษได้ตั้งแต่วันที่ 16 ส.ค. - 7 ก.พ. 2024</li>
      </ul>
      <ul v-if="levelData.previous_level == 99">
        <li>ใส่โค้ด lv99 ส่งฟรีไม่มีขั้นต่ำ 2 ครั้ง/เดือน</li>
        <li>ของพรีเมี่ยมสุดพิเศษเมื่ออัพถึงเลเวล 99 หรือคงสถานะเลเวล 99 ในรอบถัดไป (รับ 1 ครั้งต่อรอบ)</li>
        <li>และสิทธิพิเศษอีกมากมาย ติดตามการประกาศเร็วๆ นี้</li>
        <li>ใช้สิทธิพิเศษได้ตั้งแต่วันที่ 16 ส.ค. - 7 ก.พ. 2024</li>
      </ul>
      <ul v-if="levelData.previous_level == 1">
        <li>ติดตามการประกาศส่วนลด และ โปรโมชันอีกครั้ง</li>
        <li>สะสมยอดคำสั่งซื้อเพื่อรับสิทธิพิเศษในรอบถัดไป</li>
      </ul>
      <router-link :to="`/i/phoenix-next-level-up${currentLevel.urlKey}`" class="btn-full">{{ $t('ดูสิทธิพิเศษ') }}</router-link>
    </div>
    <div class="profile-br-box profile-info">
      <div class="profile-one">
        <h2>Level ในรอบถัดไป</h2>
        <div class="level-progress-bar">
          <ul>
            <li><div class="level-progress-bar-img" v-if="levelData.current_level == 1"><img :src="currentLevel.icon" width="201.6" height="40" alt="Pheonix Next"></div></li>
            <li><div class="level-progress-bar-img" v-if="levelData.current_level == 99"><img :src="currentLevel.icon" width="201.6" height="40" alt="Pheonix Next"></div></li>
            <li><div class="level-progress-bar-img" v-if="levelData.current_level == 999"><img :src="currentLevel.icon" width="201.6" height="40" alt="Pheonix Next"></div></li>
            <li><div class="level-progress-bar-img" v-if="levelData.current_level == 9999"><img :src="currentLevel.icon" width="201.6" height="40" alt="Pheonix Next"></div></li>
          </ul>
        </div>
        <div class="profile-one-left">
          <div class="d-flex">
            <label>{{ $t('ยอดรวมคำสั่งซื้อ (บาท) :') }}</label>
            <span>{{ levelData.current_level_order_totals }} / {{ currentLevel.nextSubtotalLabel }}</span>
          </div>
          <div class="d-flex">
            <label>{{ $t('จำนวนคำสั่งซื้อ (ครั้ง) :') }}</label>
            <span>{{ levelData.current_level_order_count }} / {{ currentLevel.nextCountLabel }}</span>
          </div>
        </div>
        <p>{{ $t('หมายเหตุ: รวมทุกคำสั่งซื้อสะสมตั้งแต่วันที่ 4 ส.ค. 2566 - 4 ก.พ. 2567 เพื่อกำหนดเลเวล และจะได้รับสิทธิพิเศษตั้งแต่วันที่ 8 ก.พ. 2567') }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import MyProfile from '@vue-storefront/core/compatibility/components/blocks/MyAccount/MyProfile'
import { mapGetters } from 'vuex'

export default {
  data () {
    return {
      customerLevel: [
        {
          level: 9999,
          subtotal: 20000,
          icon: '/assets/icon-04.png',
          nextSubtotalLabel: '-',
          nextCountLabel: '-',
          urlKey: '#lv-9999',
        },
        {
          level: 999,
          subtotal: 6000,
          icon: '/assets/icon-03.png',
          nextSubtotalLabel: 20000,
          nextCountLabel: 6,
          urlKey: '#lv-999',
        },
        {
          level: 99,
          subtotal: 3000,
          icon: '/assets/icon-02.png',
          nextSubtotalLabel: 6000,
          nextCountLabel: 4,
          urlKey: '#lv-99',
        },
        {
          level: 1,
          subtotal: 0,
          icon: '/assets/icon-01.png',
          nextSubtotalLabel: 3000,
          nextCountLabel: 3,
          urlKey: '',
        }
      ]
    }
  },
  mixins: [MyProfile],
  async beforeMount () {
    await this.$store.dispatch('cardData/getCustomerLevel', this.currentUser.id)
  },
  computed: {
    ...mapGetters({
      banner: 'banner/getBannerList',
      levelData: 'cardData/getCustomerLevel'
    }),
    currentLevel () {
      const level = this.customerLevel.filter(x => x.level == this.levelData.current_level)
      return level.length > 0 ? level[0] : this.customerLevel[3]
    },
    previousLevel () {
      const level = this.customerLevel.filter(x => x.level == this.levelData.previous_level)
      return level.length > 0 ? level[0] : this.customerLevel[3]
    }
  }
}
</script>

<style scoped lang="scss">
#my_account .account-block .profile-info {
  .profile-one {
    .profile-one-right {
      display:flex;
      justify-content:center;
      margin-bottom:35px;
      img {
        max-width:100px;
      }
    }
  .d-flex{
    label{
      min-width: 200px;
      @media (max-width: 767px) {
        min-width: 60%;
      }
    }
  }
  p {
    font-size:11px;
    padding: 15px 0 0 0;
  }
}
}
img {
    max-width: 50%;
    max-height: 50%;
    width: auto;
    height: auto;
}
#my_account {
  .profile-br-box{
    .btn-full {
      margin: auto;
      justify-content: center;
      display: flex;
      max-width: 210px;
    }
    border-radius: 10px 10px;
    margin-bottom: 20px;
    &:last-child{
      margin-bottom:0;
    }
    &.level-top{
      .level-img {
        color: #000;
        font-size: 18px;
        font-weight: 700;
        word-break: break-all;
        display: flex;
        align-items:center;
        label {
          margin-left: auto;
        }
        img{
          max-width: 100px;
          z-index: 1;
          position: relative;
        }
      }
    }
  }
  .level-progress-bar {
    position: relative;
    margin: 60px 0px;
    ul{
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      li {
        width: 25%;
        display: flex;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        .level-progress-bar-img {
          img{
            max-width: 100px;
            z-index: 1;
            position: relative;
          }
        }
        &:nth-child(1){
          background: #FFF099;
        }
        &:nth-child(2){
          background: #FFE886;
        }
        &:nth-child(3){
          background: #FFE033;
        }
        &:nth-child(4){
          background: #E9C434;
        }
      }
    }
  }
}
</style>

