<template>
  <div class="account-block shaded-box">
    <!-- My orders header -->
    <div class="row mb30">
      <div class="col-xs-12 profile-title">
        <h3 class="m0 mb5">
          {{ $t('My orders') }}
        </h3>
        <p class="f-s-15 cl-gray-666666">
          {{ $t('See details, follow up and add to your order here.') }}
        </p>
      </div>
    </div>
    <!-- My orders body -->
    <div class="order-table brdr-1 brdr-cl-gray-D8D8D8">
      <div class="table-responsive" v-show="!isHistoryEmpty">
        <table>
          <thead>
            <tr>
              <th class="p20 lh20">
                {{ $t('Order ID') }}
              </th>
              <th class="p20 lh20">
                {{ $t('Date time') }}
              </th>
              <th class="p20 lh20">
                {{ $t('Tracking Number') }}
              </th>
              <th class="p20 lh20">
                {{ $t('Name') }}
              </th>
              <th class="p20 lh20">
                {{ $t('Purchase amount') }}
              </th>
              <th class="p20 lh20">
                {{ $t('Status') }}
              </th>
              <th class="p20 lh20">
                &nbsp;
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="brdr-top-1 brdr-cl-gray-D8D8D8" v-for="order in ordersHistory" :key="order.entity_id">
              <td class="lh25">
                <label class="visible-xs">{{ $t('Order ID') }}</label>
                <span class="label-data">#{{ order.increment_id }}</span>
              </td>
              <td class="lh25">
                <label class="visible-xs">{{ $t('Date and Time') }}</label>
                <span class="label-data">{{ order.created_at | date(null, storeView) }}</span>
              </td>
              <td class="lh25">
                <label class="visible-xs">{{ $t('Tracking Number') }}</label>
                <span class="label-data">
                  <template v-if="trackingUrl(order) !== ''">
                    <a :href="trackingUrl(order)" target="_blank">{{ trackingNumber(order) }}</a>
                  </template>
                  <template v-else>{{ trackingNumber(order) }}</template>
                </span>
              </td>
              <td class="lh25">
                <label class="visible-xs">{{ $t('Name') }}</label>
                <span class="label-data">{{ order.customer_firstname }} {{ order.customer_lastname }}</span>
              </td>
              <td class="lh25">
                <label class="visible-xs">{{ $t('Price') }}</label>
                <span class="label-data">{{ order.grand_total | price(storeView) }}</span>
              </td>
              <td class="lh25">
                <label class="visible-xs">{{ $t('Status') }}</label>
                <span class="label-data">{{ printOrderStatus(order.status) }}</span>
              </td>
              <td class="lh25">
                <span class="relative dropdown">
                  <i class="material-icons pointer">more_horiz</i>
                  <div class="dropdown-content bg-cl-white align-left weight-500 fs-medium-small">
                    <router-link class="no-underline block py10 px15" :to="localizedRoute(`/my-account/orders/${order.entity_id}`)">
                      {{ $t('Detail') }}
                    </router-link>
                    <!-- Buy again remove functionality by client -->
                    <!-- <a href="#" class="no-underline block py10 px15" @click.prevent="remakeOrder(skipGrouped(order.items))">{{ $t('Buy again') }}</a> -->
                  </div>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xs-12 h4" v-show="isHistoryEmpty">
        <p class="mt20">
          {{ $t('No orders yet') }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import UserOrder from '@vue-storefront/core/modules/order/components/UserOrdersHistory'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'

export default {
  mixins: [UserOrder],
  data () {
    return {
      orderStatusLabel: {
        canceled: 'Canceled',
        closed: 'Closed',
        complete: 'Shipped',
        fraud: 'Suspected Fraud',
        holded: 'On Hold',
        Order_Received: 'Packing',
        packing: 'Unknown',
        payment_review: 'Payment Review',
        paypal_canceled_reversal: 'PayPal Canceled Reversal',
        paypal_reversed: 'PayPal Reversed',
        pending: 'Pending',
        Pending_2C2P: 'Pending',
        pending_payment: 'Pending Payment',
        pending_paypal: 'Pending PayPal',
        pre_ordered: 'Pre Ordered',
        processing: 'Packing'
      }
    }
  },
  computed: {
    storeView () {
      return currentStoreView()
    },
    ordersHistory () {
      let items = this.getOrdersHistory
      return items
    }
  },
  methods: {
    trackingNumber (order) {
      return order.extension_attributes && order.extension_attributes.tracking_code ? order.extension_attributes.tracking_code : '-'
    },
    trackingUrl (order) {
      const trackNo = order.extension_attributes && order.extension_attributes.tracking_code ? order.extension_attributes.tracking_code : '';
      const trackURL = 'https://ecommerceportal.dhl.com/track/?ref=';
      return trackNo !== '' ? trackURL + trackNo : '';
    },
    printOrderStatus (status) {
      return this.orderStatusLabel[status]
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/base/global_vars';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-icon-hover: color(secondary, $colors-background);
$color-secondary: color(secondary);
$white: color(white);
$gray-A3A3A3: color(gray-A3A3A3);
table {
  border-collapse: collapse;
  width: 100%;

  th, td {
    text-align: left;
    padding: 20px;

    @media (max-width: 1199px) {
      padding: 10px;
    }

    @media (max-width: 767px) {
      text-align: center;
    }

    &.hide-on-xs {

      @media (max-width: 767px) {
        display: none;
      }

    }

  }

  i {
    vertical-align: middle;
  }

}
 @media (max-width:991px) {
  .order-table {
        table {
            display: block;
            padding: 20px;
            .visible-xs {
              display: block;
            }
            thead {
                display: none;
            }
            tbody {
                display: block;
                tr {
                    display: block;
                    padding-bottom: 20px;
                    &:last-child {
                        padding-bottom: 0;
                    }
                    &:first-child {
                        border-top: 0 none;
                        td {
                            padding: 0;
                            & + td {
                                padding-top: 20px;
                            }
                        }
                    }
                    td {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        padding: 20px 0 0;
                        font-size: 13px;
                        text-align: left;
                        label {
                            flex: 0 0 50%;
                            max-width: 50%;
                            font-weight: 600;
                            padding-right: 20px;
                        }
                        .label-data {
                          flex: 0 0 50%;
                          max-width: 50%;
                        }
                        .dropdown {
                            padding: 0;
                            margin: 0;
                            width: 100%;
                            &:hover {
                                .dropdown-content {
                                    display: flex;
                                }
                            }
                            & > i {
                                display: none;
                            }
                            .dropdown-content {
                                position: static;
                                box-shadow: none;
                                width: auto;
                                display: flex;
                                flex-wrap: wrap;
                                align-items: center;
                                a {
                                    font-weight: 600;
                                    border-radius: 4px;
                                    background-color: $color-secondary;
                                    color: $white;
                                    padding: 13px 27px;
                                    margin: 2px 0;
                                    & + a {
                                        margin-left: 20px;
                                        @media (max-width: 420px) {
                                            margin-left: 5px;
                                        }
                                    }
                                    &:last-child {
                                        background-color: $gray-A3A3A3;
                                    }
                                    &:hover {
                                        opacity: 0.6;
                                    }
                                    @media (max-width: 420px) {
                                        padding: 13px 7px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
 }
.dropdown {
  display: block;
  margin: -20px;
  padding: 20px;

  @media (max-width: 1199px) {
    margin: -10px;
    padding: 10px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: 10px;
    top: 75%;
    width: 160px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }

  a {
    opacity: .6;

    &:hover,
    &:focus {
      background-color: $color-icon-hover;
      opacity: 1;
    }

  }

  &:hover .dropdown-content {
    display: block;
  }

}

</style>
