<template>
  <div class="account-block shaded-box">
    <!-- My Reviews header -->
    <div class="row mb30">
      <div class="col-xs-12 profile-title">
        <h3 class="m0 mb5">
          {{ $t('My Reviews') }}
        </h3>
      </div>
    </div>

    <div class="loader-ajax-slider" v-show="loading">
      <div class="site-ajax-loader" />
    </div>
    <!-- My Reviews body -->
    <div class="order-table brdr-1 brdr-cl-gray-D8D8D8">
      <div class="table-responsive" v-if="reviews.length">
        <table>
          <thead>
            <tr>
              <th class="p20 lh20">
                {{ $t('Review Date') }}
              </th>
              <th class="p20 lh20">
                {{ $t('Product name') }}
              </th>
              <th class="p20 lh20">
                {{ $t('Review Title') }}
              </th>
              <th class="p20 lh20">
                {{ $t('Review Detail') }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="brdr-top-1 brdr-cl-gray-D8D8D8" v-for="(review, index) in reviews" :key="index">
              <td class="lh25">
                <label class="visible-xs">{{ $t('Created Date') }}</label>
                <span class="label-data">{{ review.created_at | date(null, storeView) }}</span>
              </td>
              <td class="lh25">
                <label class="visible-xs">{{ $t('Product name') }}</label>
                <span class="label-data">{{ review.product_name }}</span>
              </td>
              <td class="lh25">
                <label class="visible-xs">{{ $t('Review Title') }}</label>
                <span class="label-data">{{ review.title }}</span>
              </td>
              <td class="lh25">
                <label class="visible-xs">{{ $t('Review Detail') }}</label>
                <span class="label-data">{{ review.detail }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xs-12 h4" v-if="!loading && reviews.length === 0">
        <p class="mt20">
          {{ $t('No Reviews Found') }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
export default {
  name: 'MyReviews',
  data: () => ({
    reviews: [],
    loading: true
  }),
  computed: {
    getCustomerId () {
      return this.$store.state.user.current.id
    },
    storeView () {
      return currentStoreView()
    }
  },
  async created () {
    await this.$store.dispatch('customerReview/getCustomerReviews', { customer_id: this.getCustomerId }).then((res) => {
      if (res && res.code === 200) {
        this.reviews = res.result
        this.loading = false
      }
    })
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/base/global_vars';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-icon-hover: color(secondary, $colors-background);
$color-secondary: color(secondary);
$white: color(white);
$gray-A3A3A3: color(gray-A3A3A3);

.site-ajax-loader {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.loader-ajax-slider {
  text-align: center;
  min-height: 350px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.site-ajax-loader:after {
  content: " ";
  display: block;
  width: 40px;
  height: 40px;
  margin: 8px;
  border-radius: 50%;
  border: 4px solid #1895f5;
  border-color: #1895f5 transparent #1895f5 transparent;
  animation: site-ajax-loader 1.2s linear infinite;
}
@keyframes site-ajax-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.site-loader-wrap {
  justify-content: center;
  display: flex;
  margin: 150px 0;
}
table {
  border-collapse: collapse;
  width: 100%;

  th, td {
    text-align: left;
    padding: 20px;

    @media (max-width: 1199px) {
      padding: 10px;
    }

    @media (max-width: 767px) {
      text-align: center;
    }

    &.hide-on-xs {

      @media (max-width: 767px) {
        display: none;
      }

    }

  }

  i {
    vertical-align: middle;
  }

}
 @media (max-width:991px) {
  .order-table {
        table {
            display: block;
            padding: 20px;
            .visible-xs {
              display: block;
            }
            thead {
                display: none;
            }
            tbody {
                display: block;
                tr {
                    display: block;
                    padding-bottom: 20px;
                    &:last-child {
                        padding-bottom: 0;
                    }
                    &:first-child {
                        border-top: 0 none;
                        td {
                            padding: 0;
                            & + td {
                                padding-top: 20px;
                            }
                        }
                    }
                    td {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        padding: 20px 0 0;
                        font-size: 13px;
                        text-align: left;
                        label {
                            flex: 0 0 50%;
                            max-width: 50%;
                            font-weight: 600;
                            padding-right: 20px;
                        }
                        .label-data {
                          flex: 0 0 50%;
                          max-width: 50%;
                        }
                        .dropdown {
                            padding: 0;
                            margin: 0;
                            width: 100%;
                            &:hover {
                                .dropdown-content {
                                    display: flex;
                                }
                            }
                            & > i {
                                display: none;
                            }
                            .dropdown-content {
                                position: static;
                                box-shadow: none;
                                width: auto;
                                display: flex;
                                flex-wrap: wrap;
                                align-items: center;
                                a {
                                    font-weight: 600;
                                    border-radius: 4px;
                                    background-color: $color-secondary;
                                    color: $white;
                                    padding: 13px 27px;
                                    margin: 2px 0;
                                    & + a {
                                        margin-left: 20px;
                                        @media (max-width: 420px) {
                                            margin-left: 5px;
                                        }
                                    }
                                    &:last-child {
                                        background-color: $gray-A3A3A3;
                                    }
                                    &:hover {
                                        opacity: 0.6;
                                    }
                                    @media (max-width: 420px) {
                                        padding: 13px 7px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
 }
.dropdown {
  display: block;
  margin: -20px;
  padding: 20px;

  @media (max-width: 1199px) {
    margin: -10px;
    padding: 10px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: 10px;
    top: 75%;
    width: 160px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }

  a {
    opacity: .6;

    &:hover,
    &:focus {
      background-color: $color-icon-hover;
      opacity: 1;
    }

  }

  &:hover .dropdown-content {
    display: block;
  }

}
.order-table table tr th {
    text-align: center;
}
</style>
