<template>
  <div class="shaded-box recently-view">
    <!-- Recently viewed header -->
    <div class="row mb30">
      <div class="col-xs-12 profile-title">
        <h3 class="m0 mb5 f-s-16 cl-gray-333435">
          {{ $t('Recently Viewed Products') }}
        </h3>
      </div>
    </div>
    <!-- Recently viewed body -->
    <div class="row">
      <div class="col-xs-12 grid-view" v-if="items && items.length > 0">
        <product-listing columns="4" :products="items" />
      </div>
      <div class="col-xs-12 h4" v-else>
        <p>{{ $t('No products yet') }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import RecentlyViewed from '@vue-storefront/core/modules/recently-viewed/components/RecentlyViewed'
import ProductListing from 'theme/components/core/ProductListing.vue'

export default {
  mixins: [RecentlyViewed],
  components: {
    ProductListing
  }
}
</script>
