<template>
  <div class="brand_details">
    <div v-if="brand">
      <div class="brands-breadcrumbs">
        <div class="container">
          <breadcrumbs
            :routes="[{ name: 'PHOENIX', route_link: '/' }, { name: $t('Shop By Brand'), route_link: '/series' }]"
            :active-route="getBreadcrumb"
          />
        </div>
      </div>
      <div class="brand-banner">
        <div class="container">
          <div class="brand-detail-img">
            <picture>
              <source media="(max-width:767px)" :srcset="brand.brand_banner_mobile_image_url || brand.brand_banner_image_url">
	            <img :src="brand.brand_banner_image_url || '/assets/placeholder.svg'" height="1240" width="462" onerror="this.src='/assets/placeholder.svg'" :alt="brand.brand_name">
            </picture>
          </div>
        </div>
      </div>
      <div class="brand-detail-wrap">
        <div class="container">
          <div class="shaded-box brand-detail-info">
            <div class="brand-detail-desc">
              <div class="brand-detail-txt" v-html="brand.brand_description" />
            </div>
          </div>
        </div>
      </div>
      <div class="brand-related-products-wrap grid-view">
        <div class="container">
          <div class="shaded-box no-related-products" v-if="!relatedBrands.lightNovel.length > 0 && !relatedBrands.manga.length > 0 && !relatedBrands.merchandise.length > 0">
            {{ $t('There are no related products.') }}
          </div>
          <div class="shaded-box brand-related-products" v-if="relatedBrands.lightNovel.length > 0 || relatedBrands.manga.length > 0 || relatedBrands.merchandise.length > 0">
            <div class="brand-product" v-if="relatedBrands.lightNovel.length > 0">
              <h2> {{ $t('Light Novel') }}
                <div class="product-count">
                  <router-link :to="getBrandFindLink('Light Novel')">
                    {{ $t(' See All ')}} ({{relatedBrands.lightNovel.length }})
                  </router-link>
                </div>
              </h2>
              <brand-product-slider
                :per-page-custom="[[0, ['auto', 15]], [768, [3, 15]], [992, [4, 20]], [1200, [5, 20]]]"
                :pagination-enabled="false"
                :slider-id="'lightNovel-product-slider'"
                :products-list="relatedBrands.lightNovel"
                :slide-auto-play="false"
              />
            </div>
            <div class="brand-product" v-if="relatedBrands.manga.length > 0">
              <h2>{{ $t('Manga') }}
                <div class="product-count">
                  <router-link :to="getBrandFindLink('Manga')">
                    {{ $t(' See All ')}} ({{relatedBrands.manga.length }})
                  </router-link>
                </div>
              </h2>
              <brand-product-slider
                :per-page-custom="[[0, ['auto', 15]], [768, [3, 15]], [992, [4, 20]], [1200, [5, 20]]]"
                :pagination-enabled="false"
                :slider-id="'manga-product-slider'"
                :products-list="relatedBrands.manga"
                :slide-auto-play="false"
              />
            </div>
            <div class="brand-product" v-if="relatedBrands.merchandise.length > 0">
              <h2>{{ $t('Merchandise') }}
                <div class="product-count">
                  <router-link :to="getBrandFindLink('Merchandise')">
                    {{ $t(' See All ')}} ({{relatedBrands.merchandise.length }})
                  </router-link>
                </div>
              </h2>
              <brand-product-slider
                :per-page-custom="[[0, ['auto', 15]], [768, [3, 15]], [992, [4, 20]], [1200, [5, 20]]]"
                :pagination-enabled="false"
                :slider-id="'merchandise-product-slider'"
                :products-list="relatedBrands.merchandise"
                :slide-auto-play="false"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="container relative-brand">
        <div class="shaded-box blog-list-wrap mb30" v-if="brand.relatedpost && brand.relatedpost.length">
          <h2 class="sec-title flex middle-xs center-xs m0">{{ $t('Relative Guilds') }}</h2>
          <div class="blog-list">

            <div class="brand-products-slider" >
              <div class="relative">
                <div class="swiper-slider-wrap">
                  <div v-swiper="swiperRelatedpost" :instance-name="sliderId">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide hover-on-product" v-for="(blog, index) of brand.relatedpost" :key="index">
                        <blog-single v-if="bids.includes(blog.post_id)" :blog-description="false" :blog="blog" :key="blog.post_id" class="bl_single" />
                      </div>
                    </div>
                  </div>
                </div>
                <div :id="sliderId + '-button-prev'" class="swiper-button-prev" slot="button-prev">
                  <svg width="14" height="23" viewBox="0 0 14 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.9023 21L3.00285 11.1005L12.9023 1.20101" stroke="#D8D8D8" stroke-width="3" /></svg>
                </div>
                <div :id="sliderId + '-button-next'" class="swiper-button-next" slot="button-next">
                  <svg width="14" height="23" viewBox="0 0 14 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.89844 21L11.7979 11.1005L1.89844 1.20101" stroke="#D8D8D8" stroke-width="3" /></svg>
                </div>
              </div>
          </div>


          </div>
        </div>
      </div>
      <div class="brand-review container">
        <div class="shaded-box">
          <AddReviews :brand="brand" />
          <ReviewsList :per-page="4" :items="reviews" :brand-name="brand.brand_name"/>
        </div>
      </div>
    </div>
    <div class="nosto-product-list loader-ajax-slider shaded-box" v-else>
      <div class="site-ajax-loader" />
    </div>
  </div>
</template>
<script>
import LazyHydrate from 'vue-lazy-hydration'
import SearchQuery from '@vue-storefront/core/lib/search/searchQuery'
import Breadcrumbs from '../components/core/Breadcrumbs.vue'
import { quickSearchByQuery } from '@vue-storefront/core/lib/search';
import { mapState, mapGetters } from 'vuex'
import AddReviews from 'theme/components/core/blocks/Brand/BrandReviewsForm'
import ReviewsList from 'theme/components/core/blocks/Brand/BrandReviewsList'
import BlogSingle from 'src/modules/aureatelabs/blogs/components/BlogSingle'
import { htmlDecode } from '@vue-storefront/core/filters/html-decode'
import config from 'config'
import NoSSR from 'vue-no-ssr';
import SwiperCore, { Navigation, Autoplay } from 'swiper';
import { directive } from 'vue-awesome-swiper'
import 'swiper/swiper.scss'

SwiperCore.use([Navigation, Autoplay]);

export default {
  name: 'BrandDetails',
  data () {
    return {
      relatedBrands: {
        lightNovel : [],
        manga : [],
        merchandise : []
      },
      swiperRelatedpost: {
        observer: true,
        observeParents: true,
        spaceBetween: 25,
        freeMode: true,
        autoplay: false,
        loop: false,
        navigation: {
          nextEl: ('#' + this.sliderId + '-button-next'),
          prevEl: ('#' + this.sliderId + '-button-prev')
        },
        breakpoints: {
          640: {
            slidesPerView: 1,
            spaceBetween: 10
          },
          768: {
            slidesPerView: 3
          },
          1024: {
            slidesPerView: 4
          },
        },
      }
    };
  },
  directives: {
    swiper: directive
  },
  props: {
    sliderId: {
      type: String,
      default: 'relative-brand'
    }
  },
  components: {
    LazyHydrate,
    BrandProductSlider: () => import(/* webpackChunkName: "vsf-brand-product-listing" */ 'theme/components/core/blocks/Brand/BrandProductSlider.vue'),
    Breadcrumbs,
    AddReviews,
    ReviewsList,
    BlogSingle
  },
  async mounted () {
    if (!this.brand || this.brand.length === 0) {
      this.$router.push('/error');
    }
    await this.getBrandProducts();
    await this.$store.dispatch('customerReview/getCustomerBrandReviews', { brand_id: this.brand.brand_id })
  },
  computed: {
    ...mapGetters({
      brand: 'brands/getBrandBySlug',
      bids: 'blogs/getBlogIds',
      menuLinks: 'quicklinks/getQuickLinksList'
    }),
    ...mapState({
      reviews: state => state.customerReview.brandReviews
    }),
    getBreadcrumb () {
      return this.brand ? this.brand.brand_name : '';
    },
    getCustomerId () {
      return this.$store.state.user.current.id
    }
  },
  methods: {
    getBrandFindLink (brand) {
      return this.$route.path + '/' + this.menuLinks.find(x => x.label === brand).link
    },
    async getBrandProducts () {
      let products = this.brand?.brand_products || '';
      if (products !== '') {
        let query = new SearchQuery()
        query = query.applyFilter({ key: 'id', value: { 'eq': products.split(',') } })
        query = query.applyFilter({ key: 'visibility', value: { 'in': [2, 4] } })
        query = query.applyFilter({ key: 'status', value: { 'eq': 1 } })
        let productResponse = await quickSearchByQuery({ query, entityType: 'product', size: 500, sort: 'id:desc' })
          .then((resp) => {
            return resp
          })
        productResponse.items.map(item => {
          let ln = item.category && item.category.length ? item.category.find(cat => cat.name === "Light Novel") : ''
          let manga = item.category && item.category.length ? item.category.find(cat => cat.name === "Manga") : ''
          let other = item.category && item.category.length ? item.category.find(cat => cat.name === "Light Novel" || cat.name === "Manga") : ''
          if (ln) {
            this.relatedBrands.lightNovel.push(item)
          }
          if(manga) {
            this.relatedBrands.manga.push(item)
          }
          if(!other) {
            this.relatedBrands.merchandise.push(item)
          }
        })
      }
    }
  },
  async asyncData ({ store, route }) {
    await store.dispatch('brands/getBrandBySlug', { 'filterValues': route.params.slug });
  },
  metaInfo () {
    if (this.brand) {
      let links = [];
      const ogTags = []
      if (this.brand.brand_banner_image_url && this.brand.brand_banner_image_url !== '') {
        links.push({ rel: 'preload', as: 'image', href: this.brand.brand_banner_image_url });
      }
      if (this.brand.brand_banner_mobile_image_url && this.brand.brand_banner_mobile_image_url !== '') {
        links.push({ rel: 'preload', as: 'image', href: this.brand.brand_banner_mobile_image_url });
      }
      if(this.brand?.og_title) {
        ogTags.push({ vmid: 'og:title', name: 'og:title', content: htmlDecode(this.brand.og_title)},)
      } else {
        ogTags.push({ vmid: 'og:title', name: 'og:title', content: htmlDecode(this.brand.brand_name)})
      }

      if(this.brand?.og_description) {
        ogTags.push({ vmid: 'og:description', name: 'og:description', content: htmlDecode(this.brand.og_description)})
      }
      if(this.brand?.og_image) {
        ogTags.push({ vmid: 'og:image', name: 'og:image', content: this.brand.og_image})
      } else {
        ogTags.push({ vmid: 'og:image', name: 'og:image', content: config.api.url + 'assets/placeholder.jpg'})
      }

      if(this.brand?.og_type) {
        ogTags.push({ vmid: 'og:type', name: 'og:type', content: this.brand.og_type})
      }

      return {
        title: this.brand.meta_title || this.brand.brand_name + ' - Phoenix Next',
        meta: [
          { vmid: 'description', name: 'description', content: htmlDecode(this.brand.meta_description)},
          { vmid: 'keywords', name: 'keywords', content: this.brand.meta_keywords },
          { vmid: 'title', name: 'title', content: this.brand.meta_title || this.brand.brand_name + ' - Phoenix Next' },
        ].concat(ogTags),
        link: links
      }
    }
    return '';
  }
};
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$gray-333435: color(gray-333435);
$gray-EEEEEE: color(gray-EEEEEE);

.brands-breadcrumbs {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.brand-detail-img {
  position: relative;
  padding-top: 37.26%;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
  // box-shadow: 0 0 20px rgba(0,0,0,0.08);
  img {
    position: absolute;
    height: 100%;
    object-fit: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    border-radius: 10px;
  }
  @media (max-width: 767px) {
    padding-top: 68%;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.brand-detail-wrap {
  padding-bottom: 40px;

  @media (max-width: 767px) {
    padding-bottom: 20px;
  }

  .brand-detail-info {
    padding: 0;
    .brand-detail-img {
      border-radius: 10px 0 0 10px;
      overflow: hidden;
      flex: 0 0 56.3%;
      max-width: 56.3%;
      background-color: $gray-EEEEEE;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        max-height: 260px;
      }
      @media (max-width: 991px) {
        flex: 0 0 100%;
        max-width: 100%;
        border-radius: 10px 10px 0 0;
        img {
          max-height: 100%;
        }
      }
    }

    .brand-detail-desc {
      padding: 30px 30px;

      @media (max-width: 767px) {
        padding: 20px;
      }
    }

    .brand-detail-title {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 23px;

      @media (max-width: 767px) {
        font-size: 16px;
        margin-bottom: 5px;
      }
    }

    .brand-detail-txt {
      line-height: 1.67;
      font-size: 18px;
      color: $gray-333435;

      @media (max-width: 767px) {
        font-size:16px;
        p{
          span{
            font-size:16px !important;
          }
        }
      }
    }
    .object-cover{
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }
}
.brand-related-products-wrap {
  padding-bottom: 40px;

  @media (max-width: 767px) {
    padding-bottom: 20px;
  }

  .no-related-products {
    text-align: center;
    font-weight: 600;
     @media (max-width: 767px) {
        margin-bottom: 0;
    }
  }
  .brand-related-products {
    padding: 30px;
    .brand-products-slider {
      padding: 0 25px;
    }
    @media (max-width: 767px) {
      padding: 15px;
      .brand-products-slider {
        padding: 0 30px;
      }
    }

    .product-listing {
      & > div[class*="col-"] {
        @media (min-width: 1200px) {
          flex-basis: 20%;
          max-width: 20%;

          &:nth-child(n+5) {
            margin-top: 0;
          }

          &:nth-child(n+6) {
            margin-top: 50px;
          }
        }
      }
    }
  }
  .brand-product {
    margin-bottom: 70px;
    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    h2 {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #D8D8D8;
      padding-bottom: 20px;
      margin-bottom: 40px;
      .product-count {
        margin-bottom: 0;
        a{
          color: #1895F5;
        }
      }
      @media (max-width: 767px) {
        font-size: 16px;
        margin-bottom: 30px;
      }
    }
  }
}

.site-ajax-loader {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.loader-ajax-slider {
  text-align: center;
  min-height: 350px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.site-ajax-loader:after {
  content: " ";
  display: block;
  width: 40px;
  height: 40px;
  margin: 8px;
  border-radius: 50%;
  border: 4px solid #1895f5;
  border-color: #1895f5 transparent #1895f5 transparent;
  animation: site-ajax-loader 1.2s linear infinite;
}
.brand_details {
  iframe {
    @media (max-width: 1192px) {
      width: 100%;
      height: 300px;
    }
  }
  .sec-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
  }
  .relative-brand{
    .swiper-slide{
      width: 256.25px
    }
    .blog-list{
      display: block;
    }
    .shaded-box{
      margin-bottom: 40px;
      padding: 30px 60px;
      @media (max-width: 767px) {
        padding: 15px 55px;
      }
    }
    .brand-products-slider .bl__wrapper--single{
      width: auto;
      padding: 0;
    }
  }
}
@keyframes site-ajax-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.site-loader-wrap {
  justify-content: center;
  display: flex;
  margin: 150px 0;
}

@media (max-width: 767px) {
  .site-loader-wrap {
    margin: 50px 0;
  }
}
.brand-review  {
  padding-bottom: 80px;
  .details-title {
    margin-bottom: 0;
    margin-top: -1px;
  }
  @media (max-width: 767px) {
    padding-bottom: 40px;
    .details-title {
      font-size: 14px;
      padding: 10px 0;
      margin-bottom: -1px;
      &::after {
        top: 11px;
      }
    }
    .shaded-box {
      padding: 18px 15px;
    }
  }
}

.blog-list {
  display: flex;
  flex-wrap: wrap;
  margin:0 -10px;
  .bl__wrapper--single {
    position: relative;
    width: 25%;
    padding-left:10px;
    padding-right:10px;
    border-top:0;
    padding-top:0px;
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      width: 50%;
    }
    @media (max-width: 767px) {
      width: 100%;
    }
    .blog-disc{
      display: -webkit-box;
      /* autoprefixer: off */
      -webkit-box-orient: vertical;
      /* autoprefixer: on */
      -webkit-line-clamp: 3;
      overflow: hidden;
      margin-bottom: 10px;
      height: 60px;
    }
    .blogimg{
      position: relative;
      padding-bottom: 65%;
      background: #F5F5F5;
      a{
        object-fit: cover;
        height: 100%;
        width: 100%;
        position: absolute;
        img{
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
    .blog-text{
      padding: 15px 0 20px 0;
      .blog-title{
        font-size: 16px;
        font-weight: 500;
        color: #000;
        display: block;
        margin-bottom: 7px;
        min-height: 47px;
        @media (max-width: 767px) {
          min-height: auto;
        }
        &:hover{
          color: $color-secondary;
        }
      }
      p {
        font-size: 14px;
      }
    }
    .blog-cat {
      font-size: 14px;
      color: #000;
      a:not(:last-child):after {
        content: ", ";
        pointer-events: none;
      }
      b {
        font-weight: 500;
      }
    }
  }
}


</style>
