<template>
  <div id="category">
    <header class="py30">
      <div class="container">
        <div class="bredcrumb-sec">
          <breadcrumbs
            :routes="[{ name: 'PHOENIX', route_link: '/' }, { name: $t('Shop By Brand'), route_link: `/series` }, { name: getBreadcrumb, route_link: `/series/${getBranbSlug}` }]"
            :active-route="getBreadLabel"
            />
          <div class="sorting-sec">
            <div class="sorting mr30">
              <ViewToggle @viewChange="viewType" />
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="container pb60">
      <div class="row">
        <div class="col-md-12 col-lg-12 border-box products-list">
          <div class="shaded-box" :class="{'list-view' : !isGrid, 'grid-view' : isGrid}">
            <div class="product-count" v-if="relatedBrands.products.length > 0">
              {{ relatedBrands.products.length + $t(' Items') }}
            </div>
            <product-listing :columns="defaultColumn" :products="relatedBrands.products" :nosto-id="'category-related'" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import LazyHydrate from 'vue-lazy-hydration'
import SearchQuery from '@vue-storefront/core/lib/search/searchQuery'
import Breadcrumbs from '../components/core/Breadcrumbs.vue'
import { quickSearchByQuery } from '@vue-storefront/core/lib/search';
import { mapState, mapGetters } from 'vuex'
import AddReviews from 'theme/components/core/blocks/Brand/BrandReviewsForm'
import ReviewsList from 'theme/components/core/blocks/Brand/BrandReviewsList'
import BlogSingle from 'src/modules/aureatelabs/blogs/components/BlogSingle'
import ViewToggle from 'theme/components/theme/ViewToggle.vue'
import CategoryPath from '../components/core/CategoryPath.vue'
import { htmlDecode } from '@vue-storefront/core/filters/html-decode'
import config from 'config'
export default {
  name: 'BrandDetails',
  data () {
    return {
      relatedBrands: {
        products : []
      },
      defaultColumn: 4,
      isGrid: true,
      brandName: '',
    };
  },
  components: {
    LazyHydrate,
    Breadcrumbs,
    AddReviews,
    ReviewsList,
    BlogSingle,
    ViewToggle,
    CategoryPath,
    ProductListing: () => import(/* webpackChunkName: "vsf-product-listing", webpackPreload: true */ '../components/core/ProductListing.vue'),
  },
  async mounted () {
    if (!this.brand || this.brand.length === 0) {
      this.$router.push('/error');
    }
    await this.getBrandProducts();
    await this.$store.dispatch('customerReview/getCustomerBrandReviews', { brand_id: this.brand.brand_id })
  },
  computed: {
    ...mapGetters({
      brand: 'brands/getBrandBySlug',
      bids: 'blogs/getBlogIds',
      menuLinks: 'quicklinks/getQuickLinksList'
    }),
    ...mapState({
      reviews: state => state.customerReview.brandReviews
    }),
    getBranbSlug () {
      const brand =  this.$route.path.split('/')
      return brand[brand.length-2];
    },
    getBreadcrumb () {
      return this.brand ? this.brand.brand_name : '';
    },
    getBreadLabel () {
      return this.brandName;
    },
    getCustomerId () {
      return this.$store.state.user.current.id
    }
  },
  methods: {
    getBrandName () {
      this.brandName = this.menuLinks.find(x => x.link === this.$route.params.catslug).label
      return this.brandName
    },
    viewType (newView) {
      if (newView === false) {
        this.defaultColumn = 1;
      } else {
        this.defaultColumn = 4;
      }
      this.isGrid = newView;
      return this.isGrid;
    },
    async getBrandProducts () {
      let products = this.brand?.brand_products || '';
      if (products !== '') {
        let query = new SearchQuery()
        query = query.applyFilter({ key: 'id', value: { 'eq': products.split(',') } })
        query = query.applyFilter({ key: 'visibility', value: { 'in': [2, 4] } })
        query = query.applyFilter({ key: 'status', value: { 'eq': 1 } })
        let productResponse = await quickSearchByQuery({ query, entityType: 'product', size: 500, sort: 'id:desc' })
          .then((resp) => {
            return resp
          })
        productResponse.items.map(item => {
          const ln = item.category && item.category.length ? item.category.find(cat => cat.name === this.getBrandName()) : ''
          if (ln) {
            this.relatedBrands.products.push(item)
          }
        })
      }
    }
  },
  async asyncData ({ store, route }) {
    const brand =  route.path.split('/')
    await store.dispatch('brands/getBrandBySlug', { 'filterValues': brand[brand.length-2] });
  },
  metaInfo () {
    if (this.brand) {
      let links = [];
      const ogTags = []
      if (this.brand.brand_banner_image_url && this.brand.brand_banner_image_url !== '') {
        links.push({ rel: 'preload', as: 'image', href: this.brand.brand_banner_image_url });
      }
      if (this.brand.brand_banner_mobile_image_url && this.brand.brand_banner_mobile_image_url !== '') {
        links.push({ rel: 'preload', as: 'image', href: this.brand.brand_banner_mobile_image_url });
      }
      if(this.brand?.og_title) {
        ogTags.push({ vmid: 'og:title', name: 'og:title', content: htmlDecode(this.brand.og_title)},)
      } else {
        ogTags.push({ vmid: 'og:title', name: 'og:title', content: htmlDecode(this.brand.brand_name)})
      }

      if(this.brand?.og_description) {
        ogTags.push({ vmid: 'og:description', name: 'og:description', content: htmlDecode(this.brand.og_description)})
      }
      if(this.brand?.og_image) {
        ogTags.push({ vmid: 'og:image', name: 'og:image', content: this.brand.og_image})
      } else {
        ogTags.push({ vmid: 'og:image', name: 'og:image', content: config.api.url + 'assets/placeholder.jpg'})
      }

      if(this.brand?.og_type) {
        ogTags.push({ vmid: 'og:type', name: 'og:type', content: this.brand.og_type})
      }

      return {
        title: this.brand.meta_title || this.brand.brand_name + ' - Phoenix Next',
        meta: [
          { vmid: 'description', name: 'description', content: this.brand.meta_description},
          { vmid: 'keywords', name: 'keywords', content: this.brand.meta_keywords },
          { vmid: 'title', name: 'title', content: this.brand.meta_title || this.brand.brand_name + ' - Phoenix Next' },
        ].concat(ogTags),
        link: links
      }
    }
    return '';
  }
};
</script>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-white: color(white);
$color-black: color(black);
$gray-D8D8D8: color(gray-D8D8D8);
$gray-666666: color(gray-666666);

  .btn {
    &__filter {
      min-width: 100px;
    }
  }
  .divider {
    width: 100%;
  }
  .category-filters {
    width: 242px;
    h4.sidebar__header{
      margin: 0 0 20px;
      font-size: 18px;
      min-height: inherit;
      font-weight:400;
    }
  }

  .mobile-filters {
    display: none;
    overflow: auto;
  }

  .mobile-filters-button {
    display: none;
  }

  .mobile-sorting {
    display: none;
  }

  .sorting {
    label {
      margin-right: 10px;
    }
  }

  @media (max-width: 767px) {
    .category-title {
      margin: 0;
      font-size: 36px;
      line-height: 40px;
    }

    .products-list {
      width: 100%;
      max-width: none;
    }

    .mobile-filter-sorting {
      background-color: $color-white;
      border-radius: 4px;
      padding: 8px;
      font-size: 14px;
      border: 1px solid $gray-D8D8D8;
      margin-top: 20px;
      color: $gray-666666;
      display: flex;
      align-items: center;
      font-weight: 600;

      .mobile-sorting,
      .mobile-filters-button {
        padding: 0 10px;
        margin: 0;
        border: 0 none;
        background-color: transparent;
        width: 50%;
        border-right: 1px solid $gray-D8D8D8;
        color: inherit;
        font-size: 14px;
        font-weight: 600;
      }

      .mobile-sorting {
        border-right: 0 none;
      }
    }

    .mobile-filters {
      display: block;
    }

    .mobile-filters-button {
      display: block;
    }

    .sorting {
      display: none;
    }

    .mobile-sorting {
      display: block;
    }

    .category-filters {
      display: none;
    }

    .product-listing {
      justify-content: center;;
    }

    .mobile-filters-overlay {
      position: fixed;
      background-color: rgba($color-black, 0.4);
      z-index: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      top: 0;
    }

    .mobile-filters {
      position: fixed;
      background-color: transparent;
      z-index: 5;
      padding:0px;
      left: 0;
      width: 100vw;
      height: 100vh;
      top: 0;
      box-sizing: border-box;
    }
    .mobile-filters-wrap {
      background-color: $color-white;
      border-radius:0px;
      padding: 50px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      overflow-x: hidden;
      overflow-y: auto;
      height:100%;

      @media (max-width: 575px) {
        padding: 30px;
      }
    }
    .mobile-sorting-wrap {
      background-color: $color-white;
      border-radius: 8px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  .close-container {
    right: 3px;
    top: 3px;
    z-index: 2;
  }

  .close {
    margin-left: auto;
  }

  .bredcrumb-sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sorting-sec {
    display: flex;
    justify-content: left;
    align-items: center;
  }
</style>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$color-white: color(white);
$yellow-F6A500: color(yellow-F6A500);
$blue-1895F5: color(blue-1895F5);
$gray-666666: color(gray-666666);

.product-image {
  max-height: unset !important;
}

.sidebar {
  &.shaded-box {
    padding: 30px;
  }
}

.products-list {
  .shaded-box:not(.list-view) {
    padding: 40px;

    @media (max-width: 767px) {
      padding: 16px;
      border-radius: 4px;

      .product-listing {
        margin-left: -8px;
        margin-right: -8px;

        & > div {
          padding-left: 8px;
          padding-right: 8px;
        }
      }
    }
  }

  .list-view {
    padding: 30px;
  }
}

.list-view {
  .product-listing > div {
    margin-top: 30px;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;

    &:first-child {
      margin-top: 0;
    }
  }

  .product-tile-info {
    .product-tile-description,
    .product-item-info-list {
      display: block;
    }

    .info-btn-list {
      display: flex;
    }
  }

  .product-tile-actions {
    .product-tile-price {
      display: flex;
    }
  }

  .product {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

    .product-cover {
      flex: 0 0 25%;
      max-width: 25%;

      @media (max-width: 1199px) {
        flex: 0 0 35%;
        max-width: 35%;
        .btn-wishlist {
          .wishlist-icon {
            width: 30px;
            height: 30px;
            padding: 7px 5px;
          }
        }
      }
      @media (max-width: 1199px) {
        flex: 0 0 40%;
        max-width: 40%;
      }
    }
    .list-view-product-info{
      flex:0 0 75%;
      max-width: 75%;
      display: flex;
      align-items: center;
      @media (max-width: 1199px) {
        flex:0 0 65%;
        max-width: 65%;
        display: block;
      }
      @media (max-width: 992px) {
        flex:0 0 60%;
        max-width: 60%;
      }
    }
    .product-tile-info {
      flex: 0 0 65%;
      max-width: 65%;
      padding-left: 30px;
      text-align: left;

      .product-tile-title {
        margin-top: 0;
        margin-bottom: 8px;
        height: auto;
        display: block;
        -webkit-line-clamp: 0;
        -webkit-box-orient: horizontal;
        /* autoprefixer: off */
      }
      @media (max-width: 1199px) {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 10px;
        .product-tile-title{
          min-height: inherit;
        }
      }
      .product-item-info-list {
        font-size: 13px;
        font-weight: 500;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 16px;

        .product-item-info-item {
          & + .product-item-info-item {
            &::before {
              content: "|";
              margin-left: 10px;
              margin-right: 10px;
            }
          }
        }
      }
    }

    .product-tile-actions {
      flex: 0 0 35%;
      max-width: 35%;
      padding-left: 24px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      .product-tile-price {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 20px;
        color: $color-secondary;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .price-original {
          font-size: 16px;
          font-weight: 500;
          color: $gray-666666;
        }
      }
      .add-to-cart-with-price {
        .price-wrap {
          display: none;
        }
      }
      @media (max-width: 1199px) {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 10px;
        display: block;
        text-align: left;
        button{
          max-width: 150px;
          display: inline-block;
          vertical-align: top;
          margin:3px 5px 3px 0;
        }
        .product-tile-price {
          justify-content: flex-start;
        }
      }
      @media (max-width: 992px) {
        button{
          max-width: 110px;
        }
      }
    }

    .product-tile-description {
      font-size: 12px;
      font-weight: 500;
      line-height: 1.67;
      color: $gray-666666;
    }
  }
}

.info-btn-list {
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;

  .info-btn-item {
    border-radius: 6px;
    border: 1px solid $color-primary;
    padding: 9px 10px;
    font-size: 12px;
    font-weight: 600;
    color: $color-primary;
    background-color: rgba($color-primary, 0.06);
    display: flex;
    align-items: center;
    margin: 3px 5px 3px 0;

    & + .info-btn-item {
      margin-left: 8px;
    }

    &.btn-yellow {
      color: $yellow-F6A500;
      border-color: $yellow-F6A500;
      background-color: rgba($yellow-F6A500, 0.06);
    }

    &.btn-blue {
      color: $blue-1895F5;
      border-color: $blue-1895F5;
      background-color: rgba($blue-1895F5, 0.06);
      margin-left: 0;
    }
  }
}

.mobile-result-btn-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  .sidebar__header__clear {
    padding-right: 15px;
    transition: all 0.5s ease 0s;

    &:hover {
      color: $color-secondary;
    }
  }

  .btn__filter {
    width: auto;
  }
}
</style>
