<template>
  <div class="brand-page">
    <div class="brands-breadcrumbs">
      <div class="container">
        <breadcrumbs
          :routes="[{name: 'PHOENIX', route_link: '/'}]"
          :active-route="$t('Shop By Brand')"
        />
      </div>
    </div>
    <brand-slider class="pb20" :brands-data="featuredbrandsList" v-if="featuredbrandsList.length > 0" />
    <div class="container" v-else>
      <div class="skeleton brand-slider-skeleton" />
    </div>
    <brand-filter :brands-data="brandsList" v-if="brandsList.length > 0" />
    <div class="container" v-else>
      <div class="skeleton container brand-filter-by" />
      <div class="skeleton container brand-filter-skeleton" />
    </div>
  </div>
</template>

<script>
import BrandSlider from 'theme/components/core/blocks/Brand/BrandSlider.vue'
import BrandFilter from 'theme/components/core/blocks/Brand/BrandFilter.vue'
import Breadcrumbs from '../components/core/Breadcrumbs.vue'
import { mapGetters } from 'vuex'

export default {
  name: 'BrandsList',
  computed: {
    ...mapGetters({
      brandsList: 'brands/getBrandsList',
      featuredbrandsList: 'brands/getFeaturedBrandsBySorting'
    })
  },
  components: {
    BrandSlider,
    BrandFilter,
    Breadcrumbs
  },
  async created () {
    await this.$store.dispatch('brands/list', { skipCache: true });
  },
  metaInfo () {
    return {
      title: 'รวมชื่อหนังสือการ์ตูนยอดฮิต - Phoenix Next ',
      meta: [
        { vmid: 'description', name: 'description', content: 'เลือกซื้อตามชื่อเรื่องการ์ตูนยอดฮิต ค้นหาสินค้าที่เกี่ยวข้อง มังงะ ไลท์โนเวล Merchandise Artbooks Figures | Phoenix Next เว็บขาย มังงะ Light Novel หนังสือการ์ตูน' },
        { vmid: 'keywords', name: 'keywords', content: 'มังงะ, ไลท์โนเวล, manga, light novel, หนังสือการ์ตูน, การ์ตูนญี่ปุ่น, สํานักพิมพ์ฟีนิกซ์, สำนักพิมพ์ Phoenix, pheonixnext, การ์ตูนอนิเมะ, มังงะวาย, การ์ตูนวาย, มังงะต่างโลก, นิยายไลท์โนเวล, นิยายแฟนตาซี, ร้านหนังสือการ์ตูน, มังงะยูริ, การ์ตูนยูริ, Yuri, Yaoi' },
        { vmid: 'title', name: 'title', content: 'รวมชื่อหนังสือการ์ตูนยอดฮิต - Phoenix Next' }
      ]
    }
  }
}
</script>

<style lang="scss">
.brands-breadcrumbs {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.brand-page {
  .skeleton {
    background-color: #fff;
    border: 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.08);
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .brand-slider-skeleton {
    height: 348px;
    @media (max-width: 767px) {
      height: 274px;
    }
  }
  .brand-filter-by {
    height: 97px;
    @media (max-width: 767px) {
      height: 146px;
    }
    @media (max-width: 478px) {
      height: 178px;
    }
  }
  .brand-filter-skeleton {
    height: 500px;
  }
}
</style>
