<template>
  <div id="checkout">
    <div class="container">
      <div class="row relative">
        <div class="col-xl-8 col-lg-7 col-xs-12 order-steps-wrap">
          <div class="shaded-box checkout-details">
            <personal-details
              class="relative"
              :is-active="activeSection.personalDetails"
              :focused-field="focusedField"
            />
            <shipping class="relative" :is-active="activeSection.shipping" v-if="!isVirtualCart" />
            <payment class="relative" :is-active="activeSection.payment" />
            <order-review class="relative" :is-active="activeSection.orderReview" />
            <div id="custom-steps" />
          </div>
        </div>
        <div class="visible-lg col-xs-12 col-lg-5 col-xl-4 bg-cl-white order-summary-wrap">
          <cart-summary />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Checkout from '@vue-storefront/core/pages/Checkout'

import PersonalDetails from 'theme/components/core/blocks/Checkout/PersonalDetails'
import Shipping from 'theme/components/core/blocks/Checkout/Shipping'
import Payment from 'theme/components/core/blocks/Checkout/Payment'
import OrderReview from 'theme/components/core/blocks/Checkout/OrderReview'
import CartSummary from 'theme/components/core/blocks/Checkout/CartSummary'
import { registerModule } from '@vue-storefront/core/lib/modules'
import { OrderModule } from '@vue-storefront/core/modules/order'
import { Logger } from '@vue-storefront/core/lib/logger'
import { isServer } from '@vue-storefront/core/helpers'
import config  from 'config'

export default {
  data () {
    return {
      product: []
    }
  },
  components: {
    PersonalDetails,
    Shipping,
    Payment,
    OrderReview,
    CartSummary
  },
  mixins: [Checkout],
  beforeCreate () {
    registerModule(OrderModule)
  },
  methods: {
    //  async onBeforePlaceOrder () {
    //    await this.$store.dispatch('cart/syncTotals', { forceServerSync: true })
    // },
    getProduct (item) {
      let product = {}
      const attributeMap = config.googleTagManager.product_attributes
      attributeMap.forEach(attribute => {
        const isObject = typeof attribute === 'object'
        let attributeField = isObject ? Object.keys(attribute)[0] : attribute
        let attributeName = isObject ? Object.values(attribute)[0] : attribute
        if (item.hasOwnProperty(attributeField) || product.hasOwnProperty(attributeName)) {
          let value = item[attributeField] || product[attributeName]
          if (value) {
            product[attributeName] = value
          }
        }
      })
      return product
    },
    async onAfterPlaceOrder (payload) {
      this.confirmation = payload.confirmation
      this.$store.dispatch('checkout/setThankYouPage', true)
      this.$store.dispatch('cart/clear', { sync: false }, { root: true })
      this.$store.dispatch('nosto/sendOrderData', this.nostoOrderData(payload.order))
      localStorage.removeItem('shop/checkout/shipping-details')

      if (this.getPaymentMethod() === 'promptpay') {
        this.$store.dispatch('p2c2pPayment/processPPPayment', {
          orderRef: this.confirmation.orderNumber
        })
        return
      }

      if (payload.order.addressInformation.payment_method_code !== 'p123payment') {
        if (payload.order.addressInformation.payment_method_code !== 'p2c2ppayment') {
          this.$router.push('/thank-you')
        }
      }

      if (payload.order.addressInformation.payment_method_code !== 'p2c2ppayment') {
        if (payload.order.addressInformation.payment_method_code !== 'p123payment') {
          this.$router.push('/thank-you')
        }
      }
      // this.paymentRedirection()
      setTimeout(() => this.paymentRedirection(), 3000)
      Logger.debug(payload.order)()
    },
    paymentRedirection () {
      const paymentMethod = this.getPaymentMethod()
      if (paymentMethod === 'p2c2ppayment') {
        setTimeout(() => { this.delayPaymentCall() }, 3000)
      } else if (paymentMethod === 'p123payment') {
        this.$store.dispatch('p2c2pPayment/processQRPayment', {
          orderRef: this.confirmation.orderNumber
        })
      }
    },
    delayPaymentCall() {
      let paymentDetails = this.$store.getters['p2c2pPayment/getPaymentDetails']
      this.$store.dispatch('p2c2pPayment/processPayment', paymentDetails)
      paymentDetails.orderRef = this.confirmation.orderNumber;
      this.$store.dispatch('p2c2pPayment/processPaymentRedirect', paymentDetails)
    },
    nostoOrderData (order) {
      for (let i = 0; i < order.products.length; i++) {
        var price = ''
        if (order.products[i].original_special_price) {
          price = order.products[i].original_special_price
        } else {
          price = order.products[i].price
        }

        this.product.push({
          'product_id': order.products[i].sku,
          'sku_id': order.products[i].sku,
          'name': order.products[i].name,
          'quantity': order.products[i].qty,
          'unit_price': price,
          'price_currency_code': 'THB'
        });
      }

      var data = {
        'info': {
          'order_number': this.lastOrderConfirmation.orderNumber,
          'email': order.addressInformation.shippingAddress.email,
          'first_name': order.addressInformation.shippingAddress.firstname,
          'last_name': order.addressInformation.shippingAddress.lastname,
          'type': 'order'
        },
        'items': this.product
      }

      return data
    },
    notifyEmptyCart () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t('Shopping cart is empty. Please add some products before entering Checkout')
      })
    },
    notifyOutStock (chp) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: chp.name + this.$t(' is out of stock!')
      })
    },
    notifyNotAvailable () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: this.$t('Some of the ordered products are not available!')
      })
    },
    notifyStockCheck () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t('Stock check in progress, please wait while available stock quantities are checked')
      })
    },
    notifyNoConnection () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t('There is no Internet connection. You can still place your order. We will notify you if any of ordered products is not available because we cannot check it right now.')
      })
    },
    placeOrder () {
      this.checkConnection({ online: typeof navigator !== 'undefined' ? navigator.onLine : true })
      this.$store.dispatch('checkout/placeOrder', { order: this.prepareOrder() })
    }
  },
  computed: {
    lastOrderConfirmation () {
      return this.$store.state.order.last_order_confirmation ? this.$store.state.order.last_order_confirmation.confirmation : {}
    }
  }
}
</script>

<style lang="scss">
  @import '~theme/css/base/text';
  @import '~theme/css/variables/colors';
  @import '~theme/css/helpers/functions/color';
  $bg-secondary: color(secondary, $colors-background);
  $color-tertiary: color(tertiary);
  $color-primary: color(primary);
  $color-secondary: color(secondary);
  $color-error: color(error);
  $color-white: color(white);
  $color-black: color(black);
  $blue-1895F5: color(blue-1895F5);
  $gray-A3A3A3: color(gray-A3A3A3);
  $gray-666666: color(gray-666666);
  $gray-333435: color(gray-333435);
  $gray-D8D8D8: color(gray-D8D8D8);
  $white-smoke: color(white-smoke);
  #checkout {
    position: relative;

    .number-circle {
      width: 35px;
      height: 35px;
      font-size: 16px;
      font-weight: 700;
      color: $color-white;
      background-color: $gray-A3A3A3;
      text-align: center;
      line-height: 35px;
      border-radius: 50%;
      position: relative;
      z-index: 1;

      @media (max-width: 767px) {
        width: 26px;
        height: 26px;
        line-height: 26px;
        font-size: 12px;
      }
    }
    .minusplusnumber{
      @media (max-width: 767px) {
        .mpbtn{
          display: none;
        }
      }
    }
    .radioStyled {
      display: block;
      position: relative;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 16px;
      line-height: 30px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }

      .checkmark {
        position: relative;
        padding-left: 26px;
      }

      input:checked ~ .checkmark:after {
        display: block;
      }
    }

    .payment-method-list {
      padding-left: 0;
      max-width: 418px;
      margin-bottom: 15px;

      &.filled {
        padding-left: 0;
        margin-bottom: 0;

        .payment-method-item {
          label {
            &:after {
              display: none;
            }
          }
          .radioStyled {
            position: relative;
            .checkmark {
              padding: 0 0 0 26px;
              border: 0 none;
              background-color: transparent;
              color: $gray-666666;
              font-weight: 500;
            }

            input[checked] ~ .checkmark,
            input:checked ~ .checkmark {
              background-color: transparent;
              font-weight: 500;
            }
          }
        }
      }

      .payment-method-item {
        margin-bottom: 10px;
        position: relative;
        label {
          &:after {
            content: 'image';
            font-family: 'Material Icons';
            position: absolute;
            right: 10px;
            top: 0;
            line-height: 42px;
            color: $gray-666666;
            font-size: 20px;
          }
          &.cashondelivery:after {
            content: '';
            background-image: url(~theme/assets/money.svg);
            width: 21px;
            height: 20px;
            background-repeat: no-repeat;
            top: 11px;
          }
          &.p123payment:after {
            content: '\E3B4';
          }
          &.p2c2ppayment:after {
            content: 'credit_card';
          }
        }
        .radioStyled {
          margin-bottom: 0;
          line-height: 1;

          .checkmark {
            font-size: 14px;
            font-weight: 500;
            color: $gray-666666;
            border: 1px solid $gray-D8D8D8;
            border-radius: 4px;
            background-color: $white-smoke;
            padding: 10px 40px 10px 10px;
            display: block;
            line-height: 1.6;
            span{
              border: 1px solid #A3A3A3;
              line-height: 0;
              width: 16px;
              height: 16px;
              border-radius: 100%;
              display: inline-block;
              vertical-align: middle;
              padding: 1px;
              margin-right: 5px;
            }
          }

          input[checked] ~ .checkmark,
          input:checked ~ .checkmark {
            color: $color-primary;
            border-color: $color-secondary;
            background-color: rgba($color-secondary, 0.05);
            font-weight: 600;
            span{
              border: solid 1px $color-secondary;
              strong{
                background: $color-secondary;
                width: 12px;
                height: 12px;
                display: block;
                border-radius: 100%;
                line-height: 0;
              }
            }
          }
        }
      }
    }

    .box-radio {
      .radioStyled {
        padding: 0;
        margin-bottom: 0;

        .shipping-item-price {
          font-size: 14px;
          font-weight: 700;
          display: block;
          color: $gray-333435;
        }

        .checkmark {
          padding: 9px 16px;
          font-size: 13px;
          font-weight: 400;
          color: $gray-666666;
          border: 1px solid $gray-A3A3A3;
          border-radius: 4px;
          background-color: rgba($gray-A3A3A3, 0.05);
          text-align: center;
          line-height: 1.5;
          position: static;
          width: auto;
          height: auto;
          display: block;

          &::before,
          &::after {
            display: none;
          }
        }

        input[checked] ~ .checkmark,
        input:checked ~ .checkmark {
          color: $color-secondary;
          border-color: $color-secondary;
          background-color: rgba($color-secondary, 0.05);

          &::before,
          &::after {
            display: none;
          }

          .shipping-item-price {
            color: $color-secondary;
          }
        }
      }
    }

    .shipping-address-list {
      .shipping-address-item {
        .shipping-summary {
          cursor: pointer;
        }
        .address-box {
            padding: 0;
            min-height: auto;
            border: 0;
        }
        .checkmark {
          text-align: left;
          font-weight: 500;
          color: $gray-666666;
        }

        input[checked] ~ .checkmark,
        input:checked ~ .checkmark {
          color: $color-primary;
          font-weight: 600;
        }
      }
    }

    .filled-info {
      margin-top: 15px;
      font-size: 14px;
      font-weight: 600;
      color: $color-primary;

      @media (max-width: 767px) {
        font-size: 13px;
        padding-left: 41px;

        p {
          margin-bottom: 0;
        }
      }
    }

    .order-tab-title {
      color: $gray-A3A3A3;
      line-height: 35px;
      min-height: 35px;
      margin: 0;
      font-size: 16px;
      font-weight: 700;

      @media (max-width: 767px) {
        line-height: 26px;
        min-height: 26px;
        font-size: 14px;
      }
    }

    .active {
      .number-circle {
        background-color: $blue-1895F5;
      }

      .order-tab-title {
        color: $blue-1895F5;
      }
    }

    .order-tab-wrap {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 17px;
        width: 2px;
        height: 100%;
        background-color: $gray-D8D8D8;

        @media (max-width: 767px) {
          display: none;
        }
      }
    }

    .select-wrapper,
    .base-input {
      @media (max-width: 767px) {
        margin-bottom: 5px;
      }
    }
    .payment-details {
      input {
        border: 1px solid $gray-D8D8D8;
        border-radius: 2px;
        height: 40px;
        font-size: 12px;
        color: $gray-666666;
        padding: 0 12px;
        line-height: normal;
        width: 100%;
        margin-bottom: 10px;
        @media (max-width: 767px) {
          padding: 0 8px;
        }
      }
      .card-date {
        display: flex;
        input {
          &:nth-child(2) {
            margin: 0 10px;
          }
        }
      }
    }
  }

  .line {
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 37px;
      z-index: -1;
      width: 1px;
      height: 100%;
      background-color: $bg-secondary;

      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  .checkout-title {
    @media (max-width: 767px) {
      background-color: $bg-secondary;
      margin-bottom: 25px;

      h1 {
        font-size: 36px;
      }
    }
  }

  .checkout-details {
    padding: 40px;
    margin: 0 50px 40px 0;

    @media (max-width: 1199px) {
      margin-right: 0;
    }

    @media (max-width: 991px) {
      margin: 16px 0;
      padding: 20px;
    }

    @media (max-width: 767px) {
      & > .active {
        padding-bottom: 0;
      }
    }
  }

  .order-summary-wrap {
    box-shadow: 0 0 20px rgba($color-black, 0.08);
    position: absolute;
    right: calc(-50vw + 50% + 8px);
    top: 0;
    min-height: 100%;
    padding: 40px 30px;
    height: calc(100vh - 129px);
    .checkout-order-summary{
      overflow-x: hidden;
      overflow-y: auto;
      border-radius: 6px;
      border: 1px solid $gray-D8D8D8;
      width:100%;
    }
    // @media (min-width: 1925px) {
    //   right: calc(-100vw / 2 + 1270px / 2);
    // }

    @media (min-width: 1920px) and (max-width: 1924px) {
      flex-basis: 50.4%;
      max-width: 50.4%;
      width: 50.4%;
    }

    @media (min-width: 1671px) and (max-width: 1919px) {
      flex-basis: 40.4%;
      max-width: 40.4%;
      width: 40.4%;
    }

    @media (min-width: 1271px) and (max-width: 1670px) {
      flex-basis: 35.4%;
      max-width: 35.4%;
      width: 35.4%;
    }

    @media (max-width: 1270px) {
      padding: 40px 20px;
      height: calc(100vh - 71px);
    }

    @media (max-width: 991px) {
      background-color: transparent;
      box-shadow: none;
      position: static;
      padding: 0 15px;
      height: auto;
      margin-bottom: 20px;
      .order-summary {
        background-color: #fff;
        box-shadow: 0 0 20px rgba($color-black, 0.08);
        border: 0px;
      }
    }
  }

  .order-steps-wrap {
    @media (min-width: 2561px) {
      flex-basis: 100%;
      max-width: 100%;

      .checkout-details {
        margin-right: 0;
      }
    }

    @media (min-width: 1271px) and (max-width: 1670px) {
      flex-basis: 65%;
      max-width: 65%;
    }
  }

  .edit-btn {
    font-size: 14px;
    font-weight: 600;
    color: $gray-666666;

    .material-icons {
      font-size: 22px;

      @media (max-width: 767px) {
        font-size: 15px;
      }
    }

    @media (max-width: 767px) {
      font-size: 11px;
    }
  }

  .button-container-wrap {
    @media (max-width: 767px) {
      margin-top: 10px;
    }

    @media (max-width: 575px) {
      flex-direction: column;
      align-items: stretch;

      .button-container {
        margin-bottom: 15px;

        button {
          width: 100%;
        }
      }

      .login-link {
        text-align: center;
        margin-left: 0;
      }
    }
  }

  .number-circle-wrap {
    @media (max-width: 767px) {
      padding-right: 0;
    }
  }
</style>
