
<template>
  <section id="contact_us">
    <div class="container">
      <breadcrumbs
        class="mb30"
        :routes="[{name: 'PHOENIX', route_link: '/'}]"
        active-route="Contact"
      />
    </div>
    <div class="container">
      <div class="shaded-box">
        <h1 class="page-title mb40 align-center cl-black">
          {{ $t('CONTACT') }}
        </h1>
        <form action="#" @submit.prevent="contactus" class="contact-us-form">
          <div class="row acc-fields">
            <base-input
              class="col-xs-12 col-md-12 mb40"
              type="text"
              name="name"
              v-model="formData.name"
              @blur="$v.formData.name.$touch()"
              :placeholder="$t('*Name')"
              :validations="[
                {
                  condition: !$v.formData.name.required && $v.formData.name.$error,
                  text: $t('This is a required field.')
                },
                {
                  condition: !$v.formData.name.minLength,
                  text: $t('Name must have at least 2 letters.')
                }
              ]"
            />
            <base-input
              type="email"
              name="email"
              class="col-xs-12 col-md-12 mb40"
              v-model="formData.email"
              @blur="$v.formData.email.$touch()"
              :placeholder="$t('*Email')"
              :validations="[
                {
                  condition: !$v.formData.email.required && $v.formData.email.$error,
                  text: $t('This is a required field.')
                },
                {
                  condition: !$v.formData.email.email && $v.formData.email.$error,
                  text: $t('Please provide valid e-mail address.')
                }
              ]"
            />
            <base-textarea
              class="col-xs-12 col-md-12 base-input"
              type="text"
              name="comment"
              v-model="formData.comment"
              @blur="$v.formData.comment.$touch()"
              :placeholder="$t('*Message')"
              :validations="[
                {
                  condition: $v.formData.comment.$error && !$v.formData.comment.required,
                  text: $t('This is a required field.')
                }
              ]"
            />
            <div class="col-xs-12 col-md-12 mb40">
              <vue-recaptcha
                class="my20 google-captcha"
                :sitekey="googleSiteKey"
                :load-recaptcha-script="true"
                @verify="verifySubmit"
              />
            </div>
            <div class="col-xs-12">
              <button-full type="submit" class="contact-us-submit">
                {{ $t('Submit') }}
              </button-full>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</template>

<script>
import Breadcrumbs from 'theme/components/core/Breadcrumbs'
import BaseInput from 'theme/components/core/blocks/Form/BaseInput.vue'
import BaseTextarea from 'theme/components/core/blocks/Form/BaseTextarea'
import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import { required, email, minLength } from 'vuelidate/lib/validators'
import { AddComment } from 'src/modules/aureatelabs/contact-us/components/AddComment'
import config from 'config';
import VueRecaptcha from 'vue-recaptcha';

export default {
  validations: {
    formData: {
      email: {
        required,
        email
      },
      name: {
        minLength: minLength(2),
        required
      },
      comment: {
        required
      }
    }
  },
  props: {
    title: {
      type: String,
      required: true
    }
  },
  components: {
    Breadcrumbs,
    BaseInput,
    BaseTextarea,
    ButtonFull,
    VueRecaptcha
  },
  computed: {
    googleSiteKey () {
      return config.aureatelabs.googleRecaptchaSiteKey;
    }
  },
  mixins: [ AddComment ],
  data () {
    return {
      verified: '',
      formData: {
        name: '',
        email: '',
        comment: ''
      }
    }
  },
  methods: {
    contactus () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.submit()
      } else {
        return false
      }
    },
    verifySubmit (response) {
      if (response) {
        this.verified = true
      }
    },
    submit () {
      if (this.verified) {
        this.addComment({
          'subscriber': {
            'name': this.formData.name,
            'email': this.formData.email,
            'comment': this.formData.comment
          }
        })
      }
    },
    clearContactForm () {
      this.formData.name = ''
      this.formData.email = ''
      this.formData.comment = ''
      this.$v.$reset()
    }
  },
  metaInfo () {
    return {
      title: 'ติดต่อทีมงาน - Phoenix Next',
      meta: [
        { vmid: 'description', name: 'description', content: 'สอบถามเกี่ยวกับ Phoenix Next ติดต่อทีมงานได้ที่นี่ หรือผ่านทาง Facebook และ LINE OA | Phoenix Next เว็บขาย มังงะ Light Novel หนังสือการ์ตูน' },
        { vmid: 'keywords', name: 'keywords', content: 'มังงะ, ไลท์โนเวล, manga, light novel, หนังสือการ์ตูน, การ์ตูนญี่ปุ่น, สํานักพิมพ์ฟีนิกซ์, สำนักพิมพ์ Phoenix, pheonixnext, การ์ตูนอนิเมะ, มังงะวาย, การ์ตูนวาย, มังงะต่างโลก, นิยายไลท์โนเวล, นิยายแฟนตาซี, ร้านหนังสือการ์ตูน, มังงะยูริ, การ์ตูนยูริ, Yuri, Yaoi' },
        { vmid: 'title', name: 'title', content: 'ติดต่อทีมงาน - Phoenix Next' }
      ]
    }
  },
  mounted () {
    this.$bus.$on('clear-add-contact-form', this.clearContactForm)
  },
  destroyed () {
    this.$bus.$off('clear-add-contact-form', this.clearContactForm)
  }
}
</script>

<style lang="scss">
@import '~theme/css/base/text';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
$black: color(black);
$gray-D8D8D8: color(gray-D8D8D8);
$white-smoke: color(white-smoke);

#contact_us {
  padding: 25px 0 80px;
  .shaded-box {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .contact-us-form {
    max-width: 550px;
    margin: auto;
    .base-input {
      .relative {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        label {
          position: static;
          transform: none;
          display: inline-block;
          vertical-align: top;
          font-size: 20px;
          color: $black;
          margin-bottom: 20px;
          text-transform: capitalize;
          @media (max-width:767px) {
            font-size: 16px;
            margin-bottom: 15px;
          }
        }
        input, textarea {
          border-radius: 5px;
          border: 1px solid $gray-D8D8D8;
          background-color: $white-smoke;
          padding: 0 20px;
          color: #000;
          font-size: 16px;
        }
        textarea {
          height: 200px;
          padding: 15px 20px;
        }
      }
    }
    .contact-us-submit {
      padding: 0;
      height: 48px;
      line-height: normal;
      font-size: 20px;
      font-weight: normal;
      text-transform: capitalize;
      width: auto;
      margin: auto;
      min-width: 300px;
      @media (max-width:767px) {
        font-size: 18px;
        min-width: 240px;
        margin-top: 10px;
      }
    }
  }
  h3.page-subheading {
    font-weight: 700;
    color: #222222;
  }
  @media (max-width:767px) {
    padding: 25px 0 50px;
    .shaded-box {
      padding: 40px 24px;
    }
    .base-input {
      margin-bottom: 25px;
    }
  }
}
</style>
