<template>
  <div class="shaded-box recently-view container">
    <div class="row mb30">
      <div class="col-xs-12 profile-title">
        <h3 class="m0 mb5 f-s-16 cl-gray-333435">
          {{ $t("Recently Viewed Products") }}
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" v-if="items && items.length > 0">
        <product-listing columns="5" :products="items" :nosto-id="'frontpage-nosto-history'" />
      </div>
      <div class="col-xs-12 h4" v-else>
        <p>{{ $t("No products yet") }}</p>
      </div>
    </div>
  </div>
</template>
<script>
import RecentlyViewed from '@vue-storefront/core/modules/recently-viewed/components/RecentlyViewed';
import ProductListing from 'theme/components/core/ProductListing.vue';
import { registerModule } from '@vue-storefront/core/lib/modules';
import { RecentlyViewedModule } from '@vue-storefront/core/modules/recently-viewed';

export default {
  name: 'History',
  mixins: [RecentlyViewed],
  components: {
    ProductListing
  },
  beforeCreate () {
    registerModule(RecentlyViewedModule);
  }
};
</script>

<style lang="scss" scoped>
.shaded-box.recently-view.container {
  margin-bottom: 60px;
  margin-top: 30px;
}
</style>

<style lang="scss">
.shaded-box.recently-view.container .product-listing .col-xs-6 {
  flex-basis: 20%;
  max-width: 20%;
  margin-top: 40px;
  @media (max-width:768px) {
    flex-basis: 33%;
    max-width:33%;
  }
  @media (max-width:768px) {
    flex-basis:50%;
    max-width:50%;
  }
}
.recently-view.container {
  .product-listing{
    .product-tile-info{
      .product-item-info-list,
      .info-btn-list,
      .product-tile-description{
        display: none;
      }
    }
  }
  @media (max-width:768px) {
    padding: 20px 14px;
  }
}
</style>
