<template>
  <div id="home">
    <div class="nosto_page_type" style="display:none">
      front
    </div>
    <!-- Main Slider Section -->
    <main-slider :banner-data="banner" />
    <!-- Main Slider Section -->

    <!-- Category Section -->
    <section class="relative home-category mb40" v-if="categoryBanner.length">
      <div class="container">
        <div class="cms-content">
          <div>
            <div class="category-item" v-for="(category, index) in categoryBanner" :key="index">
              <router-link :to="category.link">
                <b>{{ category.title }}</b>
                <div class="category-image">
                  <img :src="category.image" width="310" height="380" alt="Category Name">
                </div>
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Category Section -->

    <!-- Top Rank Brand Section -->
    <section class="pb40 home-top-ranked-products-sec">
        <div class="shaded-strip">
          <div class="container">
            <top-ranked-brands
              v-if="topHomeBrands.length"
              class="slider-spacing"
              :title="$t('Top Rank Brands')"
              :per-page-custom="[[0, ['auto', 30]], [480, ['auto', 30]], [768, [3, 15]], [992, [4, 40]], [1200, [5, 40]]]"
              :product-border-enabled="false"
              :pagination-enabled="false"
              :see-all-link="'/series'"
              :slider-id="'top-ranked-brands'"
              :brands="topHomeBrands"
              :slide-auto-play="false"
              :badge="'assets/comic_dark.svg'"
            />
            <div class="carousel-skeleton" v-else>
              <div class="skeleton" />
              <div class="skeleton-wrap">
                <div class="skeleton-item" v-for="index in 5" :key="index">
                  <div class="skeleton skeleton-circle" />
                  <div class="skeleton skeleton-line" />
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
    <!-- Recently Viewed Section -->
    <section class="pb40 frontpage-nosto-recommended-for-you" v-if="nostoList['frontpage-nosto-recommended-for-you']">
      <div class="container">
          <product-listing-slider
            class="shaded-box"
            :title="nostoList['frontpage-nosto-recommended-for-you'] ? nostoList['frontpage-nosto-recommended-for-you']['title'] : ''"
            :per-page-custom="[[0, ['auto', 15]], [768, [3, 15]], [992, [4, 20]], [1200, [5, 20]]]"
            :product-border-enabled="false"
            :pagination-enabled="false"
            :see-all-link="'/bf20-mar-online/bf20-ln-mg'"
            :badge="'assets/comic_dark.svg'"
            :slider-id="'frontpage-nosto-1'"
            :nosto-id="'frontpage-nosto-1'"
            :products-list="nostoList['frontpage-nosto-recommended-for-you'] && nostoList['frontpage-nosto-recommended-for-you'].products ? nostoList['frontpage-nosto-recommended-for-you'].products : []"
            :slide-auto-play="false"
          />
      </div>
    </section>
    <!-- Best Picked From Light Novel Section -->
    <section class="pb40 home-best-picked-products-sec">
      <div class="container">
          <!-- <product-listing-slider
            class="shaded-box"
            :title="$t('Light Novel - Top 10')"
            :per-page-custom="[[0, ['auto', 15]], [768, [3, 15]], [992, [4, 20]], [1200, [5, 20]]]"
            :product-border-enabled="false"
            :pagination-enabled="false"
            :see-all-link="''"
            :badge="'assets/comic_dark.svg'"
            :slider-id="'home-best-picked-products'"
            :nosto-id="'frontpage-nosto-best-picked-products'"
            :products-list="nostoList['frontpage-nosto-best-picked-products'] && nostoList['frontpage-nosto-best-picked-products'].products ? nostoList['frontpage-nosto-best-picked-products'].products : []"
            :slide-auto-play="false"
          /> -->
          <product-listing-slider
            class="shaded-box"
            :title="$t('Light Novel Recommended')"
            :per-page-custom="[[0, ['auto', 15]], [768, [3, 15]], [992, [4, 20]], [1200, [5, 20]]]"
            :product-border-enabled="false"
            :pagination-enabled="false"
            :see-all-link="'/bf20-mar-online/bf20-ln-mg'"
            :badge="'assets/comic_dark.svg'"
            :slider-id="'home-best-picked-products'"
            :nosto-id="'frontpage-nosto-best-picked-products'"
            :products-list="nostoLightNovelList"
            :slide-auto-play="false"
          />
      </div>
    </section>
    <!-- Bestseller Products Section -->
    <section class="pb40 home-bestseller-products-sec">
      <div class="container">
          <!-- <product-listing-slider
            class="shaded-box"
            :title="$t('Manga - Top 10')"
            :per-page-custom="[[0, ['auto', 15]], [768, [3, 15]], [992, [4, 20]], [1200, [5, 20]]]"
            :product-border-enabled="false"
            :pagination-enabled="false"
            :see-all-link="''"
            :badge="'assets/comic_dark.svg'"
            :slider-id="'home-bestseller-products'"
            :nosto-id="'frontpage-nosto-best-sellers'"
            :products-list="nostoList['frontpage-nosto-best-sellers'] && nostoList['frontpage-nosto-best-sellers'].products ? nostoList['frontpage-nosto-best-sellers'].products : []"
            :slide-auto-play="false"
          /> -->
          <product-listing-slider
            class="shaded-box"
            :title="$t('Best seller manga')"
            :per-page-custom="[[0, ['auto', 15]], [768, [3, 15]], [992, [4, 20]], [1200, [5, 20]]]"
            :product-border-enabled="false"
            :pagination-enabled="false"
            :see-all-link="'/bf20-mar-online/bf20-ln-mg'"
            :badge="'assets/comic_dark.svg'"
            :slider-id="'home-bestseller-products'"
            :nosto-id="'frontpage-nosto-best-sellers'"
            :products-list="nostoMangaList"
            :slide-auto-play="false"
          />
      </div>
    </section>
  </div>
</template>

<script>
// query constructor
import { isServer, onlineHelper } from '@vue-storefront/core/helpers'
import LazyHydrate from 'vue-lazy-hydration'

// Core pages
import Home from '@vue-storefront/core/pages/Home'
// Theme core components
import MainSlider from 'theme/components/core/blocks/MainSlider/MainSlider'
// Theme local components
import { Logger } from '@vue-storefront/core/lib/logger'
import { mapGetters } from 'vuex'
import { registerModule } from '@vue-storefront/core/lib/modules'
import { RecentlyViewedModule } from '@vue-storefront/core/modules/recently-viewed'
import i18n from '@vue-storefront/i18n'
import TopRankedBrands from 'theme/components/core/blocks/Brand/TopRankedBrands'

export default {
  data () {
    return {
      loading: true,
      // banner: [],
      products: [{}, []],
      recommendedProduct: []
    }
  },
  mixins: [Home],
  components: {
    MainSlider,
    LazyHydrate,
    ProductListingSlider: () => import(/* webpackChunkName: "vsf-product-listing-slider", webpackPreload:true */ 'theme/components/core/blocks/Product/ProductListingSlider'),
    TopRankedBrands
  },
  computed: {
    // ...mapGetters('user', ['isLoggedIn']),
    ...mapGetters({
      banner: 'banner/getBannerList',
      categoryBanner: 'categorybanner/getCategoryBannerList',
      isLogged: 'user/isLoggedIn',
      brandsList: 'brands/getFeaturedBrandsBySorting',
      nostoList: 'nosto/getNostoList',
      nostoLightNovelList: 'nostoMagento/getNostoLightNovelList',
      nostoMangaList: 'nostoMagento/getNostoBestSellerMangaList'
    }),
    isOnline () {
      return onlineHelper.isOnline
    },
    getFeaturedProducts () {
      return this.products.filter(product => product.featured === '1').sort((a, b) => { return b.id - a.id }).slice(0, 5)
    },
    user () {
      return this.$store.state.user.current
    },
    topHomeBrands () {
      return this.brandsList.slice(0, 12)
    }
  },
  beforeCreate () {
    registerModule(RecentlyViewedModule)
  },
  async beforeMount () {
    if (this.$store.state.__DEMO_MODE__) {
      const onboardingClaim = await this.$store.dispatch('claims/check', { claimCode: 'onboardingAccepted' })
      if (!onboardingClaim) { // show onboarding info
        this.$bus.$emit('modal-toggle', 'modal-onboard')
        this.$store.dispatch('claims/set', { claimCode: 'onboardingAccepted', value: true })
      }
    }
    await Promise.all([
      this.$store.dispatch('nostoMagento/getLightNovel', 30),
      this.$store.dispatch('nostoMagento/getManga', 45)
    ])
  },
  async mounted () {
    if (!this.isLoggedIn && localStorage.getItem('redirect')) this.$bus.$emit('modal-show', 'modal-signup')

    this.$nextTick(function () {
      this.handlePaymentFailure();
    })
    this.getNostoProductlistFromMagento()
    
  },
  methods: {
    handlePaymentFailure () {
      if (this.$route.query && this.$route.query.r && this.$route.query.r === 'payment-failed') {
        this.$router.replace('/');
        this.$store.dispatch('notification/spawnNotification', {
          type: 'error',
          message: i18n.t('Your order has been canceled!'),
          action1: { label: i18n.t('OK') }
        })
      }
    },
    async getNostoProductlistFromMagento() {
      await this.$store.dispatch('nostoMagento/getLightNovel', 30);
      await this.$store.dispatch('nostoMagento/getManga', 45);
    },
  },
  watch: {
    isLoggedIn () {
      const redirectObj = localStorage.getItem('redirect')
      if (redirectObj) this.$router.push(redirectObj)
      localStorage.removeItem('redirect')
    }
  },
  async asyncData ({ store, route }) { // this is for SSR purposes to prefetch data
    Logger.info('Calling asyncData in Home (theme)')()

    await Promise.all([
      store.dispatch('banner/list', {}),
      store.dispatch('categorybanner/list', {})
    ])
  },
  beforeRouteEnter (to, from, next) {
    if (!isServer) { // Loading products to cache on SSR render
      next(async vm => {
        vm.$store.dispatch('brands/list', { skipCache: true })
        vm.$store.dispatch('nosto/list', [
          'frontpage-nosto-recommended-for-you'
        ])
      })
    } else {
      next()
    }
  },
  metaInfo () {
    let links = []
    if (this.banner && this.banner.length > 0) {
      this.banner.map(banner => links.push(
        { rel: 'preload', as: 'image', href: banner.image }
      ))
    }
    return {
      link: links,
      title: 'Phoenix Next | ซื้อ มังงะ Light Novel หนังสือการ์ตูนออนไลน์ ',
      meta: [
        { vmid: 'description', name: 'description', content: 'เว็บร้านหนังสือการ์ตูน มังงะ Light Novel ยอดฮิต ช้อปปิ้งออนไลน์ส่งไวถึงบ้าน | สะสมคะแนน Phoenix Point รับส่วนลดและสิทธิพิเศษมากมาย' },
        { vmid: 'keywords', name: 'keywords', content: 'มังงะ, ไลท์โนเวล, manga, light novel, หนังสือการ์ตูน, การ์ตูนญี่ปุ่น, สํานักพิมพ์ฟีนิกซ์, สำนักพิมพ์ Phoenix, pheonixnext, การ์ตูนอนิเมะ, มังงะวาย, การ์ตูนวาย, มังงะต่างโลก, นิยายไลท์โนเวล, นิยายแฟนตาซี, ร้านหนังสือการ์ตูน, มังงะยูริ, การ์ตูนยูริ, Yuri, Yaoi' },
        { vmid: 'title', name: 'title', content: 'Phoenix Next | ซื้อ มังงะ Light Novel หนังสือการ์ตูนออนไลน์ ' }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$white: color(white);

.new-collection {
  @media (max-width: 767px) {
    padding-top: 0;
  }
}

.home-recommended-products-sec {
  @media (max-width: 767px) {
    padding-top: 20px;
    overflow: hidden;
  }
}
</style>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$white: color(white);
#home {
  background-image: url(/assets/body-bg.jpg);
  background-repeat: repeat;
  background-position: center -76%;
  .product_label {
    display: none;
  }
}

.home-top-ranked-products-sec {
  .carousel-skeleton {
    > .skeleton {
      height: 30px;
      margin: 0 auto 32px;
      width: 200px;
      position: relative;
    }
    .skeleton-wrap {
      display: flex;
      justify-content: space-between;
      padding: 0 80px;
      .skeleton-item {
        width: calc(20% - 40px);
        .skeleton-circle {
          width: 180px;
          height: 180px;
          border-radius: 50%;
          position: relative;
          border: 0;
          overflow: hidden;
        }
        .skeleton-line {
          margin: 20px auto;
          height: 40px;
          position: relative;
          border: 0;
          width: 180px;
        }
      }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        padding: 0 100px;
        .skeleton-item {
          width: calc(25% - 40px);
          &:last-child{
            display: none;
          }
        }
      }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        padding: 0 100px;
        .skeleton-item {
          width: calc(33.33% - 15px);
          .skeleton-circle {
            width: 170px;
            height: 170px;
          }
          .skeleton-line {
            width: 170px;
          }
          &:nth-last-child(-n+2){
            display: none;
          }
        }
      }
      @media (max-width: 767px) {
        padding: 0 15px;
        overflow: auto;
        .skeleton-item {
          width: 120px;
          margin-right: 30px;
          .skeleton-circle {
            width: 120px;
            height: 120px;
          }
          .skeleton-line {
            width: 120px;
          }
        }
      }
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .product-categories-carousel .category-img-wrap .category-img {
      width: 170px;
      height: 170px;
    }
  }
  @media (max-width: 767px) {
    padding-bottom: 20px;
    .slider-spacing{
      padding:0 15px;
      .category{
        padding: 5px;
      }
      .category-img-wrap{
        .category-index{
          left: 0;
          top: 0;
        }
      }
      .VueCarousel-navigation{
        display: none;
      }
    }
    .swiper-button-next,
    .swiper-button-prev{
      display: none;
    }
  }
}
.home-recently-viewed-products-sec,
.home-suggested-products-sec,
.home-fresh-selection-products-sec,
.home-bestseller-products-sec,
.home-best-picked-products-sec,
.home-just-arrived-products-sec,
.home-recommended-products-for-you-sec,
.home-recommended-products-sec {
  @media (max-width: 767px) {
    padding-bottom: 20px !important;

    & > .container {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.home-recently-viewed-products-sec,
.home-suggested-products-sec,
.home-fresh-selection-products-sec,
.home-bestseller-products-sec,
.home-best-picked-products-sec,
.home-just-arrived-products-sec,
.home-recommended-products-for-you-sec,
.home-recommended-products-slider-wrap {
  @media (max-width: 767px) {
    .swiper-slide {
      flex: 0 0 167px;
      max-width: 167px;
    }

    .swiper-button-prev, .swiper-button-next {
      display: none;
    }

    /*.swiper-pagination {
      display: block !important;
    }*/

    .shaded-box {
      padding: 25px 20px;
      border-radius: 0;
    }
  }
}

.home-recommended-products-slider-wrap {
  .sec-title-wrap{
    width: 100%;
  }
  .product-listing-carousel {
    .swiper-container {
      padding-right: 1px;
    }
  }
  .loader-ajax-slider{
    min-height: 368px;
  }
}
div.product-listing-carousel-wrap {
  border-radius: 0;
}
.featured-items-sec {
  .sec-title-wrap{
    width: 100%;
  }
  .shaded-box {
    padding-left: 42px;
    padding-right: 42px;

    @media (max-width: 767px) {
      padding: 30px 45px;
    }
  }
  .title-sec {
    margin-bottom: 44px;

    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }
  // .product {
  //   .btn-outlined,
  //   .btn-full,
  //   .product__icons,
  //   .product-tile-title {
  //     display: none;
  //   }
  // }
  .product-listing-carousel-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;

    .product-listing-carousel {
      flex-grow: 1;

      & > .relative {
        display: flex;
        flex-direction: column;
        height: 100%;

        .swiper-slider-wrap {
          flex-grow: 1;
        }
      }
      .swiper-wrapper{
        align-items: center;
      }
      .swiper-container,
      .swiper-wrapper,
      .swiper-slide,
      .product,
      .product-link,
      // .product-cover,
      .product-image {
        height: 100% !important;
      }

      .swiper-slide {
        .product-image {
          @media (max-width: 767px) {
            min-height: 250px;
          }
        }
      }
    }
  }
  .loader-ajax-slider{
    min-height: 368px;
  }
  .product-cover{
    height: 85%;
  }
  .list-view-product-info{
    .product-tile-info{
      display: none;
    }
    .product-tile-actions{
      .product-tile-price,
      .sample-btn{
        display: none;
      }
    }
  }
  @media (max-width: 767px) {
    margin-top: 20px;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}
.home-just-arrived-products-sec,
.home-best-picked-products-sec,
.home-bestseller-products-sec,
.home-suggested-products-sec,
.home-fresh-selection-products-sec,
.home-suggested-products-sec,
.home-recently-viewed-products-sec{
  .loader-ajax-slider{
    min-height: 374px;
  }
}
.home-category {
  margin-top: -190px;
  z-index: 1;
  .cms-content > div {
    display: flex;
    flex-wrap: wrap;
    .category-item {
      flex: 0 0 25%;
      max-width: 25%;
      background: $white;
      .category-image {
        position: relative;
        padding-top: 58%;
        overflow: hidden;
        img {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          transform: scale(1);
          transition: 0.3s;
        }
      }
      b {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #333435;
        font-weight: 600;
        font-size: 14px;
        position: relative;
        transition: 0.3s;
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          font-size: 13px;
          height: 45px;
        }
        &::before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
          top: 100%;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 15px 16px 0 16px;
          border-color: #fff transparent;
          z-index: 1;
        }
      }
      &:hover {
        b {
          color: $color-secondary;
        }
        .category-image img {
          transform: scale(1.1);
        }
      }
    }
  }
  @media only screen and (min-width: 1300px) and (max-width: 1400px) {
    margin-top: -12%;
    .container {
      max-width: 90.7%;
    }
  }
  @media only screen and (min-width: 1200px) and (max-width: 1299px) {
    margin-top: -12%;
    .container {
      max-width: 91%;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: -14%;
    .container {
      padding: 0 5.7%;
    }
  }
  @media (max-width: 767px) {
    margin-top: 0;
    > .relative {
      margin-bottom: 20px;
    }
    .container {
      padding: 0;
    }
    .cms-content > div {
      display: block;
      .category-item {
        max-width: 100%;
        margin-bottom: 20px;
        box-shadow: 0 4px 4px rgba(0,0,0,0.20), 0 -4px 4px rgba(0,0,0,0.05);
      }
    }
  }
}
</style>