<template>
    <div class="login-page container">
      <div v-if="hasRedirect" class="pt10 pb10 px65 redirect-error">
        <p class="h5 mb0 mt0">
          {{ $t('You need to be logged in to see this page') }}
        </p>
      </div>
      <div class="login-form-wrap">
        <form class="login-form" @submit.prevent="login" novalidate>
          <base-input
            class="mb10 email-input"
            type="email"
            name="email"
            v-model="email"
            @blur="$v.email.$touch()"
            :placeholder="$t('E-mail address *')"
            :validations="[
              {
                condition: !$v.email.required && $v.email.$error,
                text: $t('Field is required.')
              },
              {
                condition: !$v.email.email && $v.email.$error,
                text: $t('Please provide valid e-mail address.')
              }
            ]"
          />
          <base-input
            class="mb10 password-input"
            type="password"
            name="password"
            v-model="password"
            @blur="$v.password.$touch()"
            :placeholder="$t('Password *')"
            :validations="[
              {
                condition: !$v.password.required && $v.password.$error,
                text: $t('Field is required.')
              }
            ]"
          />
          <div class="mb30 flex">
            <a class="start-sm  middle-xs" href="#" @click.prevent="createAccount">
              {{ $t('Create a New Account') }}
            </a>
            <a class="end-sm middle-xs" href="#" @click.prevent="remindPassword">
              {{ $t('Forgot the password?') }}
            </a>
          </div>
          <button-full class="mb20" type="submit" data-testid="loginSubmit">
            {{ $t('Log in to your account') }}
          </button-full>
          <div class="center-xs">
            {{ $t('Login with another account') }}
            <social-signup />
          </div>
        </form>
      </div>
    </div>
  </template>
  
  <script>
  import Login from '@vue-storefront/core/compatibility/components/blocks/Auth/Login';
  
  import ButtonFull from 'theme/components/theme/ButtonFull.vue';
  import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox.vue';
  import BaseInput from 'theme/components/core/blocks/Form/BaseInput.vue';
  import { required, email } from 'vuelidate/lib/validators';
  import SocialSignup from 'src/modules/aureatelabs/social-auth/components/SocialSignup';
  import { mapState } from 'vuex'
  import i18n from '@vue-storefront/i18n';
  
  export default {
    mixins: [Login],
    validations: {
      email: {
        required,
        email
      },
      password: {
        required
      }
    },
    data () {
      return {
        hasRedirect: typeof window !== 'undefined' ? localStorage.getItem('redirect') : null
      };
    },
    computed: {
      ...mapState({
        currentUser: state => state.user.current
      })
    },
    methods: {
      close (e) {
        if (e) localStorage.removeItem('redirect');
        this.$bus.$emit('modal-hide', 'modal-signup');
      },
      login () {
        if (this.$v.$invalid) {
          this.$v.$touch();
          return;
        }
        this.callLogin();
      },
      createAccount() {
        this.$router.push({name:'register'})
      },
      remindPassword () {
        if (!(typeof navigator !== 'undefined' && navigator.onLine)) {
          this.$store.dispatch('notification/spawnNotification', {
            type: 'error',
            message: i18n.t(
              'Reset password feature does not work while offline!'
            )
          });
        } else {
          this.callForgotPassword();
        }
      },
      async onSuccess () {
        this.$bus.$emit('reset-wishlist-count', false)
        await this.$store.dispatch('customWishlist/list', this.currentUser.id)
        if (localStorage.getItem('isAuthCheckout')) {
          localStorage.removeItem('isAuthCheckout')
          this.$router.push({ name: 'checkout' })
        } else{ 
            this.$router.push({ name: 'my-account' })
        }
        this.$store.dispatch('notification/spawnNotification', {
          type: 'success',
          message: i18n.t('You are logged in!')
        });

      },
      onFailure (result) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'error',
          message: i18n.t(result.result)
        });
      }
    },
    components: {
      ButtonFull,
      BaseInput,
      SocialSignup
    }
  };
  </script>
  
  <style lang='scss' scoped>
  @import '~theme/css/variables/colors';
  @import '~theme/css/helpers/functions/color';
  $color-error: color(error);
  $white: color(white);
  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .modal-content {
    @media (max-width: 400px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .redirect-error {
    background-color: $color-error;
    color: $white;
  }
  .login-page {
    max-width: 575px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  </style>
  <style lang='scss'>
  @import '~theme/css/variables/colors';
  @import '~theme/css/helpers/functions/color';
  $gray-D8D8D8: color(gray-D8D8D8);
  $blue-1895F5: color(blue-1895F5);
  $gray-333435: color(gray-333435);
  $white: color(white);
  .login-page {
    
    input.py15,
    input.mx-input,
    select.empty {
      background: $white;
      border-bottom: 1px solid #e5e5e5;
      box-sizing: border-box;
      border-radius: 0;
      height: 50px !important;
      line-height: 50px !important;
      padding: 10px 30px 10px 0;
      font-size: 16px;
    }
    select.empty {
      padding-top: 7px;
      appearance: none;
      line-height: 32px !important;
    }
    input[type="email"],
    input[type="password"] {
      padding: 10px 30px 10px 10px !important;
    }
    input[type="email"]:focus,
    input[type="password"]:focus{
      border-bottom-color: #1895F5;
    }
    label {
      left: 0;
      top: 27px;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: rgba(102, 102, 102, 0.5);
    }
    .password-input button {
      display: none;
    }
    .password-input,
    .password-email {
      position: relative;
    }
    .email-input .relative::after {
      right: 0;
      top: 15px;
      background: url("~src/themes/phoenixnext/assets/user-icon.png");
      content: "";
      display: inline-block;
      height: 21px;
      width: 21px;
      position: absolute;
    }
    .password-input .relative::after {
      right: 0;
      top: 15px;
      background: url("~src/themes/phoenixnext/assets/lock-icon.png");
      content: "";
      display: inline-block;
      height: 20px;
      position: absolute;
      width: 16px;
    }
    .select-wrapper::after {
      top: 20px;
      right: 15px;
    }
    .mx-icon-calendar, .mx-icon-clear {
      right: 0;
    }
    .login-form-wrap{
      border-radius: 8px;
    }
  }
  </style>
  