<template>
  <div class="mb35">
    <div class="account-block shaded-box">
      <div class="row mb30">
        <div class="col-xs-12 profile-title">
          <h3 class="m0 mb5">
            {{ $t('My Reward Points') }}
          </h3>
          <p class="f-s-15 cl-gray-666666">
            {{ $t('รายการแสดง Phoenix points ที่ได้รับและใช้ไป') }}
          </p>
        </div>
      </div>
      <div class="order-table brdr-1 brdr-cl-gray-D8D8D8">
        <div class="table-responsive" v-if="rewardData.length > 0">
          <table>
            <thead>
              <tr>
                <th>{{ $t('Transaction#') }}</th>
                <th>{{ $t('Balance Change') }}</th>
                <th>{{ $t('Detail') }}</th>
                <th>{{ $t('Created') }}</th>
                <th>{{ $t('Updated') }}</th>
              </tr>
            </thead>
            <tbody>
              <tr class="brdr-top-1 brdr-cl-gray-D8D8D8" v-for="reward in rewardData" :key="reward.transaction_id">
                <td>
                  <label class="visible-xs">{{ $t('Transaction#') }}</label>
                  <span class="label-data">{{ reward.transaction_id }}</span>
                </td>
                <td>
                  <label class="visible-xs">{{ $t('Balance Change') }}</label>
                  <span class="label-data">{{ reward.amount }}</span>
                </td>
                <td>
                  <label class="visible-xs">{{ $t('Detail') }}</label>
                  <span class="label-data">{{ reward.comment }}</span>
                </td>
                <td>
                  <label class="visible-xs">{{ $t('Created') }}</label>
                  <span class="label-data">{{ reward.created_at | date(null, storeView) }}</span>
                </td>
                <td>
                  <label class="visible-xs">{{ $t('Updated') }}</label>
                  <span class="label-data" v-if="reward.expires_at && reward.expires_at !== null">{{ reward.expires_at | date(null, storeView) }}</span>
                  <span class="label-data" v-else> - </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-xs-12 h4" v-if="rewardData.length == 0">
          <p class="mt20">
            {{ $t('No records found') }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import { mapState } from 'vuex'
import i18n from '@vue-storefront/i18n'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'

export default {
  computed: {
    ...mapState({
      rewards: state => state.rewardPoints.rewardPoints.result
    }),
    rewardPointsData () {
      return this.rewards
    },
    rewardData () {
      const points = this.rewardPointsData || [];
      return points.length > 0 ? points.reverse() : []
    },
    storeView () {
      return currentStoreView()
    }
  },
  async created  () {
    await this.$store.dispatch('rewardPoints/list');
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/base/global_vars';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-icon-hover: color(secondary, $colors-background);
$color-secondary: color(secondary);
$white: color(white);
$gray-A3A3A3: color(gray-A3A3A3);
@media (max-width:991px) {
.order-table {
      table {
          display: block;
          padding: 20px;
          .visible-xs {
            display: block;
          }
          thead {
              display: none;
          }
          tbody {
              display: block;
              tr {
                  border-top: solid 1px #333435;
                  display: block;
                  padding-bottom: 20px;
                  &:last-child {
                      padding-bottom: 0;
                  }
                  &:first-child {
                      border-top: 0 none;
                      td {
                          padding: 0;
                          & + td {
                              padding-top: 20px;
                          }
                      }
                  }
                  td {
                      display: flex;
                      flex-wrap: wrap;
                      align-items: center;
                      padding: 20px 0 0;
                      font-size: 13px;
                      text-align: left;
                      label {
                          flex: 0 0 50%;
                          max-width: 50%;
                          font-weight: 600;
                          padding-right: 20px;
                      }
                      .label-data {
                        flex: 0 0 50%;
                        max-width: 50%;
                      }
                      .dropdown {
                          padding: 0;
                          margin: 0;
                          width: 100%;
                          &:hover {
                              .dropdown-content {
                                  display: flex;
                              }
                          }
                          & > i {
                              display: none;
                          }
                          .dropdown-content {
                              position: static;
                              box-shadow: none;
                              width: auto;
                              display: flex;
                              flex-wrap: wrap;
                              align-items: center;
                              a {
                                  font-weight: 600;
                                  border-radius: 4px;
                                  background-color: $color-secondary;
                                  color: $white;
                                  padding: 13px 27px;
                                  margin: 2px 0;
                                  & + a {
                                      margin-left: 20px;
                                      @media (max-width: 420px) {
                                          margin-left: 5px;
                                      }
                                  }
                                  &:last-child {
                                      background-color: $gray-A3A3A3;
                                  }
                                  &:hover {
                                      opacity: 0.6;
                                  }
                                  @media (max-width: 420px) {
                                      padding: 13px 7px;
                                  }
                              }
                          }
                      }
                  }
              }
          }
      }
  }
}
</style>
