<template>
  <div id="checkout">
    <div class="container">
      <div class="row relative">
        <div class="col-xl-8 col-lg-7 col-xs-12 order-steps-wrap relative">
          <div class="loader-ajax-slider" v-if="isCartSyncing">
            <div class="site-ajax-loader" />
          </div>
          <div class="shaded-box checkout-details" :style="isCartSyncing ? 'opacity:0.6;': null ">
             <new-shipping :is-active="activatedSection === 'shipping'"/>
             <new-payment :is-active="activatedSection === 'payment'"/>
          </div>
        </div>
        <div class="visible-lg col-xs-12 col-lg-5 col-xl-4 bg-cl-white order-summary-wrap">
          <cart-summary />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex';
import NewShipping from 'theme/components/theme/NewCheckout/Shipping.vue'
import NewPayment from 'theme/components/theme/NewCheckout/Payment.vue'
import { registerModule } from '@vue-storefront/core/lib/modules'
import { OrderModule } from '@vue-storefront/core/modules/order'
import CartSummary from 'theme/components/core/blocks/Checkout/CartSummary'
import EventBus from '@vue-storefront/core/compatibility/plugins/event-bus'
import i18n from '@vue-storefront/i18n'

export default {
    name: 'PheonixCheckout',
    components: {
      NewShipping,
      NewPayment,
      CartSummary
    },
    data () {
      return {
        activatedSection: 'shipping',
        product: [],
        confirmation: null, // order confirmation from server
      }
    },
    computed: {
      ...mapGetters({
        isVirtualCart: 'cart/isVirtualCart'
      }),
      shippingDetails () {
        return this.$store.state.checkout.shippingDetails
      },
      paymentDetails () {
        return this.$store.state.checkout.paymentDetails
      },
      lastOrderConfirmation () {
        return this.$store.state.order.last_order_confirmation ? this.$store.state.order.last_order_confirmation.confirmation : {}
      },
      isCartSyncing () {
        return this.$store.state.ui.isCartSyncProgress || false
      }
    },
    beforeCreate () {
      registerModule(OrderModule)
    },
    created() {
      this.onCartAfterUpdate()
    },
    async beforeMount() {
      await this.$store.dispatch('checkout/load')
      this.$bus.$emit('checkout-after-load')
      this.$store.dispatch('checkout/setModifiedAt', Date.now())
      this.$bus.$on('cart-after-update', this.onCartAfterUpdate)
      this.$bus.$on('cart-after-delete', this.onCartAfterUpdate)
      this.$bus.$on('checkout-place-order', this.onDoPlaceOrder)
      this.$bus.$on('order-after-placed', this.onAfterPlaceOrder)
    },
    methods: {
      onCartAfterUpdate () {
        if (this.$store.state.cart.cartItems.length === 0) {
          this.notifyEmptyCart()
          this.$router.push(this.localizedRoute('/'))
        }
      },
      changeSection (section) {
          this.activatedSection = section
      },
      notifyEmptyCart () {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'warning',
          message: this.$t('Shopping cart is empty. Please add some products before entering Checkout')
        })
      },
      notifyNoConnection () {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'warning',
          message: this.$t('There is no Internet connection. You can still place your order. We will notify you if any of ordered products is not available because we cannot check it right now.')
        })
      },
      onDoPlaceOrder () {
        if(typeof navigator !== 'undefined' && navigator.onLine) {
          this.$store.dispatch('checkout/placeOrder', { order: this.prepareOrder() })
        } else {
          this.notifyNoConnection()
        }
      },
      async onAfterPlaceOrder (payload) {
        EventBus.$emit('notification-progress-start', i18n.t('Processing order...'))
        this.confirmation = payload.confirmation
        this.$store.dispatch('cart/clear', { sync: false }, { root: true })
        await this.$store.dispatch('user/getOrdersHistory', { refresh: true, useCache: true })
        switch (this.paymentDetails.paymentMethod) {
          case 'promptpay':
            setTimeout(() =>  {
              this.$store.dispatch('p2c2pPayment/processPPPayment', {
                orderRef: this.confirmation.orderNumber
              })
            }, 3000)
            break;
          case 'p2c2ppayment':
            setTimeout(() =>  {
              this.paymentDetails.orderRef = this.confirmation.orderNumber;
              this.paymentDetails.cardholdername = this.paymentDetails.firstName + this.paymentDetails.lastName;
              this.$store.dispatch('p2c2pPayment/processPayment', this.paymentDetails)
              this.$store.dispatch('p2c2pPayment/processPaymentRedirect', this.paymentDetails)
            }, 3000)
            break;
          case 'p123payment':
            this.$store.dispatch('p2c2pPayment/processQRPayment', {
              orderRef: this.confirmation.orderNumber
            })
            break;
          default:
            break;
        }
      },
      prepareOrder () {
        const shipping = this.shippingDetails
        const payment = this.paymentDetails
        let order = {
          user_id: this.$store.state.user.current ? this.$store.state.user.current.id.toString() : '',
          cart_id: this.$store.state.cart.cartServerToken ? this.$store.state.cart.cartServerToken.toString() : '',
          products: this.$store.state.cart.cartItems,
          addressInformation: {
            billingAddress: {
              region: payment.state,
              region_id: payment.region_id ? this.payment.region_id : 0,
              country_id: payment.country,
              street: [payment.streetAddress, payment.apartmentNumber],
              company: '',
              telephone: payment.phoneNumber,
              postcode: payment.zipCode,
              city: payment.city,
              firstname: payment.firstName,
              lastname: payment.lastName,
              email: this.$store.state.user.current.email,
              region_code: payment.region_code ? payment.region_code : '',
              vat_id: this.payment?.taxId || ''
            },
            shipping_method_code: shipping.shippingMethod,
            shipping_carrier_code: shipping.shippingCarrier,
            payment_method_code: payment.paymentMethod,
            payment_method_additional: payment.paymentMethodAdditional,
            shippingExtraFields: shipping?.extraFields || {}
          }
        }
        if (!this.isVirtualCart) {
          order.addressInformation.shippingAddress = {
            region: shipping.state,
            region_id: shipping.region_id ? shipping.region_id : 0,
            country_id: shipping.country,
            street: [shipping.streetAddress, shipping.apartmentNumber],
            company: '',
            telephone: shipping.phoneNumber,
            postcode: shipping.zipCode,
            city: shipping.city,
            firstname: shipping.firstName,
            lastname: shipping.lastName,
            email: this.$store.state.user.current.email,
            region_code: shipping.region_code ? shipping.region_code : ''
          }
        }
        return order
      }
    },
    beforeDestroy () {
      this.$bus.$off('checkout-place-order', this.onDoPlaceOrder)
      this.$bus.$off('cart-after-update', this.onCartAfterUpdate)
      this.$bus.$off('cart-after-delete', this.onCartAfterUpdate)
    },
    asyncData ({ context }) { // this is for SSR purposes to prefetch data
      return new Promise((resolve, reject) => {
        if (context) context.output.cacheTags.add(`checkout`)
        if (context) context.server.response.redirect('/')
        resolve()
      })
  }
}
</script>
<style lang="scss">
  @import '~theme/css/base/text';
  @import '~theme/css/variables/colors';
  @import '~theme/css/helpers/functions/color';
  $bg-secondary: color(secondary, $colors-background);
  $color-tertiary: color(tertiary);
  $color-primary: color(primary);
  $color-secondary: color(secondary);
  $color-error: color(error);
  $color-white: color(white);
  $color-black: color(black);
  $blue-1895F5: color(blue-1895F5);
  $gray-A3A3A3: color(gray-A3A3A3);
  $gray-666666: color(gray-666666);
  $gray-333435: color(gray-333435);
  $gray-D8D8D8: color(gray-D8D8D8);
  $white-smoke: color(white-smoke);
  #checkout {
    .payment{
      .mb40{
        .weight-600{
          font-weight: 500;
        }
      }
    }
    position: relative;
    .number-circle {
      width: 35px;
      height: 35px;
      font-size: 16px;
      font-weight: 700;
      color: $color-white;
      background-color: $gray-A3A3A3;
      text-align: center;
      line-height: 35px;
      border-radius: 50%;
      position: relative;
      z-index: 1;

      @media (max-width: 767px) {
        width: 26px;
        height: 26px;
        line-height: 26px;
        font-size: 12px;
      }
    }
    .circle_active{
      .order-tab-title{
        color: $color-secondary;
      }
      .number-circle {
        background-color: $color-secondary;
      }
    }
    .minusplusnumber{
      @media (max-width: 767px) {
        .mpbtn{
          display: none;
        }
      }
    }
    .radioStyled {
      display: block;
      position: relative;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 16px;
      line-height: 30px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }

      .checkmark {
        position: relative;
        padding-left: 26px;
      }

      input:checked ~ .checkmark:after {
        display: block;
      }
    }

    .payment-method-list {
      padding-left: 0;
      max-width:450px;
      margin-bottom: 15px;

      &.filled {
        padding-left: 0;
        margin-bottom: 0;

        .payment-method-item {
          label {
            &:after {
              display: none;
            }
          }
          .radioStyled {
            position: relative;
            .checkmark {
              padding: 0 0 0 26px;
              border: 0 none;
              background-color: transparent;
              color: $gray-666666;
              font-weight: 500;
            }

            input[checked] ~ .checkmark,
            input:checked ~ .checkmark {
              background-color: transparent;
              font-weight: 500;
            }
          }
        }
      }

      .payment-method-item {
        margin-bottom:15px;
        position: relative;
        label {
          &:after {
            content: 'image';
            font-family: 'Material Icons';
            position: absolute;
            right: 10px;
            top: 4px;
            line-height: 42px;
            color: $gray-666666;
            font-size: 20px;
          }
          &.cashondelivery:after {
            content: '';
            background-image: url(~theme/assets/money.svg);
            width: 21px;
            height: 20px;
            background-repeat: no-repeat;
            top: 11px;
          }
          &.p123payment:after {
            content: '\E3B4';
          }
          &.p2c2ppayment:after {
            content: 'credit_card';
          }
        }
        .radioStyled {
          margin-bottom: 0;
          line-height: 1;

          .checkmark {
            font-size: 14px;
            font-weight: 500;
            color: $gray-666666;
            border: 1px solid $gray-D8D8D8;
            border-radius: 4px;
            background-color: $white-smoke;
            padding: 13px 40px 13px 15px;
            display: block;
            line-height: 1.6;
            span{
              border: 1px solid #A3A3A3;
              line-height: 0;
              width: 16px;
              height: 16px;
              border-radius: 100%;
              display: inline-block;
              vertical-align: middle;
              padding: 1px;
              margin-right: 5px;
            }
          }

          input[checked] ~ .checkmark,
          input:checked ~ .checkmark {
            color: $color-primary;
            border-color: $color-secondary;
            background-color: rgba($color-secondary, 0.05);
            font-weight: 600;
            span{
              border: solid 1px $color-secondary;
              strong{
                background: $color-secondary;
                width: 12px;
                height: 12px;
                display: block;
                border-radius: 100%;
                line-height: 0;
              }
            }
          }
        }
      }
    }

    .box-radio {
      .radioStyled {
        padding: 0;
        margin-bottom: 0;

        .shipping-item-price {
          font-size: 14px;
          font-weight: 700;
          display: block;
          line-height: 17px;
          color: $gray-333435;
        }

        .checkmark {
          padding: 9px 16px;
          font-size: 13px;
          font-weight: 400;
          color: $gray-666666;
          border: 1px solid $gray-A3A3A3;
          border-radius: 4px;
          background-color: rgba($gray-A3A3A3, 0.05);
          text-align: center;
          line-height: 1.5;
          position: static;
          width: auto;
          height: auto;
          display: block;

          &::before,
          &::after {
            display: none;
          }
        }

        input[checked] ~ .checkmark,
        input:checked ~ .checkmark {
          color: $color-secondary;
          border-color: $color-secondary;
          background-color: rgba($color-secondary, 0.05);

          &::before,
          &::after {
            display: none;
          }

          .shipping-item-price {
            color: $color-secondary;
          }
        }
      }
    }

    .shipping-address-list {
      .shipping-address-item {
        .shipping-summary {
          cursor: pointer;
        }
        .address-box {
            padding: 0;
            min-height: auto;
            border: 0;
        }
        .checkmark {
          text-align: left;
          font-weight: 500;
          color: $gray-666666;
        }

        input[checked] ~ .checkmark,
        input:checked ~ .checkmark {
          color: $color-primary;
          font-weight: 600;
        }
      }
    }

    .filled-info {
      margin-top: 15px;
      font-size: 14px;
      font-weight: 600;
      color: $color-primary;

      @media (max-width: 767px) {
        font-size: 13px;
        p {
          margin-bottom: 0;
        }
      }
    }

    .order-tab-title {
      color: $gray-A3A3A3;
      line-height: 35px;
      min-height: 35px;
      margin: 0;
      font-size: 16px;
      font-weight: 700;

      @media (max-width: 767px) {
        line-height: 26px;
        min-height: 26px;
        font-size: 14px;
      }
    }

    .active {
      .number-circle {
        background-color: $blue-1895F5;
      }

      .order-tab-title {
        color: $blue-1895F5;
      }
    }

    .order-tab-wrap {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 17px;
        width: 1px;
        height: 100%;
        background-color: $gray-D8D8D8;

        @media (max-width: 767px) {
          display: none;
        }
      }
    }

    .select-wrapper,
    .base-input {
      @media (max-width: 767px) {
        margin-bottom: 5px;
      }
    }
    .payment-details {
      input {
        border: 1px solid $gray-D8D8D8;
        border-radius: 2px;
        height: 40px;
        font-size: 12px;
        color: $gray-666666;
        padding: 0 12px;
        line-height: normal;
        width: 100%;
        margin-bottom: 10px;
        @media (max-width: 767px) {
          padding: 0 8px;
        }
      }
      .card-date {
        display: flex;
        input {
          &:nth-child(2) {
            margin: 0 10px;
          }
        }
      }
    }
  }

  .line {
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 37px;
      z-index: -1;
      width: 1px;
      height: 100%;
      background-color: $bg-secondary;

      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  .checkout-title {
    @media (max-width: 767px) {
      background-color: $bg-secondary;
      margin-bottom: 25px;

      h1 {
        font-size: 36px;
      }
    }
  }

  .checkout-details {
    padding: 40px;
    margin: 0 50px 40px 0;

    @media (max-width: 1199px) {
      margin-right: 0;
    }

    @media (max-width: 991px) {
      margin: 16px 0;
      padding: 20px;
    }

    @media (max-width: 767px) {
      & > .active {
        padding-bottom: 0;
      }
    }
  }

  .order-summary-wrap {
    box-shadow: 0 0 20px rgba($color-black, 0.08);
    position: absolute;
    right: calc(-50vw + 50% + 8px);
    top: 0;
    min-height: 100%;
    padding: 40px 30px;
    height: calc(100vh - 129px);
    .checkout-order-summary{
      overflow-x: hidden;
      overflow-y: auto;
      border-radius: 6px;
      border: 1px solid $gray-D8D8D8;
      width:100%;
    }
    // @media (min-width: 1925px) {
    //   right: calc(-100vw / 2 + 1270px / 2);
    // }

    @media (min-width: 1920px) and (max-width: 1924px) {
      flex-basis: 50.4%;
      max-width: 50.4%;
      width: 50.4%;
    }

    @media (min-width: 1671px) and (max-width: 1919px) {
      flex-basis: 40.4%;
      max-width: 40.4%;
      width: 40.4%;
    }

    @media (min-width: 1271px) and (max-width: 1670px) {
      flex-basis: 35.4%;
      max-width: 35.4%;
      width: 35.4%;
    }

    @media (max-width: 1270px) {
      padding: 40px 20px;
      height: calc(100vh - 71px);
    }

    @media (max-width: 991px) {
      background-color: transparent;
      box-shadow: none;
      position: static;
      padding: 0 15px;
      height: auto;
      margin-bottom: 20px;
      .order-summary {
        background-color: #fff;
        box-shadow: 0 0 20px rgba($color-black, 0.08);
        border: 0px;
      }
    }
  }

  .order-steps-wrap {
    @media (min-width: 2561px) {
      flex-basis: 100%;
      max-width: 100%;

      .checkout-details {
        margin-right: 0;
      }
    }

    @media (min-width: 1271px) and (max-width: 1670px) {
      flex-basis: 65%;
      max-width: 65%;
    }
  }

  .edit-btn {
    font-size: 14px;
    font-weight: 600;
    color: $gray-666666;

    .material-icons {
      font-size: 22px;

      @media (max-width: 767px) {
        font-size: 15px;
      }
    }

    @media (max-width: 767px) {
      font-size: 11px;
    }
  }

  .button-container-wrap {
    @media (max-width: 767px) {
      margin-top: 10px;
    }

    @media (max-width: 575px) {
      flex-direction: column;
      align-items: stretch;

      .button-container {
        margin-bottom: 15px;

        button {
          width: 100%;
        }
      }

      .login-link {
        text-align: center;
        margin-left: 0;
      }
    }
  }

  .number-circle-wrap {
    @media (max-width: 767px) {
      padding-right: 0;
    }
  }
  .payment{
    &::after{
      display: none;
    }
  }
  .order-again-msg{
    background: rgba(245, 190, 119, 0.06);
    border: 1px solid #F5BE77;
    border-radius: 4px;
    padding: 20px;
    color: #F5BE77;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 20px;
    max-width: 450px;
  }

.site-ajax-loader {
  display: inline-block;
  width: 40px;
  height: 40px;
}
#checkout .loader-ajax-slider {
  z-index: 1111;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  min-height: 350px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.site-ajax-loader:after {
  content: " ";
  display: block;
  width: 40px;
  height: 40px;
  margin: 8px;
  border-radius: 50%;
  border: 4px solid #1895f5;
  border-color: #1895f5 transparent #1895f5 transparent;
  animation: site-ajax-loader 1.2s linear infinite;
}
@keyframes site-ajax-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>

