<template>
  <div id="page_not_found">
    <section>
      <div class="container">
        <div class="row center-xs">
          <div class="col-xs-12 col-lg-10">
            <div class="shaded-box page_not_found_container">
              <h2 class="page_not_found_title">
                404
              </h2>
              <div class="page_not_found_detail">
                <h3 class="page_not_found_txt">
                  {{ $t("Sorry, the Content you’re looking for doesn’t exist.") }} <br>
                  {{ $t("Either it was removed, or you mistyped the link.") }}
                </h3>
                <p>
                  <router-link :to="localizedRoute('/')" class="btn-fill btn-secondary inline-flex">
                    {{ $t('Go To Homepage') }}
                  </router-link>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { Logger } from '@vue-storefront/core/lib/logger'
import i18n from '@vue-storefront/i18n'

export default {
  name: 'PageNotFound',
  computed: {
    ...mapGetters({
      ourBestsellersCollection: 'homepage/getBestsellers'
    })
  },
  async asyncData ({ store, route, context }) {
    Logger.log('Entering asyncData for PageNotFound ' + new Date())()
    if (context) {
      context.output.cacheTags.add(`page-not-found`)
      context.server.response.statusCode = 404
    }

    await store.dispatch('homepage/loadBestsellers')
  },
  metaInfo () {
    return {
      title: this.$route.meta.title || i18n.t('404 Page Not Found'),
      meta: this.$route.meta.description ? [{ vmid: 'description', name: 'description', content: this.$route.meta.description }] : []
    }
  },
  methods: {
    toggleSearchpanel () {
      this.$store.commit('ui/setSearchpanel', true)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-666666: color(gray-666666);

.page_not_found_container {
  margin-top: 40px;
  margin-bottom: 80px;
  padding: 8% 20%;

  @media (max-width: 1199px) {
    padding: 8% 10%;
  }

  @media (max-width: 767px) {
    padding: 40px 20px;
  }
}
.page_not_found_title {
  font-size: 40px;
  margin-bottom: 30px;

  @media (max-width: 767px) {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
.page_not_found_txt {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  color: $gray-666666;
  margin-bottom: 50px;

  @media (max-width: 767px) {
    font-size: 12px;
    margin-bottom: 30px;
  }
}
</style>
