<template>
  <div id="product" itemscope itemtype="http://schema.org/Product">
    <div class="nosto_page_type" style="display:none">
      product
    </div>
    <div class="nosto_product" style="display:none">
      <span class="product_id">{{ getCurrentProduct.sku }}</span>
      <span class="name">{{ getCurrentProduct.name | htmlDecode }}</span>
      <span class="url">{{ currentUrl }}</span>
      <span class="image_url">{{ getOfflineImage.src }}</span>
      <span class="availability">{{ structuredData.availability }}</span>
      <span class="price" v-if="getCurrentProduct.special_price">{{ getCurrentProduct.special_price }}</span>
      <span class="price" v-if="!getCurrentProduct.special_price">{{ getCurrentProduct.regular_price }}</span>
      <span class="list_price">{{ getCurrentProduct.regular_price }}</span>
      <span class="price_currency_code">THB</span>
      <span class="description" v-if="getCurrentProduct.description">{{ getCurrentProduct.description | htmlDecode }}</span>
      <span class="rating_value">{{ getRatings }}</span>
      <span class="review_count">{{ noOfReviews }}</span>
      <span class="brand" v-if="getBrandname">{{ getBrandname }}</span>
      <span class="alternate_image_url" v-for="(image, index) in getCurrentProductMediaGallery" :key="index">{{ getTheImagePath(image.image) | htmlDecode }}</span>
      <product-category-path />
      <span class="custom_fields">
        <span class="author" v-if="getAuthorname">{{ getAuthorname }}</span>
        <span class="release_date" v-if="getCurrentProduct.created_at">{{ getCurrentProduct.created_at | date('DD-MM-YYYY') }}</span>
      </span>
    </div>
    <section class="px20 product-top-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <breadcrumbs
              class="py25 hidden-xs"
            />
          </div>
        </div>
        <section class="row between-xs">
          <div class="col-xs-12 col-md-6  middle-xs image">
            <div class="data product-data-sm">
              <h1
                class="mb10 mt0 f-s-22 weight-600 cl-gray-333435 product-name"
                data-testid="productName"
                itemprop="name"
              >
              {{ getCurrentProduct.name | htmlDecode }}
              </h1>
              <div class="f-s-14 cl-gray-666666 author-data" v-if="getAuthorname">
                {{ $t('Author Name:') }}
                <a href="#">{{ getAuthorname }}</a>
                <span class="px5">|</span>
              </div>
              <div class="f-s-14 cl-gray-666666 author-data">
                {{ $t('Release date') }} {{ getCurrentProduct.created_at | date('DD-MM-YYYY') }}
              </div>
              <div class="product-review middle-xs pt15 pb20">
                <div class="star-row">
                  <span v-for="index in 5" :key="index" class="star" :class="(index <= getRatings) ? 'checked': ''" />
                </div>
                <span class="cl-gray-666666 f-s-14">{{ noOfReviews }} {{ $t("Reviews") }}</span>
              </div>
            </div>
            <product-thumb-gallery
              :gallery="getProductGallery"
              :product-name="getCurrentProduct.name"
              :product="getCurrentProduct"
              :product-alt="getCurrentProduct.image_label"
              @loaded="carouselLoaded = true"
            />
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="p30 data bg-cl-white brdr-1 brdr-cl-gray-EEEEEE ">
              <div class="product-data-lg">
                <h2
                  class="mb10 mt0 f-s-22 weight-600 cl-gray-333435 product-name"
                  data-testid="productName"
                  itemprop="name"
                >
                  {{ getCurrentProduct.name | htmlDecode }}
                </h2>
                <div class="f-s-14 cl-gray-666666 author-data" v-if="getAuthorname">
                  {{ $t('Author Name:') }}
                  <a href="#">{{ getAuthorname }}</a>
                  <span class="px5">|</span>
                </div>
                <div class="f-s-14 cl-gray-666666 author-data">
                  {{ $t('Release date') }} {{ getCurrentProduct.created_at | date('DD-MM-YYYY') }}
                </div>
                <div class="product-review middle-xs pt15 pb20">
                  <div class="star-row">
                    <span v-for="index in 5" :key="index" class="star" :class="(index <= getRatings) ? 'checked': ''" />
                  </div>
                  <span class="cl-gray-666666 f-s-14">{{ noOfReviews }} {{ $t("Reviews") }}</span>
                </div>
              </div>
              <div class="description f-s-12 cl-gray-666666 weight-500" v-html="getCurrentProduct.short_description" />
              <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="product-offers">
                <meta itemprop="priceCurrency" :content="$store.state.storeView.i18n.currencyCode">
                <meta itemprop="price" :content="parseFloat(getCurrentProduct.price_incl_tax).toFixed(2)">
                <meta itemprop="availability" :content="structuredData.availability">
                <meta itemprop="url" :content="getCurrentProduct.url_path">
                <product-price
                  class="mt30 mb25"
                  v-if="getCurrentProduct.type_id !== 'grouped'"
                  :product="getCurrentProduct"
                  :custom-options="getCurrentCustomOptions"
                />
                <div class="cl-primary variants" v-if="getCurrentProduct.type_id =='configurable'">
                  <div
                    class="error"
                    v-if="getCurrentProduct.errors && Object.keys(getCurrentProduct.errors).length > 0"
                  >
                    {{ getCurrentProduct.errors | formatProductMessages }}
                  </div>
                  <div class="h5" v-for="option in getProductOptions" :key="option.id">
                    <div class="variants-label" data-testid="variantsLabel">
                      {{ option.label }}
                      <span
                        class="weight-700"
                      >{{ getOptionLabel(option) }}</span>
                    </div>
                    <div class="row top-xs m0 pt15 pb40 variants-wrapper">
                      <div v-if="option.label == 'Color'">
                        <color-selector
                          v-for="filter in getAvailableFilters[option.attribute_code]"
                          :key="filter.id"
                          :variant="filter"
                          :selected-filters="getSelectedFilters"
                          @change="changeFilter"
                        />
                      </div>
                      <div class="sizes" v-else-if="option.label == 'Size'">
                        <size-selector
                          class="mr10 mb10"
                          v-for="filter in getAvailableFilters[option.attribute_code]"
                          :key="filter.id"
                          :variant="filter"
                          :selected-filters="getSelectedFilters"
                          @change="changeFilter"
                        />
                      </div>
                      <div :class="option.attribute_code" v-else>
                        <generic-selector
                          class="mr10 mb10"
                          v-for="filter in getAvailableFilters[option.attribute_code]"
                          :key="filter.id"
                          :variant="filter"
                          :selected-filters="getSelectedFilters"
                          @change="changeFilter"
                        />
                      </div>
                      <span
                        v-if="option.label == 'Size'"
                        @click="openSizeGuide"
                        class="p0 ml30 inline-flex middle-xs no-underline h5 action size-guide pointer cl-secondary"
                      >
                        <i class="pr5 material-icons">
                          {{ $t('accessibility') }}
                        </i>
                        <span>{{ $t('Size guide') }}</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="reward-btn mb20" v-if="productRewardPoints > 0">
                <button class="brdr-1 brdr-cl-yellow-F6A500 point-btn cl-yellow-F6A500 f-s-12">
                  <svg class="mr5" width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 13.785L3.30164 10.4408C5.04917 9.18995 6.8247 8.96395 8.62824 9.76278H12.4302C13.1371 9.76278 13.7102 10.3358 13.7102 11.0428C13.7102 11.7497 13.1371 12.3227 12.4302 12.3227H9.58077V13.2388H12.9727C13.3015 13.2388 13.6142 13.0968 13.8305 12.8493L17.1652 9.03412C17.6802 8.44488 18.5693 8.36916 19.1765 8.86282C19.7664 9.34234 19.8559 10.2092 19.3763 10.7991C19.3709 10.8058 19.3654 10.8125 19.3598 10.8191L15.3362 15.5825C14.7734 16.2487 13.9455 16.6331 13.0734 16.6331H6.15819L5.05721 17.9153L0 13.785Z" fill="#F6A500" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.7741 6.40823L8.263 7.7284L8.74258 4.93224L6.71105 2.95198L9.51855 2.54403L10.7741 0L12.0297 2.54403L14.8372 2.95198L12.8056 4.93224L13.2852 7.7284L10.7741 6.40823Z" fill="#F6A500" />
                  </svg>
                  <span>
                    {{ $t('You got {msg} Phoenix points', { msg: productRewardPoints }) }}
                  </span>
                </button>
                <button class="brdr-1 brdr-cl-blue-1895F5 deliverd-btn cl-blue-1895F5 f-s-12" v-if="getCurrentProduct.next_day_delivery">
                  <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.2105 17.2095C10.611 17.4057 9.98969 17.5278 9.3605 17.5732C8.73672 17.6161 8.11007 17.586 7.49328 17.4836C6.87867 17.3815 6.27908 17.2036 5.70821 16.9541C5.42488 16.831 5.14904 16.6913 4.88216 16.5358L4.68572 16.4141L4.58713 16.3536L4.49228 16.2886L4.30182 16.1579C4.23908 16.1131 4.17859 16.0653 4.11734 16.0197C3.87359 15.8343 3.64091 15.6348 3.4205 15.4222C3.31444 15.3117 3.20166 15.2078 3.10232 15.0913L2.95294 14.921L2.80805 14.744C2.42511 14.2712 2.10154 13.7532 1.84456 13.2017C1.7766 13.0665 1.72357 12.9246 1.66456 12.7857C1.60556 12.6468 1.55925 12.5026 1.50996 12.3607C1.41799 12.0741 1.34317 11.7823 1.28589 11.4868C1.05391 10.311 1.109 9.09659 1.44647 7.9466C1.52961 7.66338 1.62937 7.3853 1.74523 7.11382C1.80871 6.98012 1.86398 6.84419 1.93419 6.71498C1.96855 6.64925 2.00066 6.58353 2.03577 6.51855L2.14556 6.32734C2.18066 6.26311 2.22025 6.20112 2.25983 6.13987C2.29942 6.07863 2.33452 6.01514 2.37784 5.95465C2.46373 5.83514 2.5429 5.71191 2.63477 5.59763C2.81152 5.36507 3.00181 5.14311 3.20464 4.9329C3.60962 4.51544 4.06324 4.14808 4.55577 3.83871C5.36696 3.32831 6.2733 2.98782 7.21991 2.83788V3.88353L9.22157 1.95581L7.21991 0.0273438V1.04834C6.64376 1.15092 6.0793 1.3108 5.53494 1.5256C4.2193 2.04773 3.04879 2.87906 2.1224 3.94925C1.89464 4.21423 1.68289 4.49257 1.4883 4.78278C1.38747 4.92543 1.30083 5.07705 1.20896 5.22419C1.16489 5.29888 1.12382 5.37357 1.08124 5.45199C1.03867 5.53041 0.996844 5.60137 0.958753 5.68278L0.842985 5.91581C0.806388 5.99498 0.772031 6.0749 0.736927 6.15407C0.662238 6.31166 0.606222 6.47597 0.541989 6.63656C0.424461 6.96237 0.3262 7.29481 0.247715 7.63216C-0.143098 9.31325 -0.0165672 11.0732 0.610703 12.6811C0.675682 12.8387 0.740662 12.9956 0.812363 13.1494C0.884064 13.3033 0.956512 13.4564 1.04091 13.6035C1.36184 14.1984 1.75411 14.752 2.20904 15.2519L2.38008 15.4371L2.55933 15.6149C2.67585 15.7351 2.80581 15.8427 2.9283 15.9562C3.18191 16.1747 3.44827 16.378 3.72597 16.5649C3.79543 16.6112 3.86415 16.659 3.93435 16.7039L4.14946 16.8331L4.25626 16.8973L4.36606 16.9571L4.58639 17.0751C4.88273 17.2273 5.18801 17.3615 5.50058 17.4769C6.12217 17.7053 6.76968 17.8558 7.4283 17.925C8.08233 17.9956 8.74241 17.9889 9.39485 17.9049C11.3436 17.6485 13.1319 16.6901 14.4244 15.2093C13.5297 16.1251 12.4272 16.8112 11.2105 17.2095Z" fill="#1895F5" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.1279 2.69283C11.3632 2.77648 11.5977 2.87283 11.8218 2.97888L12.14 2.30295C11.8927 2.18644 11.6358 2.08038 11.3781 1.98926L11.1279 2.69283ZM13.4925 4.05515C13.239 3.84039 12.9718 3.6423 12.6926 3.46212L13.0967 2.83398C13.4033 3.03207 13.697 3.24961 13.9758 3.48527L13.4925 4.05515ZM14.2103 4.74753C14.4341 4.99332 14.6414 5.25355 14.831 5.52653L15.4442 5.10006C15.2359 4.80036 15.0081 4.51468 14.7623 4.24487L14.2103 4.74753ZM15.7391 7.29142C15.6272 6.97863 15.495 6.6735 15.3433 6.37798L16.0072 6.03665C16.1738 6.36129 16.3193 6.69634 16.4427 7.03972L15.7391 7.29142ZM16.0088 8.2482C16.0802 8.57294 16.1301 8.90204 16.1582 9.23335L16.8998 9.1721C16.8699 8.8085 16.8162 8.44723 16.7392 8.09061L16.0088 8.2482ZM16.7967 11.3523L16.0618 11.2193C16.1209 10.893 16.1586 10.5632 16.1745 10.2319L16.9214 10.2678C16.903 10.6316 16.8613 10.9938 16.7967 11.3523ZM16.1283 13.4323L15.4561 13.1127C15.5984 12.8124 15.7206 12.503 15.822 12.1865L16.5331 12.4151C16.4211 12.7628 16.2858 13.1027 16.1283 13.4323Z" fill="#1895F5" />
                    <path d="M5.65119 7.71875C6.5721 7.71875 7.16961 8.21543 7.16961 8.92423C7.16961 9.45526 6.76554 9.85634 6.4399 10.1685L5.46895 11.0648V11.0842H7.2189V11.8752H4.13127V11.1873L5.71243 9.73161C6.05002 9.40896 6.17326 9.20879 6.17326 8.95933C6.17326 8.70987 5.95442 8.49551 5.61683 8.49551C5.27924 8.49551 5.01932 8.73452 5.01932 9.06912V9.08854H4.07227V9.06912C4.07227 8.26697 4.70488 7.71875 5.65119 7.71875Z" fill="#1895F5" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.60938 11.2164H9.61253V11.8752H10.5872V11.2164H11.0929V10.4128H10.5872V7.82031H9.15469C8.38763 8.96604 7.96639 9.66289 7.60938 10.3538V11.2164ZM9.64021 10.4493H8.48328V10.4187C8.81489 9.74503 9.12336 9.25582 9.62079 8.51416H9.64021V10.4493Z" fill="#1895F5" />
                    <path d="M11.7637 7.81738H12.1857V8.4978H12.1946C12.2562 8.32409 12.4252 8.21203 12.6091 8.22294C12.9079 8.22294 13.0692 8.41041 13.0692 8.72336V9.57406H12.6383V8.81672C12.6383 8.66734 12.5636 8.57473 12.4217 8.57473C12.2798 8.57473 12.1976 8.67854 12.1976 8.82643V9.57332H11.7637V7.81738Z" fill="#1895F5" />
                  </svg>
                  <span>
                    {{ $t('Get Deliverd by Tomorow') }}
                  </span>
                  <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 6.00004C0 2.69164 2.6916 0 6 0C9.3084 0 12 2.69164 12 6.00004C12 9.30844 9.3084 12 6 12C2.6916 12 0 9.30844 0 6.00004ZM1.09091 6.00004C1.09091 8.70691 3.29309 10.9091 6 10.9091C8.70687 10.9091 10.9091 8.70691 10.9091 6.00004C10.9091 3.29316 8.70691 1.09091 6 1.09091C3.29309 1.09091 1.09091 3.29316 1.09091 6.00004Z" fill="#1895F5" />
                    <path d="M5.99959 2.54541C5.59864 2.54541 5.27246 2.87181 5.27246 3.27301C5.27246 3.67385 5.59864 3.99996 5.99959 3.99996C6.40053 3.99996 6.72672 3.67385 6.72672 3.27301C6.72672 2.87181 6.40053 2.54541 5.99959 2.54541Z" fill="#1895F5" />
                    <path d="M5.99956 5.09082C5.69832 5.09082 5.4541 5.33504 5.4541 5.63627V8.909C5.4541 9.21024 5.69832 9.45446 5.99956 9.45446C6.30079 9.45446 6.54501 9.21024 6.54501 8.909V5.63627C6.54501 5.33504 6.30079 5.09082 5.99956 5.09082Z" fill="#1895F5" />
                  </svg>
                  <strong class="tooltip">
                    {{ $t('Available nation wide except for the remote island and upcountry. Some restrictions may apply.') }}
                  </strong>
                </button>
              </div>
              <product-links
                v-if="getCurrentProduct.type_id =='grouped'"
                :products="getCurrentProduct.product_links"
              />
              <product-bundle-options
                v-if="getCurrentProduct.bundle_options && getCurrentProduct.bundle_options.length > 0"
                :product="getCurrentProduct"
              />
              <product-custom-options
                v-else-if="getCurrentProduct.custom_options && getCurrentProduct.custom_options.length > 0"
                :product="getCurrentProduct"
              />
              <product-quantity
                class="row m0 mb20"
                v-if="getCurrentProduct.type_id !== 'grouped' && getCurrentProduct.type_id !== 'bundle'"
                v-model="getCurrentProduct.qty"
                :max-quantity="maxQuantity"
                :loading="isStockInfoLoading"
                :is-simple-or-configurable="isSimpleOrConfigurable"
                :show-quantity="manageQuantity"
                :check-max-quantity="manageQuantity"
                @error="handleQuantityError"
              />
              <div class="row m0 cart-with-price ">
                <button-full
                  v-if="getCurrentProduct.stock && !getCurrentProduct.stock.is_in_stock"
                  @click.native="notifyUserForStock(getCurrentProduct)"
                  data-testid="notifyMe"
                  class="add-to-cart"
                >
                  {{ $t('Notify me') }}
                </button-full>
                <add-to-cart-with-price
                  v-else
                  :product="getCurrentProduct"
                  :key="getCurrentProduct.id"
                  :disabled="getCurrentProduct.stock.is_in_stock === false"
                />
                <button class="sample-btn" @click="$bus.$emit('read-sample-popup', getCurrentProduct)" :disabled="getCurrentProduct.read_sample !== 1">
                  {{ $t('Read sample') }}
                </button>
              </div>
              <div
                class="mb20 uppercase cl-secondary display-none"
                itemprop="sku"
                :content="getCurrentProduct.sku"
              >
                {{ $t('SKU: {sku}', { sku: getCurrentProduct.sku }) }}
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>
    <section class="container my30 cl-accent details product-info">
      <div class="shaded-box">
        <div class="acc-product-info" :class="accordionClasses">
          <h2 class="h3 m0 serif lh20 details-title accordion-header" :class="accordionHeaderArrow" @click="toggleAccordion">
            {{ $t('Product information') }}
          </h2>
          <div class="accordion-body" v-if="isOpen">
            <div class="details-wrapper">
              <ul class="attributes p0 pt5 m0">
                <product-attribute
                  :key="attr.attribute_code"
                  v-for="attr in getCustomAttributes"
                  :product="getCurrentProduct"
                  :attribute="attr"
                  empty-placeholder="N/A"
                />
                <li class="lh30 h5" v-if="getOriginalProduct.pre_order_status && getOriginalProduct.pre_order_from && getOriginalProduct.pre_order_to">
                  <span>{{ $t('Pre Order Period') }}</span>
                  <span class="weight-700">{{ getOriginalProduct.pre_order_from | date('YYYY/MM/DD') }}{{ $t(' - ') }}{{ getOriginalProduct.pre_order_to | date('YYYY/MM/DD') }}</span>
                </li>
              </ul>
              <div class="description pt30" itemprop="description" v-html="getCurrentProduct.description" />
            </div>
          </div>
        </div>
        <add-reviews
          :product-name="getOriginalProduct.name"
          :product-id="getOriginalProduct.id"
          v-show="isOnline"
        />
        <reviews-list
          :per-page="4"
          :items="reviews"
          :product-name="getCurrentProduct.name"
        />
      </div>
    </section>
  <!-- Best Picked From Light Novel Section -->
  <section class="pb40 productpage-best-picked-products-sec">
      <div class="container">
          <product-listing-slider
            class="shaded-box"
            :title="$t('Light Novel Recommended')"
            :per-page-custom="[[0, ['auto', 15]], [768, [3, 15]], [992, [4, 20]], [1200, [5, 20]]]"
            :product-border-enabled="false"
            :pagination-enabled="false"
            :see-all-link="'/bf20-mar-online/bf20-ln-mg'"
            :badge="'assets/comic_dark.svg'"
            :slider-id="'productpage-best-picked-products'"
            :nosto-id="'productpage-nosto-best-picked-products'"
            :products-list="nostoLightNovelList"
            :slide-auto-play="false"
          />
      </div>
    </section>
    <!-- Bestseller Products Section -->
    <section class="pb40 productpage-bestseller-products-sec">
      <div class="container">
          <product-listing-slider
            class="shaded-box"
            :title="$t('Best seller manga')"
            :per-page-custom="[[0, ['auto', 15]], [768, [3, 15]], [992, [4, 20]], [1200, [5, 20]]]"
            :product-border-enabled="false"
            :pagination-enabled="false"
            :see-all-link="'/bf20-mar-online/bf20-ln-mg'"
            :badge="'assets/comic_dark.svg'"
            :slider-id="'productpage-bestseller-products'"
            :nosto-id="'productpage-nosto-best-sellers'"
            :products-list="nostoMangaList"
            :slide-auto-play="false"
          />
      </div>
    </section>
  </div>
</template>

<script>
import config from 'config'
import AddReviews from 'theme/components/core/blocks/Reviews/Reviews.vue'
import GenericSelector from 'theme/components/core/GenericSelector'
import ColorSelector from 'theme/components/core/ColorSelector.vue'
import SizeSelector from 'theme/components/core/SizeSelector.vue'
import Breadcrumbs from 'theme/components/core/Breadcrumbs.vue'
import ProductAttribute from 'theme/components/core/ProductAttribute.vue'
import ProductQuantity from 'theme/components/core/ProductQuantity.vue'
import ProductLinks from 'theme/components/core/ProductLinks.vue'
import ProductCustomOptions from 'theme/components/core/ProductCustomOptions.vue'
import ProductBundleOptions from 'theme/components/core/ProductBundleOptions.vue'
import focusClean from 'theme/components/theme/directives/focusClean'
import { mapActions, mapGetters } from 'vuex'
import LazyHydrate from 'vue-lazy-hydration'
import { ProductOption } from '@vue-storefront/core/modules/catalog/components/ProductOption.ts'
import { getAvailableFiltersByProduct, getSelectedFiltersByProduct } from '@vue-storefront/core/modules/catalog/helpers/filters'
import { isOptionAvailableAsync } from '@vue-storefront/core/modules/catalog/helpers/index'
import { localizedRoute, currentStoreView } from '@vue-storefront/core/lib/multistore'
import { htmlDecode } from '@vue-storefront/core/filters'
import { ReviewModule } from '@vue-storefront/core/modules/review'
import { RecentlyViewedModule } from '@vue-storefront/core/modules/recently-viewed'
import { registerModule, isModuleRegistered } from '@vue-storefront/core/lib/modules'
import { onlineHelper, isServer } from '@vue-storefront/core/helpers'
import { catalogHooksExecutors } from '@vue-storefront/core/modules/catalog-next/hooks'
import ProductPrice from 'theme/components/core/ProductPrice.vue'
import AddToCartWithPrice from 'theme/components/core/AddToCartWithPrice'
import ProductThumbGallery from 'theme/components/core/ProductThumbGallery'
import ReviewsList from 'theme/components/theme/blocks/Reviews/ReviewsList'
import { Reviews } from '@vue-storefront/core/modules/review/components/Reviews'
import { formatProductLink } from '@vue-storefront/core/modules/url/helpers'
import ProductCategoryPath from 'theme/components/core/ProductCategoryPath.vue'
import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import rootStore from '@vue-storefront/core/store';

export default {
  components: {
    ButtonFull,
    Breadcrumbs,
    ColorSelector,
    GenericSelector,
    ProductAttribute,
    ProductBundleOptions,
    ProductCustomOptions,
    ProductLinks,
    AddReviews,
    SizeSelector,
    LazyHydrate,
    ProductQuantity,
    ProductPrice,
    AddToCartWithPrice,
    ProductThumbGallery,
    ReviewsList,
    ProductCategoryPath,
    ProductListingSlider: () => import(/* webpackChunkName: "vsf-product-listing" */ 'theme/components/core/blocks/Product/ProductListingSlider')
  },
  mixins: [ProductOption, Reviews],
  directives: { focusClean },
  beforeCreate () {
    registerModule(ReviewModule)
    registerModule(RecentlyViewedModule)
  },
  data () {
    return {
      detailsOpen: false,
      maxQuantity: 0,
      quantityError: false,
      isStockInfoLoading: false,
      hasAttributesLoaded: false,
      manageQuantity: true,
      isOpen: false,
      carouselLoaded: false,
      showSampleDataModal: false,
      rewards: [],
      currentUrl: ''
    }
  },
  async created  () {
    await this.$store.dispatch('productRewardPoints/list', this.getCurrentProduct.id);
    if (typeof window !== 'undefined') {
      this.currentUrl = window.location.href;
    }
  },
  computed: {
    ...mapActions('notifyme', ['requestNotifyMe']),
    ...mapGetters({
      getCurrentProduct: 'product/getCurrentProduct',
      getProductGallery: 'product/getProductGallery',
      getCurrentProductConfiguration: 'product/getCurrentProductConfiguration',
      getOriginalProduct: 'product/getOriginalProduct',
      attributesByCode: 'attribute/attributeListByCode',
      getCurrentCustomOptions: 'product/getCurrentCustomOptions',
      nostoList: 'nosto/getNostoList',
      getRewardpoints: 'productRewardPoints/getProductRewards',
      isLoggedIn: 'user/isLoggedIn',
      nostoLightNovelList: 'nostoMagento/getNostoLightNovelList',
      nostoMangaList: 'nostoMagento/getNostoBestSellerMangaList'
    }),
    ...mapGetters('nosto', ['getRecommendationList']),
    productRewardPoints () {
      return this.getRewardpoints && this.getRewardpoints.result ? parseInt(this.getRewardpoints.result) : 0
    },
    // computedRecommended () {
    //   return this.getRecommendationList;
    // },
    getOptionLabel () {
      return (option) => {
        const configName = option.attribute_code ? option.attribute_code : option.label.toLowerCase()
        return this.getCurrentProductConfiguration[configName] ? this.getCurrentProductConfiguration[configName].label : configName
      }
    },
    isOnline (value) {
      return onlineHelper.isOnline
    },
    noOfReviews () {
      return (this.$store.state.review.items.items) ? this.$store.state.review.items.items.length : 0
    },
    getRatings () {
      let ratings = 0;
      let i;
      let item;
      let reviews = this.$store.state.review.items.items;
      if (reviews) {
        for (i in reviews) {
          let item = reviews[i];

          if (item.ratings[0]) {
            ratings += parseInt(item.ratings[0].value);
          }
          // let item = reviews[i];
          // let val = item.ratings[0]['value'];
          // ratings += parseInt(val);
        }
      }

      return (reviews && reviews.length && ratings > 0) ? Math.round(ratings / reviews.length) : 0;
    },
    getAuthorname () {
      if (this.getCurrentProduct.author && this.attributesByCode?.author?.options) {
        let authordata = this.attributesByCode.author.options;
        let author = authordata.find(auther => parseInt(auther.value) === parseInt(this.getCurrentProduct.author))
        return author.label
      }
      return '';
    },
    getBrandname () {
      if (this.getCurrentProduct.product_brand && this.attributesByCode?.product_brand?.options) {
        let branddata = this.attributesByCode.product_brand.options;
        let product_brand = branddata.find(product_brand => parseInt(product_brand.value) === parseInt(this.getCurrentProduct.product_brand))
        return product_brand.label
      }
      return '';
    },
    structuredData () {
      return {
        availability: this.getCurrentProduct.stock && this.getCurrentProduct.stock.is_in_stock ? 'InStock' : 'OutOfStock'
      }
    },
    getProductOptions () {
      if (
        this.getCurrentProduct.errors &&
        Object.keys(this.getCurrentProduct.errors).length &&
        Object.keys(this.getCurrentProductConfiguration).length
      ) {
        return []
      }
      return this.getCurrentProduct.configurable_options
    },
    getOfflineImage () {
      return {
        src: this.getThumbnail(this.getCurrentProduct.image, config.products.thumbnails.width, config.products.thumbnails.height),
        error: this.getThumbnail(this.getCurrentProduct.image, config.products.thumbnails.width, config.products.thumbnails.height),
        loading: this.getThumbnail(this.getCurrentProduct.image, config.products.thumbnails.width, config.products.thumbnails.height)
      }
    },
    getCustomAttributes () {
      return Object.values(this.attributesByCode || []).filter(a => {
        return a.is_visible && a.is_user_defined && (parseInt(a.is_visible_on_front) || a.is_visible_on_front === true) && this.getCurrentProduct[a.attribute_code]
      }).sort((a, b) => { return a.attribute_id > b.attribute_id })
    },
    getAvailableFilters () {
      return getAvailableFiltersByProduct(this.getCurrentProduct)
    },
    getSelectedFilters () {
      return getSelectedFiltersByProduct(this.getCurrentProduct, this.getCurrentProductConfiguration)
    },
    isSimpleOrConfigurable () {
      return ['simple', 'configurable'].includes(this.getCurrentProduct.type_id)
    },
    isAddToCartDisabled () {
      if (this.quantityError || this.isStockInfoLoading) {
        return false
      }

      return this.isOnline && !this.maxQuantity && this.manageQuantity && this.isSimpleOrConfigurable
    },
    accordionClasses () {
      return {
        'is-closed': !this.isOpen
      };
    },
    accordionHeaderArrow () {
      return {
        'plus': !this.isOpen,
        'minus': this.isOpen
      }
    },
    productLink () {
      return formatProductLink(this.getCurrentProduct, currentStoreView().storeCode)
    },
    getCurrentProductMediaGallery () {
      return this.getCurrentProduct.media_gallery ? this.getCurrentProduct.media_gallery.filter(x => x.image !== this.getCurrentProduct.image) : []
    },
    currentUser () {
      return this.$store.state.user.current || null
    }
  },
  async mounted () {
    if (this.isLoggedIn) {
      await this.$store.dispatch('iterable/viewProducts',  {
        email: this.currentUser.email,
        product: {...this.getCurrentProduct, iterable_image: this.productImages()[0].src,iterable_url: window.location.href}
      })
      await this.$store.dispatch('iterable/updateUser',  {
        email: this.currentUser.email,
        product: {...this.getCurrentProduct, iterable_image: this.productImages()[0].src,iterable_url: window.location.href}
      })
    }
    await this.$store.dispatch('recently-viewed/addItem', this.getCurrentProduct)
    this.triggeredNosto()
    this.$nextTick(() => {
      this.$store.commit('edrone/IS_PRODUCT_VIEW_PAGE', this.getCurrentProduct)
      this.$store.commit('klaviyo/IS_TRACK_PRODUCT_VIEW_PAGE', this.getCurrentProduct)
    })
  },
  async asyncData ({ store, route, context }) {
    if (context) context.output.cacheTags.add('product')
    const product = await store.dispatch('product/loadProduct', { parentSku: route.params.parentSku, childSku: route && route.params && route.params.childSku ? route.params.childSku : null })
    const loadBreadcrumbsPromise = store.dispatch('product/loadProductBreadcrumbs', { product })
    if (isServer) await loadBreadcrumbsPromise
    catalogHooksExecutors.productPageVisited(product)
  },
  beforeRouteEnter (to, from, next) {
    if (isServer) {
      next()
    } else {
      next((vm) => {
        // vm.$store.dispatch('nosto/list', [
        //   'productpage-nosto-cross-sell',
        //   'productpage-nosto-up-sell'
        // ])
        vm.$store.dispatch('nostoMagento/getLightNovel', 30),
        vm.$store.dispatch('nostoMagento/getManga', 45)
        vm.getQuantity()
      })
    }
  },
  watch: {
    isOnline: {
      handler (isOnline) {
        if (isOnline) {
          this.getQuantity()
        }
      }
    },
    getCurrentProduct: {
      handler: (val, oldVal) => {
        rootStore.commit('google-tag-manager/productDetail', val)
      },
      immediate: true
    },
    '$route': {
      handler () {
        this.triggeredNosto()
      }
    }
  },
  methods: {
    notifyUserForStock (product) {
      if (this.isLoggedIn) {
        this.$store.dispatch('notifyme/requestNotifyMe', product.id)
      } else {
        this.$bus.$emit('modal-toggle', 'modal-signup')
      }
    },
    getTheImagePath (img) {
      return this.getThumbnail(img, config.products.thumbnails.width, config.products.thumbnails.height)
    },
    notifyWrongAttributes () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t(
          'No such configuration for the product. Please do choose another combination of attributes.'
        ),
        action1: { label: this.$t('OK') }
      })
    },
    changeFilter (variant) {
      this.$bus.$emit(
        'filter-changed-product',
        Object.assign({ attribute_code: variant.type }, variant)
      )
      this.getQuantity()
    },
    openSizeGuide () {
      this.$bus.$emit('modal-show', 'modal-sizeguide')
    },
    isOptionAvailable (option) { // check if the option is available
      const currentConfig = Object.assign({}, this.getCurrentProductConfiguration)
      currentConfig[option.type] = option
      return isOptionAvailableAsync(this.$store, { product: this.getCurrentProduct, configuration: currentConfig })
    },
    async getQuantity () {
      if (this.isStockInfoLoading) return // stock info is already loading
      this.isStockInfoLoading = true
      try {
        const res = await this.$store.dispatch('stock/check', {
          product: this.getCurrentProduct,
          qty: this.getCurrentProduct.qty
        })
        this.manageQuantity = res.isManageStock
        this.maxQuantity = res.isManageStock ? res.maxSaleQty : null
      } finally {
        this.isStockInfoLoading = false
      }
    },
    handleQuantityError (error) {
      this.quantityError = error
    },
    toggleAccordion () {
      this.isOpen = !this.isOpen;
    },
    openMicrocart () {
      this.$store.dispatch('ui/toggleMicrocart');
    },
    triggeredNosto () {
      if (this.getCurrentProduct) {
        this.$store.dispatch('nosto/viewProduct', this.getCurrentProduct.sku)
      }
    },
    productImages () {
      let productImages = this.getProductGallery.map(x => {
        let productImage = {
          error: x.error,
          loading: x.loading,
          src: x.src
        }
        return Object.assign({}, x, productImage)
      })
      return productImages
    }
  },
  metaInfo () {
    const storeView = currentStoreView()
    const { meta_title, meta_description, meta_keywords, name, slug } = this.getCurrentProduct
    let links = [
      { rel: 'amphtml',
        href: this.$router.resolve(localizedRoute({
          name: this.getCurrentProduct.type_id + '-product-amp',
          params: {
            parentSku: this.getCurrentProduct.parentSku ? this.getCurrentProduct.parentSku : this.getCurrentProduct.sku,
            slug: this.getCurrentProduct.slug,
            childSku: this.getCurrentProduct.sku
          }
        }, storeView.storeCode)).href
      }
    ];
    const product_image = this.getThumbnail(this.getCurrentProduct.image, config.products.thumbnails.width, config.products.thumbnails.height)
    links.push({ rel: 'preload', as: 'image', href: product_image })
    if (this.productImages && this.productImages.length > 0) {
      this.productImages.map(productImage => {
        links.push({ rel: 'preload', as: 'image', href: productImage.src ? productImage.src : '' })
      })
    }
    links = links.filter(x => x.href !== '');
    return {
      link: links,
      title: htmlDecode(meta_title || name + ' - Phoenix Next'),
      meta: [
        { vmid: 'description', name: 'description', content: htmlDecode(meta_description || 'ซื้อ ' + name + ' ช้อปปิ้งออนไลน์ สะสมคะแนน แลกรับส่วนลด!') },
        { vmid: 'keywords', name: 'keywords', content: htmlDecode(meta_keywords || 'มังงะ, ไลท์โนเวล, manga, light novel, หนังสือการ์ตูน, การ์ตูนญี่ปุ่น, สํานักพิมพ์ฟีนิกซ์, สำนักพิมพ์ Phoenix, pheonixnext, การ์ตูนอนิเมะ, มังงะวาย, การ์ตูนวาย, มังงะต่างโลก, นิยายไลท์โนเวล, นิยายแฟนตาซี, ร้านหนังสือการ์ตูน, มังงะยูริ, การ์ตูนยูริ, Yuri, Yaoi') },
        { vmid: 'title', name: 'title', content: htmlDecode(meta_title || name + ' - Phoenix Next') }
      ]
    }
  },
  destroyed () {
    this.$store.commit('edrone/IS_PRODUCT_VIEW_PAGE', null)
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-tertiary: color(tertiary);
$color-secondary: color(secondary);
$color-white: color(white);
$blue-1895F5: color(blue-1895F5);
$bg-secondary: color(secondary, $colors-background);
$yellow-F6A500: color(yellow-F6A500);
$gray-333435: color(gray-333435);
$gray-D8D8D8: color(gray-D8D8D8);

.breadcrumbs {
  display: block;
  @media (max-width: 767px) {
    margin: 15px 0;
    padding: 15px 0 0 15px;
  }
}

.error {
  color: red;
  font-weight: bold;
  padding-bottom: 15px;
}
.data {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  .product-name{
    line-height: 27px;
  }
  .author-data{
    a{
      text-decoration: underline;
    }
  }
  .product-review{
    display: flex;
    .star-row{
      display: flex;
      span{
        width: 18px;
        height: 17px;
        background: url(/assets/star2.png) no-repeat;
        margin-right: 2px;
        &.checked{
          background: url(/assets/star1.png) no-repeat;
        }
      }
    }
    > span{
      margin-left: 15px;
      margin-top: 3px;
    }
  }
  .description{
    line-height: 22px;
  }
  .reward-btn{
    display: flex;

    @media (min-width: 768px) and (max-width: 991px) {
      flex-direction: column;
    }

    button{
      border-radius: 4px;
      display: flex;
      align-items: center;
      padding:9px 15px;
      margin-right: 15px;
      font-weight: 600;
      &.point-btn{
        background: rgba($color: $yellow-F6A500, $alpha: 0.1);
      }
      &.deliverd-btn{
        background: rgba($color: $blue-1895F5, $alpha: 0.1);
        position: relative;
        strong{
          position: absolute;
          color: $color-white;
          background: $gray-333435;
          border-radius: 6px;
          top: 48px;
          left: 0;
          padding: 10px;
          font-weight: 500;
          visibility: hidden;
          transition: all 0.3s ease;
          &::before{
            content:'';
            position: absolute;
            display: block;
            top: -8px;
            left: 50%;
            margin-left: -4px;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid $gray-333435;
          }
        }
        &:hover{
          strong{
            visibility: visible;
          }
        }
      }

      @media (min-width: 768px) and (max-width: 991px) {
        margin-right: 0;
        margin-bottom: 10px;
      }

      & > img {
        & ~ * {
          padding-left: 15px;
        }
      }
    }
  }
  @media (max-width: 767px) {
    border-bottom: 1px solid $bg-secondary;
  }
}

.image {
  @media (max-width: 1023px) {
    margin-bottom: 20px;
  }
}

.product-name {
  @media (max-width: 767px) {
    font-size: 36px;
  }
}

.variants-label {
  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.variants-wrapper {
  @media (max-width: 767px) {
    padding-bottom: 30px;
  }

  .sizes {
    @media (max-width: 767px) {
      width: 100%;
    }
  }

  .size-guide {
    height: 40px;
    @media (max-width: 767px) {
      width: 100%;
      margin-left: 0;
    }
  }
}

.product-top-section {
  @media (max-width: 767px) {
    padding: 0;
    background-color: $color-white;
  }
}

.add-to-buttons {
  @media (max-width: 767px) {
    padding-top: 30px;
    margin-bottom: 40px;
  }
}

.details-wrapper {
  @media (max-width: 767px) {
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    font-size: 14px;
    margin: 20px auto;
  }

  &--open {
    max-height: none;
  }
}

.action {
  &:hover {
    color: $color-tertiary;
  }
}

.attributes {
  list-style-type: none;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.product-image {
  mix-blend-mode: multiply;
  width: 460px;
}

.web-share {
  float: right;
}
</style>
<style lang="scss">
.product-info .accordion-header {
  cursor: pointer;
  margin-bottom: 0;
  margin-top: -1px;
}
.product-info{
  .shaded-box {
    > div{
      position: relative;
      z-index: 1;
    }
  }
  .accordion-body {
    max-height: none;
  }
}

.accordion-body   {
  padding: 0;
  max-height: 2000px;
  overflow: hidden;
  transition: 1s ease all;
}

.is-closed .accordion-body {
  max-height: 0;
  transition: 0.5s ease all;
}
.product-data-sm{ display: none;}

@media (max-width: 767px) {
  #product {
    h1, h2{
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
    }
    .f-s-14{
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;
    }
    .image {
      margin-bottom:0px;
    }
    .product-thumb-slider {
      margin-bottom: 0;
    }
    .data{
      border: 0;
      padding: 15px;
      box-shadow: none;
      padding: 15px;
      border-radius: 0;
    }
    .breadcrumbs {
      margin: 15px 0;
      padding: 0;
      span{
        padding-top: 4px;
        padding-bottom: 4px;
      }
    }
    .reward-btn button{
      margin: 0 5px;
      padding: 9px 6px;
      width: 50%;

      & > img {
        & ~ * {
          padding-left: 7px;
        }
      }
    }
    .reward-btn{
      margin: 0 -5px;
      margin-bottom: 20px;
    }
    .cart-with-price {
      button{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        min-width: inherit;
        margin:0px  0;
      }
      .btn-outlined{
        margin-top:10px;
      }
      .sample-btn {
        margin-left: 8px;
      }
    }
    .product-data-sm{
      display: block;
      background:#fff;
      box-shadow: none;
      padding: 15px 15px 0;
      border: 0;
    }
    .product-data-lg{
      display: none;
    }
    .details {
      padding: 0 15px;
      margin: 20px 0;
    }
    .product-offers{
      .cl-primary{
        display: none;
      }
      .price{
        margin:20px 0;
      }
    }
    .product-info{
      .shaded-box {
        box-shadow: none;
        padding: 18px 15px;
        border: solid 1px #ddd;
      }
      .details-title {
        font-size: 14px;
        padding: 10px 0;
        margin: 0 0 -1px 0;
      }
    }
  .shaded-box{
    padding:15px;
  }
  .similar-products, .recently-viewed{
      margin-bottom:20px;
  }
  .product-listing-carousel .swiper-button-next {
    display: none;
  }
  .product-listing-carousel .swiper-button-prev {
    display: none;
  }
  .swiper-pagination{
    display: block !important;
    margin-top: 20px;
    margin-bottom: 8px;}
  }
}
@media (max-width: 510px) {
  #product {
    .cart-with-price {
      display: block;
      .primary-btn {
        max-width: 100%;
      }
      .sample-btn {
        margin-left: 0;
        margin-top: 10px;
        max-width: 100%;
      }
    }
  }
}
.skeleton {
  height: 455px;
  @media only screen and (max-width: 767px) {
    height: 405px;
  }
}
</style>
