<template>
  <div>
    <template v-if="parseInt(lastOrderConfirmation) && parseInt(orderPurchaseVaue) > 0">
      <thank-you-block :payment-status="paymentStatus" :payment-message="paymentMessage" :identifier="'thank_you_page_male'" :order-id="parseInt(lastOrderConfirmation)" :purchase-value="parseFloat(orderPurchaseVaue)" :reference-id="orderReferencId" v-if="currentUser.gender == 1" />
      <thank-you-block :payment-status="paymentStatus" :payment-message="paymentMessage" :identifier="'thank_you_page_female'" :order-id="parseInt(lastOrderConfirmation)" :purchase-value="parseFloat(orderPurchaseVaue)" :reference-id="orderReferencId" v-else-if="currentUser.gender == 2" />
      <thank-you-block :payment-status="paymentStatus" :payment-message="paymentMessage" :identifier="'thank_you_page_guest'" :order-id="parseInt(lastOrderConfirmation)" :purchase-value="parseFloat(orderPurchaseVaue)" :reference-id="orderReferencId" v-else />
    </template>
    <template v-else>
      <div class="nosto-product-list loader-ajax-slider shaded-box">
        <div class="site-ajax-loader" />
      </div>
    </template>
  </div>
</template>

<script>
import MyProfile from '@vue-storefront/core/compatibility/components/blocks/MyAccount/MyProfile'
import Composite from '@vue-storefront/core/mixins/composite'
import VueOfflineMixin from 'vue-offline/mixin'
import { EmailForm } from '@vue-storefront/core/modules/mailer/components/EmailForm'
import { isServer } from '@vue-storefront/core/helpers'
import config from 'config'
import { registerModule } from '@vue-storefront/core/lib/modules'
import { MailerModule } from '@vue-storefront/core/modules/mailer'
import ThankYouBlock from 'theme/components/core/blocks/Cms/ThankYouBlock'
import i18n from '@vue-storefront/i18n'
import { mapGetters } from 'vuex'

export default {
  name: 'ThankYouPage',
  mixins: [Composite, VueOfflineMixin, EmailForm, MyProfile],
  beforeCreate () {
    registerModule(MailerModule)
  },
  data () {
    return {
      feedback: '',
      orderId: '',
      purchaseValue: '',
      referenceId: '',
      purchaseValueCC: '',
      paymentStatus: '',
      paymentMessage: ''
    }
  },
  async mounted () {
    this.$bus.$emit('notification-progress-start', i18n.t('Processing your order ...'))
    this.$nextTick(function () {
      this.xmlParser();
      this.gtmTransactionEvent()
    })
  },
  computed: {
    ...mapGetters({
      isLogged: 'user/isLoggedIn'
    }),
    user () {
      return this.$store.state.user.current
    },
    lastOrderConfirmation () {
      return this.orderId
    },
    isNotificationSupported () {
      if (isServer || !('Notification' in window)) return false
      return 'Notification' in window
    },
    isPermissionGranted () {
      if (isServer || !('Notification' in window)) return false
      return Notification.permission === 'granted'
    },
    checkoutPersonalEmailAddress () {
      return this.$store.state.checkout.personalDetails.emailAddress
    },
    mailerElements () {
      return config.mailer.contactAddress
    },
    orderPurchaseVaue () {
      if (this.purchaseValueCC) {
        this.$store.dispatch('cart/clear', { sync: false }, { root: true })
        return this.purchaseValueCC
      }
      if (this.$store.state.cart && this.lastOrderConfirmation) {
        if (this.lastOrderConfirmation) {
          var subtotal = this.$store.state.cart.platformTotals.base_subtotal_with_discount;
          this.$store.dispatch('cart/clear', { sync: false }, { root: true })
          return subtotal
        } else {
          this.$store.dispatch('cart/clear', { sync: false }, { root: true })
          return ''
        }
        // return this.$store.state.order.totals.base_row_total_incl_tax
      } else {
        this.$store.dispatch('cart/clear', { sync: false }, { root: true })
        return ''
      }
    },
    orderReferencId () {
      return this.referenceId
    }
  },
  methods: {
    getProduct(item){
        let product = {}
        const attributeMap = config.googleTagManager.product_attributes
        attributeMap.forEach(attribute => {
          const isObject = typeof attribute === 'object'
          let attributeField = isObject ? Object.keys(attribute)[0] : attribute
          let attributeName = isObject ? Object.values(attribute)[0] : attribute
          if (item.hasOwnProperty(attributeField) || product.hasOwnProperty(attributeName)) {
            let value = item[attributeField] || product[attributeName]
            if (value) {
              product[attributeName] = value
            }
          }
        })
        return product
    },
    async gtmTransactionEvent(){
       if (this.lastOrderConfirmation) {
        try {
          const orderId = this.lastOrderConfirmation
          
          await this.$store.dispatch(
            'user/getOrdersHistory',
            { refresh: true, useCache: false }
          ).then(async() => {
            let state = this.$store.state
            window.dataLayer = window.dataLayer || [];
            const orderHistory = state.user.orders_history
            const order = orderHistory ? orderHistory.items.find((order) => order['entity_id'].toString() === orderId) : null
            const products = order.items.map(product => this.getProduct(product))
            
            if (!isServer) {
              window.dataLayer.push({ ecommerce: null })
            }
            
            window.dataLayer.push({
              'event': 'transaction',
              'ecommerce': {
                'currencyCode': config.i18n.currencyCode,
                'purchase': {
                  'actionField': {
                    'id': orderId,
                    'affiliation': order ? order.store_name : '',
                    'revenue': order ? order.total_due : state.cart.platformTotals && state.cart.platformTotals.base_grand_total ? state.cart.platformTotals.base_grand_total : '',
                    'tax': order ? order.total_due : state.cart.platformTotals && state.cart.platformTotals.base_tax_amount ? state.cart.platformTotals.base_tax_amount : '',
                    'shipping': order ? order.total_due : state.cart.platformTotals && state.cart.platformTotals.base_shipping_amount ? state.cart.platformTotals.base_shipping_amount : ''
                  },
                  'products': products
                }
              }
            })
          })
        } catch (e) {
          throw new Error('Transaction event has been not executed' + e)
        }
      }
    },
    xmlParser () {
      if (this.$route.query.r) {
        this.purchaseValueCC = ''
        var parser, xmlDoc;
        let PaymentResponse = this.$route.query.r.split(' ').join('+');
        this.$router.replace('/thank-you');
        parser = new DOMParser();
        xmlDoc = parser.parseFromString(window.atob(PaymentResponse), 'text/xml');
        if (xmlDoc.getElementsByTagName('payload').length > 0) {
          var payloadEnc = xmlDoc.getElementsByTagName('payload')[0].childNodes[0].nodeValue;
          var payloadDec = window.atob(payloadEnc);

          var xmlPayload = parser.parseFromString(payloadDec, 'text/xml');
          if (this.isLogged) {
            if (xmlPayload.getElementsByTagName('storeCardUniqueID').length > 0) {
              let postData = {
                customers: {
                  name: xmlPayload.getElementsByTagName('bankName')[0].childNodes[0].nodeValue,
                  email: this.user.email,
                  token: xmlPayload.getElementsByTagName('storeCardUniqueID')[0].childNodes[0].nodeValue,
                  brand: '',
                  number: xmlPayload.getElementsByTagName('pan')[0].childNodes[0].nodeValue
                }
              };
              this.$store.dispatch('cardData/addCardData', postData)
            }
          }
          this.referenceId = xmlPayload.getElementsByTagName('tranRef')[0].childNodes[0].nodeValue;
          this.orderId = xmlPayload.getElementsByTagName('uniqueTransactionCode')[0].childNodes[0].nodeValue;
          this.purchaseValueCC = xmlPayload.getElementsByTagName('amt')[0].childNodes[0].nodeValue / 100;
          this.paymentStatus = 'ชำระเงินสำเร็จ';
          this.paymentMessage = 'ตรวจสอบสถานะการจัดส่งได้ง่ายๆผ่าน LINE @phoenix_next เพิ่มเพื่อนเลย!'
        }
      } else {
        this.referenceId = this.$route.query.transaction_ref ? this.$route.query.transaction_ref : '';
        this.orderId = this.$route.query.order_id ? this.$route.query.order_id : '';
        this.purchaseValueCC = this.$route.query.amount ? this.$route.query.amount / 100 : ''
        this.paymentStatus = 'จองสินค้าสำเร็จ';
        this.paymentMessage = 'กรุณาตรวจสอบอีเมลและชำระเงินภายในเวลาที่กำหนด'
        this.$router.replace('/thank-you');
        if (!this.lastOrderConfirmation) {
          this.$router.push('/')
        }
      }
      this.$bus.$emit('notification-progress-stop')
    },
    requestNotificationPermission () {
      if (isServer) return false
      if ('Notification' in window && Notification.permission !== 'granted') {
        Notification.requestPermission()
      }
    },
    sendFeedback () {
      this.sendEmail(
        {
          sourceAddress: this.checkoutPersonalEmailAddress,
          targetAddress: this.mailerElements,
          subject: this.$t('What we can improve?'),
          emailText: this.feedback
        },
        this.onSuccess,
        this.onFailure
      )
    },
    onSuccess (message) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'success',
        message,
        action1: { label: this.$t('OK') }
      })
      if (this.mailerElements.sendConfirmation) {
        this.sendEmail(
          {
            sourceAddress: this.mailerElements,
            targetAddress: this.checkoutPersonalEmailAddress,
            subject: this.$t('Confirmation of receival'),
            emailText: this.$t(`Dear customer,\n\nWe have received your letter.\nThank you for your feedback!`),
            confirmation: true
          }
        )
      }
    },
    onFailure (message) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message,
        action1: { label: this.$t('OK') }
      })
    }
  },
  destroyed () {
    this.$store.dispatch('checkout/setThankYouPage', false)
  },
  components: {
    ThankYouBlock
  }
}
</script>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$gray-666666: color(gray-666666);

.thank-you-page {
  margin-top: 40px;
  margin-bottom: 80px;

  &-container {
    padding: 5% 21%;

    @media (max-width: 1199px) {
      padding: 8% 10%;
    }

    @media (max-width: 767px) {
      padding: 30px;
    }
  }

  &-title {
    font-size: 35px;
    color: $color-secondary;
    margin-bottom: 20px;

    @media (max-width: 767px) {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }

  &-img {
    width: 70px;
    height: 70px;
    border: 2px solid $color-secondary;
    border-radius: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;

    @media (max-width: 767px) {
      width: 50px;
      height: 50px;
    }
  }

  &-order-placed {
    font-size: 25px;
    line-height: 1.6;
    margin: 0;
    font-weight: 500;

    @media (max-width: 767px) {
      font-size: 16px;
    }
  }

  &-order-id {
    font-size: 18px;
    color: $gray-666666;
    margin-bottom: 22px;
    font-weight: 400;

    @media (max-width: 767px) {
      font-size: 14px;
      margin-bottom: 20px;
    }

    & > span {
      font-weight: 500;
      text-decoration: underline;
      color: $color-primary;
    }
  }

  &-order-desc {
    color: $gray-666666;
    margin-bottom: 0px;

    @media (max-width: 767px) {
      font-size: 12px;
      margin-bottom: 0px;
    }
  }

  &-purchase-desc {
    margin-bottom: 67px;
    color: $gray-666666;
    font-weight: 400;
    display: flex;
    justify-content: space-between;

    @media (max-width: 767px) {
      margin-bottom: 40px;
    }

    & > h4 {
      font-weight: 400;
      font-size: 18px;
      margin: 0;

      @media (max-width: 767px) {
        font-size: 12px;
      }

      & > span {
        color: $color-primary;
        font-weight: 500;
      }
    }

    .reference {
      margin-left: 20px;

      & > span {
        text-decoration: underline;
      }
    }
  }

  &-continue-shopping {
    a {
      font-size: 20px;
      font-weight: 600;
      color: $color-secondary;
      text-decoration: underline;

      @media (max-width: 767px) {
        font-size: 12px;
      }

      &:hover {
        color: $color-primary;
      }
    }
  }
}

.site-ajax-loader {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.loader-ajax-slider {
  text-align: center;
  min-height: 350px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.site-ajax-loader:after {
  content: " ";
  display: block;
  width: 40px;
  height: 40px;
  margin: 8px;
  border-radius: 50%;
  border: 4px solid #1895f5;
  border-color: #1895f5 transparent #1895f5 transparent;
  animation: site-ajax-loader 1.2s linear infinite;
}
@keyframes site-ajax-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.site-loader-wrap {
  justify-content: center;
  display: flex;
  margin: 150px 0;
}

@media (max-width: 767px) {
  .site-loader-wrap {
    margin: 50px 0;
  }
}
</style>
