<template>
  <div class="relative">
    <div class="outside-close" @click="closeMenu(), scrollTopContainer()" />
    <div class="sidebar-menu">
      <div class="login-info">
        <div @click="closeMenu(), scrollTopContainer()">
          <div class="user-info-wrap" @click="login">
            <div class="user-img">
              <img src="/assets/user-placeholder.jpg" alt="User" class="object-cover">
            </div>
            <div class="user-gn">
              <span class="g-text">
                {{ $t("Hello") }},
              </span>
              <strong class="u-name">
                {{ userFullname }}
              </strong>
            </div>
          </div>
        </div>
        <div class="sidebar-close" @click="closeMenu(), scrollTopContainer()">
          <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.769287" y="0.00012207" width="27.1963" height="1.08785" transform="rotate(45 0.769287 0.00012207)" fill="white" />
            <rect x="20.002" y="0.769287" width="27.1963" height="1.08785" transform="rotate(135 20.002 0.769287)" fill="white" />
          </svg>
        </div>
      </div>
      <div class="sidebar-menu__container" id="sidebar-menu__container" ref="container">
        <!-- <h2 class="nav-title">
          {{ $t('SHOP BY CATEGORY') }}
        </h2> -->
        <ul class="sidebar-custom-menu__list" v-show="boxMenuEnabled">
          <li
            @click="closeMenu(), scrollTopContainer()"
          >
            <cms-block :identifier="'special_deal'" />
          </li>
        </ul>
        <div class="sidebar-menu-cover">
          <div class="sidebar-menu-wrap" :style="mainListStyles">
            <ul class="p0 m0 sidebar-menu__list">
              <li
                :key="category.slug"
                @click="closeMenu(), scrollTopContainer()"
                v-for="category in visibleCategories"
              >
                <div
                  v-if="isCurrentMenuShowed"
                  class="subcategory-item"
                >
                  <sub-btn
                    v-if="category.children_count > 0"
                    :id="category.id"
                    :name="category.name"
                    @click.native="enableBoxmenu(false)"
                  />
                  <router-link
                    v-else
                    :to="categoryLink(category)"
                  >
                    {{ category.name }}
                  </router-link>
                </div>
                <sub-category
                  :category-links="category.children_data"
                  :id="category.id"
                  :parent-slug="category.slug"
                  :parent-path="category.url_path"
                  :parent="category.name"
                  @menubacked="enableBoxmenu"
                />
              </li>
              <li class="menu-logout-link" v-if="isLoggedIn">
                <a href="#" @click.prevent="logout">
                  {{ $t('Logout') }}
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="box-menu-list" v-show="boxMenuEnabled">
          <div class="box-menu-item" @click="closeMenu(), scrollTopContainer()">
            <div class="menu-help">
              <cms-block :identifier="'menu_support'" />
              <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 12L6.65685 6.34315L1 0.686292" stroke="#333435" stroke-width="1.5" />
              </svg>
            </div>
          </div>
          <div class="box-menu-item" :class="{notloggedin: !isLoggedIn}" @click="login">
            <div class="history" @click="closeMenu(), scrollTopContainer()">
              <cms-block :identifier="'menu_search_history'" />
              <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 12L6.65685 6.34315L1 0.686292" stroke="#333435" stroke-width="1.5" />
              </svg>
            </div>
          </div>
          <!-- <div class="box-menu-item" @click="closeMenu(), scrollTopContainer()" v-if="isLoggedIn">
            <cms-block :identifier="'menu_search_history'" />
          </div> -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import i18n from '@vue-storefront/i18n'
import SidebarMenu from '@vue-storefront/core/compatibility/components/blocks/SidebarMenu/SidebarMenu'
import SubBtn from 'theme/components/core/blocks/SidebarMenu/SubBtn'
import SubCategory from 'theme/components/core/blocks/SidebarMenu/SubCategory'
import { formatCategoryLink } from '@vue-storefront/core/modules/url/helpers'
import { disableBodyScroll, clearAllBodyScrollLocks } from 'body-scroll-lock'
import CmsBlock from 'theme/components/core/blocks/Cms/Block'
import EventBus from '@vue-storefront/core/compatibility/plugins/event-bus'
import { isServer } from '@vue-storefront/core/helpers'

export default {
  components: {
    SubCategory,
    SubBtn,
    CmsBlock
  },
  mixins: [SidebarMenu],
  data () {
    return {
      myAccountLinks: [
        {
          id: 1,
          name: i18n.t('My profile'),
          url: '/my-account'
        },
        {
          id: 2,
          name: i18n.t('My shipping details'),
          url: '/my-account/shipping-details'
        },
        {
          id: 3,
          name: i18n.t('My newsletter'),
          url: '/my-account/newsletter'
        },
        {
          id: 4,
          name: i18n.t('My orders'),
          url: '/my-account/orders'
        },
        {
          id: 5,
          name: i18n.t('My loyalty card'),
          url: '#'
        },
        {
          id: 6,
          name: i18n.t('My product reviews'),
          url: '#'
        }
      ],
      componentLoaded: false,
      boxMenuEnabled: true
    }
  },
  computed: {
    mainListStyles () {
      return this.submenu.depth ? `transform: translateX(${this.submenu.depth * 100}%)` : false
    },
    isLoggedIn () {
      return this.$store.getters['user/isLoggedIn']
    },
    ...mapState({
      submenu: state => state.ui.submenu,
      currentUser: state => state.user.current
    }),
    getSubmenu () {
      return this.submenu
    },
    visibleCategories () {
      return this.categories.filter(category => {
        return category.product_count > 0 || category.children_count > 0
      })
    },
    isCurrentMenuShowed () {
      return !this.getSubmenu || !this.getSubmenu.depth
    },
    userFullname () {
      return this.isLoggedIn
        ? this.currentUser.firstname + ' ' + this.currentUser.lastname
        : this.$t('Guest');
    },
    myRewards () {
      if (this.currentUser) {
        return this.currentUser.extension_attributes.rewardspoint
      }
      return 0;
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.componentLoaded = true;
      if (navigator.platform === 'iPhone') {
        document.body.classList.add('device-iphone');
      }
    })
  },
  destroyed () {
    this.scrollTopContainer();
  },
  methods: {
    login () {
      if (!this.isLoggedIn) {
        this.$store.commit('ui/setAuthElem', 'login')
        this.$bus.$emit('modal-show', 'modal-signup')
      } else {
        this.$router.push({ name: 'my-account' })
      }
    },
    logout () {
      EventBus.$emit('user-before-logout')
      this.$router.push(this.localizedRoute('/'))
    },
    enableBoxmenu (isEnabled) {
      this.boxMenuEnabled = isEnabled;
    },
    categoryLink (category) {
      return formatCategoryLink(category)
    },
    scrollTopContainer () {
      this.$bus.$on('body-scroll-position-add');
      var elmnt = document.getElementById('sidebar-menu__container');
      elmnt.scrollTop = 0;
    }
  }
}
</script>

<style lang="scss">
@import "~theme/css/animations/transitions";
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$bg-secondary: color(secondary, $colors-background);
$gray-D8D8D8: color(gray-D8D8D8);
$gray-666666: color(gray-666666);
$gray-666666: color(gray-666666);
$color-primary: color(primary);
$color-secondary: color(secondary);
$pink-FF6982: color(pink-FF6982);
$white: color(white);
$white-smoke: color(white-smoke);
$white: color(white);
$gray-DDDDDD: color(gray-DDDDDD);
$black: color(black);
.points-btn {
  background-color: $white;
  color: $gray-666666;
  border-radius: 6px;
  overflow: hidden;
  padding: 5px 20px;
  font-size: 12px;
  font-weight: 500;
}
.outside-close {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.device-iphone {
  #hamburger-sidebar {
    height: 100%;
    overflow: hidden;
  }
  .sidebar-menu {
    .login-info {
      font-size: 15px;
      padding: 10px 20px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
    }
    &__container {
      height: 100%;
      padding-top: 54px;
      padding-bottom: 120px;
      overflow: scroll !important;
      overflow-x: hidden !important;
      overflow-y: scroll !important;
      @supports (-webkit-touch-callout: none) {
        padding-top:49px;
      }
    }
    .sidebar-submenu {
      padding-bottom: 80px;
    }
  }
}
.sidebar-menu {
  height: 100vh;
  .sidebar-close {
    right: 25px;
  }
  @media (max-width: 767px) {
    width: 100%;
    .sidebar-menu-cover{
      .subcategory-item{
        a,
        button{
          font-weight: 400;
          font-size: 14px;
          padding: 14px 25px;
        }
      }
    }
    .sidebar-close {
      top: 16px;
      svg {
        width: 16px;
      }
    }
  }

  &__container {
    padding-bottom: 20px;
    position: relative;
    height: calc(100% - 120px);
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    @media (max-width: 1919px) {
      height: calc(100% - 100px);
    }

    @media (max-width: 767px) {
      padding-bottom: 90px;
      height: calc(100% - 60px);
    }
  }

  &__list {
    transition: transform $duration-main $motion-main;
  }

  ul {
    list-style-type: none;
  }

  li {
    border-bottom: 1px solid $gray-DDDDDD;
    a, button {
      position: relative;
      text-align: left;
      background-color: $white;
      font-size: 18px;
      padding: 18px 25px;
      display: flex;
      align-items: center;
      color: $black;
      @media (max-width: 767px) {
        font-weight: 400;
        font-size: 14px;
        padding: 14px 25px;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 4px;
        height: 100%;
        transform: scaleY(0);
        background-color: transparent;
        transform-origin: center;
        transition: all 0.5s ease 0s;
        z-index: 1;
      }
      &:hover,
      &:focus {
        background-color: $white-smoke;
        color: $color-secondary;

        &::after {
          background-color: $color-secondary;
          transform: scaleY(1);
        }
      }
    }

    a.router-link-exact-active {
      background-color: $white-smoke;
      color: $color-secondary;

      &::after {
        background-color: $color-secondary;
        transform: scaleY(1);
      }
    }
  }

  a {
    color: $color-primary;
    border: 0 none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 30px;
    display: flex;
    width: 100%;

    @media (max-width: 767px) {
      padding: 10px 20px;
    }
  }

  .parent-name {
    font-weight: 600;
    color: $gray-666666;
  }

  .subcategory-item {
    display: flex;
    width: 100%;
  }

  button {
    color: $color-primary;
    background-color: $white;
    font-weight: 400;
    font-size: 16px;
    padding: 8px 30px;
    a {
      color: $color-primary;
    }
  }

  .close-btn {
    i {
      color: $gray-D8D8D8;
    }
    &:hover,
    &:focus {
      i {
        color: $gray-666666;
      }
    }
  }

  .nav-title {
    font-size: 20px;
    font-weight: 600;
    color: $gray-666666;
    padding: 22px 40px;
    margin: 0;

    @media (max-width: 1919px) {
      font-size: 18px;
      padding: 15px 30px;
    }

    @media (max-width: 767px) {
      font-size: 16px;
      padding: 10px 20px;
    }
  }

  .sidebar-custom-menu__list {
    margin: 0;
    padding: 0;

    li {
      a {
        color: $pink-FF6982;
        &:hover,
        &:focus,
        &.router-link-exact-active {
          background-color: transparent;
          color: $pink-FF6982;
        }

        &.router-link-exact-active {
          &::after {
            display: none;
          }
        }
      }
    }
  }

  .box-menu-list {
    .box-menu-item {
      position: relative;
      svg {
        position: absolute;
        right: 25px;
        top: 25px;
        pointer-events: none;
        transition: all 0.5s ease 0s;
        @media (max-width: 767px) {
          top: 21px;
        }
      }
      &:hover svg {
        transform: translateX(10px);
      }
      a {
        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 4px;
          height: 100%;
          transform: scaleY(0);
          background-color: $color-secondary;
          transform-origin: center;
          transition: all 0.5s ease 0s;
          z-index: 1;
        }
        &:hover::after {
          transform: scaleY(1);
        }
      }
      .history{
        border-bottom: 1px solid $gray-DDDDDD;
        border-top: 1px solid $gray-DDDDDD;
        a{
          &::before{
            content: '';
            display: block;
            width: 23px;
            height: 24px;
            background: url(/assets/history.svg) no-repeat;
            background-size: auto 20px;
            margin-right: 13px;
            background-position: center;
          }
        }
      }
      .menu-help{
        a{
          color: $color-secondary;
          &::before{
            content: '';
            display: block;
            width: 23px;
            height: 23px;
            background: url(/assets/help1.svg) no-repeat;
            margin-right: 13px;
            background-size: cover;
            object-fit: cover;
          }
        }
      }
      &.notloggedin {
        .cms-content {
          cursor: pointer;
          border-radius: 6px;
          &:hover {
            p:hover {
              a {
                background-color: $white-smoke;
                &:after {
                  transform: scaleY(1);
                }
              }
            }
          }
        }
        a {
          pointer-events: none;
        }
      }
      a {
        align-items: center;
        text-align: center;
        padding: 18px 25px;
        color: $color-secondary;
        background-color: transparent;
        font-size: 18px;

        @media (max-width: 1919px) {
          font-size: 16px;
        }

        @media (max-width: 767px) {
          font-size: 14px;
          padding: 14px 25px;
        }
        @media (max-width:315px) {
          font-size: 11px;
        }
        svg {
          margin-bottom: 5px;
          width: 20px;
          height: 20px;
          @media (max-width: 767px) {
            width: 24px;
            margin-bottom: 5px;
          }
        }

        &:hover,
        &:focus {
          background-color: $white-smoke;
          color: $color-secondary;
        }
      }
    }
  }

  .login-info {
    background-color: $color-secondary;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    font-size: 20px;

    @media (max-width: 1919px) {
      font-size: 18px;
    }

    @media (max-width: 767px) {
      font-size: 15px;
      padding: 10px 20px;
    }

    .user-info-wrap {
      display: flex;
      align-items: center;
      cursor: pointer;
      position: relative;
      z-index: 1;
      .user-img {
        width: 40px;
        height: 40px;
        background-color: $white;
        border-radius: 50%;
        margin-right: 20px;
        box-shadow: 0 6px 9px rgba($gray-666666 ,0.2);
        overflow: hidden;
        @media (max-width: 1919px) {
          margin-right: 10px;
        }
        @media (max-width: 767px) {
          width: 30px;
          height: 30px;
        }
      }
      strong{
        font-weight: 400;
      }
    }

    .user-setting {
      cursor: pointer;
      animation-play-state: paused;
      animation-duration: 8s;
      animation-name: rotate-infinite;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      width: 35px;
      height: 35px;

      @media (max-width: 1919px) {
        width: 32px;
        height: 32px;
      }

      @media (max-width: 767px) {
        width: 20px;
        height: 20px;
      }

      &:hover {
        animation-play-state: running;
      }

      img {
        display: block;
      }
    }
  }

  .sidebar-menu-wrap {
    transition: transform $duration-main $motion-main;
  }

  .menu-logout-link {
    display: none;

    @media (max-width: 767px) {
      display: block;
    }
  }
}
</style>
