<template>
  <section class="brands-filter-sec">
    <no-ssr>
      <div class="container">
        <div class="brands-filter shaded-box mb20">
          <div class="brands-search-wrap flex">
            <div class="brands-search-input-wrap" :class="{'active' : brandsSearchActive}">
              <input type="text" v-model="searchQuery" :placeholder="$t('Search All Brands')">
              <div class="brands-search-input-options" v-if="filterBrand.length">
                <router-link :to="localizedRoute('/series/'+item.link)" v-for="item in filterBrand" :key="item.id">
                  {{ item.brand_name }}
                </router-link>
              </div>
            </div>
            <button :aria-label="$t('Search')" type="button" @click="brandsSearchToggle">
              <svg data-v-386bd4ae="" width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path data-v-386bd4ae="" fill-rule="evenodd" clip-rule="evenodd" d="M12.0039 12.3689L16.9564 17.7624L12.0039 12.3689Z" fill="#313477" />
                <path data-v-386bd4ae="" d="M12.0039 12.3689L16.9564 17.7624" stroke="white" stroke-width="1.5" stroke-linecap="round" />
                <path data-v-386bd4ae="" d="M13.9586 7.39324C13.9586 11.0659 10.9981 14.0365 7.35432 14.0365C3.71058 14.0365 0.75 11.0659 0.75 7.39324C0.75 3.72054 3.71058 0.75 7.35432 0.75C10.9981 0.75 13.9586 3.72054 13.9586 7.39324Z" fill="white" fill-opacity="0.1" stroke="white" stroke-width="1.5" />
              </svg>
            </button>
          </div>
        </div>
        <div class="brands-result shaded-box">
          <div class="brands-result-parent-list">
            <div class="brands-result-parent">
              <div class="brands-result-list">
                <div class="brands-result-item" v-for="(child, childindex,) in itemsPerPage" :key="childindex">
                  <div class="brands-result-item-img">
                    <router-link :to="localizedRoute('/series/'+child.link)" :key="child.link+'-image'">
			<img :src="getBrandImage(child.image,180,180) || '/assets/placeholder.svg'" :alt="child.brand_name" width="180" height="180" onerror="this.src='/assets/placeholder.svg'">
                    </router-link>
                  </div>
                  <div class="brands-result-item-title">
                    <router-link :to="localizedRoute('/series/'+child.link)" :key="child.link+'-name'">
                      {{ child.brand_name }}
                    </router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="paginations flex middle-xs end-xs mt10" v-if="pageCount > 1">
            <a href="#" aria-label="Page left arrow" class="page-left-arrow" :class="{ inactive: currentPage === 1 }" @click.prevent="prevPage">
              <svg width="14" height="23" viewBox="0 0 14 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.9023 21L3.00285 11.1005L12.9023 1.20101" stroke="#1895F5" stroke-width="3" />
              </svg>
            </a>
            <span v-for="pageNumber in pageList" :key="pageNumber">
              <label v-if="pageNumber === currentPage" class="is_active">
                {{ pageNumber }}
              </label>
              <a href="#" class="in_active" v-else @click.prevent="changePage(pageNumber)">
                {{ pageNumber }}
              </a>
            </span>
            <a href="#" aria-label="Page right arrow" class="page-right-arrow" :class="{ inactive: currentPage === pageCount }" @click.prevent="nextPage">
              <svg width="14" height="23" viewBox="0 0 14 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.89844 21L11.7979 11.1005L1.89844 1.20101" stroke="#1895F5" stroke-width="3" />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </no-ssr>
  </section>
</template>
<script>
import NoSSR from 'vue-no-ssr'
import { brandsImgPath } from 'theme/helpers'
export default {
  name: 'BrandFilter',
  props: {
    perPage: {
      type: Number,
      required: false,
      default: 18
    },
    brandsData: {
      type: Array,
      required: true
    }
  },
  components: {
    'no-ssr': NoSSR
  },
  data () {
    return {
      currentPage: 1,
      searchQuery: null,
      checkData: false,
      data: '',
      value: '',
      activeBtn: false,
      searchArr: [],
      brandsSearchActive: false,
      activeBrandCharId: '',
      titleChar: ''
    };
  },
  computed: {
    filterBrand () {
      return this.brandsData.filter(item => {
        if (this.searchQuery) {
          return this.searchQuery
            .toLowerCase()
            .split(' ')
            .every(v => item.brand_name.toLowerCase().includes(v));
        }
      });
    },
    itemsPerPage () {
      let start = ((this.currentPage - 1) * this.perPage)
      let end = start + this.perPage
      return this.brandsData.slice(start, end)
    },
    pageCount () {
      return Math.floor(this.brandsData.length / this.perPage) + Math.min(1, this.brandsData.length % this.perPage)
    },
    pageList () {
      if (this.pageCount <= 5 || this.currentPage === 1 || this.currentPage === 2) {
        const pages = []
        for (let i = 1; i <= Math.min(this.pageCount, 5); i += 1) {
          pages.push(i)
        }
        return pages
      } else if (this.currentPage === this.pageCount || this.currentPage === this.pageCount - 1) {
        const pages = []
        for (let i = this.pageCount; i >= 1 && i >= this.pageCount - 4; i -= 1) {
          pages.unshift(i)
        }
        return pages
      } else {
        return [this.currentPage - 2, this.currentPage - 1, this.currentPage, this.currentPage + 1, this.currentPage + 2]
      }
    }
  },
  methods: {
    prevPage () {
      this.currentPage = Math.max(1, this.currentPage - 1)
    },
    nextPage () {
      this.currentPage = Math.min(this.pageCount, this.currentPage + 1)
    },
    changePage (pageNumber) {
      this.currentPage = Math.max(1, Math.min(this.pageCount, pageNumber))
    },
    brandsSearchToggle () {
      this.brandsSearchActive = !this.brandsSearchActive;
      this.searchQuery = null;
    },
    getBrandImage (image, width, height) {
      let img = image ? image.split('/') : []
      return img.length > 0 ? brandsImgPath(img[img.length - 1], width, height) : null;
    }
  }
};
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
$black: color(black);
$color-primary: color(primary);
$color-secondary: color(secondary);
$gray-666666: color(gray-666666);
$gray-D8D8D8: color(gray-D8D8D8);
$white-smoke: color(white-smoke);
$pink-FF6982: color(pink-FF6982);
$gray-333435: color(gray-333435);

.brands-filter-sec {
  .brands-filter {
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    min-height: 97px;
    @media (max-width: 767px) {
      padding: 15px;
      display: block;
      text-align: center;
    }
  }

  .all-brands-btn {
    font-size: 18px;
    font-weight: 600;
    color: $white;
    background-color: $color-secondary;
    border: 0 none;
    border-radius: 4px;
    padding: 14px 20px;
    margin-right: 11px;
    min-width: 135px;

    @media (max-width: 767px) {
      font-size: 12px;
      padding: 10px;
      min-width: 95px;
      order: 0;
    }

    &:hover {
      opacity: 0.6;
    }
  }

  .brands-character-filter {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 767px) {
      flex: 0 0 100%;
      max-width: 100%;
      order: 2;
      margin-top: 13px;
    }

    button {
      border: 0 none;
      background-color: transparent;
      font-size: 18px;
      font-weight: 600;
      color: $color-primary;
      padding: 0 11px;

      @media (max-width: 767px) {
        font-size: 14px;
        padding: 7px 10px;
      }

      &:hover, &.is-selected {
        color: $color-secondary;
      }

      &.disabled {
        color: $gray-666666;
        cursor: default;

        &:hover {
          color: $gray-666666;
        }
      }
    }
  }

  .brands-search-wrap {
    position: relative;
    align-items: center;
    justify-content: center;
    @media (max-width: 767px) {
      margin-top:5px;
    }
    button {
      border: 0 none;
      color: $white;
      background-color: $color-secondary;
      border-radius: 0px 4px 4px 0px;
      padding: 13px;
      position: relative;
      z-index: 1;
      height: 50px;
      svg {
        display: block;
      }
      @media (max-width: 767px) {
        padding: 6px 10px;
        height:40px;
      }

      &:hover {
        opacity: 0.6;
      }

      i {
        display: inline-block;
        vertical-align: middle;
      }
    }
    .brands-search-input-wrap {
      margin-left: 5px;
      input {
        border: 1px solid $gray-D8D8D8;
        padding: 10px;
        font-size: 14px;
        height: 50px !important;
        line-height: 50px !important;
        border-radius: 4px 0px 0px 4px;
        min-width: 600px;
        @media (max-width: 767px) {
          height:40px !important;
          line-height: 36px !important;
          font-size: 16px;
          min-width: 100%;
        }
      }
      .brands-search-input-options {
        background-color: $white;
        border: 1px solid $gray-D8D8D8;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        margin-top: -1px;
        padding: 5px 0;
        font-size: 14px;
        position: absolute;
        width: 81%;
        z-index: 1;
        &:empty {
          display: none;
        }
        @media (max-width: 767px) {
          font-size: 12px;
        }

        a {
          display: block;
          padding: 5px 10px;
          color: $color-primary;

          &:hover {
            color: $color-secondary;
          }
        }
      }
      @media (max-width: 767px) {
        width: 100%;
        margin: 0;
      }
    }
  }

  .brands-result {
    padding: 30px;
    margin-bottom: 80px;

    @media (max-width: 767px) {
      padding: 20px 15px;
      margin-bottom: 20px;
    }
    .brands-result-parent {

      .brands-result-list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
        @media (max-width:600px) {
          margin: 0 -5px;
        }
        .brands-result-item {
          width: 16.666666667%;
          text-align: center;
          margin-bottom: 15px;
          padding: 0 10px;
          @media (max-width:1024px) {
            width: 20%;
          }
          @media (max-width:767px) {
            width: 25%;
          }
          @media (max-width:600px) {
            width:33.333333333%;
            padding: 0 5px;
          }
          &:hover {
            .brands-result-item-title {
              a {
                color: $color-secondary;
              }
            }
          }
        }

        .brands-result-item-img {
          height: 179px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          position: relative;

          @media (max-width: 991px) {
            height: 110px;
          }

          a {
            display: block;
            height: 100%;
          }

          img {
            display: block;
            transition: all 0.3s ease 0s;
            transform: scale(1);
            height: 100%;
            object-fit: cover;
            &:hover {
              transform: scale(0.9);
            }
          }

          .brands-result-item-count {
            font-size: 14px;
            font-weight: 600;
            color: $white;
            min-width: 90px;
            min-height: 32px;
            border-radius: 4px;
            background-color: $pink-FF6982;
            position: absolute;
            top: 8px;
            right: 8px;
            text-align: center;
            line-height: 32px;
            padding: 0 10px;

            @media (max-width: 991px) {
              font-size: 10px;
              top: 5px;
              right: 5px;
              min-width: 50px;
              min-height: 20px;
              line-height: 20px;
              padding: 0 8px;
            }
          }
        }

        .brands-result-item-title {
          font-size: 15px;
          font-weight: 600;
          color: $color-primary;
          margin-top: 5px;

          @media (max-width: 767px) {
            font-size: 12px;
          }
        }
      }
    }

    .brands-result-character {
      border-bottom: 1px solid $gray-D8D8D8;
      padding-bottom: 10px;
      margin-bottom: 20px;

      @media (max-width: 767px) {
        padding-bottom: 5px;
        margin-bottom: 10px;
      }

      & > span {
        font-size: 18px;
        font-weight: 600;
        color: $gray-666666;
        background-color: $white-smoke;
        border-radius: 4px;
        padding: 17px 11px;
        display: inline-block;
        vertical-align: top;

        @media (max-width: 767px) {
          font-size: 16px;
          padding: 11px 7px;
        }
      }
    }
  }
}
.material-icons {
  font-size: 30px;
  line-height: 30px;
}
.paginations {
  @media (max-width: 767px) {
    justify-content: center;
  }
  a, label{
    background: $white;
    border: solid 1px $gray-D8D8D8;
    border-right: 0;
    padding: 5px 5px;
    height: 50px;
    width: 40px;
    text-align: center;
    color: $color-secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    svg{
      height: 15px;
    }
    &.is_active{
      color: $white;
      background: $color-secondary;
      border: solid 1px $color-secondary;
    }
    &:first-child{
       border-radius: 4px 0px 0px 4px;
    }
    &:last-child{
       border-radius: 0px 4px 4px 0px;
    }
  }
  .page-right-arrow{
    border-right: solid 1px $gray-D8D8D8;
  }
  span{
    border-radius:0px;
    a{
      border-radius:0px !important;
    }
    label{
      border-radius:0px !important;
    }
  }
  .inactive {
    opacity: 0.5;
    pointer-events: none;
  }
}
</style>
