<template>
  <div class="brand-products-slider" >
    <no-ssr>
      <div class="relative">
        <div class="swiper-slider-wrap">
          <div v-swiper="swiperOption" :instance-name="sliderId">
            <div class="swiper-wrapper">
              <div class="swiper-slide hover-on-product" v-for="(product, index) of productsList" :key="index">
                <product-tile :product="product"/>
              </div>
            </div>
          </div>
        </div>
        <div :id="sliderId + '-pagination'" class="swiper-pagination" slot="pagination" :style="enablePagination()" />
        <div :id="sliderId + '-button-prev'" class="swiper-button-prev" slot="button-prev">
          <svg width="14" height="23" viewBox="0 0 14 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.9023 21L3.00285 11.1005L12.9023 1.20101" stroke="#D8D8D8" stroke-width="3" /></svg>
        </div>
        <div :id="sliderId + '-button-next'" class="swiper-button-next" slot="button-next">
          <svg width="14" height="23" viewBox="0 0 14 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.89844 21L11.7979 11.1005L1.89844 1.20101" stroke="#D8D8D8" stroke-width="3" /></svg>
        </div>
      </div>
    </no-ssr>
  </div>
</template>

<script>
import NoSSR from 'vue-no-ssr';
import SwiperCore, { Navigation, Pagination, Autoplay } from 'swiper';
import { directive } from 'vue-awesome-swiper'
import 'swiper/swiper.scss'

SwiperCore.use([Navigation, Pagination, Autoplay]);

export default {
  name: 'BrandProductSlider',
  props: {
    sliderId: {
      type: String,
      default: ''
    },
    perPageCustom: {
      type: Array,
      default: () => []
    },
    paginationEnabled: {
      type: Boolean,
      default: true
    },
    navigationEnabled: {
      type: Boolean,
      default: true
    },
    slideAutoPlay: {
      type: Boolean,
      default: true
    },
    productsList: {
      type: [Object, Array],
      default: () => []
    },
    loop: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      swiperOption: {
        observer: true,
        observeParents: true,
        spaceBetween: 25,
        slidesPerView: 4,
        freeMode: true,
        autoplay: this.slideAutoPlay,
        loop: this.loop,
        pagination: {
          el: ('#' + this.sliderId + '-pagination'),
          clickable: true
        },
        navigation: {
          nextEl: ('#' + this.sliderId + '-button-next'),
          prevEl: ('#' + this.sliderId + '-button-prev')
        },
        breakpoints: this.sliderBreakPoints(),
        on: {
          slideChangeTransitionStart () {
            let $wrapperEl = this.$wrapperEl;
            let params = this.params;
            $wrapperEl.children(('.' + (params.slideClass) + '.' + (params.slideDuplicateClass)))
              .each(function () {
                let idx = this.getAttribute('data-swiper-slide-index');
                this.innerHTML = $wrapperEl.children('.' + params.slideClass + '[data-swiper-slide-index="' + idx + '"]:not(.' + params.slideDuplicateClass + ')').html();
              });
          },
          slideChangeTransitionEnd () {
            this.slideToLoop(this.realIndex, 0, false);
          }
        }
      }
    };
  },
  components: {
    ProductTile: () => import(/* webpackChunkName: "vsf-product-tile" */ 'theme/components/core/ProductTile'),
    'no-ssr': NoSSR
  },
  directives: {
    swiper: directive
  },
  methods: {
    sliderBreakPoints () {
      let breakPointsArr = {};
      let breakPointsScreens = [];
      let slidesPerViewArr = [];

      this.perPageCustom.forEach((perPage) => {
        breakPointsScreens.push(perPage[0]);
        slidesPerViewArr.push({
          slidesPerView: perPage[1][0],
          spaceBetween: perPage[1][1]
        });
      });
      breakPointsArr = Object.assign(...breakPointsScreens.map((k, i) => ({ [k]: slidesPerViewArr[i] })));
      return breakPointsArr;
    },
    enablePagination () {
      var pagination = this.paginationEnabled ? 'display: block' : 'display: none';
      return pagination;
    }
  }
};
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-D8D8D8: color(gray-D8D8D8);

.brand-products-slider {
  .swiper-slider-wrap {
    padding: 0 20px;
    @media (max-width: 767px) {
      padding: 0;
    }
  }
  .swiper-slide {
    .product-image {
      min-height: 200px;
    }
  }
  .swiper-button-prev,.swiper-button-next {
    width: 40px;
    height: 40px;
    &.swiper-button-disabled {
      opacity: 1;
      svg {
        path {
          stroke: $gray-D8D8D8;
        }
      }
    }
  }
  .swiper-button-prev {
    left: -35px;
  }
  .swiper-button-next {
    right: -35px;
  }
}
</style>
