<template>
  <div class="product-categories-carousel-wrap">
    <div class="title-sec" :class="{'badge-enabled' : badge}">
      <h2 class="sec-title flex middle-xs center-xs m0">
        <img :src="badge" alt="Badge" v-if="badge" class="mr10 badge-mobile" width="28" height="30">
        <div class="sec-title-wrap">
          <div class="sec-title-cover" :style="titleBadge">
            <div class="sec-title-cover-cover" v-if="seeAllLink">
              <router-link
                :to="seeAllLink"
              >
                {{ title }}
                <svg class="ml10" width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0.173073 0.173073C0.388453 -0.0423068 0.728732 -0.0566655 0.960765 0.129997L1.00874 0.173073L5.09965 4.26398C5.31503 4.47936 5.32939 4.81964 5.14273 5.05167L5.09965 5.09965L1.00874 9.19056C0.77798 9.42133 0.403838 9.42133 0.173073 9.19056C-0.0423068 8.97518 -0.0566655 8.6349 0.129997 8.40287L0.173073 8.35489L3.84591 4.68182L0.173073 1.00874C-0.0423068 0.793365 -0.0566655 0.453086 0.129997 0.221053L0.173073 0.173073Z" fill="#888888" />
                </svg>
              </router-link>
            </div>
            <div class="sec-title-cover-cover" v-else>
              {{ title }}
            </div>
          </div>
        </div>
      </h2>
    </div>
    <div class="product-categories-carousel" v-if="topBrands.length > 0">
      <no-ssr>
        <div class="relative">
          <div class="swiper-slider-wrap">
            <div v-swiper="swiperOption" :instance-name="sliderId">
              <div class="swiper-wrapper">
                <div class="swiper-slide hover-on-product" v-for="(topBrand, index) of topBrands" :key="index">
                  <div class="category align-center">
                    <div class="category-img-wrap">
                      <span class="category-index">{{ getCount(topBrand.brand_products) }}</span>
                      <div class="category-img">
                        <router-link
                          :to="localizedRoute('/series/'+topBrand.link)"
                        >
                          <img :src="getBrandImage(topBrand.image,180,180)" :alt="topBrand.brand_name" width="180" height="180" onerror="this.src='/assets/placeholder.svg'">
                        </router-link>
                      </div>
                    </div>
                    <div class="category-title">
                      <router-link
                        :to="localizedRoute('/series/'+topBrand.link)"
                      >
                        {{ topBrand.brand_name }}
                      </router-link>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide hover-on-product h-auto flex middle-xs center-xs" v-if="seeAllLink">
                  <div class="see-all-btn">
                    <router-link class="see-all" :to="seeAllLink">
                      <span>
                        <svg width="14" height="23" viewBox="0 0 14 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M12.9023 21L3.00285 11.1005L12.9023 1.20101" stroke="#1895F5" stroke-width="3" />
                        </svg>
                      </span>
                      <strong>
                        {{ $t('See All') }}
                      </strong>
                    </router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div :id="sliderId + '-pagination'" class="swiper-pagination" slot="pagination" :style="enablePagination()" />
          <div :id="sliderId + '-button-prev'" class="swiper-button-prev" slot="button-prev">
            <svg width="14" height="23" viewBox="0 0 14 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.9023 21L3.00285 11.1005L12.9023 1.20101" stroke="#D8D8D8" stroke-width="3" /></svg>
          </div>
          <div :id="sliderId + '-button-next'" class="swiper-button-next" slot="button-next">
            <svg width="14" height="23" viewBox="0 0 14 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.89844 21L11.7979 11.1005L1.89844 1.20101" stroke="#D8D8D8" stroke-width="3" /></svg>
          </div>
        </div>
      </no-ssr>
    </div>
  </div>
</template>
<script>
import NoSSR from 'vue-no-ssr';
import { brandsImgPath } from 'theme/helpers'
import SwiperCore, { Navigation, Pagination, Autoplay } from 'swiper';
import { directive } from 'vue-awesome-swiper'
import 'swiper/swiper.scss'

SwiperCore.use([Navigation, Pagination, Autoplay]);

export default {
  name: 'TopRankedBrands',
  directives: {
    swiper: directive
  },
  props: {
    brands: {
      type: Array,
      required: true
    },
    sliderId: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    },
    subTitle: {
      type: String,
      default: ''
    },
    perPageCustom: {
      type: Array,
      default: () => []
    },
    paginationEnabled: {
      type: Boolean,
      default: true
    },
    navigationEnabled: {
      type: Boolean,
      default: true
    },
    productBorderEnabled: {
      type: Boolean,
      default: false
    },
    limit: {
      type: Number,
      default: 1
    },
    slideAutoPlay: {
      type: Boolean,
      default: true
    },
    seeAllLink: {
      type: String,
      default: ''
    },
    badge: {
      type: String,
      default: ''
    },
    productsList: {
      type: [Object, Array],
      default: () => []
    },
    loop: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      topBrands: [],
      swiperOption: {
        spaceBetween: 40,
        slidesPerView: 4,
        freeMode: true,
        autoplay: this.slideAutoPlay,
        loop: this.loop,
        pagination: {
          el: ('#' + this.sliderId + '-pagination'),
          clickable: true
        },
        navigation: {
          nextEl: ('#' + this.sliderId + '-button-next'),
          prevEl: ('#' + this.sliderId + '-button-prev')
        },
        breakpoints: this.sliderBreakPoints(),
        on: {
          slideChangeTransitionStart () {
            let $wrapperEl = this.$wrapperEl;
            let params = this.params;
            $wrapperEl.children(('.' + (params.slideClass) + '.' + (params.slideDuplicateClass)))
              .each(function () {
                let idx = this.getAttribute('data-swiper-slide-index');
                this.innerHTML = $wrapperEl.children('.' + params.slideClass + '[data-swiper-slide-index="' + idx + '"]:not(.' + params.slideDuplicateClass + ')').html();
              });
          },
          slideChangeTransitionEnd () {
            this.slideToLoop(this.realIndex, 0, false);
          }
        }
      }
    };
  },
  components: {
    // Swiper,
    // SwiperSlide,
    'no-ssr': NoSSR
  },
  created () {
    this.topBrands = this.brands
  },
  computed: {
    titleBadge () {
      return {
        '--titleBadge': 'url(' + this.badge + ')'
      }
    }
  },
  methods: {
    sliderBreakPoints () {
      let breakPointsArr = {};
      let breakPointsScreens = [];
      let slidesPerViewArr = [];

      this.perPageCustom.forEach((perPage) => {
        breakPointsScreens.push(perPage[0]);
        slidesPerViewArr.push({
          slidesPerView: perPage[1][0],
          spaceBetween: perPage[1][1]
        });
      });
      breakPointsArr = Object.assign(...breakPointsScreens.map((k, i) => ({ [k]: slidesPerViewArr[i] })));
      return breakPointsArr;
    },
    enablePagination () {
      var pagination = this.paginationEnabled ? 'display: block' : 'display: none';
      return pagination;
    },
    getBrandImage (image, width, height) {
      let img = image ? image.split('/') : []
      return img.length > 0 ? brandsImgPath(img[img.length - 1], width, height) : null;
    },
    getCount (products) {
      if (products !== null) {
        return products.split(',').length;
      }
      return 0;
    }
  }
};
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$pink-FF6982: color(pink-FF6982);
$white: color(white);
$color-secondary: color(secondary);
$gray-D8D8D8: color(gray-D8D8D8);
$blue-1895F5: color(blue-1895F5);
.home-top-ranked-products-sec{
  .slider-spacing {
    padding: 0 80px;
    @media (max-width: 767px) {
      padding: 0;
    }
  }
  .swiper-button-prev, .swiper-button-next {
    top: 80px;
    transform: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    width: 40px;
    height: 40px;
    &.swiper-button-disabled {
      opacity: 1;
      svg  {
        path {
          stroke: $gray-D8D8D8;
        }
      }
    }
  }
  .swiper-button-prev {
    left: -88px;
  }
  .swiper-button-next {
    right: -88px;
  }
  @media (max-width: 767px) {
    .shaded-strip{
      padding: 30px 0;
    }
  }
}
.product-categories-carousel {
  .VueCarousel-inner {
    margin: 0 -1.6%;
  }

  .VueCarousel-slide {
    padding: 0 1.6%;
  }

  .VueCarousel-navigation-button {
    padding: 0;

    svg {
      path {
        transition: all 0.3s ease 0s;
      }
    }

    &:hover {
      svg {
        path {
          stroke: $color-secondary;
        }
      }
    }

    &.VueCarousel-navigation--disabled {
      &:hover {
        svg {
          path {
            stroke: $gray-D8D8D8;
          }
        }
      }
    }
  }

  .VueCarousel-pagination {
    .VueCarousel-dot-container {
      margin: 35px auto 0 !important;
      display: block;
      font-size: 0;

      .VueCarousel-dot {
        width: 25px !important;
        height: 3px !important;
        padding: 0 !important;
        margin: 5px 4px 0 !important;
        border-radius: 0;
        background-color: $gray-D8D8D8 !important;

        &.VueCarousel-dot--active {
          background-color: $color-secondary !important;
        }
      }
    }
  }

  .category {
    &:hover {
      .category-title {
        a {
          color: $color-secondary;
        }
      }
    }
  }

  .category-img-wrap {
    position: relative;
    display: inline-block;

    .category-img {
      border-radius: 50%;
      overflow: hidden;
      display: block;
      margin: 0 auto;
      width: 179px;
      height: 179px;
      transition: all 0.3s ease 0s;
      transform: scale(1);

      @media (max-width: 767px) {
        width:100%;
        height:auto;
        max-width: 150px;
        max-height: 150px;
      }

      a, img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
        @media (max-width: 767px) {
          height: 120px;
        }
      }

      &:hover {
        transform: scale(0.9);
      }
    }

    .category-index {
      border: 2px solid;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      font-weight: 600;
      background-color: $pink-FF6982;
      color: $white;
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 1;

      @media (max-width: 767px) {
        font-size: 12px;
        width: 30px;
        height: 30px;
      }
    }
  }

  .category-title {
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0 0;

    @media (max-width: 767px) {
      margin-top: 10px;
    }
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
  .swiper-slider-wrap {
    @media (max-width: 767px) {
      .swiper-slide {
        width: 120px;
        .category {
          padding: 0;
        }
      }
    }
  }
}
</style>
