<template>
  <div
    class="microcart cl-primary relative"
    data-testid="microcart"
  >
    <transition name="fade">
      <div v-if="isEditMode" class="overlay" @click="closeEditMode" />
    </transition>
    <div class="sidebar-close">
      <img src="~theme/assets/sidebar-close.svg" alt="Microcart close" @click="closeMicrocartExtendSidebar()" data-testid="closeMicrocart" class="desktop-close">
      <i data-testid="closeSearchPanel" @click="closeMicrocartExtendSidebar()" class="material-icons pointer close-icon mobile-close">close</i>
    </div>
    <div class="sidebar-title">
      <h2>
        {{ $t('Shopping Cart') }}
      </h2>
      <clear-cart-button v-if="productsInCart.length" @click.native="clearCart" />
    </div>

    <div class="nosto_cart" style="display:none" v-if="productsInCart.length">
      <div class="line_item" v-for="product in productsInCart" :key="product.sku">
        <span class="product_id">{{ product.sku }}</span>
        <span class="quantity">{{ product.qty }}</span>
        <span class="name">{{ product.name }}</span>
        <span class="unit_price" v-if="product.original_special_price">{{ product.original_special_price }}</span>
        <span class="unit_price" v-else>{{ product.price }}</span>
        <span class="price_currency_code">THB</span>
      </div>
    </div>

    <div class="floating-cart-empty" v-if="!productsInCart.length">
      <h4>
        {{ $t('Your shopping cart is empty.') }}
      </h4>
      <div @click="closeMicrocartExtend">
        {{ $t("Don't hesitate and") }}
        <router-link :to="localizedRoute('/')">
          {{ $t('browse our catalog') }}
        </router-link>
        {{ $t('to find something beautiful for You!') }}
      </div>
    </div>
    <div class="product-list-wrap">
      <div class="eligible-free-gift-notification" v-if="removedDuplicateGiftProducts.length && productsInCart.length">
        <img src="/assets/tick-green.svg" alt="Eligible for free gift(s)" class="mr10">
        {{ $t('You are eligible for free gift(s)') }}
        <router-link
          class="link pointer"
          to="/i/how-to-get-free-gift"
        >
          {{ $t('see more details') }}
        </router-link>
      </div>
      <ul v-if="productsInCart.length" class="product-list">
        <product v-for="product in productsInCart" :key="product.server_item_id || product.id" :product="product" />
      </ul>
      <div class="mt30 flex end-xs free-gift-btn" v-if="removedDuplicateGiftProducts.length && productsInCart.length">
        <button class="btn-secondary btn-fill" type="button" @click="toggleFreeGifts" :disabled="disableFreeGiftBtn">
          {{ $t('ADD FREE GIFT') }}
        </button>
      </div>
      <div class="loader-ajax-slider" v-if="disableFreeGiftBtn" />
    </div>

    <div class="summary-wrap" v-if="productsInCart.length">
      <div v-if="productsInCart.length" class="summary">
        <h3 class="h1 summary-heading">
          {{ $t('Shopping Summary') }}
        </h3>

        <div v-if="OnlineOnly" class="use-reward-points-sec">
          <label class="h2 block">{{ $t('Use Reward Points') }}</label>
          <p v-if="isLogged">
            {{ $t('You have {points} reward points available.', { points: customerRewardPoints }) }}
          </p>
          <p v-else>
            {{ $t('Please login to collect and spend points.') }}
          </p>
          <div class="coupon-wrapper">
            <div class="coupon-input">
              <base-input type="text" id="rewardinput" :placeholder="$t('Enter amount of points to spend')" :autofocus="true" @keyup.enter="setRewards" v-model.trim="addedPoint" />
              <i @click="clearRewardPoints" class="modal-close material-icons pointer">close</i>
            </div>
            <button-outline class="btn-secondary btn-fill" color="dark" :disabled="!addedPoint || !customerRewardPoints" @click.native="setRewards">
              {{ $t('APPLY POINTS') }}
            </button-outline>
          </div>
        </div>
        <div v-if="OnlineOnly" class="discount-coupon-sec">
          <label class="h2 block">{{ $t('Add a discount code') }}</label>
          <div class="coupon-wrapper">
            <div class="coupon-input">
              <base-input type="text" id="couponinput" :placeholder="$t('Enter discount code')" :autofocus="true" v-model.trim="couponCode" @keyup.enter="setCoupon" />
              <i @click="couponCode = null" class="modal-close material-icons pointer">close</i>
            </div>
            <button-outline class="btn-secondary btn-fill" color="dark" :disabled="!couponCode" @click.native="setCoupon">
              {{ $t('APPLY DISCOUNT') }}
            </button-outline>
          </div>
        </div>
        <div class="micro-totals">
          <div v-for="(segment, index) in totals" :key="index" class="weight-500 cl-gray-666666" :class="segment.code">
            <div class="row py15" v-if="segment.title !== 'ใช้คะแนนขั้นต่ำ' && segment.title !== 'ใช้คะแนนสูงสุด'">
              <div class="col-xs">
                <span class="segment-title">
                  {{ $t(segment.title) }}
                </span>
                <span v-if="appliedCoupon && segment.code === 'discount'">
                  {{ $t(segment.code) }}
                  ({{ appliedCoupon.code }})
                </span>
                <button v-if="appliedCoupon && segment.code === 'discount'" type="button" class="p0 brdr-none bg-cl-transparent close delete-button ml10" @click="clearCoupon">
                  <i class="material-icons cl-accent">
                    close
                  </i>
                </button>
                <button v-if="segment.value != null && segment.value < 0 && segment.code === 'rewards-spend-amount'" type="button" class="p0 brdr-none bg-cl-transparent close delete-button ml10" @click="clearRewardPoints">
                  <i class="material-icons cl-accent">
                    close
                  </i>
                </button>
              </div>
              <div v-if="segment.value != null" class="col-xs align-right">
                <span v-if="segment.code !== 'rewards-total'">
                  {{ segment.value | price(storeView) }}
                </span>
                <span v-if="segment.code == 'rewards-total'">
                  {{ segment.value }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="actions"
        v-if="productsInCart.length && !isCheckoutMode"
      >
        <router-link :to="localizedRoute('/')" class="no-underline">
          <span @click="closeMicrocartExtend">
            {{ $t('Return to Shopping') }}
          </span>
        </router-link>
        <button-full
          :link="{ name: isAuthPopup }"
          @click.native="closeMicrocartExtend"
        >
          {{ $t('GO TO CHECKOUT') }}
        </button-full>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapState } from 'vuex'
import i18n from '@vue-storefront/i18n'
import { isModuleRegistered } from '@vue-storefront/core/lib/modules'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'

import VueOfflineMixin from 'vue-offline/mixin'
import onEscapePress from '@vue-storefront/core/mixins/onEscapePress'
import { registerModule } from '@vue-storefront/core/lib/modules'

import BaseInput from 'theme/components/core/blocks/Form/BaseInput'
import ClearCartButton from 'theme/components/core/blocks/Microcart/ClearCartButton'
import ButtonFull from 'theme/components/theme/ButtonFull'
import ButtonOutline from 'theme/components/theme/ButtonOutline'
import Product from 'theme/components/core/blocks/Microcart/Product'
import EditMode from './EditMode'
import { StorageManager } from '@vue-storefront/core/lib/storage-manager'
import map from 'lodash-es/map'
import uniq from 'lodash-es/uniq'
var cookie = require('cookie');

export default {
  components: {
    Product,
    ClearCartButton,
    ButtonFull,
    ButtonOutline,
    BaseInput
  },
  mixins: [
    VueOfflineMixin,
    EditMode,
    onEscapePress
  ],
  data () {
    return {
      addCouponPressed: false,
      couponCode: '',
      rewardPoint: '',
      addedPoint: '',
      componentLoaded: false,
      spentPoint: '',
      clearCartFlag: '',
      freeGiftFlag: false,
      autoAddedGifts: '',
      disableFreeGiftBtn: false
    }
  },
  props: {
    isCheckoutMode: {
      type: Boolean,
      required: false,
      default: () => false
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.componentLoaded = true
    })

    if (this.isLogged) {
      this.$store.dispatch('freeGift/list', this.currentCartToken)
    }
    this.$bus.$on('disable-gift-button', (val) => {
      this.disableFreeGiftBtn = val
    })
  },
  beforeDestroy () {
    this.$bus.$off('disable-gift-button')
  },
  computed: {
    ...mapGetters({
      productsInCart: 'cart/getCartItems',
      appliedCoupon: 'cart/getCoupon',
      totals: 'cart/getTotals',
      isOpen: 'cart/getIsMicroCartOpen',
      currentCartToken: 'cart/getCartToken',
      getFreeGifts: 'freeGift/getFreeGiftProducts',
      isLogged: 'user/isLoggedIn',
      removedDuplicateGiftProducts: 'freeGift/removedDuplicateGiftProducts'
    }),
    ...mapState({
      cartPlatformTotal: state => state.cart.platformTotals,
      appliedRewards: state => state.appliedRewardPoints,
      isMicrocartOpen: state => state.ui.microcart,
      currentUser: state => state.user.current
    }),
    storeView () {
      return currentStoreView()
    },
    customerRewardPoints () {
      this.getPoints()
      if (this.$store.state.user.current && this.$store.state.user.current.extension_attributes.rewardspoint) {
        return this.$store.state.user.current.extension_attributes.rewardspoint
      }
      return ''
    },
    isAuthPopup () {
      return this.isLogged ? 'checkout' : ''
    },
    isFreeGiftBtnVisible () {
      let cartItemStockStatus = uniq(map(this.productsInCart, 'stock_status'));
      return !cartItemStockStatus.includes('PreOrder');
    },
    freeGiftProduct() {
      return this.productsInCart.filter(product => product.price === 0) || []
    }
  },
  methods: {
    ...mapActions({
      applyCoupon: 'cart/applyCoupon'
    }),
    getPoints () {
      if (this.cartPlatformTotal && this.cartPlatformTotal.total_segments && this.cartPlatformTotal.total_segments.length > 0) {
        const rewardSpend = this.cartPlatformTotal.total_segments.find(r => r.code === 'rewards-spend');
        if (rewardSpend && rewardSpend.value) {
          this.addedPoint = rewardSpend.value
        } else {
          this.addedPoint = ''
        }
      }
    },
    resetInput () {
      this.addedPoint = '';
      this.couponCode = '';
    },
    addDiscountCoupon () {
      this.addCouponPressed = true
    },
    clearCoupon () {
      this.$store.dispatch('cart/removeCoupon')
      this.addCouponPressed = false
    },
    clearRewardPoints () {
      // if (this.addedPoint) {
      this.$store.dispatch('rewardPoints/addRewardPoints', [0, this.currentCartToken, this.currentUser.id])
      StorageManager.get('cart').setItem('current-cart', [])
      this.$store.dispatch('cart/sync', { forceSync: true })
      this.$store.dispatch('cart/syncTotals', { forceServerSync: true })
      // }
    },
    toggleMicrocart () {
      this.$store.dispatch('ui/toggleMicrocart')
      // this.$store.dispatch('freeGift/list', this.currentCartToken)
    },
    async setCoupon () {
      const couponApplied = await this.applyCoupon(this.couponCode)
      this.addCouponPressed = false
      this.couponCode = ''
      if (!couponApplied) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'warning',
          message: i18n.t("You've entered an incorrect coupon code. Please try again."),
          action1: { label: i18n.t('OK') }
        })
      }
    },
    async setRewards () {
      if (parseInt(this.customerRewardPoints) >= parseInt(this.addedPoint)) {
        const appliedRewardPoint = await this.$store.dispatch('rewardPoints/addRewardPoints', [this.addedPoint, this.currentCartToken, this.currentUser.id])
        if (appliedRewardPoint.code === 200) {
          await StorageManager.get('cart').setItem('current-cart', [])
          await this.$store.dispatch('cart/sync', { forceSync: true })
          await this.$store.dispatch('cart/syncTotals', { forceServerSync: true })
          this.$store.dispatch('notification/spawnNotification', {
            type: 'success',
            message: i18n.t('Reward points applied successfully!'),
            action1: { label: i18n.t('OK') }
          })
        } else {
          this.$store.dispatch('notification/spawnNotification', {
            type: 'warning',
            message: i18n.t('Something went wrong with the applying the reward points'),
            action1: { label: i18n.t('OK') }
          })
        }
      } else {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'warning',
          message: i18n.t('Please add point within {msg} range', { msg: this.customerRewardPoints }),
          action1: { label: i18n.t('OK') }
        })
      }
    },
    closeMicrocartExtendSidebar () {
      this.toggleMicrocart()
      this.$store.commit('ui/setSidebar', false)
    },
    closeMicrocartExtend () {
      if (!this.currentUser) {
        localStorage.setItem('isAuthCheckout', true)
        this.$bus.$emit('modal-show', 'modal-signup')
      } else {
        this.toggleMicrocart()
        this.$store.commit('ui/setSidebar', false)
        this.addCouponPressed = false
        var elmnt = document.getElementById('microcart-sidebar');
        elmnt.scrollTop = 0;
      }
    },
    onEscapePress () {
      this.$store.dispatch('ui/closeMicrocart')
    },
    clearCart () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: '<div class="cl-gray-666666">' + this.$t('Are you sure?') + '<br/><span>' + this.$t('Do you really want to delete these records? This process cannot be undone.') + '</span></div>',
        action1: { label: i18n.t('Cancel'), action: 'close' },
        action2: { label: i18n.t('Delete'),
          action: async () => {
            // We just need to clear cart on frontend and backend.
            // but cart token can be reused
            this.clearCartFlag = true
            await this.$store.dispatch('cart/clear', { disconnect: false })
          }
        },
        hasNoTimeout: true
      })
    },
    toggleFreeGifts () {
      if (this.freeGiftProduct && this.freeGiftProduct.length === this.getFreeGifts.max_gift) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'error',  
          message: i18n.t('The number of freebies exceeded the limit. Please delete to select a new one.'),
          action1: { label: i18n.t('OK') }
        })
        return
      }
      if (this.isLogged) {
        this.$store.dispatch('ui/toggleMicrocart')
        this.$store.dispatch('ui/toggleFreeGifts')
      } else {
        this.$bus.$emit('modal-toggle', 'modal-signup')
      }
    },
    notifyUser (notificationData) {
      this.$store.dispatch('notification/spawnNotification', notificationData, { root: true })
    },
    async syncFirstTimeData () {
      let flag = await StorageManager.get('cart').getItem('first-load')
      if (this.isLogged && this.getFreeGifts && this.getFreeGifts.total_added && this.getFreeGifts.total_added > 0 && flag) {
        StorageManager.get('cart').setItem('first-load', false)
        this.disableFreeGiftBtn = true;
        setTimeout(() => {
          this.$store.dispatch('cart/syncTotals', { forceServerSync: true }).then(() => {
            this.disableFreeGiftBtn = false;
          })
        }, 500);
      }
    },
    syncGiftCartProducts () {
      if (this.freeGiftProduct && this.freeGiftProduct.length > 1) {
          this.freeGiftProduct.forEach(async (product, key)  =>  {
            if (key !== 0) {
               await this.$store.dispatch('cart/removeItem', { product: product })
            }
          })
      }
    }
  },
  watch: {
    productsInCart: {
      handler () {
        this.$store.dispatch('nosto/viewCart', { products: this.productsInCart })
      }
    },
    isMicrocartOpen: {
      handler () {
        if (this.isMicrocartOpen && this.isLogged) {
          this.syncFirstTimeData();
          this.syncGiftCartProducts();
        }
      }
    }
    // getFreeGifts: {
    //   handler (data) {
    //     if (data !== undefined && data.gifts !== undefined) {
    //       this.freeGiftFlag = true;

    //       if (data.auto_add === 1 && !this.clearCartFlag && !this.autoAddedGifts) {
    //         // code for the auto adding gift product
    //         this.clearCartFlag = false;
    //         this.autoAddedGifts = true;
    //         localStorage.removeItem('shop/cart/current-cart');
    //         this.$store.dispatch('cart/sync', { forceSync: true })
    //         this.$store.dispatch('cart/syncTotals', { forceServerSync: true })
    //         // this.$store.dispatch('cart/sync', { forceSync: true })
    //       }
    //     }
    //     if (data === undefined && this.freeGiftFlag) {
    //       localStorage.removeItem('shop/cart/current-cart');
    //       this.freeGiftFlag = false;
    //       window.location.reload(1);
    //     }
    //   }
    // }
  }
}
</script>

<style lang="scss" scoped>
  @import "~theme/css/animations/transitions";
  @import '~theme/css/variables/colors';
  @import '~theme/css/helpers/functions/color';
  $color-secondary: color(secondary);
  $white-smoke: color(white-smoke);
  $gray-A3A3A3: color(gray-A3A3A3);
  $gray-D8D8D8: color(gray-D8D8D8);
  $yellow-F6A500: color(yellow-F6A500);
  $white: color(white);

  .mt0 {
    @media (max-width: 767px) {
      margin-top: 0;
    }
  }

  .clearcart {
    &-col {
      display: flex;
      align-self: center;
    }
  }

  .products {
    @media (max-width: 767px) {
      padding: 30px 15px;
    }
  }

  .actions {
    .link {
      @media (max-width: 767px) {
        display: flex;
        justify-content: center;
        padding: 20px 70px;
        &.checkout {
          margin-top: 55px;
          padding: 0;
        }
      }
    }
  }

  .summary {
    @media (max-width: 767px) {
      font-size: 12px;
    }
  }

  .summary-heading {
    @media (max-width: 767px) {
      font-size: 18px;
    }
  }

  .grand-total-row {
    @media (max-width: 767px) {
      padding-bottom: 30px;
    }
  }

  .total-price-label {
    @media (max-width: 767px) {
      font-size: 16px;
    }
  }

  .total-price-value {
    @media (max-width: 767px) {
      font-size: 20px;
    }
  }

  .delete-button {
    vertical-align: middle;
  }

  .coupon-wrapper {
    display: flex;

    .button-outline {
      border-color: $yellow-F6A500;
      background-color: $yellow-F6A500;
      color: $white;
      min-width: 162px;
      padding: 13px 10px;

      @media (max-width: 767px) {
        min-width: 142px;
        font-size: 12px;
        padding: 9px 10px;
      }

      &.dark:hover, &.dark:focus {
        border-color: $yellow-F6A500;
        background-color: $yellow-F6A500;
        color: $white;
        opacity: 0.6;
      }
    }

    .coupon-input {
      margin-right: 30px;
      width: 100%;

      @media (max-width: 767px) {
        margin-right: 10px;
      }
    }
  }

  .overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 0;
    height: 100%;
    background:rgba(33, 33, 33, 0.5);
    backdrop-filter: blur(6px);
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .4s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }

  .microcart {
    .sidebar-title {
      padding-top: 25px;
      padding-bottom: 25px;
      margin-left: 40px;
      margin-right: 40px;

      @media (max-width: 767px) {
        padding-top: 30px;
        padding-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
        clear: both;
      }
    }

    .floating-cart-empty {
      padding: 0 40px 40px;
    }

    .product-list-wrap {
      padding: 0 40px 40px;
      @media (max-width: 767px) {
        padding: 0 20px 30px;
      }
      .loader-ajax-slider {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255,255,255,0.8);
        z-index: 9;
        &:after {
          content: " ";
          display: block;
          width: 40px;
          height: 40px;
          margin: 8px;
          border-radius: 50%;
          border: 4px solid #1895f5;
          border-color: #1895f5 transparent #1895f5 transparent;
          animation: site-ajax-loader 1.2s linear infinite;
        }
      }
      @keyframes site-ajax-loader {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }

  .eligible-free-gift-notification {
    border: 1px solid rgba($color-secondary, 0.4);
    background-color: rgba($color-secondary, 0.04);
    color: $color-secondary;
    font-size: 14px;
    font-weight: 500;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 12px 20px;
    display: flex;
    align-items: center;

    @media (max-width: 767px) {
      font-size: 12px;
      margin-bottom: 16px;
      padding: 12px 15px;
      border-radius: 6px;
    }
  }

  .summary-wrap {
    background-color: $white-smoke;
    padding: 40px;

    @media (max-width: 767px) {
      padding: 20px;
    }

    .actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      & > a {
        margin-left: 30px;
        font-size: 14px;

        @media (max-width: 767px) {
          font-size: 12px;
          margin-left: 20px;
        }

        @media (max-width: 575px) {
          margin-left: 10px;
        }

        &:first-child {
          margin-left: 0;
        }

        &.btn-full {
          width: auto;
          padding: 14px 10px;
          min-width: 200px;
          font-weight:400;

          @media (max-width: 767px) {
            font-size: 12px;
          }

          @media (max-width: 575px) {
            min-width: 150px;
          }
        }
      }
    }
  }

  .summary-heading {
    margin-bottom: 40px;

    @media (max-width: 767px) {
      margin-bottom: 25px;
      font-size: 16px;
    }
  }

  .discount-coupon-sec {
    margin-bottom: 25px;

    & > .h2 {
      @media (max-width: 767px) {
        font-size: 14px;
        margin-bottom: 15px;
      }
    }
  }

  .use-reward-points-sec {
    margin-bottom: 40px;

    @media (max-width: 767px) {
      margin-bottom: 25px;
    }

    & > .h2 {
      margin-bottom: 8px;
      @media (max-width: 767px) {
        font-size: 14px;
        margin-bottom: 4px;
      }
    }
  }

  .free-gift-btn {
    @media (max-width: 767px) {
      margin-top: 16px;

      button {
        font-size: 12px;
        min-width: 176px;
      }
    }
  }
</style>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-A3A3A3: color(gray-A3A3A3);
$gray-D8D8D8: color(gray-D8D8D8);

.coupon-input {
  position: relative;
  input[type="text"] {
    border-bottom: 1px solid $gray-D8D8D8;
    color: $gray-A3A3A3;
    font-size: 14px;
    font-weight: 500;
    height: 46px;
    line-height: 46px;
    padding-right:15px;
  }
  i{
    position: absolute;
    right: 0px;
    top: 50%;
    font-size: 18px;
    transform: translate(0, -50%);
  }
}
.microcart {
  .product-quantity-wrap {
    .product-quantity-label {
      display: none;
    }
  }
}

.coupon-input {
  input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="button"]):not([type="submit"]):not([type="hidden"]), select {
    @media (max-width: 767px) {
      height: 40px;
      line-height: 40px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}
.micro-totals{
  .rewards-spend,
  .rewards_calculations,
  .rewards-deduction,
  .rewards-spend-min-points,
  .tax,
  .subtotal{
    display: none;
  }
  .grand_total{
    font-weight: 600;
  }
  .discount{
    .segment-title{
      display: none;
    }
  }
}
</style>
