<!DOCTYPE html>
<html data-vue-meta-server-rendered {{{ meta.inject().htmlAttrs.text() }}}>
  <head><!-- index for default theme -->
 {{{ meta.inject().title.text() }}}
 {{{ meta.inject().meta.text() }}}
 <!-- Cookie Consent by https://www.cookiewow.com -->
 <script type="text/javascript" src="https://cookiecdn.com/cwc.js"></script>
 <script id="cookieWow" type="text/javascript" src="https://cookiecdn.com/configs/WY8JsVjWjUagYxLd6uAchfh6" data-cwcid="WY8JsVjWjUagYxLd6uAchfh6"></script>
 <meta name="generator" content="Pheonix Next">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    {{{ meta.inject().link.text() }}}
    {{{ meta.inject().script.text() }}}
    {{{ renderResourceHints() }}}
    {{{ renderStyles() }}}
    {{{ output.appendHead() }}}
    <script type="text/javascript">
      window.twttr = (function (d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0],
              t = window.twttr || {};
          if (d.getElementById(id)) return t;
          js = d.createElement(s);
          js.id = id;
          js.src = "https://platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js, fjs);

          t._e = [];
          t.ready = function (f) {
              t._e.push(f);
          };

          return t;
      }(document, "script", "twitter-wjs"));
    </script>
  </head>
  <body>
   <!--vue-ssr-outlet-->
    {{{ renderState() }}}
    {{{ renderScripts() }}}
 <script src="https://seals.clone-systems.com/getseal.js" type="text/javascript" async></script>
 <script language="JavaScript" type="text/javascript">
   setTimeout(() => {
    generateSecuritySeal("certified2", "sm")
    var image = document.querySelectorAll('body > img');
    image[0].setAttribute('alt', 'certified');
   }, 10000);
  </script>
  </body>
</html>
