<template>
  <button @click.stop="isProdOnWishlist ? removeProductFromWhishList(product) : addProductToWhishlist(product)" class="btn-wishlist action pointer" type="button" data-testid="addToWishlist">
    <slot>
      <span class="wishlist-icon">
        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M9.72727 1C11.5347 1 13 2.40711 13 4.14286C13 7.28487 7 12 7 12C7 12 1 7.2855 1 4.14286C1 2.40711 2.46525 1 4.27273 1C5.41137 1 6.4142 1.55842 7.00046 2.40563C7.5858 1.55842 8.58863 1 9.72727 1Z" fill="#A3A3A3" fill-opacity="0.2" stroke="#A3A3A3" />
        </svg>
      </span>
      <template v-if="!isProdOnWishlist">
        {{ $t('Add to favorite') }}
      </template>
      <template v-else>
        {{ $t('Remove') }}
      </template>
    </slot>
  </button>
</template>

<script>
import { AddToWishlist } from '@vue-storefront/core/modules/wishlist/components/AddToWishlist'
import { RemoveFromWishlist } from '@vue-storefront/core/modules/wishlist/components/RemoveFromWishlist'
import i18n from '@vue-storefront/i18n'
import { htmlDecode } from '@vue-storefront/core/lib/store/filters'
import EventBus from '@vue-storefront/core/compatibility/plugins/event-bus'
import { mapGetters } from 'vuex'

export default {
  mixins: [ AddToWishlist, RemoveFromWishlist ],
  computed: {
    favoriteIcon () {
      return this.isProdOnWishlist ? 'favorite' : 'favorite_border'
    },
    isLoggedIn () {
      return this.$store.getters['user/isLoggedIn']
    },
    currentUser () {
      return this.$store.state.user.current
    },
    ...mapGetters({
      customWishlist: 'customWishlist/getCustomWishlistData',
      customWishlistData: 'customWishlist/getWishlistDataList'
    }),
    userWishlistProducts () {
      if (this.customWishlist !== 'undefined' && this.currentUser) {
        return this.customWishlist.map(obj => {
          return obj.sku
        })
      }
      return []
    },
    isProdOnWishlist () {
      if (this.userWishlistProducts.length === 0) {
        return false;
      }
      return this.userWishlistProducts.includes(this.product.sku)
    }
  },
  methods: {
    async addProductToWhishlist (product) {
      if (this.isLoggedIn) {
        await this.$store.dispatch('customWishlist/addProduct', [product.sku, this.currentUser.id]).then(res => {
          if(res === true) {
            this.addToWishlist(product)
            this.$store.dispatch('notification/spawnNotification', {
                type: 'success',
                message: '<svg data-v-25a3b197="" width="50" height="25" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path data-v-25a3b197="" fill-rule="evenodd" clip-rule="evenodd" d="M17 1C20.3137 1 23 3.68629 23 7C23 12.9984 12 22 12 22C12 22 1 12.9996 1 7C1 3.68629 3.68629 1 7 1C9.08751 1 10.926 2.06607 12.0008 3.68347C13.074 2.06607 14.9125 1 17 1Z" fill="#FF6982" fill-opacity="1" stroke="#FF6982" stroke-width="1.5"></path></svg><span class="cl-gray-666666">' + i18n.t('Product {productName} has been added to wishlist!', { productName: htmlDecode(product.name) }) + '</span>'
              }, { root: true })
          } else {
             this.$store.dispatch('notification/spawnNotification', {
                type: 'error',
                message: i18n.t(res.errorMessage)
              }, { root: true })
          }
        })
        await this.$store.dispatch('customWishlist/list', this.currentUser.id)
      } else {
        const quickViewModal = document.querySelectorAll('.quick-view .modal')
        if (quickViewModal.length > 0) {
          EventBus.$emit('modal-hide', 'quick-view-modal')
          setTimeout(() => {
            this.$store.commit('ui/setOverlay', true)
          }, 300);
        }
        this.$store.commit('ui/setAuthElem', 'login')
        EventBus.$emit('modal-show', 'modal-signup')
      }
    },
    async removeProductFromWhishList (product) {
      let findItemId = this.customWishlistData.result.items.find(wishlistData => wishlistData.product.sku === product.sku);
      await this.$store.dispatch('customWishlist/deleteProduct', [findItemId.id, this.currentUser.id])
      await this.$store.dispatch('customWishlist/list', this.currentUser.id)
      this.$store.dispatch('notification/spawnNotification', {
        type: 'success',
        message: '<svg data-v-25a3b197="" width="50" height="25" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path data-v-25a3b197="" fill-rule="evenodd" clip-rule="evenodd" d="M17 1C20.3137 1 23 3.68629 23 7C23 12.9984 12 22 12 22C12 22 1 12.9996 1 7C1 3.68629 3.68629 1 7 1C9.08751 1 10.926 2.06607 12.0008 3.68347C13.074 2.06607 14.9125 1 17 1Z" fill="#f6f6f6" fill-opacity="1" stroke="#aaaaaa" stroke-width="1.5"></path></svg><span class="cl-gray-666666">' + i18n.t('Product has been removed from wishlist!') + '</span>'
      }, { root: true })
      this.$store.dispatch('customWishlist/list', this.currentUser.id)
      this.removeFromWishlist(product)
    }
  }
  // async mounted () {
  //   if (this.isLoggedIn) {
  //     await this.$store.dispatch('customWishlist/list', this.currentUser.id)
  //   }
  // }
}
</script>
<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$white: color(white);
$black: color(black);
$pink-FF6982: color(pink-FF6982);

.btn-wishlist {
  padding: 0;
  border: 0 none;
  background-color: transparent;
  @media (max-width: 767px) {
      padding: 9px;
      margin: -9px;
  }
  .wishlist-icon {
    width: 30px;
    height: 30px;
    background-color: $white;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba($black, 0.3);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 13px;
      path {
        transition: all 0.5s ease 0s;
      }
    }

    &.product__icon--active,
    &:hover {
      background-color: $white;
      color: $white;

      svg {
        path {
          stroke: $pink-FF6982;
          fill: $pink-FF6982;
          fill-opacity: 1;
        }
      }
    }
  }

}
</style>
