<template>
  <li class="product-item">
    <div class="product-image-wrap" @click="closeWishlist">
      <router-link :to="productLink">
        <div class="product-cover">
          <product-image :image="image" />
        </div>
      </router-link>
    </div>
    <div class="product-item-content">
      <div class="product-item-text">
        <div @click="closeWishlist" class="product-item-text-wrap">
          <h5 class="product-item-title">
            <router-link :to="productLink">
              {{ product.name | htmlDecode }}
            </router-link>
          </h5>
          <div class="product-item-info-list">
            <div class="product-item-info-item" v-if="getAuthorname">
              <span class="product-item-info-title">{{ $t('Author Name: ') }}</span>
              <span class="product-item-info-text weight-600 text-underline cl-primary">{{ getAuthorname }}</span>
            </div>
            <div class="product-item-info-item" v-if="product.number_of_pages">
              <span class="product-item-info-title">{{ $t('Number of Page: ') }}</span>
              <span class="product-item-info-text">{{ product.number_of_pages }}</span>
            </div>
          </div>
          <div v-if="showAddToCart" class="product-item-btn-wrap">
            <add-to-cart-with-price
              v-if="product.type_id === 'simple'"
              :product="product"
              class="wishlist-add-to-cart"
              :disabled="product.stock.is_in_stock === false"
            />
            <button class="btn-outlined read-sample-btn" :disabled="product.read_sample !== 1" @click="$bus.$emit('read-sample-popup',product)">
              {{ $t('Read sample') }}
            </button>
          </div>
        </div>
      </div>
      <div class="product-item-price-sec">
        <div class="weight-700 cl-secondary h1">
          <span class="price-special" v-if="product.special_price">{{ product.price_incl_tax | price(storeView) }}&nbsp;</span>
          <span class="price-original" v-if="product.special_price">{{ product.original_price_incl_tax | price(storeView) }}</span>

          <span v-if="!product.special_price">
            {{ product.price_incl_tax | price(storeView) }}
          </span>
        </div>
        <div class="mt5">
          <span @click="removeProductFromWhishList(product)"><remove-button /></span>
        </div>
      </div>
    </div>
  </li>
</template>

<script>
import Product from '@vue-storefront/core/compatibility/components/blocks/Wishlist/Product'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import { formatProductLink } from '@vue-storefront/core/modules/url/helpers'
import ProductImage from 'theme/components/core/ProductImage'
import RemoveButton from './RemoveButton'
import i18n from '@vue-storefront/i18n'
import AddToCartWithPrice from 'theme/components/core/AddToCartWithPrice'
import { mapGetters } from 'vuex'

export default {
  components: {
    RemoveButton,
    ProductImage,
    AddToCartWithPrice
  },
  mixins: [Product],
  props: {
    showAddToCart: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    ...mapGetters({
      attributesByCode: 'attribute/attributeListByCode',
      customWishlist: 'customWishlist/getCustomWishlistData',
      customWishlistData: 'customWishlist/getWishlistDataList'
    }),
    productLink () {
      return formatProductLink(this.product, currentStoreView().storeCode)
    },
    image () {
      return {
        loading: this.thumbnail,
        src: this.thumbnail
      }
    },
    storeView () {
      return currentStoreView()
    },
    getAuthorname () {
      if (this.product.author) {
        let authordata = this.attributesByCode.author.options;
        let author = authordata.find(auther => parseInt(auther.value) === parseInt(this.product.author))
        return author.label
      }
      return '';
    },
    isLoggedIn () {
      return this.$store.getters['user/isLoggedIn']
    },
    currentUser () {
      return this.$store.state.user.current
    }
  },
  methods: {
    async removeProductFromWhishList (product) {
      let findItemId = this.customWishlistData.result.items.find(wishlistData => wishlistData.product.id === product.id);
      await this.$store.dispatch('customWishlist/deleteProduct', [findItemId.id, this.currentUser.id])
      await this.$store.dispatch('customWishlist/list', this.currentUser.id)
      this.removeFromWishlist(product)

      this.$store.dispatch('notification/spawnNotification', {
        type: 'success',
        message: '<svg data-v-25a3b197="" width="50" height="25" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path data-v-25a3b197="" fill-rule="evenodd" clip-rule="evenodd" d="M17 1C20.3137 1 23 3.68629 23 7C23 12.9984 12 22 12 22C12 22 1 12.9996 1 7C1 3.68629 3.68629 1 7 1C9.08751 1 10.926 2.06607 12.0008 3.68347C13.074 2.06607 14.9125 1 17 1Z" fill="#f6f6f6" fill-opacity="1" stroke="#aaaaaa" stroke-width="1.5"></path></svg><span class="cl-gray-666666">' + i18n.t('Product has been removed from wishlist!') + '</span>'
      }, { root: true })

      // this.$store.dispatch('ui/toggleWishlist')
      // this.$store.commit('ui/setSidebar', false)
      this.$store.dispatch('notification/spawnNotification', {
        type: 'success',
        message: i18n.t('One item removed from favorite!')
      }, { root: true })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/animations/transitions';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-666666: color(gray-666666);
$color-secondary: color(secondary);
$color-white: color(white);

.blend {
  flex: 0 0 121px;
  opacity: .8;
  will-change: opacity;
  transition: .3s opacity $motion-main;
  &:hover{
     opacity: 1;
   }
}
.col-xs {
  flex-direction: column;
}
input {
  width: 30px;
}
.price-original {
  text-decoration: line-through;
  color: #A3A3A3;
  font-size: .95rem;
}
.wishlist-add-to-cart {
  margin: 0 15px 0 0;
  min-width: 100px;
  text-align: center;
  width: auto;
  padding: 0 10px;
  height: 44px;
  line-height: 140%;

  @media (max-width: 767px) {
    width: 100%;
    margin: 0 0 8px;
    padding: 6px 10px;
    min-width: 160px;
  }

  @media (max-width: 479px) {
    font-size: 10px;
    min-width: 150px;
  }
}
.price-original {
  text-decoration: line-through;
  color: #A3A3A3;
  font-size: .95rem;
}
.price-original {
  text-decoration: line-through;
  color: #A3A3A3;
  font-size: .95rem;
}
.product-item {
  display: flex;
  margin-bottom: 30px;

  .product-image-wrap {
    flex: 0 0 120px;
    max-width: 120px;

    @media (max-width: 479px) {
      flex: 0 0 60px;
      max-width: 60px;
    }

    .product-cover {
      border-radius: 6px;
      overflow: hidden;
      position: relative;

      &__thumb {
        &::after {
          content: "";
          position: absolute;
          top: 0;
          height: 100%;
          left: 0;
          width: 100%;
          background-color: rgba($color-white, 0.6);
          opacity: 0;
          transition: all 0.5s ease 0s;
        }
      }

      &:hover {
        .product-cover__thumb {
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }

  .product-item-content {
    flex: calc(100% - 120px);
    max-width: calc(100% - 120px);
    padding-left: 15px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 479px) {
      padding-left: 5px;
      flex: calc(100% - 60px);
      max-width: calc(100% - 60px);
    }
  }

  .product-item-title {
    margin-bottom: 10px;

    @media (max-width: 767px) {
      font-size: 12px;
    }
  }

  .product-item-info-list {
    font-weight: 500;
    font-size: 13px;
    color: $gray-666666;
    margin-bottom: 15px;
    line-height: 1.5;

    @media (max-width: 767px) {
      font-size: 10px;
      margin-bottom: 10px;
    }
  }
}
.read-sample-btn {
  min-width: 160px;
  min-height: 44px;

  @media (max-width: 767px) {
    width: 100%;
    padding: 6px 10px;
    min-height: 36px;
  }

  @media (max-width: 479px) {
    min-width: 150px;
    font-size: 10px;
  }
}
.product-item-price-sec {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 15px;
  padding-left: 10px;

  @media (max-width: 767px) {
    padding-bottom: 8px;

    .h1 {
      font-size: 16px;
    }
  }

  @media (max-width: 479px) {
    padding-left: 5px;

    .h1 {
      font-size: 14px;
    }
  }
}
.product-item-text-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.product-item-text {
  @media (max-width: 767px) {
    width: 100%;
  }
}
.product-item-btn-wrap {
  flex-grow: 1;
  align-items: flex-end;
  display: flex;

  @media (max-width: 767px) {
    flex-direction: column;
  }
}
</style>
