<template>
  <div class="checkout-order-summary">
    <div class="order-summary">
      <h3 class="summary-title">
        {{ $t('Order Summary') }}
      </h3>
      <ul class="product-list">
        <product v-for="product in productsInCart" :key="product.server_item_id || product.id" :product="product" :crippled-qty-box="shouldNeedToDisabledQtyBox" />
      </ul>
      
      <div class="micro-totals relative"  v-if="productsInCart && productsInCart.length">
        <div class="loader-ajax-slider" v-if="isCartSyncing">
          <div class="site-ajax-loader" />
        </div>
        <div v-for="(segment, index) in totals" :key="index" class="weight-500 cl-gray-666666" :class="segment.code" :style="isCartSyncing ? 'opacity:0.6;': null">
          <div class="row py15" v-if="segment.title !== 'ใช้คะแนนขั้นต่ำ' && segment.title !== 'ใช้คะแนนสูงสุด'">
            <div class="col-xs flex">
              <span class="segment-title">
                {{ $t(segment.title) }}
              </span>
              <span v-if="appliedCoupon && segment.code === 'discount'">
                {{ $t(segment.code) }}
                ({{ appliedCoupon.code }})
              </span>
            </div>
            <div v-if="segment.value != null" class="col-xs align-right">
              <span v-if="segment.code !== 'rewards-total'">
                {{ segment.value | price(storeView) }}
              </span>
              <span v-if="segment.code == 'rewards-total'">
                {{ segment.value }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { CartSummary } from '@vue-storefront/core/modules/checkout/components/CartSummary'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import Product from './Product'

export default {
  components: {
    Product
  },
  computed: {
    storeView () {
      return currentStoreView()
    },
    shouldNeedToDisabledQtyBox () {
      return this.$store.getters['freeGift/isAnyFreeProductAddedToCart']
    },
    isCartSyncing () {
      return this.$store.state.ui.isCartSyncProgress || false
    }
  },
  mixins: [CartSummary]
}
</script>

<style lang="scss" scoped>
  @import '~theme/css/variables/colors';
  @import '~theme/css/helpers/functions/color';
  $gray-D8D8D8: color(gray-D8D8D8);
  $color-primary: color(primary);
  $gray-EEEEEE: color(gray-EEEEEE);
  $gray-666666: color(gray-666666);
  .summary-title {
    font-size: 24px;
    font-weight: 700;
    color: $color-primary;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid $gray-EEEEEE;
  }

  .order-summary {
    padding: 20px 30px;
    width: 100%;
  }

  .product-list {
    margin: 0 0 15px;
    padding: 0 0 30px;
    list-style: none;
    border-bottom: 1px solid $gray-EEEEEE;
  }

  .checkout {
    & > .row {
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 16px;
      font-weight: 500;
      color: $gray-666666;

      @media (max-width: 991px) {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }

    .cart-total {
      font-weight: 700;
      color: $color-primary;
      padding-top: 25px;
    }
  }
  .micro-totals{
  .rewards-spend,
  .rewards_calculations,
  .rewards-deduction,
  .rewards-spend-min-points,
  .tax,
  .subtotal{
    display: none;
  }
  .discount{
    .segment-title{
      display: none;
    }
  }
  .grand_total{
    font-weight: 600;
  }
}
</style>
