<template>
  <div class="payment pb20 order-tab-wrap" :class="{ 'active' : isActive || isFilled }">
    <div class="row">
      <div class="col-auto col-md-1 number-circle-wrap">
        <div
          class="number-circle"
        >
          {{ (isVirtualCart ? 2 : 3) }}
        </div>
      </div>
      <div class="col-xs col-md-11">
        <div class="row mb5">
          <div class="col-xs-12 col-sm-6 col-lg-7">
            <h3 class="order-tab-title">
              {{ $t('Payment') }}
            </h3>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-5">
            <div class="lh30 flex end-sm" v-if="isFilled && !isActive">
              <a href="#" class="edit-btn flex middle-xs" @click.prevent="edit">
                <span class="pr5">
                  {{ $t('Edit payment') }}
                </span>
                <i class="material-icons">edit</i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" v-if="isActive">
      <div class="hidden-xs col-sm-2 col-md-1" />
      <div class="col-xs-12 col-md-11 col-lg-9">
        <div class="row" v-if="isActive">
          <base-checkbox
            class="col-xs-12 my15 cl-gray-666666 checkbox-with-tooltip"
            id="sendToShippingAddressCheckbox"
            v-model="sendToShippingAddress"
            v-if="!isVirtualCart"
          >
            {{ $t('My Shipping and Billing Address are the same') }}
            <tooltip class="ml10">
              {{ $t('Shipping and Billing Address are the same') }}
            </tooltip>
          </base-checkbox>
          <!-- <base-checkbox
            v-if="hasBillingData()"
            class="col-xs-12 my15 cl-gray-666666"
            id="sendToBillingAddressCheckbox"
            v-model="sendToBillingAddress"
          >
            {{ $t('My Shipping and Billing Address are the same') }}
          </base-checkbox> -->

          <base-input
            class="col-xs-12 col-sm-6 mb15"
            type="text"
            name="first-name"
            :placeholder="$t('First name *')"
            v-model.trim="payment.firstName"
            @blur="$v.payment.firstName.$touch()"
            autocomplete="given-name"
            :validations="[
              {
                condition: $v.payment.firstName.$error && !$v.payment.firstName.required,
                text: $t('Field is required')
              },
              {
                condition: !$v.payment.firstName.minLength,
                text: $t('Name must have at least 2 letters.')
              }
            ]"
          />

          <base-input
            class="col-xs-12 col-sm-6 mb15"
            type="text"
            name="last-name"
            :placeholder="$t('Last name *')"
            v-model.trim="payment.lastName"
            @blur="$v.payment.lastName.$touch()"
            autocomplete="family-name"
            :validations="[{
              condition: $v.payment.lastName.$error && !$v.payment.lastName.required,
              text: $t('Field is required')
            }]"
          />

          <base-number
            class="col-xs-12 col-sm-12 mb15"
            :maxlength="5"
            type="tel"
            name="zip-code"
            :placeholder="$t('Postal code *')"
            v-model.trim="payment.zipCode"
            @blur="$v.payment.zipCode.$touch()"
            @input="validZipcode"
            autocomplete="postal-code"
            :validations="[
              {
                condition: $v.payment.zipCode.$error && !$v.payment.zipCode.required,
                text: $t('Field is required')
              },
              {
                condition: !$v.payment.zipCode.minLength,
                text: $t('กรุณากรอกรหัสไปรษณีย์ให้ครบ 5 หลัก')
              }
            ]"
          />

          <base-input
            class="col-xs-12 col-sm-12 mb15"
            type="text"
            name="street-address"
            :placeholder="$t('House number and street *')"
            v-model.trim="payment.streetAddress"
            @blur="$v.payment.streetAddress.$touch()"
            autocomplete="address-line1"
            :validations="[{
              condition: $v.payment.streetAddress.$error && !$v.payment.streetAddress.required,
              text: $t('Field is required')
            }]"
          />

          <base-input
            class="col-xs-12 col-sm-6 mb15"
            type="text"
            name="city"
            :placeholder="$t('District / District *')"
            v-model.trim="payment.city"
            @blur="$v.payment.city.$touch()"
            autocomplete="address-level2"
            :validations="[
              {
                condition: $v.payment.city.$error && !$v.payment.city.required,
                text: $t('Field is required')
              },
              {
                condition: $v.payment.city.$error && $v.payment.city.required,
                text: $t('Please provide valid city name')
              }
            ]"
          />

          <base-input
            class="col-xs-12 col-sm-6 mb15"
            type="text"
            name="state"
            :placeholder="$t('State / Province')"
            v-model.trim="payment.state"
            autocomplete="address-level1"
          />

          <base-select
            class="col-xs-12 mb15"
            name="countries"
            :options="countryOptions"
            :selected="payment.country"
            :placeholder="$t('Province *')"
            :validations="[
              {
                condition: $v.payment.country.$error && !$v.payment.country.required,
                text: $t('Field is required')
              }
            ]"
            v-model="payment.country"
            autocomplete="country-name"
            @blur="$v.payment.country.$touch()"
            @change="$v.payment.country.$touch(); changeCountry();"
          />

          <base-input
            class="col-xs-12 mb15"
            name="phone-number"
            type="tel"
            :placeholder="$t('Phone Number *')"
            v-model.trim="payment.phoneNumber"
            :validations="[
              {
                condition: $v.payment.phoneNumber.$error && !$v.payment.phoneNumber.required,
                text: $t('Field is required')
              },
              {
                condition: !$v.payment.phoneNumber.minLength,
                text: $t('Please enter 10 consecutive digit phone numbers.')
              },
              {
                condition: !$v.payment.phoneNumber.maxLength,
                text: $t('Please enter 10 consecutive digit phone numbers.')
              }
            ]"
            autocomplete="tel"
            maxlength="10"
          />

          <div class="col-xs-12">
            <h4 class="f-s-16 weight-600 cl-primary mb10 mt15">
              {{ $t('Payment Method') }}
            </h4>
          </div>
          <div class="col-xs-12">
            <div class="payment-method-list">
              <div v-for="(method, index) in paymentMethods" :key="index" class="payment-method-item">
                <div>
                  <label class="radioStyled" :class="method.code">
                    <input
                      type="radio"
                      :value="method.code"
                      name="payment-method"
                      v-model="payment.paymentMethod"
                      @change="$v.payment.paymentMethod.$touch(); switchPaymentMethod(method.code);"
                    >
                    <span class="checkmark new">
                      <span>
                        <strong />
                      </span>
                      {{ method.title ? method.title : method.name }}
                    </span>
                  </label>
                </div>
              </div>
            </div>
            <span data-testid="errorMessage" class="block cl-error weight-700 f-s-12 mt8 validation-error" v-if="!$v.payment.paymentMethod.required">
              {{ $t('Field is required') }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row" v-if="isActive">
      <div class="hidden-xs col-sm-2 col-md-1" />

      <div class="col-xs-12 col-md-11 col-lg-9">
        <div class="flex mt15 mb20 middle-xs button-container-wrap">
          <div class="button-container">
            <button
              class="btn-fill btn-secondary"
              @click="sendStoredDataToCheckout"
              data-testid="paymentSubmit"
              :disabled="$v.payment.$invalid"
            >
              {{ $t('GO REVIEW THE ORDER') }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row" v-if="!isActive && isFilled">
      <div class="hidden-xs col-sm-2 col-md-1" />
      <div class="col-xs-12 col-md-11 col-lg-9">
        <div class="row">
          <div class="col-xs-12">
            <div class="filled-info">
              <p>
                {{ payment.firstName }} {{ payment.lastName }}<br>
                {{ payment.streetAddress }}<br>
                {{ payment.city }} {{ payment.zipCode }}<br>
                <span v-if="payment.state">{{ payment.state }}, </span><br v-if="payment.state">
                <span>{{ getCountryName() }}</span>
              </p>
              <div class="mb25" v-if="payment.phoneNumber">
                <span class="pr15">{{ payment.phoneNumber }}</span>
                <tooltip>{{ $t('Phone number may be needed by carrier') }}</tooltip>
              </div>
              <p v-if="generateInvoice">
                {{ payment.company }} {{ payment.taxId }}
              </p>
              <h4 class="payment-field-title">
                {{ $t('Payment Method') }}
              </h4>
              <div class="mb20">
                <div class="payment-method-list" :class="{ 'filled' : !isActive && isFilled }">
                  <div class="payment-method-item">
                    <label class="radioStyled">
                      <input type="radio" value="" checked disabled name="chosen-payment-method">
                      <span class="checkmark">
                        {{ getPaymentMethod().title }}
                      </span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { required, minLength, maxLength } from 'vuelidate/lib/validators'
import { unicodeAlpha, unicodeAlphaNum } from '@vue-storefront/core/helpers/validators'
import { Payment } from '@vue-storefront/core/modules/checkout/components/Payment'
import BaseNumber from 'theme/components/core/blocks/Form/BaseNumber'
import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox'
import BaseInput from 'theme/components/core/blocks/Form/BaseInput'
import BaseSelect from 'theme/components/core/blocks/Form/BaseSelect'
import Tooltip from 'theme/components/core/Tooltip'
import { notifications } from '@vue-storefront/core/modules/cart/helpers'
import { mapGetters } from 'vuex'

export default {
  components: {
    BaseCheckbox,
    BaseInput,
    BaseSelect,
    Tooltip,
    BaseNumber
  },
  data: function () {
    return {
      activePaymentMethod: '',
      p2c2pmethod: false,
      cardnumber: null,
      cardholdername: null,
      month: null,
      year: null,
      cvv: null,
      encryptedCardInfo: null,
      maskedCardInfo: null,
      expMonthCardInfo: null,
      expYearCardInfo: null,
      currentYear: new Date().getFullYear(),
      currentMonth: new Date().getMonth(),
      tokenId: '',
      paymentToken: '',
      response: null,
      sendToShippingAddress: true
    }
  },
  mixins: [Payment],
  computed: {
    ...mapGetters({
      savedCardData: 'cardData/getCustomerSavedCard'
    }),
    paymentMethods () {
      const pMethods = this.$store.getters['checkout/getPaymentMethods']
      if (pMethods.length === 0) return []
      return ['promptpay', 'p2c2ppayment', 'p123payment'].map(method => (pMethods.find(({ code }) => code === method))).filter(n => n)
    },
    countryOptions () {
      let countries = this.countries.filter(country => country.code === 'TH')
      return countries.map((item) => {
        return {
          value: item.code,
          label: item.name
        }
      })
    },
    isOrderReview () {
      return this.$parent.$parent.activeSection.orderReview
    },
    isPaymentMethod () {
      return this.$parent.$parent.activeSection.payment
    },
    fetchCardDetails () {
      let paymentData = {
        cardnumber: this.cardnumber,
        cardholdername: this.cardholdername,
        month: this.month,
        year: this.year,
        cvv: this.cvv,
        encryptedCardInfo: this.encryptedCardInfo,
        maskedCardInfo: this.maskedCardInfo,
        expMonthCardInfo: this.expMonthCardInfo,
        expYearCardInfo: this.expYearCardInfo
      }
      return paymentData;
    },
    getallAddresses () {
      return this.$store.state.user.current ? this.billingAddress(this.$store.state.user.current.addresses) : {}
    }
  },
  mounted () {
    this.$bus.$on('make-2c2p-payment', this.payment3d)
    if (this.getallAddresses.length > 0) {
      this.payment = {
        firstName: this.getallAddresses[0].firstname,
        lastName: this.getallAddresses[0].lastname,
        zipCode: this.getallAddresses[0].postcode,
        streetAddress: this.getallAddresses[0].street[0],
        city: this.getallAddresses[0].city,
        state: this.getallAddresses[0].region.region,
        country: this.getallAddresses[0].country_id,
        phoneNumber: this.getallAddresses[0].telephone
      }
    }
    this.payment.paymentMethod = ''
  },
  watch: {
    savedCardData: {
      handler () {
        if (this.savedCardData.result && this.savedCardData.result.items.length > 0) {
          this.paymentToken = this.savedCardData.result.items[0].token
          this.tokenId = this.savedCardData.result.items[0].customers_id
        }
      }
    }
  },
  methods: {
    billingAddress (addresses) {
      return addresses.filter(address => address.default_billing === true)
    },
    changePaymentToken (token) {
      this.paymentToken = token.token
      this.tokenId = token.customers_id
    },
    switchPaymentMethod (method) {
      this.changePaymentMethod();
      this.p2c2pmethod = false;
      this.activePaymentMethod = method
      if (method === 'p2c2ppayment') {
        this.p2c2pmethod = true;
      }
    },
    notifyUser (notificationData) {
      this.$store.dispatch('notification/spawnNotification', notificationData, { root: true })
    },
    isNumber (val) {
      return /^\d+$/.test(val)
    },
    async sendStoredDataToCheckout () {
      await this.$bus.$emit('make-2c2p-payment');
      this.sendDataToCheckout();
    },
    formateCardNumber () {
      if (this.cardnumber) {
        var str = this.cardnumber.replace(/\s/g, '')
        var numberChunks = str.match(/.{1,4}/g);
        var result = numberChunks.join(' ');
        this.cardnumber = result
      }
    },
    payment3d () {
      let paymentData = {
        paymentToken: this.paymentToken
      }
      this.$store.commit('p2c2pPayment/setPaymentDetails', paymentData)
    },
    validZipcode () {
      this.payment.zipCode = this.payment.zipCode.replaceAll(/[^0-9]/g, '');
    }
  },
  validations () {
    if (!this.generateInvoice) {
      return {
        payment: {
          firstName: {
            required,
            minLength: minLength(2),
            unicodeAlpha
          },
          lastName: {
            required,
            unicodeAlpha
          },
          country: {
            required
          },
          streetAddress: {
            required,
            unicodeAlphaNum
          },
          zipCode: {
            required,
            minLength: minLength(5),
            unicodeAlphaNum
          },
          phoneNumber: {
            required,
            minLength: minLength(10),
            maxLength: maxLength(10),
            unicodeAlphaNum
          },
          city: {
            required,
            unicodeAlpha
          },
          paymentMethod: {
            required
          }
        }
      }
    } else {
      return {
        payment: {
          firstName: {
            required,
            minLength: minLength(2),
            unicodeAlpha
          },
          lastName: {
            required,
            unicodeAlpha
          },
          company: {
            unicodeAlphaNum
          },
          taxId: {
            minLength: minLength(3)
          },
          country: {
            required
          },
          streetAddress: {
            required,
            unicodeAlphaNum
          },
          zipCode: {
            required,
            minLength: minLength(5),
            unicodeAlphaNum
          },
          phoneNumber: {
            required,
            minLength: minLength(10),
            maxLength: maxLength(10),
            unicodeAlphaNum
          },
          city: {
            required,
            unicodeAlpha
          },
          paymentMethod: {
            required
          }
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$white-smoke: color(white-smoke);

.payment-field-title {
  font-size: 14px;
  font-weight: 500;
  color: $color-primary;
  margin-top: 15px;
  margin-bottom: 9px;
}
.card-item {
  .item-box {
    background-color: $white-smoke;
    color: #666666;
    padding: 10px;
    margin-right: 5px;
    border: 1px solid #E5E5E5;
    cursor: pointer;
    &.active {
      border-color: #1895F5;
      color: #333435;
      background-color: rgba(103, 182, 195, 0.05);
      font-weight: 600;
    }
  }
}
</style>

<style>
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
</style>
