<template>
  <div class="shipping pb20 order-tab-wrap" :class="{ 'active' : isActive || isFilled }">
    <div class="row">
      <div class="col-auto col-md-1 number-circle-wrap">
        <div class="number-circle">
          2
        </div>
      </div>
      <div class="col-xs col-md-11">
        <div class="row mb5">
          <div class="col-xs-12 col-sm-6 col-lg-7">
            <h3 class="order-tab-title">
              {{ $t('Shipping') }}
            </h3>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-5">
            <div class="lh30 flex end-sm" v-if="isFilled && !isActive">
              <a href="#" class="edit-btn flex middle-xs" @click.prevent="edit">
                <span class="pr5">
                  {{ $t('Edit shipping') }}
                </span>
                <i class="material-icons">edit</i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" v-if="isActive && currentUser && hasShippingDetails()">
      <div class="hidden-xs col-sm-2 col-md-1" />
      <div class="col-xs-12 col-md-11 col-lg-9">
        <div class="shipping-address-list">
          <div class="row customer-address" v-if="getallAddresses.length > 0 && isLoggedIn">
            <div class="shipping-address-item" v-for="addr of getallAddresses" :key="addr.id" :class="{'primary-address' : addr.default_billing}">
              <div class="shipping-summary" :class="currentAddress && currentAddress.id === addr.id ? 'active' : ''" @click="updateAddress(addr)">
                <div class="address-box">
                  <p class="full-name">
                    {{ addr.firstname }} {{ addr.lastname }}
                  </p>
                  <p v-if="addr.company">
                    {{ addr.company }}
                  </p>
                  <p>
                    {{ addr.street[0] }}
                    <span v-if="addr.street[1]"> {{ addr.street[1] }}</span>
                  </p>
                  <p>
                    {{ addr.city }} {{ addr.postcode }}
                  </p>
                  <p>
                    <span v-if="addr.region">{{ addr.region.region }}, </span>
                    {{ getCountryName(addr.country_id) }}
                  </p>
                  <p class="telephone" v-if="addr.telephone">
                    {{ addr.telephone }}
                  </p>
                  <router-link class="edit-addr-link" to="/my-account/shipping-details">
                    <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr10">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M11.4243 1.26895C12.4697 0.230664 14.1706 0.230664 15.216 1.26895C16.2613 2.30719 16.2613 3.9966 15.216 5.03493L3.97949 16.1951C3.85924 16.3145 3.69619 16.3816 3.52614 16.3816H0.641116C0.28706 16.3816 0 16.0965 0 15.7449V12.8794C0 12.7105 0.0675576 12.5486 0.187767 12.4291L11.4243 1.26895ZM3.15057 11.2875L5.12894 13.2524L11.5685 6.85666L9.5901 4.89172L3.15057 11.2875ZM3.26059 15.1081H1.28223V13.1432L2.2439 12.188L4.22227 14.153L3.26059 15.1081ZM12.4751 5.95602L14.3093 4.13435C14.5735 3.87189 14.719 3.52299 14.719 3.15189C14.719 2.78078 14.5735 2.43188 14.3093 2.16942C14.0451 1.90695 13.6939 1.76245 13.3202 1.76245C12.9465 1.76245 12.5952 1.90699 12.331 2.16942L10.4968 3.99113L12.4751 5.95602Z" fill="#1895F5" />
                    </svg>
                  </router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" v-if="isActive && currentUser && hasShippingDetails()">
      <div class="hidden-xs col-sm-2 col-md-1" />
      <div class="col-xs col-md-11 align-right">
        <a href="#" class="f-s-15 weight-600" @click.prevent="openShippingForm">
          {{ $t('+ Add Shipping Address') }}
        </a>
      </div>
    </div>
    <div class="row" v-if="isActive && !hasShippingDetails() || shippingFormOpened">
      <div class="hidden-xs col-sm-2 col-md-1" />
      <div class="col-xs-12 col-md-11 col-lg-9">
        <div class="row">
          <base-checkbox
            v-if="currentUser && hasShippingDetails()"
            class="col-xs-12 my15"
            id="shipToMyAddressCheckbox"
            v-model="shipToMyAddress"
          >
            {{ $t('Ship to my default address') }}
          </base-checkbox>

          <base-input
            class="col-xs-12 col-sm-6 mb15"
            type="text"
            name="first-name"
            :placeholder="$t('First name *')"
            v-model.trim="shipping.firstName"
            @blur="$v.shipping.firstName.$touch()"
            autocomplete="given-name"
            :validations="[
              {
                condition: $v.shipping.firstName.$error && !$v.shipping.firstName.required,
                text: $t('Field is required')
              },
              {
                condition: !$v.shipping.firstName.minLength,
                text: $t('Name must have at least 2 letters.')
              }
            ]"
          />

          <base-input
            class="col-xs-12 col-sm-6 mb15"
            type="text"
            name="last-name"
            :placeholder="$t('Last name *')"
            v-model.trim="shipping.lastName"
            @blur="$v.shipping.lastName.$touch()"
            autocomplete="family-name"
            :validations="[{
              condition: $v.shipping.lastName.$error && !$v.shipping.lastName.required,
              text: $t('Field is required')
            }]"
          />
          <base-number
            class="col-xs-12 col-sm-12 mb15 zip-code-checkout"
            :maxlength="5"
            type="tel"
            name="zip-code"
            :placeholder="$t('Postal code *')"
            v-model.trim="shipping.zipCode"
            @blur="$v.shipping.zipCode.$touch()"
            @keyup="getSuggestions"
            @input="validZipcode"
            autocomplete="postal-code"
            :validations="[
              {
                condition: $v.shipping.zipCode.$error && !$v.shipping.zipCode.required,
                text: $t('Field is required')
              },
              {
                condition: !$v.shipping.zipCode.minLength,
                text: $t('กรุณากรอกรหัสไปรษณีย์ให้ครบ 5 หลัก')
              }
            ]"
          />

          <div class="suggestions relative base-input col-xs-12 col-sm-12" v-if="addressSuggestion.length > 0">
            <div class="suggestion-block">
              <div class="suggestion-list">
                <span class="suggestion" @click="fillAddress(suggestion)" v-for="(suggestion, index) in addressSuggestion" :key="index">{{ suggestion.district + ', ' + suggestion.province + ', ' + suggestion.postal_code }}</span>
              </div>
            </div>
          </div>

          <base-input
            class="col-xs-12 col-sm-12 mb15"
            type="text"
            name="street-address"
            :placeholder="$t('House number and street *')"
            v-model.trim="shipping.streetAddress"
            @blur="$v.shipping.streetAddress.$touch()"
            autocomplete="address-line1"
            :validations="[
              {
                condition: $v.shipping.streetAddress.$error && !$v.shipping.streetAddress.required,
                text: $t('Field is required')
              }
            ]"
          />

          <base-input
            class="col-xs-12 col-sm-6 mb15"
            type="text"
            name="city"
            :placeholder="$t('District / District *')"
            v-model.trim="shipping.city"
            @blur="$v.shipping.city.$touch()"
            autocomplete="address-level2"
            :validations="[
              {
                condition: $v.shipping.city.$error && !$v.shipping.city.required,
                text: $t('Field is required')
              },
              {
                condition: $v.shipping.city.$error && $v.shipping.city.required,
                text: $t('Please provide valid city name')
              }
            ]"
          />

          <base-input
            class="col-xs-12 col-sm-6 mb15"
            type="text"
            name="state"
            :placeholder="$t('Province *')"
            v-model.trim="shipping.state"
            autocomplete="address-level1"
          />

          <base-select
            class="col-xs-12 mb15"
            name="countries"
            :options="countryOptions"
            :selected="shipping.country"
            :placeholder="$t('Country *')"
            :validations="[
              {
                condition: $v.shipping.country.$error && !$v.shipping.country.required,
                text: $t('Field is required')
              }
            ]"
            v-model="shipping.country"
            autocomplete="country-name"
            @blur="$v.shipping.country.$touch()"
            @change.native="$v.shipping.country.$touch(); changeCountry();"
          />

          <base-number
            class="col-xs-12 mb15"
            name="phone-number"
            :placeholder="$t('Phone Number *')"
            type="tel"
            :validations="[
              {
                condition: $v.shipping.phoneNumber.$error && !$v.shipping.phoneNumber.required,
                text: $t('Field is required')
              },
              {
                condition: !$v.shipping.phoneNumber.minLength,
                text: $t('Please enter 10 consecutive digit phone numbers.')
              },
              {
                condition: !$v.shipping.phoneNumber.maxLength,
                text: $t('Please enter 10 consecutive digit phone numbers.')
              }
            ]"
            v-model.trim="shipping.phoneNumber"
            @blur="$v.shipping.phoneNumber.$touch()"
            autocomplete="tel"
            maxlength="10"
          />
        </div>
      </div>
    </div>
    <div class="row" v-if="isActive">
      <div class="hidden-xs col-sm-2 col-md-1" />
      <div class="col-xs-12 col-md-11 col-lg-9">
        <div class="row">
          <h4 class="col-xs-12 shipping-field-title">
            {{ $t('Shipping Method') }}
          </h4>
          <div class="col-xs-12">
            <div class="shipping-list">
              <div v-for="(method, index) in shippingMethods" :key="index" class="shipping-item box-radio">
                <label class="radioStyled">
                  <input
                    type="radio"
                    :value="method.method_code"
                    name="shipping-method"
                    v-model="shipping.shippingMethod"
                    @change="$v.shipping.shippingMethod.$touch(); changeShippingMethod();"
                  >
                  <span class="checkmark">
                    <span class="shipping-item-price">{{ method.amount | price(storeView) }}</span>
                    {{ method.method_title }}
                  </span>
                </label>
              </div>
            </div>
          </div>
          <span class="validation-error" v-if="$v.shipping.shippingMethod.$error && !$v.shipping.shippingMethod.required">
            {{ $t('Field is required') }}
          </span>
        </div>
      </div>
    </div>
    <div class="row" v-if="isActive">
      <div class="hidden-xs col-sm-2 col-md-1" />
      <div class="col-xs-12 col-md-11 col-lg-9">
        <div class="flex mt15 mb20 middle-xs button-container-wrap">
          <div class="button-container">
            <button
              class="btn-fill btn-secondary"
              data-testid="shippingSubmit"
              @click="sendDataToCheckout(), shippingFormOpened = false"
              :disabled="$v.shipping.$invalid || shippingMethods.length <= 0"
            >
              {{ $t('CONTINUE TO PAYMENT') }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row" v-if="!isActive && isFilled">
      <div class="hidden-xs col-sm-2 col-md-1" />
      <div class="col-xs-12 col-md-11 col-lg-9">
        <div class="row">
          <div class="col-xs-12" data-testid="shippingAddressSummary">
            <div class="filled-info">
              <p>
                {{ shipping.firstName }} {{ shipping.lastName }}<br>
                {{ shipping.streetAddress }}<br>
                {{ shipping.city }} {{ shipping.zipCode }}<br>
                <span v-if="shipping.state">{{ shipping.state }}, </span><br v-if="shipping.state">
                <span>{{ getCountryName() }}</span>
              </p>
              <div class="mb25" v-if="shipping.phoneNumber">
                <span class="pr15">{{ shipping.phoneNumber }}</span>
                <tooltip>{{ $t('Phone number may be needed by carrier') }}</tooltip>
              </div>
              <h4 class="shipping-field-title">
                {{ $t('Shipping Method') }}
              </h4>
              <div class="mb20">
                <div class="shipping-list">
                  <div class="shipping-item box-radio">
                    <label class="radioStyled">
                      <input type="radio" value="" checked disabled name="chosen-shipping-method">
                      <span class="checkmark">
                        <span class="shipping-item-price">{{ getShippingMethod().amount | price(storeView) }}</span>
                        {{ getShippingMethod().method_title }}
                      </span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { required, minLength, maxLength } from 'vuelidate/lib/validators'
import { unicodeAlpha, unicodeAlphaNum } from '@vue-storefront/core/helpers/validators'
import { Shipping } from '@vue-storefront/core/modules/checkout/components/Shipping'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox'
import BaseInput from 'theme/components/core/blocks/Form/BaseInput'
import BaseNumber from 'theme/components/core/blocks/Form/BaseNumber'
import BaseSelect from 'theme/components/core/blocks/Form/BaseSelect'
import Tooltip from 'theme/components/core/Tooltip'
/* import GoogleAutocomplete from 'theme/components/core/blocks/Checkout/GoogleAutocomplete' */
import addressSuggestions from 'theme/resource/address.json'

export default {
  data () {
    return {
      shipToMyAddressCheckbox: 0,
      address: '',
      shippingFormOpened: false,
      addressSuggestion: '',
      currentAddress: null
    }
  },
  components: {
    Tooltip,
    BaseCheckbox,
    BaseInput,
    BaseSelect,
    BaseNumber
    /* GoogleAutocomplete */
  },
  mixins: [Shipping],
  computed: {
    countryOptions () {
      let countries = this.countries.filter(country => country.code === 'TH')
      return countries.map((item) => {
        return {
          value: item.code,
          label: item.name
        }
      })
    },
    isLoggedIn () {
      return this.$store.getters['user/isLoggedIn']
    },
    storeView () {
      return currentStoreView()
    },
    getallAddresses () {
      let { current } = this.$store.state.user
      return current ? current.addresses : []
    }
  },
  watch: {
    isActive (nV, oV) {
      if (this.hasShippingDetails() && nV) {
        this.getAutoSelcetedAddress()
      }
      let currentShippingMethod = this.getCurrentShippingMethod()
      this.$bus.$emit('checkout-after-shippingMethodChanged', {
        country: this.shipping.country,
        method_code: currentShippingMethod.method_code,
        carrier_code: currentShippingMethod.carrier_code,
        payment_method: this.paymentMethod[0].code
      })
    }
  },
  methods: {
    updateAddress (address) {
      this.currentAddress = address
      this.myAddressDetails = address
      this.updateDefaultAddress()
    },
    updateDefaultAddress () {
      let address = this.currentAddress
      if (address && address.customer_id) {
        this.shipping = {
          firstName: address.firstname,
          lastName: address.lastname,
          country: address.country_id,
          state: (address.region && address.region.region) ? address.region.region : address.state,
          city: address.city,
          streetAddress: address.street[0],
          zipCode: address.postcode,
          phoneNumber: address.telephone,
          shippingMethod: this.checkoutShippingDetails.shippingMethod,
          shippingCarrier: this.checkoutShippingDetails.shippingCarrier
        }
      } else {
        this.shipping = {
          firstName: address.firstName,
          lastName: address.lastName,
          streetAddress: address.streetAddress,
          city: address.city,
          zipCode: address.zipCode,
          state: address.state,
          country: address.country,
          phoneNumber: address.phoneNumber,
          shippingMethod: this.checkoutShippingDetails.shippingMethod,
          shippingCarrier: this.checkoutShippingDetails.shippingCarrier
        }
      }
      if (this.$v.shipping.$invalid) {
        this.openShippingForm()
      }
      this.defaultCountry = address.country_id
      this.$set(this, 'shipping', this.shipping)
      this.changeCountry()
    },
    openShippingForm () {
      this.shippingFormOpened = !this.shippingFormOpened
    },
    fillAddress (suggestion) {
      if (suggestion) {
        this.shipping.city = suggestion.district
        this.shipping.state = suggestion.province
        this.shipping.zipCode = suggestion.postal_code
        this.addressSuggestion = ''
      }
    },
    getSuggestions () {
      let enteredZipCode = this.shipping.zipCode;
      let data = ''
      this.addressSuggestion = ''

      if (enteredZipCode && enteredZipCode.length > 2) {
        data = addressSuggestions.filter(addresses => (addresses.postal_code.toLowerCase().search(enteredZipCode.toLowerCase()) >= 0))
        if (data) {
          this.addressSuggestion = data
        }
      }
    },
    getAddressData: function (addressData, placeResultData, id) {
      this.address = addressData;
    },
    getAutoSelcetedAddress () {
      if (this.currentUser && this.currentUser.addresses.length !== 0) {
        if (this.currentAddress) {
          this.updateAddress(this.currentAddress)
        } else {
          this.updateAddress(this.currentUser.addresses[0])
        }
      }
    },
    validZipcode () {
      this.shipping.zipCode = this.shipping.zipCode.replaceAll(/[^0-9]/g, '');
    },
  },
  validations: {
    shipping: {
      firstName: {
        required,
        minLength: minLength(2),
        unicodeAlpha
      },
      lastName: {
        required,
        unicodeAlpha
      },
      country: {
        required
      },
      streetAddress: {
        required,
        unicodeAlphaNum
      },
      shippingMethod: {
        required
      },
      zipCode: {
        required,
        minLength: minLength(5),
        unicodeAlphaNum
      },
      phoneNumber: {
        required,
        minLength: minLength(10),
        maxLength: maxLength(10),
        unicodeAlphaNum
      },
      city: {
        required,
        unicodeAlpha
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-secondary: color(secondary);
$color-primary: color(primary);
$gray-D8D8D8: color(gray-D8D8D8);
$gray-A3A3A3: color(gray-A3A3A3);
$gray-EEEEEE: color(gray-EEEEEE);
$gray-333435: color(gray-333435);

.shipping-field-title {
  font-size: 14px;
  font-weight: 500;
  color: $color-primary;
  margin-top: 15px;
  margin-bottom: 9px;
}

.shipping-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -7px;
  margin-right: -7px;

  .shipping-item {
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 15px;
    min-width: 200px;
  }
}
.suggestion-block{
  position: relative;
  .suggestion-list{
    background: $gray-EEEEEE;
    border: solid 1px $gray-A3A3A3;
    position: absolute;
    top: -15px;
    width: 100%;
    z-index: 1;
    left: 0;
    padding: 5px 10px;
    span{
      display: block;
      font-size: 13px;
      line-height: 1.3;
      cursor: pointer;
      border-bottom: solid 1px $gray-A3A3A3;
      padding: 5px 0;
      width: 100%;
      &:last-child{
        border-bottom: 0px;
      }
    }
  }
}
.shipping-address-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  .customer-address {
    width: 100%;
    flex-wrap: wrap;
    @media (max-width: 767px) {
      width: auto;
    }
  }
  .shipping-address-item {
   padding: 0 10px;
    margin-bottom: 20px;
    flex: 0 0 50%;
    max-width: 50%;
    @media (max-width: 767px) {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .shipping-summary {
      font-size: 13px;
      border-radius: 4px;
      line-height: 1.5;
      color: $gray-333435;
      font-weight: 600;
      background-color: rgba(163,163,163,0.05);
      padding: 9px 16px;
      border: 1px solid $gray-A3A3A3;
      position: relative;
      .telephone {
        margin: 15px 0 10px;
      }
      p {
        margin-bottom: 0;
      }
      &.active {
        border-color: $color-secondary;
        background-color: rgba(24,149,245,0.05);
      }
    }

    .edit-addr-link {
      position: absolute;
      right: 10px;
      bottom: 10px;

      i {
        font-size: 18px;
        display: block;
      }
    }
  }
}
</style>

<style>
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
</style>
