// Colors
// ======
// @LandonSchropp's approach of naming color variables.
// - http://davidwalsh.name/sass-color-variables-dont-suck
// - http://www.color-blindness.com/color-name-hue/

// General colors palette
$colors: (
  transparent: transparent,
  black: #000,
  white: #fff,
  buccaneer: #E03D3D,
  forest-green: #7BCB34,
  yellow-F6A500: #F6A500,
  pink-FF6982: #FF6982,
  gray-A3A3A3: #A3A3A3,
  gray-333435: #333435,
  gray-666666: #666666,
  gray-D8D8D8: #D8D8D8,
  gray-EEEEEE: #EEEEEE,
  blue-1895F5: #1895F5,
  white-smoke: #F7F7F7,
  gray-888888: #888888,
  gray-999999: #999999,
  gray-909090: #909090,
  gray-DDDDDD: #DDDDDD
);

// Theme generic colors
// Key: name of color
// Value: color value or map with default, hover, focus color values
$colors-theme: (
  primary: (
    default: map-get($colors, gray-333435),
    hover: map-get($colors, gray-666666)
  ),
  secondary: (
    default: map-get($colors, blue-1895F5)
  ),
  accent: (
    default: map-get($colors,  gray-666666),
    hover: map-get($colors, black),
  ),
  tertiary: map-get($colors, gray-D8D8D8),
  success: map-get($colors, forest-green),
  warning: map-get($colors, buccaneer),
  error: map-get($colors, buccaneer)
);

$colors-border: (
  primary: map-get($colors, gray-333435),
  secondary: map-get($colors, blue-1895F5),
);

$colors-background: (
  primary: (
    default: map-get($colors, gray-333435),
    hover: map-get($colors, gray-666666)
  ),
  secondary: (
    default: map-get($colors, blue-1895F5)
  ),
  tertiary: map-get($colors, gray-666666)
);
