<template>
  <div class="menu-header-links relative">
    <ul v-if="menuLinks.length > 0" class="flex menu-links">
      <template v-for="(menuLink, index) of menuLinks">
        <li class="menu-item" :key="index" v-if="menuLink.include_in_menu === true || menuLink.include_in_menu === '1'">
          <router-link
            class="main-menu-link menu-link"
            data-testid="categoryButton"
            :to="'/' + menuLink.link"
          >
            {{ menuLink.label }}
          </router-link>
        </li>
      </template>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'QuickLinks',
  props: {
    menuLinks: {
      type: Array,
      required: true,
      default: () => []
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);

.menu-header-links {
  ul.menu-links{
    margin: 0;
    padding: 0;
    list-style-type: none;
    li{
      margin: 0 15px;
      &:first-child {
        margin-left: 0;
      }
      a.menu-link {
        font-size: 14px;
        font-weight: 500;
        padding: 12px 0;
        display: block;
        position: relative;
        line-height: 16px;
        &::after {
          content: '';
          position: absolute;
          bottom: 10px;
          height: 1px;
          width: 100%;
          left: 0;
          background-color: $white;
          transform: scale(0);
          transition: all 0.3s ease 0s;
        }
        &.router-link-exact-active,
        &:hover {
          color: $white;
          &::after {
            transform: scale(1);
          }
        }
      }
    }
  }
}
</style>
