<template>
  <footer id="site-footer" class="site-footer" v-if="!isCheckoutPage || isThankYouPage" :class="{ 'footer-active': isActive }">
    <span rel="#goToBottom" @click="footerCollapse" class="footer-down pointer">
    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M8.99999 0.00012207C4.02959 0.00012207 0.000144958 4.02924 0.000144958 9.00022C0.000144958 13.9704 4.02959 17.9999 8.99999 17.9999C13.9706 17.9999 18.0001 13.9704 18.0001 9.00022C18.0001 4.02924 13.9706 0.00012207 8.99999 0.00012207ZM5.78046 7.34478L9.00013 10.5645L12.2198 7.34478C12.5127 7.05189 12.9876 7.05189 13.2805 7.34478C13.5733 7.63768 13.5733 8.11255 13.2805 8.40544L9.53046 12.1554C9.23757 12.4483 8.76269 12.4483 8.4698 12.1554L4.7198 8.40544C4.42691 8.11255 4.42691 7.63768 4.7198 7.34478C5.0127 7.05189 5.48757 7.05189 5.78046 7.34478Z" fill="white"></path>
    </svg>
    {{ $t('MENU') }}
    </span>
    <cms-block :identifier="'site_footer'" />
    <back-to-top bottom="20px" right="20px" visibleoffset="200">
      <button type="button" class="btn-top button no-outline brdr-none cl-white bg-cl-secondary :bg-cl-th-secondary">
        <i
          class="material-icons pointer"
          role="button"
        >
          expand_less
        </i>
      </button>
    </back-to-top>
    <div id="goToBottom"/>
  </footer>
</template>

<script>
import { mapGetters } from 'vuex'
import { localizedRoute } from '@vue-storefront/core/lib/multistore'
import CurrentPage from 'theme/mixins/currentPage'
// import LanguageSwitcher from '../../LanguageSwitcher.vue'
// import Newsletter from 'theme/components/core/blocks/Footer/Newsletter'
import BackToTop from 'theme/components/core/BackToTop'
import { getPathForStaticPage } from 'theme/helpers'
import config from 'config'
// import FooterLogo from 'theme/components/core/FooterLogo'
import CmsBlock from 'theme/components/core/blocks/Cms/Block'

export default {
  mixins: [CurrentPage],
  name: 'MainFooter',
  data() {
    return {
      isActive: false
    }
  },
  methods: {
    goToAccount () {
      this.$bus.$emit('modal-toggle', 'modal-signup')
    },
    getLinkFor (path) {
      return localizedRoute(getPathForStaticPage(path))
    },
    footerCollapse () {
      this.isActive = !this.isActive
    }
  },
  computed: {
    ...mapGetters({
      isLogged: 'user/isLoggedIn'
    }),
    multistoreEnabled () {
      return config.storeViews.multistore
    },
    getVersionInfo () {
      return `v${process.env.__APPVERSION__} ${process.env.__BUILDTIME__}`
    },
    isThankYouPage () {
      return this.$store.state.checkout.isThankYouPage
        ? this.$store.state.checkout.isThankYouPage
        : false
    }
  },
  components: {
    // Newsletter,
    // LanguageSwitcher,
    BackToTop,
    // FooterLogo,
    CmsBlock
  }
}
</script>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$white: color(white);
$gray-333435: color(gray-333435);
$gray-999999: color(gray-999999);
$gra-909090: color(gray-909090);
.icon {
  transition: 0.3s all;
}

.social-icon {
  width: 40px;
  height: 40px;
  &:hover,
  &:focus,
  &:active {
    .icon {
      fill: $color-secondary;
    }
  }
}
.links {
  list-style-type: none;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}

.bottom-links {
  @media (max-width: 767px) {
    padding: 0;
  }
}

.footer__version-info {
  display: flex;
  color: $color-secondary;
  font-size: 0.7rem;
  @media (min-width: 768px) {
    margin-right: 1rem;
    font-size: 0.8rem;
  }
}

.underline {
  &:hover {
    color: $color-secondary;
    &:after {
      background-color: $color-secondary;
    }
  }
}
.legal-entity-link {
  text-align: center;
  @media (min-width: 768px) {
    display: none;
  }
}

.privacy-policy-link {
  text-align: right;
  @media (min-width: 768px) {
    display: none;
  }
}

@media (max-width: 595px) {
  .no-mobile {
    display: none;
  }

  .social {
    margin-top: 0;
  }

  .footer-links {
    padding-bottom: 30px;
  }
}
footer {
  background: $gray-333435;
  color: $white;
  margin-top: 40px;
  position: relative;
  .footer-logo {
    a, img {
      display: table;
      margin: auto;
    }
  }
  .footer-down {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 95px;
    bottom: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    z-index: 0;
    padding-top: 12px;
    color: #fff;
    margin-bottom: -10px;
    border: 0;
    background: none;
    svg {
      display: block;
      margin: 0 auto 3px;
    }
    &.footer-down:after {
      content: "";
      position: absolute;
      width: 95px;
      height: 95px;
      top: 17px;
      margin: auto;
      left: 0;
      right: 0;
      background-color: #333435;
      border-radius: 3px;
      transform: rotate(45deg);
      z-index: -1;
    }
  }
  .top-footer {
    padding: 50px 0 28px;
    .footer-down {
      display: none;
    }
    .footer-menu {
      ul {
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 0 0 30px;
        padding: 0;
        flex-wrap: wrap;
        li {
          position: relative;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          &:not(:last-child)::after {
            content: "|";
            margin: -1px 7px 0 7px;
            display: inline-block;
            vertical-align: top;
            @media (max-width: 767px) {
              display: none;
            }
          }
          a {
            color: $white;
            &:hover {
              color: $color-secondary;
            }
          }
          @media (max-width: 767px) {
            width: 100%;
            text-align: center;
            margin-bottom: 15px;
          }
        }
      }
      .footer-cards {
        margin-bottom: 30px;
        img {
          display: block;
          margin: auto;
        }
      }
    }
  }
  &.footer-active {
    .footer-down svg {
      transform: rotate(180deg);
    }
    .top-footer  {
      padding-bottom: 0;
    }
    .footer-cards, .footer-address, .footer-social {
      display: none;
    }
  }
}
.bottom-footer {
  color: $gra-909090;
  padding-bottom: 20px;
  font-size: 12px;
  line-height: 14px;
  a {
    color: $gra-909090;
    &:hover {
      color: $color-secondary;
    }
  }
  @media (max-width: 767px) {
    padding-bottom: 45px;
  }
}
.footer-social {
  display: flex;
  align-items: center;
  a {
    margin: 0 15px;
    svg {
      display: block;
    }
    &:hover {
      svg {
        rect, path {
          transition: all 0.3s ease 0s;
        }
        .fill-path {
          fill: $color-secondary;
        }
        .fill-rect {
          fill: $color-secondary;
        }
      }
    }
    @media (max-width: 767px) {
      margin: 0 10px;
    }
  }
}

.let-us-help-sec {
  .section {
    background-color: rgba($color-secondary, 0.2);
  }

  .let-us-help-title {
    font-size: 15px;
    display: inline-block;
    text-align: center;
    margin: 0;
    color: $color-secondary;
    background-color: $white;
    border: 2px solid $color-secondary;
    border-radius: 30px;
    font-weight: 400;
    padding: 6px 10px;

    &:hover {
      opacity: 0.8;
    }

    @media (max-width: 767px) {
      margin-bottom: 20px;
      font-size: 13px;

      i {
        font-size: 18px;
      }
    }

    & > * {
      vertical-align: middle;
      line-height: 1;
    }
  }

  .custom-list {
    li {
      @media (max-width: 767px) {
        margin-bottom: 14px;
        font-size: 12px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

address.footer-address {
  color: $gray-999999;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 22px;
  p {
    font-size: 10px;
    line-height: 12px;
    color: $gra-909090;
    a {
      color: $gra-909090;
      &:hover {
        color: $color-secondary;
      }
    }
  }
}

.btn-top {
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  @media (max-width: 767px) {
    width: 35px;
    height: 35px;
  }
}
.vue-back-to-top {
  @media (max-width: 767px) {
    right: 10px !important;
    bottom: 10px !important;
  }
}
</style>
