<template>
  <div class="login-page register-page">
    <div class="login-tab">
      <a href="#" @click.prevent="switchElem">
        {{ $t('Log in') }}
      </a>
      <a
        class="active"
        href="#"
        @click.prevent="switchElem"
        data-testid="registerLink"
      >
        {{ $t('Register') }}
      </a>

      <i
        slot="close"
        class="modal-close material-icons"
        @click="close"
      >
        close
      </i>
    </div>
    <div class="login-form-wrap">
      <form class="login-form" @submit.prevent="register" novalidate>
        <div class="row mb10">
          <base-input
            class="col-xs-6"
            type="text"
            name="first-name"
            autocomplete="given-name"
            v-model="firstName"
            @blur="$v.firstName.$touch()"
            :placeholder="$t('First name *')"
            :validations="[
              {
                condition: !$v.firstName.required && $v.firstName.$error,
                text: $t('Field is required.')
              },
              {
                condition: !$v.firstName.minLength,
                text: $t('Name must have at least 2 letters.')
              }
            ]"
          />
          <base-input
            class="col-xs-6"
            type="text"
            name="last-name"
            autocomplete="last-name"
            v-model="lastName"
            @blur="$v.lastName.$touch()"
            :placeholder="$t('Last name *')"
            :validations="[
              {
                condition: !$v.lastName.required && $v.lastName.$error,
                text: $t('Field is required.')
              }
            ]"
          />
        </div>
        <div class="row mb10">
          <div class="col-xs-6 dob">
            <scrolldatepicker
              :placeholder="$t('Date of birth *')"
              v-model="dob"
              :theme-color="'#CDCDCD'"
              :min="'1900-01-01'"
              :max="todayDate"
              :input-class="'vue-date-input'"
              @change="calculateAge(dob);"
              :input-attr="{ name: 'dob' }"
            />
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
              <path d="M940.218182 107.054545h-209.454546V46.545455h-65.163636v60.50909H363.054545V46.545455H297.890909v60.50909H83.781818c-18.618182 0-32.581818 13.963636-32.581818 32.581819v805.236363c0 18.618182 13.963636 32.581818 32.581818 32.581818h861.090909c18.618182 0 32.581818-13.963636 32.581818-32.581818V139.636364c-4.654545-18.618182-18.618182-32.581818-37.236363-32.581819zM297.890909 172.218182V232.727273h65.163636V172.218182h307.2V232.727273h65.163637V172.218182h176.872727v204.8H116.363636V172.218182h181.527273zM116.363636 912.290909V442.181818h795.927273v470.109091H116.363636z" />
            </svg>
          </div>
          <base-select
            class="col-xs-6"
            name="gender"
            :options="genderOptions"
            :selected="gender"
            :placeholder="$t('Gender *')"
            :validations="[
              {
                condition: $v.gender.$error && !$v.gender.required,
                text: $t('Field is required')
              }
            ]"
            v-model="gender"
            autocomplete="gender"
            @blur="$v.gender.$touch()"
            @change="$v.gender.$touch()"
          />
        </div>
        <base-checkbox class="mb10 newsletter-checkbox" id="is_age_eighteen" v-if="isAgeEighteen" v-model="ageEighteenCheckbox">
          {{ $t('ฉันได้รับความยินยอมจากผู้ปกครองแล้ว') }}
        </base-checkbox>

        <base-number
          class="relative base-input mb10"
          name="phone-number"
          :placeholder="$t('Phone Number *')"
          type="tel"
          :validations="[
            {
              condition: $v.customer_telephone.$error && !$v.customer_telephone.required,
              text: $t('Field is required')
            },
            {
              condition: !$v.customer_telephone.minLength,
              text: $t('Please enter 10 consecutive digit phone numbers.')
            },
            {
              condition: !$v.customer_telephone.maxLength,
              text: $t('Please enter 10 consecutive digit phone numbers.')
            }
          ]"
          v-model.trim="customer_telephone"
          @blur="$v.customer_telephone.$touch()"
          autocomplete="tel"
          maxlength="10"
        />
        <base-input
          class="mb10 email-input"
          type="email"
          name="email"
          autocomplete="email"
          v-model="email"
          @blur="$v.email.$touch()"
          :placeholder="$t('E-mail address *')"
          :validations="[
            {
              condition: !$v.email.required && $v.email.$error,
              text: $t('Field is required.')
            },
            {
              condition: !$v.email.email && $v.email.$error,
              text: $t('Please provide valid e-mail address.')
            }
          ]"
        />
        <base-input
          class="mb10 password-input"
          type="password"
          name="password"
          ref="password"
          autocomplete="new-password"
          v-model="password"
          @blur="$v.password.$touch()"
          :placeholder="$t('Password *')"
          :validations="[
            {
              condition: !$v.password.required && $v.password.$error,
              text: $t('Field is required.')
            },
            {
              condition: !$v.password.containsUppercase && $v.password.$error,
              text: $t('At least 1 uppercase character.')
            },
            {
              condition: !$v.password.containsLowercase && $v.password.$error,
              text: $t('At least 1 lowercase character.')
            },
            {
              condition: !$v.password.containsNumber && $v.password.$error,
              text: $t('At least 1 digit.')
            },
            {
              condition: !$v.password.containsSpecial && $v.password.$error,
              text: $t('At least 1 special character.(!@#$%^&*()_)')
            },
            {
              condition: !$v.password.minLength && $v.password.$error,
              text: $t('Password must have at least 8 letters.')
            }
          ]"
        />
        <base-input
          class="mb10 password-input"
          type="password"
          name="password-confirm"
          autocomplete="new-password"
          v-model="rPassword"
          @blur="$v.rPassword.$touch()"
          :placeholder="$t('Repeat password *')"
          :validations="[
            {
              condition: !$v.rPassword.required && $v.rPassword.$error,
              text: $t('Field is required.')
            },
            {
              condition: !$v.rPassword.sameAsPassword && $v.rPassword.$error,
              text: $t('Passwords must be identical.')
            }
          ]"
        />
        <div class="np-checkbox">
          <base-checkbox class="mb10 newsletter-checkbox" id="is_subscribed" v-model="isSubscribed">
            {{ $t('Sign Up for Newsletter') }}
          </base-checkbox>
          <base-checkbox
            class="col-xs-12 my15"
            id="acceptPrivacy"
            @blur="$v.acceptPrivacy.$touch()"
            v-model="acceptPrivacy"
            :validations="[{
              condition: !$v.acceptPrivacy.sameAs && $v.acceptPrivacy.$error,
              text: $t('Please click to accept the privacy policy.')
            }]"
          >
            {{ $t('I accept the') }}
            <router-link
              class="link pointer"
              to="/i/privacy-policy"
              @click.native="close"
            >
              {{ $t('Privacy Policy') }}
            </router-link>*
          </base-checkbox>
        </div>
        <vue-recaptcha
          class="my20 google-captcha"
          :sitekey="googleSiteKey"
          :load-recaptcha-script="true"
          @verify="submit"
        />
        <button-full :disabled="$v.$invalid" class="mb20" type="submit">
          {{ $t('Register an account') }}
        </button-full>

        <div class="center-xs">
          {{ $t('Register with another account') }}
          <social-signup />
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import Register from '@vue-storefront/core/compatibility/components/blocks/Auth/Register';
import ButtonFull from 'theme/components/theme/ButtonFull.vue';
import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox.vue';
import BaseInput from 'theme/components/core/blocks/Form/BaseInput.vue';
import BaseSelect from 'theme/components/core/blocks/Form/BaseSelect.vue';
import BaseNumber from 'theme/components/core/blocks/Form/BaseNumber'
import {
  required,
  email,
  minLength,
  sameAs,
  maxLength
} from 'vuelidate/lib/validators';
import config from 'config';
import VueRecaptcha from 'vue-recaptcha';
import SocialSignup from 'src/modules/aureatelabs/social-auth/components/SocialSignup';
import i18n from '@vue-storefront/i18n';
import { Logger } from '@vue-storefront/core/lib/logger';
import scrolldatepicker from 'src/modules/aureatelabs/scroll-date-picker/Scrolldatepicker.vue'

export default {
  extends: scrolldatepicker,
  data () {
    return {
      gender: '',
      dob: '',
      verified: '',
      acceptPrivacy: false,
      isSubscribed: false,
      isAgeEighteen: false,
      ageEighteenCheckbox: false,
      ip: '',
      customer_telephone: ''
    };
  },
  validations: {
    email: {
      required,
      email
    },
    firstName: {
      minLength: minLength(2),
      required
    },
    lastName: {
      required
    },
    gender: {
      required
    },
    dob: {
      required
    },
    customer_telephone: {
      required,
      minLength: minLength(10),
      maxLength: maxLength(10),
    },
    password: {
      minLength: minLength(8),
      required,
      containsUppercase: function (value) {
        return /[A-Z]/.test(value)
      },
      containsLowercase: function (value) {
        return /[a-z]/.test(value)
      },
      containsNumber: function (value) {
        return /[0-9]/.test(value)
      },
      containsSpecial: function (value) {
        return /[`#?!@$%^&*-_()`]/.test(value)
      }
    },
    rPassword: {
      required,
      sameAsPassword: sameAs('password')
    },
    acceptPrivacy: {
      sameAs: sameAs(() => true)
    }
  },
  mixins: [Register],
  components: {
    ButtonFull,
    BaseCheckbox,
    BaseInput,
    BaseSelect,
    scrolldatepicker,
    VueRecaptcha,
    SocialSignup,
    BaseNumber
  },
  computed: {
    todayDate () {
      return new Date().toJSON().slice(0,10)
    },
    genderOptions () {
      return config.aureatelabs.genders.map(item => {
        return {
          value: item.value,
          label: this.$t(item.label)
        };
      });
    },
    googleSiteKey () {
      return config.aureatelabs.googleRecaptchaSiteKey;
    }
  },
  methods: {
    calculateAge (dob) {
      const ageDob = new Date(dob);
      const ageDifMs = Date.now() - ageDob.getTime();
      const ageDate = new Date(ageDifMs);
      const ageCompair = Math.abs(ageDate.getUTCFullYear() - 1970);
      if (ageCompair < 18) {
        this.isAgeEighteen = true;
      } else {
        this.isAgeEighteen = false;
      }
    },
    submit (response) {
      if (response) {
        this.verified = true
      }
    },
    register () {
      if (this.$v.$invalid) {
        this.$v.$touch();
        this.$store.dispatch('notification/spawnNotification', {
          type: 'error',
          message: this.$t('Please fix the validation errors')
        });
        return;
      }

      if (!this.verified) {
        this.$v.$touch();
        this.$store.dispatch('notification/spawnNotification', {
          type: 'error',
          message: this.$t('Please check the captcha')
        });
        return;
      }

      if (this.isAgeEighteen && !this.ageEighteenCheckbox) {
        this.$v.$touch();
        this.$store.dispatch('notification/spawnNotification', {
          type: 'error',
          message: this.$t('Parental consent checkbox is required. If your age under the 18')
        });
        return;
      }

      this.callRegister();
    },
    onSuccess () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'success',
        message: this.$t('You are signed in successfully.')
      });
    },
    onFailure (result) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: this.$t(result.result)
      });
    },
    callRegister () {
      // TODO Move to theme
      this.$bus.$emit(
        'notification-progress-start',
        i18n.t('Registering the account ...')
      );
      // Aureate Note: Below line will have is_subscribe field for the newsletter subscription
      this.$store
        .dispatch('user/register', {
          email: this.email,
          password: this.password,
          firstname: this.firstName,
          lastname: this.lastName,
          dob: this.dob,
          gender: this.gender,
          custom_attributes: [
            {
              'attribute_code': 'parent_consent',
              'value': this.isAgeEighteen ? '1' : '0'
            },
            {
              'attribute_code': 'customer_ip_address',
              'value': this.isAgeEighteen ? this.ip : ''
            },
            {
              'attribute_code': 'customer_telephone',
              'value': this.customer_telephone,
            }
          ],
          extension_attributes: {
            'is_subscribed': this.isSubscribed,
          }
        })
        .then(result => {
          Logger.debug(result, 'user')();
          // TODO Move to theme
          this.$bus.$emit('notification-progress-stop');
          if (result.code !== 200) {
            this.onFailure(result);
            // If error includes a word 'password', focus on a corresponding field
            if (result.result.includes('password')) {
              this.$refs['password'].setFocus('password');
              this.password = '';
              this.rPassword = '';
            }
          } else {
            this.$store.dispatch('user/login', {
              username: this.email,
              password: this.password
            });
            this.onSuccess();
            this.close();
          }
        })
        .catch(err => {
          // TODO Move to theme
          this.onFailure({
            result:
              'Unexpected authorization error. Check your Network conection.'
          });
          this.$bus.$emit('notification-progress-stop');
          Logger.error(err, 'user')();
        });
    }
  },
  mounted () {
    fetch('https://api.ipify.org?format=json')
      .then(x => x.json())
      .then(({ ip }) => {
        this.ip = ip;
      });
  },
  watch: {
    dob: {
      handler (newValue) {
        this.calculateAge(newValue);
      },
      deep: true
    }
  }
};
</script>

<style lang='scss' scoped>
.np-checkbox{
  div{
    display: inline-block;
    vertical-align: top;
    margin-top: 0px;
    padding: 0 15px 0 0;
  }
}
</style>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-D8D8D8: color(gray-D8D8D8);
$gray-666666: color(gray-666666);
$white: color(white);
$gray-A3A3A3: color(gray-A3A3A3);
$color-secondary: color(secondary);
.dob {
  position: relative;
  input {
    width: 100%;
    border: none;
    border-bottom: 1px solid $gray-D8D8D8;
    width: 100%;
    appearance: none;
    border-radius: 0;
    background-color: transparent;
    font-size: 14px;
    font-weight: 400;
    color: $gray-666666;
    height: 50px !important;
    padding-left: 0;
    @media (max-width: 767px) {
      font-size: 16px !important;
      padding-right: 18px;
    }
  }
  svg {
    width: 1em;
    height: 1em;
    right: 15px;
    fill: currentColor;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 15px;
    @media (max-width: 767px) {
      right: 5px;
      top: 16px;
    }
  }
}
.vue-date-select-container {
  position: absolute;
  top: 55px;
  bottom: 0;
  left: 15px;
  right: 15px;
  z-index: 999;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  * {
    user-select: none;
  }
  .vm-dialog-content {
    z-index: 10;
    width: 100%;
    margin: 0px auto;
    max-width: 100%;
    background: $white;
    padding: 10px 5px 0px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    opacity: 0;
    .vm-option {
      position: relative;
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      color: $gray-666666;
      @media (max-width: 767px) {
        font-size: 12px;
      }
    }
    .vm-wheels {
      display: flex;
      position: relative;
      .vm-wheel {
        position: relative;
        z-index: 2;
        width: 33.33%;
        height: 200px;
        text-align: center;
        margin: 0px;
        overflow: hidden;
        pointer-events: auto;
        -ms-touch-action: none;
        touch-action: none;
        @media (max-width: 767px) {
          width: 27%;
          &:nth-child(2) {
            width: 48%;
          }
        }
        .vm-items-wrapper {
          overflow: hidden;
          pointer-events: auto;
          cursor: pointer;
        }
        .vm-line {
          position: absolute;
          top: 50%;
          left: 0px;
          height: 40px;
          width: 100%;
          margin-top: -21px;
          border-top: 1px solid $gray-A3A3A3;
          border-bottom: 1px solid $gray-A3A3A3;
          pointer-events: none;
        }
      }
    }
  }
  .vm-btns {
    text-align: center;
    padding: 10px 20px 20px;
    > div {
      position: relative;
    }
    .vm-btn {
      font-size: 12px;
      font-weight: 600;
      border-radius: 6px;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      border: 0;
      background: $color-secondary;
      color: $white;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background: rgba($color-secondary,.8);
      }
    }
  }
  &.vm-date-show {
    opacity: 1;
    visibility: visible;
    .vm-dialog-content {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      opacity: 1;
      top: 0;
      border-radius: 5px;
      position: relative;
      margin-top: 0 !important;
    }
  }
  @media (max-width: 767px) {
    left: 5px;
    right: 5px;
  }
}
@media (max-width: 767px) {
  .login-form-wrap .select-wrapper select {
    font-size: 16px;
    height: 50px;
  }
}

.vm-dialog-content .pop-close  {
  position: absolute;
  font-size: 18px;
  right: 5px;
  top: 5px;
  z-index: 9;
  cursor: pointer;
}
</style>

