<template>
  <sign-up-Modal name="modal-signup" :width="620">
    <login v-if="activeElem === 'login'" />
    <register v-if="activeElem === 'register'" />
    <forgot-pass v-if="activeElem === 'forgot-pass'" />
  </sign-up-Modal>
</template>

<script>
import { mapState } from 'vuex'
import SignUpModal from 'theme/components/core/SignUpModal'
import Login from 'theme/components/core/blocks/Auth/Login'
import Register from 'theme/components/core/blocks/Auth/Register'
import ForgotPass from 'theme/components/core/blocks/Auth/ForgotPass'

export default {
  name: 'SignUp',
  computed: {
    ...mapState({
      activeElem: state => state.ui.authElem
    })
  },
  components: {
    SignUpModal,
    Login,
    Register,
    ForgotPass
  }
}
</script>

<style scoped>
  .modal {
    font-size: 14px;
  }
</style>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-D8D8D8: color(gray-D8D8D8);
$blue-1895F5: color(blue-1895F5);
$gray-333435: color(gray-333435);
$white: color(white);
.sign-up-modal{
  position: fixed;
  background: #fff;
  width: 80%;
  max-width: 620px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  padding: 20px 50px 40px;
  border-radius: 10px;
  max-height: 95vh;
  overflow-y: auto;
  @media (max-width: 992px) {
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    height: 80%;
    max-height: 550px;
  }
  @media (max-width: 767px) {
    max-width: 100%;
    padding: 20px;
    width: 100%;
    height: 100%;
    max-height: 100%;
    border-radius: 0;
    z-index: 9999999 !important;
  }
}

.login-tab {
  display: flex;
  padding: 0 0 20px;
  a {
    width: 50%;
    color: #b3b3b3;
    text-align: center;
    font-size: 16px;
    border-bottom: solid 1px $gray-D8D8D8;
    padding: 16px 0;
    font-weight: 700;
    @media (max-width: 767px) {
      min-width: 116px;
      font-size: 14px;
      padding: 5px 0 10px;
    }
  }
  a.active {
    color: $blue-1895F5;
    border-bottom: solid 1px $blue-1895F5;
  }
  .modal-close{
    position: absolute;
    right: 8px;
    top: 8px;
    width: 28px;
    height: 28px;
    font-size: 18px;
    display: block;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
    &:hover{
      background: $blue-1895F5;
      border-radius: 100%;
      color: $white;
    }
  }
  @media (max-width: 767px) {
    padding-bottom: 10px;
    .modal-close{
      width: auto;
      height: auto;
      right: 10px;
      top: 10px;
      font-size: 25px;
    }
  }
}
.login-page{
  @media (max-width: 767px) {
    .login-form-wrap{
      .login-form{
        .row{
          margin-left: -5px;
          margin-right: -5px;
          > div{
            padding-left: 5px;
            padding-right: 5px;
          }
        }
      }
      .signup-buttons{}
    }
  }
}
</style>
