<template>
  <div :class="accordionClasses">
    <h2 class="h3 m0 serif lh20 details-title accordion-header"  :class="accordionHeaderArrow" @click="toggleAccordion">
      {{ $t('Reviews') }}
    </h2>
    <div class="accordion-body" v-if="isOpen">
      <div class="details-wrapper">
        <div class="mt50 h5 no-review-txt" v-if="!itemsPerPage || itemsPerPage.length === 0">
          {{ $t('No reviews have been posted yet. Please don\'t hesitate to share Your opinion and write the first review!') }}
        </div>
        <div class="item-review flex" v-for="(item, index) in itemsPerPage" :key="index" itemprop="review" itemscope itemtype="http://schema.org/Review">
          <meta itemprop="itemReviewed" :content="productName | htmlDecode">
          <div class="user-img">
            <img src="/assets/user.png" alt="profile" height="70" width="70">
          </div>
          <div class="user-info">
            <div class="flex middle-xs review-title">
              <h4 class="weight-400 m0" itemprop="reviewAspect" :content="item.title">
                {{ item.title }}
              </h4>
              <div class="cl-tertiary fs-medium-small">
                - {{ item.nickname }}, {{ item.created_at | date(null, storeView) }}
              </div>
            </div>
            <div class="rating-result">
              <span :class="'rating_'+(item.ratings[0] ? item.ratings[0].value : 0)" />
            </div>
            <p class="cl-gray lh25" itemprop="reviewBody" :content="item.detail" v-html="item.detail" />
          </div>
        </div>
        <div class="row middle-xs center-xs mt50" v-if="pageCount > 1">
          <a href="#" class="mr10 no-underline" :class="{ inactive: currentPage === 1 }" @click.prevent="prevPage">
            <i class="material-icons">chevron_left</i>
          </a>
          <span class="mx10 pagination-page" v-for="pageNumber in pageList" :key="pageNumber">
            <span class="fs-medium block py15 px20 bg-cl-gray-333435 cl-white" v-if="pageNumber === currentPage">
              {{ pageNumber }}
            </span>
            <a href="#" class="fs-medium block py15 px20 bg-cl-secondary pointer" v-else @click.prevent="changePage(pageNumber)">
              {{ pageNumber }}
            </a>
          </span>
          <a href="#" class="ml10 no-underline" :class="{ inactive: currentPage === pageCount }" @click.prevent="nextPage">
            <i class="material-icons">chevron_right</i>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import { Reviews } from '@vue-storefront/core/modules/review/components/Reviews'

export default {
  props: {
    perPage: {
      type: Number,
      required: false,
      default: 4
    },
    items: {
      type: Array,
      default: () => []
    },
    productName: {
      type: String,
      default: ''
    }
  },
  mixins: [ Reviews ],
  data () {
    return {
      currentPage: 1,
      isOpen: true
    }
  },
  computed: {
    itemsPerPage () {
      let start = ((this.currentPage - 1) * this.perPage)
      let end = start + this.perPage
      return this.items.slice(start, end).filter(review => !!review.review_status)
    },
    pageCount () {
      return Math.floor(this.items.length / this.perPage) + Math.min(1, this.items.length % this.perPage)
    },
    pageList () {
      if (this.pageCount <= 5 || this.currentPage === 1 || this.currentPage === 2) {
        const pages = []
        for (let i = 1; i <= Math.min(this.pageCount, 5); i += 1) {
          pages.push(i)
        }
        return pages
      } else if (this.currentPage === this.pageCount || this.currentPage === this.pageCount - 1) {
        const pages = []
        for (let i = this.pageCount; i >= 1 && i >= this.pageCount - 4; i -= 1) {
          pages.unshift(i)
        }
        return pages
      } else {
        return [this.currentPage - 2, this.currentPage - 1, this.currentPage, this.currentPage + 1, this.currentPage + 2]
      }
    },
    storeView () {
      return currentStoreView()
    },
    accordionClasses () {
      return {
        'is-closed': !this.isOpen
      };
    },
    accordionHeaderArrow () {
      return {
        'plus': !this.isOpen,
        'minus': this.isOpen
      }
    }
  },
  methods: {
    prevPage () {
      this.currentPage = Math.max(1, this.currentPage - 1)
    },
    nextPage () {
      this.currentPage = Math.min(this.pageCount, this.currentPage + 1)
    },
    changePage (pageNumber) {
      this.currentPage = Math.max(1, Math.min(this.pageCount, pageNumber))
    },
    toggleAccordion () {
      this.isOpen = !this.isOpen;
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-333435: color(gray-333435);
$white: color(white);

.inactive {
  opacity: 0.5;
  pointer-events: none;
}
.material-icons {
  font-size: 30px;
  line-height: 30px;
}
.pagination-page {
  a {
    &:hover {
      background-color: $gray-333435;
      color: $white;
    }
  }
  @media (max-width: 767px) {
    margin: 0;
  }
  a, span {
    @media (max-width: 767px) {
      padding: 10px 12px;
      font-size: 16px;
    }
  }
}

.no-review-txt {
  @media (max-width: 767px) {
    margin-top: 20px;
  }
}
</style>
<style lang="scss">
.item-review{
  padding: 20px 0 30px;
  border-bottom: 1px solid #E5E5E5;
  .user-info{
    width: 100%;
    padding-left: 30px;
    .title{
      align-items: center;
      padding:0;
      h5{
        margin: 0 0 5px;
        font-size: 18px;
        display: flex;
        align-items: center;
        span{
          font-weight: normal;
          &::before{
            content: '';
            display: inline-block;
            vertical-align: middle;
            background: #2D242D;
            width: 4px;
            height: 4px;
            border-radius: 100%;
            margin:0 10px;
          }
        }
      }
    }
    p{
      color: #969196;
      font-size: 14px;
      line-height: 18px;
      margin-top: 0;
      margin-bottom: 15px;
      white-space: break-spaces;
    }
    a{
      color: rgba(45, 36, 45, 0.8);
    }
  }
  &:last-child{
    border-bottom: 0px;
    padding-bottom: 0;
  }
  .review-title{
    padding: 5px 0;
    h4{
      font-size: 18px;
      font-weight: 600;
      padding-right: 5px;
    }
    div{
      text-transform: capitalize;
    }
  }
  .rating-result{
    background: url(/assets/star2.png);
    background-size: auto 15px;
    height: 15px;
    width: 84px;
    margin-bottom: 15px;
    span{
      display: block;
      background: url(/assets/star1.png);
      background-size: auto 15px;
      height: 15px;
      &.rating_0 { width: 0%; }
      &.rating_1 { width: 20%; }
      &.rating_2 { width: 40%; }
      &.rating_3 { width: 60%; }
      &.rating_4 { width: 80%; }
      &.rating_5 { width: 100%; }
    }
  }
  p{
    font-size: 14px;
    line-height: 1.4;
  }
}
</style>
