<template>
  <div class="product-sorting-popup">
    <div class="sorting-header align-center">
      {{ $t("Sort") }}
    </div>
    <div>
      <ul class="sorting-menu">
        <li v-for="(variant, index) in sortingVariants" :key="variant.id" @click="productSortBy(variant)" class="sorting-menu-item" :class="[ 'sorting-menu-item', (index === 0 && selectedSort === null ? 'active' : ''), (selectedSort === variant.id ? 'active' : '') ]">
          {{ $t(variant.label) }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import SortBy from '@vue-storefront/core/compatibility/components/SortBy';
import { products } from 'config';
export default {
  mixins: [SortBy],
  props: {
    hasLabel: {
      type: Boolean,
      required: false,
      default: false
    },
    value: {
      type: String,
      default: ''
    },
    type: {
      type: String,
      required: false,
      default: 'select'
    }
  },

  data () {
    return {
      sortby: null,
      selectedSort: null
    };
  },

  watch: {
    value: {
      handler () {
        const defaultVariant =
          this.value && this.value.length
            ? this.value
            : products.defaultSortBy.attribute;
        this.sortby = this.sortingVariants.find(variant =>
          variant.id.includes(defaultVariant)
        );
      },
      immediate: true
    },
    '$route': {
      handler (nV, oV) {
        if (nV.query && nV.query.sort) {
          this.selectedSort = nV.query.sort
        } else {
          this.selectedSort = null
        }
      }
    }
  },

  methods: {
    productSortBy (variant) {
      if (this.selectedSort === null) {
        this.sortby = variant
        this.changeOrder()
        this.$bus.$emit('close-sortby-filter')
      }
      if (this.selectedSort !== null && variant.id !== this.selectedSort) {
        this.sortby = variant
        this.changeOrder()
        this.$bus.$emit('close-sortby-filter')
      }
      this.selectedSort = variant.id
      this.$parent.closeSorting();
    }
  },
  mounted () {
    if (this.$route.query && this.$route.query.sort) {
      this.selectedSort = this.$route.query.sort
    }
  }
};
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$gray-666666: color(gray-666666);
$gray-D8D8D8: color(gray-D8D8D8);

.product-sorting-popup {
  .sorting-header{
    background-color: transparent;
    padding: 20px 25px;
    position: relative;
    margin: 0;
    border-bottom: 1px solid $gray-D8D8D8;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
  }

  .sorting-menu {
    margin: 0;
    padding:20px 30px 30px;
    list-style: none;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: $gray-666666;
    li {
      cursor: pointer;
      padding: 0 0 15px;
      &.active,
      &:hover {
        color: $color-secondary;
      }
      &:last-child{
        padding-bottom: 0px;
      }
    }
  }
}
</style>
