<template>
  <div class="product-listing-carousel-wrap shaded-box grid-view">
    <div class="title-sec" :class="{'badge-enabled' : badge}">
      <h2 class="sec-title flex middle-xs center-xs m0">
        <img :src="badge" alt="Badge" v-if="badge" class="mr20 badge-mobile" width="48" height="48">
        <div class="sec-title-wrap">
          <div class="sec-title-cover" :style="titleBadge">
            <div class="sec-title-cover-cover">
              {{ heading }}
            </div>
          </div>
          <div class="flex end-md see-all-link-wrap" v-if="seeAllLink">
            <router-link
              class="see-all-link"
              :to="seeAllLink"
            >
              <span>
                {{ $t('See All') }}
              </span>
              <svg width="14" height="23" viewBox="0 0 14 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.89844 21L11.7979 11.1005L1.89844 1.20101" stroke="#D8D8D8" stroke-width="3" />
              </svg>
            </router-link>
          </div>
        </div>
      </h2>
    </div>
    <div class="product-listing-carousel" v-if="getCurrentRelatedProducts.length > 0">
      <no-ssr>
        <div class="relative">
          <div class="swiper-slider-wrap">
            <div v-swiper="swiperOption" :instance-name="sliderId">
              <div class="swiper-wrapper">
                <div class="swiper-slide hover-on-product" v-for="(product, index) of getCurrentRelatedProducts" :key="index" v-if="index < 8">
                  <product-tile :product="product" :product-border-enabled="productBorderEnabled" />
                </div>
              </div>
            </div>
          </div>
          <div :id="sliderId + '-pagination'" class="swiper-pagination" slot="pagination" :style="enablePagination()" />
          <div :id="sliderId + '-button-prev'" class="swiper-button-prev" slot="button-prev">
            <svg width="14" height="23" viewBox="0 0 14 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.9023 21L3.00285 11.1005L12.9023 1.20101" stroke="#D8D8D8" stroke-width="3" /></svg>
          </div>
          <div :id="sliderId + '-button-next'" class="swiper-button-next" slot="button-next">
            <svg width="14" height="23" viewBox="0 0 14 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.89844 21L11.7979 11.1005L1.89844 1.20101" stroke="#D8D8D8" stroke-width="3" /></svg>
          </div>
        </div>
      </no-ssr>
    </div>
  </div>
</template>

<script>
// import ProductListing from 'theme/components/core/ProductListing'
import { mapGetters } from 'vuex'
import { prepareRelatedQuery } from '@vue-storefront/core/modules/catalog/queries/related'
import i18n from '@vue-storefront/i18n'
import config from 'config'
import NoSSR from 'vue-no-ssr';
import { prepareQuery } from '@vue-storefront/core/modules/catalog/queries/common';
import ProductTile from 'theme/components/core/ProductTile';
import SwiperCore, { Navigation, Pagination, Autoplay } from 'swiper';
import { Swiper, SwiperSlide, directive } from 'vue-awesome-swiper'
import 'swiper/swiper.scss'

SwiperCore.use([Navigation, Pagination, Autoplay]);

export default {
  name: 'Related',
  props: {
    type: {
      type: String,
      required: true
    },
    heading: {
      type: String,
      required: false,
      default: i18n.t('Similar products')
    },
    sliderId: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    },
    subTitle: {
      type: String,
      default: ''
    },
    perPageCustom: {
      type: Array,
      default: () => []
    },
    paginationEnabled: {
      type: Boolean,
      default: true
    },
    navigationEnabled: {
      type: Boolean,
      default: true
    },
    productBorderEnabled: {
      type: Boolean,
      default: false
    },
    limit: {
      type: Number,
      default: 1
    },
    seeAllLink: {
      type: String,
      default: ''
    },
    badge: {
      type: String,
      default: ''
    },
    productsList: {
      type: [Object, Array],
      default: () => []
    },
    nostoId: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      quickViewProduct: null,
      swiperOption: {
        spaceBetween: 25,
        slidesPerView: 4,
        freeMode: true,
        autoplay: {
          delay: 5000
        },
        loop: true,
        pagination: {
          el: ('#' + this.sliderId + '-pagination'),
          clickable: true
        },
        navigation: {
          nextEl: ('#' + this.sliderId + '-button-next'),
          prevEl: ('#' + this.sliderId + '-button-prev')
        },
        breakpoints: {
          0: {
            slidesPerView: 'auto',
            spaceBetween: 15,
            loopedSlides: 8
          },
          768: {
            slidesPerView: 3,
            spaceBetween: 15,
            loopedSlides: 8
          },
          992: {
            slidesPerView: 4,
            spaceBetween: 25,
            loopedSlides: 8
          },
          1200: {
            slidesPerView: 5,
            spaceBetween: 25,
            loopedSlides: 8
          }
        },
        on: {
          slideChangeTransitionStart () {
            let $wrapperEl = this.$wrapperEl;
            let params = this.params;
            $wrapperEl.children(('.' + (params.slideClass) + '.' + (params.slideDuplicateClass)))
              .each(function () {
                let idx = this.getAttribute('data-swiper-slide-index');
                this.innerHTML = $wrapperEl.children('.' + params.slideClass + '[data-swiper-slide-index="' + idx + '"]:not(.' + params.slideDuplicateClass + ')').html();
              });
          },
          slideChangeTransitionEnd () {
            this.slideToLoop(this.realIndex, 0, false);
          }
        }
      }
    };
  },
  components: {
    // ProductListing,
    ProductTile,
    'no-ssr': NoSSR
  },
  directives: {
    swiper: directive
  },
  beforeMount () {
    this.$bus.$on('product-after-load', this.refreshList)

    if (config.usePriceTiers) {
      this.$bus.$on('user-after-loggedin', this.refreshList)
      this.$bus.$on('user-after-logout', this.refreshList)
    }

    this.refreshList()
  },
  beforeDestroy () {
    if (config.usePriceTiers) {
      this.$bus.$off('user-after-loggedin', this.refreshList)
      this.$bus.$off('user-after-logout', this.refreshList)
    }
  },
  destroyed () {
    this.$bus.$off('product-after-load', this.refreshList)
  },
  methods: {
    async refreshList () {
      let sku = this.productLinks ? this.productLinks
        .filter(pl => pl.link_type === this.type)
        .map(pl => pl.linked_product_sku) : null

      let key = 'sku'
      if (sku === null || (sku.length === 0)) {
        sku = this.getCurrentProduct.category_ids
        key = 'category_ids'
      }
      let relatedProductsQuery = prepareRelatedQuery(key, sku)

      const response = await this.$store.dispatch('product/list', {
        query: relatedProductsQuery,
        size: 8,
        prefetchGroupProducts: false,
        updateState: false
      })
      if (response) {
        this.$store.dispatch('product/related', {
          key: this.type,
          items: response.items
        })
        this.$forceUpdate()
      }
    },
    enablePagination () {
      var pagination = this.paginationEnabled ? 'display: block' : 'display: none';
      return pagination;
    }
  },
  computed: {
    ...mapGetters({
      getProductRelated: 'product/getProductRelated',
      getCurrentProduct: 'product/getCurrentProduct'
    }),
    getCurrentRelatedProducts () {
      return this.getProductRelated[this.type] || []
    },
    productLinks () {
      return this.getCurrentProduct.product_links
    },
    titleBadge () {
      return {
        '--titleBadge': 'url(' + this.badge + ')'
      }
    }
  }
}
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$gray-D8D8D8: color(gray-D8D8D8);
$gray-666666: color(gray-666666);
$white: color(white);
$blue-1895F5: color(blue-1895F5);

.sec-title {
  .sec-title-wrap {
    .sec-title-cover {
      position: relative;

      &::before {
        content: "";
        background-image: var(--titleBadge);
        width: 48px;
        height: 48px;
        margin-right: 20px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;

        @media (max-width: 767px) {
          display: none;
        }
      }
    }
  }
}

.product-listing-carousel {

  .swiper-slide {
    .product-image {
      min-height: 200px;
    }
  }

  .swiper-button-prev {
    left: -25px;
  }

  .swiper-button-next {
    right: -25px;
  }
}

.see-all-link-wrap {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  @media (max-width: 767px) {
    position: static;
    transform: none;
    justify-content: center;
  }
}

.see-all-link {
  svg {
    path {
      transition: all 0.3s ease 0s;
    }
  }

  &:hover {
    svg {
      path {
        stroke: $color-secondary;
      }
    }
  }
}

.related-products {
  .swiper-slide {
    @media (max-width: 767px) {
      flex: 0 0 167px;
      max-width: 167px;
    }
  }
}

@media (max-width: 767px) {
  #product{
    .product-top-section{background: none;}
    .product-thumb-slider{ background: #fff; padding: 15px;}
    .product-thumb-slider {flex-wrap: wrap;}
    .swiper-container-vertical > .swiper-wrapper {flex-direction: row;}
    .product-thumb-slider .thumb-slider-left {padding-right:0px;flex: inherit;max-width: inherit; width: 100%;order: 2;padding-top: 10px;}
    .product-thumb-slider .thumb-slider-right {flex-basis: inherit;max-width: inherit;width: 100%;}
    .product-thumb-slider {max-height:inherit;}
  }
}
</style>
