<template>
  <div class="relative">
    <div class="relative">
      <textarea
        class="
          py15 w-100 border-box brdr-none brdr-bottom-1
          brdr-cl-gray-D8D8D8
        "
        :class="{empty: value === ''}"
        :type="type"
        :id="id"
        :name="name"
        :autocomplete="autocomplete"
        :value="value"
        :autofocus="autofocus"
        :ref="focus ? name : false"
        @input="$emit('input', $event.target.value)"
        @blur="$emit('blur')"
        @keyup.enter="$emit('keyup.enter', $event.target.value)"
        @keyup="$emit('keyup', $event)"
      />
      <label :for="name">
        {{ placeholder }}
      </label>
    </div>

    <ValidationMessages v-if="validations" :validations="validations" />
  </div>
</template>

<script>
import ValidationMessages from './ValidationMessages.vue'

export default {
  name: 'BaseTextarea',
  components: {
    ValidationMessages
  },
  data () {
    return {
      iconActive: false,
      icon: 'visibility'
    }
  },
  props: {
    type: {
      type: String,
      required: true
    },
    value: {
      type: [String, Number],
      required: true
    },
    name: {
      type: String,
      required: false,
      default: ''
    },
    placeholder: {
      type: String,
      required: false,
      default: ''
    },
    autocomplete: {
      type: String,
      required: false,
      default: ''
    },
    focus: {
      type: Boolean,
      required: false,
      default: false
    },
    autofocus: {
      type: Boolean,
      required: false,
      default: false
    },
    validations: {
      type: Array,
      default: () => []
    },
    id: {
      type: String,
      required: false,
      default: ''
    }
  },
  mounted () {
    if (this.focus) {
      this.$refs[this.name].focus()
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '~theme/css/variables/colors';
  @import '~theme/css/helpers/functions/color';

  $color-tertiary: color(tertiary);
  $color-black: color(black);
  $color-hover: color(tertiary, $colors-background);
  $gray-666666: color(gray-666666);
  $gray-D8D8D8: color(gray-D8D8D8);
  $color-secondary: color(secondary);

  textarea {
    &:hover,
    &:focus {
      outline: none;
      border-color: $gray-D8D8D8;
    }
    resize: none;
    background: inherit;
    min-height: 100px;
    color: $gray-666666;
    font-size: 14px;
    font-weight: 400;
  }

  label {
    color: $gray-666666;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 15px;
    transition: 0.2s ease all;
  }

  textarea:focus ~ label,
  textarea:not(.empty) ~ label {
    display: none;
  }

  .icon {
    right: 6px;
    top: 10px;
    &:hover,
    &:focus {
      color: $color-secondary;
    }
  }
</style>
