<template>
  <div class="minusplusnumber" :class="{'disabled' : disableQuantity}">
    <div class="mpbtn minus" @click="mpminus()">
      <svg width="7" height="1" viewBox="0 0 7 1" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.248901" y="0.25" width="6.5" height="0.5" fill="#D8D8D8" stroke="#444444" stroke-width="0.5" />
      </svg>
    </div>
    <div id="field_container">
      <label :for="id">{{ name }}</label>
      <input
        :id="id"
        :name="name"
        type="number"
        :min="min"
        :max="max"
        disabled="disabled"
        class="m0 no-outline base-input-number__input brdr-cl-primary bg-cl-transparent"
        :focus="autofocus"
        v-model="newValue"
        @blur="$emit('blur', $event.target.value)"
      >
    </div>
    <div class="mpbtn plus" @click="mpplus()">
      <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.248901" y="3.25" width="6.5" height="0.5" fill="#D8D8D8" stroke="#444444" stroke-width="0.5" />
        <rect x="3.7489" y="0.25" width="6.5" height="0.5" transform="rotate(90 3.7489 0.25)" fill="#D8D8D8" stroke="#444444" stroke-width="0.5" />
      </svg>
    </div>
    <ValidationMessages v-if="validations" :validations="validations" />
  </div>
</template>

<script>
import ValidationMessages from './ValidationMessages.vue'
export default {
  name: 'BaseInput',
  components: {
    ValidationMessages
  },
  props: {
    value: {
      type: [String, Number],
      default: 0
    },
    name: {
      type: String,
      required: false,
      default: ''
    },
    min: {
      type: Number,
      default: 0
    },
    max: {
      type: Number,
      default: undefined
    },
    disabled: {
      type: Boolean,
      default: false
    },
    disableQuantity: {
      type: Boolean,
      default: false
    },
    autofocus: {
      type: Boolean,
      default: false
    },
    validations: {
      type: Array,
      default: () => []
    },
    onlyPositive: {
      type: Boolean,
      default: false
    },
    id: {
      type: String,
      required: false,
      default: ''
    },
    isMiniCart: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data: function () {
    return {
      newValue: 0
    }
  },
  computed: {
    getInputId () {
      return `input_${this._uid}`
    },
    inputValue: {
      get () {
        return this.value
      }
    }
  },
  methods: {
    mpplus () {
      if (this.isMiniCart) {
        this.$bus.$emit('notification-progress-start', 'updating product qty....')
      }
      if (this.disableQuantity) {
        return false;
      }

      if (this.max === undefined || (this.newValue < this.max)) {
        this.newValue = this.newValue + 1;
        this.$emit('input', this.newValue);
      }
    },
    mpminus () {
      if (this.isMiniCart) {
        this.$bus.$emit('notification-progress-start', 'updating product qty....')
      }
      if (this.disableQuantity) {
        return false;
      }
      if ((this.newValue) > this.min) {
        this.newValue = this.newValue - 1;
        this.$emit('input', this.newValue);
      }
    }
  },
  watch: {
    value: {
      handler: function (newVal, oldVal) {
        this.newValue = newVal;
      }
    }
  },
  created () {
    this.newValue = this.value;
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-D8D8D8: color(gray-D8D8D8);

.base-input-number__label {
  display: none;
}
.minusplusnumber {
  border:1px solid $gray-D8D8D8;
  border-radius:6px;
  background-color: transparent;
  margin:0;
  display:flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  text-align: center;
  &.disabled {
    pointer-events: none;
    opacity: 0.4;
  }
  label {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    left: 0;
  }
}
.minusplusnumber #field_container input {
  width:40px;
  text-align:center;
  font-size:14px;
  font-weight: 700;
  padding:3px;
  border:none;
  height: 43px;
  line-height: 43px;

  @media (max-width: 575px) {
    width: 30px;
    height: 40px;
    line-height: 40px;
  }
}
.minusplusnumber .mpbtn {
  padding:3px 15px;
  cursor:pointer;
  border-radius:6px;
  line-height: 1;
  font-size: 0;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
</style>
