<template>
  <div class="blogs-comment-form">
    <base-input
      class="col-xs-12 col-md-6 mb15"
      type="text"
      name="nick-name"
      :placeholder="`${$t('Nick name')} *`"
      v-model.trim="comment.nickName"
      @blur="$v.comment.nickName.$touch()"
      :validations="[
        {
          condition:
            !$v.comment.nickName.required && $v.comment.nickName.$error,
          text: $t('Field is required')
        },
        {
          condition: !$v.comment.nickName.minLength,
          text: $t('Name must have at least 3 letters.')
        }
      ]"
    />
    <base-textarea
      class="col-xs-12 col-md-6 mb15"
      type="text"
      id="message"
      name="message"
      :placeholder="$t('Comment') + ' *'"
      v-model="comment.message"
      @blur="$v.comment.message.$touch()"
      :validations="[
        {
          condition: $v.comment.message.$error && !$v.comment.message.required,
          text: $t('Field is required')
        }
      ]"
    />
    <button
      @click="addComment()"
      class="add-comment-btn btn-fill btn-secondary"
      :disabled="this.$v.$invalid"
    >
      {{ $t("Add Comment") }}
    </button>
  </div>
</template>
<script>
import { required, minLength } from "vuelidate/lib/validators";
import BaseInput from "theme/components/core/blocks/Form/BaseInput";
import BaseTextarea from "theme/components/core/blocks/Form/BaseTextarea";
import { mapState } from 'vuex';
export default {
  name: "BlogCommentForm",
  components: {
    BaseInput,
    BaseTextarea
  },
  props: {
    blog: {
      type: Object,
      required: true,
      default: () => {}
    }
  },
  data() {
    return {
      comment: {
        nickName: "",
        email: "",
        message: ""
      }
    };
  },
  computed: {
    ...mapState({
      currentUser: state => state.user.current
    }),
  },
  methods: {
    async addComment () {
      const commentData =  {
        'post_id': this.blog.post_id,
        'parent_id': 0,
        'customer_id': this.currentUser ? this.currentUser.id : 0,
        'author_nickname': this.comment.nickName,
        'author_email': this.currentUser.email,
        'text': this.comment.message
      }
      await this.$store.dispatch('blogs/AddComment', commentData)
      this.$bus.$emit('clear-add-comment-form')
    },
    clearCommentForm () {
      this.comment.nickName = ''
      this.comment.message = ''
      this.$v.$reset()
    }
  },
  mounted () {
    this.$bus.$on('clear-add-comment-form', this.clearCommentForm)
  },
  destroyed () {
    this.$bus.$off('clear-add-comment-form', this.clearCommentForm)
  },
  validations: {
    comment: {
      nickName: {
        required,
        minLength: minLength(3)
      },
      message: {
        required
      }
    }
  }
};
</script>
