<template>
  <div class="blogs-category">
    <div class="category__list" v-if="categoriesList.length">
      <template v-for="category in categoriesList">
        <span class="category__name pointer" :class="{'active': activeCategory.includes(category.category_id) }" :key="category.category_id" @click="categorySelection(category.category_id)"> {{ category.title }} </span>
      </template>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  name: 'BlogsCategoryListing',
  computed: {
    ...mapGetters({
      categoriesList: 'blogs/getBlogsCategoryList',
      activeCategory: 'blogs/activeCategory'
    })
  },
  methods: {
    categorySelection (cid) {
      this.$store.dispatch('blogs/categorySelection', cid)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-DDDDDD: color(gray-DDDDDD);
$white: color(white);
$color-secondary: color(secondary);
  .category__name{
    padding: 8px;
    background: $gray-DDDDDD;
    margin-right: 5px;
    margin-top: 5px;
    display: inline-block;
    font-size: 14px;
    &.active{
      background: $color-secondary;
      color: $white;
    }
    &:hover{
      background: $color-secondary;
      color: $white;
    }
  }
</style>
