<template>
  <div class="bl__wrapper--single">
    <div class="bl__wrapper--title">
      <div class="blogimg">
        <router-link :to="localizedRoute('/guild/' + blog.identifier)">
          <img :src="getImage(blog.featured_img) || '/assets/placeholder.svg'" onerror="this.src='/assets/placeholder.svg'" :alt="blog.featured_img_alt || blog.title" class="blog-img">
        </router-link>
      </div>
      <div class="blog-text">
        <router-link :to="localizedRoute('/guild/' + blog.identifier)" class="blog-title ellipsis">
          {{ blog.title }}
        </router-link>
        <!-- <div v-html="blog.content" v-if="blogDescription" class="blog-disc" /> -->
        <p class="blog-date">
          {{ $t('Author') + ' : ' + blog.author_name }} - {{ blog.publish_time | date('ll') }}
        </p>
        <div class="blog-cat">
          <b>{{$t('Category')}} : </b>
          <router-link :to="'/guild/category/' + name.toLowerCase()" v-for="name in getCategoryName" :key="name">{{ name }}</router-link>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  name: 'BlogSingle',
  props: {
    blog: {
      type: Object,
      default: () => {}
    },
    blogDescription: {
      type: Boolean,
      required: false,
      default: true
    }
  },
  computed: {
    ...mapGetters({
      categoriesList: 'blogs/getBlogsCategoryList'
    }),
    getFilterCategory () {
       return this.categoriesList.filter( x => x.posts.includes(this.blog.post_id))
    },
    getCategoryName () {
       return this.getFilterCategory.map( x => x.title)
    }
  },
  methods: {
    getImage (img) {
      return (img.indexOf("phoenixnext.com") > 0) ? img : 'https://www.phoenixnext.com/pub/media/' + img
    }
  }
}
</script>

