<template>
  <div class="pagination" v-if="pageNumber > 1">
    <a href="#" class="prev" :class="{ current: current === 1 }" @click.prevent="gotopage(current -1, $event)">
      <span class="arrow">
        <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.41016 11.34L2.83016 6.75L7.41016 2.16L6.00016 0.75L0.000156403 6.75L6.00016 12.75L7.41016 11.34Z" fill="black" />
        </svg>
      </span>
    </a>
    <span class="" v-for="(page, key) in pages" :key="key">
      <span class="active" v-if="page === current">
        {{ page }}
      </span>
      <template v-else>
        <a :href="currentRoute.path + '?page=' + page" @click.prevent="gotopage(page, $event)">
          {{ page }}
        </a>
      </template>
    </span>
    <a href="#" class="next" :class="{ current: current === pageNumber }" @click.prevent="gotopage(current + 1, $event)">
      <span class="arrow">
        <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.589844 11.34L5.16984 6.75L0.589844 2.16L1.99984 0.75L7.99984 6.75L1.99984 12.75L0.589844 11.34Z" fill="black" />
        </svg>
      </span>
    </a>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Pagination',
  data () {
    return {
      pageIndexes: []
    }
  },
  props: {
    current: {
      type: Number,
      required: true,
      default: () => {
        return 1
      }
    },
    perpage: {
      type: Number,
      required: true,
      default: () => {
        return 40
      }
    },
    totalBlogs: {
      type: Number,
      required: true,
      default: () => {
        return 1
      }
    }
  },
  methods: {
    gotopage (page = 1, event = '') {
      if (page >= 1 && page <= this.pageNumber) {
        if (!event.target.classList.contains('current')) {
          this.$store.commit('blogs/blogs/BLOG_POST_CURRENT_PAGE', page)
          this.$router.push({ query: { ...this.$route.query, page: page } })
        }
      }
    }
  },
  computed: {
    ...mapGetters({
      currentRoute: 'url/getCurrentRoute'
    }),
    pageNumber () {
      return Math.ceil(this.totalBlogs / this.perpage)
    },
    pages () {
      let pages = Array.from({ length: this.pageNumber }, (v, k) => k + 1)
      if ((this.current <= 5)) {
        return pages.slice(0, 10)
      } else if (this.current >= this.pageNumber - 5) {
        return pages.slice(Math.max(0, this.pageNumber - 10), this.pageNumber)
      }
      return pages.slice(this.current - 5, (this.current - 5) + 10)
    }
  },
  created () {
    if (this.$route.query.page && this.$route.query.page > this.pageNumber) {
      this.$router.push({ query: { page: 1 } })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
$gray-979797: color(gray-979797);
$color-secondary: color(secondary);
.pagination {
  display: flex;
  align-items: top;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  > span{
    display: block;
  }
  a, span.active{
    width: 30px;
    height: 30px;
    margin: 0 4px;
    display: block;
    font-weight:500;
    line-height: 30px;
    background: #e9e9e9;
    text-align: center;
    color: #000;
    &:hover{
      color: $white;
      background: $color-secondary;
      svg{
        path{
          fill: $white;
        }
      }
    }
    &.prev{
      height:30px;
      width: 30px;
      text-align: center;
    }
    &.next{
      height:30px;
      width: 30px;
      text-align: center;
    }
  }
  span.active{
    color: $white;
    background: $color-secondary;
  }
}
</style>
