<template>
  <div class="bs-wrapper flex">
    <div class="bs__input flex w-100">
      <input class="bs__input--field w-100" type="search" v-model="searchTxt" @keyup.enter="searchBlogs" :placeholder="$t('Search The Blog:...')">
      <button class="w-auto no-outline block brdr-none w-100 px10 py20 bg-cl-secondary :bg-cl-th-secondary ripple weight-400 h4 cl-white sans-serif fs-medium uppercase" @click="searchBlogs">
        {{ $t('Search') }}
      </button>
    </div>
  </div>
</template>
<script>
export default {
  name: 'SearchBlog',
  data: () => ({
    searchTxt: null
  }),
  methods: {
    searchBlogs () {
      if (this.searchTxt) {
        this.$router.push('/guild-search?q=' + this.searchTxt)
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.bs-wrapper{
  button{
    height: 44px;
    font-size: 16px;
    line-height: 22px;
    min-width: 120px;
    @media (max-width: 650px) {
      height: 44px;
    }
  }
}
</style>
