<template>
  <section class="main-slider w-100 bg-cl-white cl-white">
    <div class="relative">
      <div class="swiper-slider-wrap">
        <div v-swiper="bannerSwiperOption" :instance-name="sliderId">
          <div class="swiper-wrapper">
            <div class="swiper-slide hover-on-product" v-for="(slide, index) in bannerData" :key="index">
              <router-link :to="localizedRoute(slide.link)" :title="slide.title" class="slide-item">
                <img loading="lazy" :src="slide.image" width="1240" height="700" :alt="slide.title" class="object-cover block">
                <div class="main-slider-btn-wrap">
                  <span class="no-underline main-slider-btn">
                    {{ slide.title }}
                    <img class="ml10" src="assets/right-arrow-white.svg" alt="Right Arrow" width="9" height="15">
                  </span>
                </div>
              </router-link>
            </div>
          </div>
        </div>
      </div>
      <div :id="sliderId + '-button-prev'" class="swiper-button-prev" slot="button-prev">
        <svg width="11" height="19" viewBox="0 0 11 19" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4288 18.0492C10.0097 18.4683 9.34755 18.4963 8.89603 18.133L8.80266 18.0492L0.841974 10.0885C0.422856 9.66939 0.394916 9.00723 0.758151 8.5557L0.841974 8.46233L8.80266 0.501648C9.25172 0.0525932 9.97978 0.0525932 10.4288 0.501648C10.848 0.920765 10.8759 1.58293 10.5127 2.03445L10.4288 2.12782L3.28169 9.27542L10.4288 16.423C10.848 16.8421 10.8759 17.5043 10.5127 17.9558L10.4288 18.0492Z" fill="white" />
        </svg>
      </div>
      <div :id="sliderId + '-button-next'" class="swiper-button-next" slot="button-next">
        <svg width="11" height="19" viewBox="0 0 11 19" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0.57112 18.0492C0.990238 18.4683 1.6524 18.4963 2.10393 18.133L2.19729 18.0492L10.158 10.0885C10.5771 9.66939 10.605 9.00723 10.2418 8.5557L10.158 8.46233L2.19729 0.501648C1.74824 0.0525932 1.02018 0.0525932 0.57112 0.501648C0.152002 0.920765 0.124061 1.58293 0.487297 2.03445L0.57112 2.12782L7.71826 9.27542L0.57112 16.423C0.152002 16.8421 0.124061 17.5043 0.487297 17.9558L0.57112 18.0492Z" fill="white" />
        </svg>
      </div>
    </div>
  </section>
</template>

<script>
import SwiperCore, { Navigation, Autoplay } from 'swiper';
import { Swiper, SwiperSlide, directive } from 'vue-awesome-swiper'
import 'swiper/swiper.scss'

export default {
  props: {
    bannerData: {
      type: Array,
      default: () => []
    },
    sliderId: {
      type: String,
      default: ''
    },
    perPageCustom: {
      type: Array,
      default: () => []
    },
    paginationEnabled: {
      type: Boolean,
      default: true
    },
    navigationEnabled: {
      type: Boolean,
      default: true
    },
    slideAutoPlay: {
      type: Boolean,
      default: true
    },
    loop: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      bannerSwiperOption: {
        slidesPerView: 1.13,
        centeredSlides: true,
        spaceBetween: 0,
        observer: true,
        observeParents: true,
        resizeObserver: true,
        loop: true,
        // autoplay: true,
        navigation: {
          nextEl: ('#' + this.sliderId + '-button-next'),
          prevEl: ('#' + this.sliderId + '-button-prev')
        },
        breakpoints: {
          1400: {
            slidesPerView: 'auto'
          },
          768: {
            slidesPerView: 1.13
          },
          0: {
            slidesPerView: 1
          }
        }
      }
    }
  },
  directives: {
    swiper: directive
  }
}
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-white: color(white);
$blue-1895F5: color(blue-1895F5);

.main-slider {
  position: relative;
  padding-top: 703px;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 190px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 0%, #fafafa 93.4%);
    z-index: 1;
    pointer-events: none;
    @media only screen and (min-width: 768px) and (max-width: 1400px) {
      bottom: -5px;
    }
  }
  > div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .swiper-slide {
    height: auto;
    width: 1240px ;
    a {
      display: block;
      height: 100%;
      img {
        display: block;
      }
    }
    &:not(.swiper-slide-active):after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(0,0,0,0.5);
    }
    .slide-item:hover > img {
      opacity: 1;
    }
  }

  .swiper-button-prev, .swiper-button-next {
    width: 40px;
    height: 40px;
    background: rgba(34, 34, 34, 0.7);
    box-shadow: none;
    margin: 0 40px;
    top: calc(50% - 85px);
    svg path {
      stroke: transparent;
    }
  }
  .swiper-button-next {
    left: auto;
    right: 0;
  }
  .main-slider-btn-wrap {
    position: absolute;
    bottom: 210px;
    left: 0;
    right: 0;
    padding: 0 15px;
    text-align: center;
    @media only screen and (min-width: 768px) and (max-width: 1400px) {
      bottom: 31%;
    }
    @media (max-width: 767px) {
      bottom: 20px;
    }
  }
  @media (max-width: 1400px) {
    padding-top: 50%;
    .swiper-button-prev, .swiper-button-next {
      margin: auto 10px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .swiper-button-prev, .swiper-button-next {
      width: 30px;
      height: 30px;
      svg {
          width: 7px;
      }
    }
  }
  @media (max-width: 767px) {
    padding-top: 56%;
    .swiper-button-prev, .swiper-button-next {
      width: 25px;
      height: 25px;
      top: 50%;
      margin: auto 32px;
      svg {
          width: 7px;
      }
    }
    &::after {
      display: none
    }
  }
}
</style>
<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$white: color(white);
.slide-item{
  display: block;
  position: relative;

  & > img {
    transition: all 0.5s ease 0s;
  }

  &:hover {
    & > img {
      opacity: 0.8;
    }
  }
}
h1 {
  font-size: 72px;
}
.slide-wrap {
  // height: 350px;
  position: relative;

  & > img {
    display: block;
  }
}

.main-slider-btn {
  font-size: 14px;
  font-weight: 600;
  color: $white;
  background-color: rgba($color-primary, 0.9);
  border-radius: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  line-height: 22px;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  min-width: 286px;

  img {
    width: 6px;
  }

  &:hover {
    background-color: rgba($color-secondary, 0.9);
  }
}

.swiper-wrapper {
  max-width: 1240px;
  margin: auto;
  @media only screen and (min-width: 768px) and (max-width: 1400px) {
    max-width: 88.5%;
  }
  @media (max-width: 1400px) {
    .swiper-slide {
      max-width: 100%;
    }
  }
}
.main-slider .swiper-container-initialized .swiper-wrapper {
  max-width: 100%;
}
</style>
