<template>
  <button-full @click.native="addToCart(product)" :disabled="isProductDisabled || stopAddingProduct" data-testid="addToCart" class="primary-btn add-to-cart-with-price">
    <div class="in-stock" v-if="!product.pre_order_status">
      <svg class="mr10" width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.73889 6.21046C1.64207 5.32291 2.33723 4.54779 3.23005 4.54779H15.9166C17.0552 4.54779 17.7787 5.76651 17.2335 6.76607L14.8439 11.147C14.581 11.6289 14.0759 11.9287 13.527 11.9287H3.70797C2.9425 11.9287 2.29983 11.3524 2.21682 10.5914L1.73889 6.21046Z" fill="white" fill-opacity="0.1" stroke="#1A95F5" />
        <path d="M1 1.38095H4.80952" stroke="#1A95F5" stroke-linecap="round" />
        <circle cx="4.42777" cy="15.857" r="1.14286" fill="#1A95F5" />
        <circle cx="10.828" cy="15.857" r="1.14286" fill="#1A95F5" />
      </svg>
      <span>{{ preStatusTitle(product) }}</span>
      <div class="price-wrap">
        &nbsp;-&nbsp;
        <product-price
          :product="product"
          :trim-price="true"
          :round-price="true"
        />
      </div>
    </div>
    <div class="out-of-stock" v-if="!product.pre_order_status">
      {{ $t('Out of Stock') }}
    </div>
    <div class="pre-order flex" v-if="product.pre_order_status">
      <span>{{ preStatusTitle(product) }}</span>
      <div class="price-wrap">
        &nbsp;-&nbsp;
        <product-price
          :product="product"
          :trim-price="true"
        />
      </div>
    </div>
  </button-full>
</template>

<script>
import { formatProductMessages } from '@vue-storefront/core/filters/product-messages'
import { notifications } from '@vue-storefront/core/modules/cart/helpers'
import focusClean from 'theme/components/theme/directives/focusClean'
import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import { mapGetters } from 'vuex'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import ProductPrice from 'theme/components/core/ProductPrice'
import { StorageManager } from '@vue-storefront/core/lib/storage-manager'
import { allowToaddProduct, getReadyOnly} from 'theme/helpers'

export default {
  directives: { focusClean },
  components: { ButtonFull, ProductPrice },
  props: {
    product: {
      required: true,
      type: Object
    },
    disabled: {
      type: Boolean,
      default: false
    },
    isNostoProduct: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      cartItemStatus: []
    }
  },
  methods: {
    openMicrocart (product) {
      if (product) {
        // this.$parent.microcartProductName(product.name)
        this.$store.dispatch('ui/toggleMicrocart');
      }
    },
    onAfterRemovedVariant () {
      this.$forceUpdate()
    },
    async addToCart (product) {
      try {
        let singleProduct = product
        if (this.isNostoProduct) {
          singleProduct = await this.$store.dispatch('product/single', {
            options: {
              sku: product.sku
            },
            assignDefaultVariant: true,
            setCurrentProduct: false,
            selectDefaultVariant: false
          }, { root: true })
        }

        if (allowToaddProduct(singleProduct, this.productsInCart)) {
          const diffLog = await this.$store.dispatch('cart/addItem', { productToAdd: singleProduct })
          diffLog.clientNotifications.forEach(notificationData => {
            this.openMicrocart(singleProduct)
          })
          await StorageManager.get('cart').setItem('current-cart', [])
          this.$store.dispatch('cart/sync', { forceSync: true })
          this.$store.dispatch('cart/syncTotals', { forceServerSync: true })
          this.$store.dispatch('freeGift/list', this.currentCartToken);
        }
        this.$bus.$emit('notification-progress-stop');
      } catch (message) {
        await StorageManager.get('cart').setItem('current-cart', [])
        this.$store.dispatch('cart/sync', { forceSync: true })
        this.$store.dispatch('cart/syncTotals', { forceServerSync: true })
        this.$bus.$emit('notification-progress-stop');
        this.notifyUser(notifications.createNotification({ type: 'error', message }))
      }
    },
    notifyUser (notificationData) {
      this.$store.dispatch('notification/spawnNotification', notificationData, { root: true })
    },
    preStatusTitle (product) {
      const preStockStatus = product?.pre_stock_status || getReadyOnly()
      const preStockStatusObj = this.getAttributeListByCode.pre_stock_status.options.find(item => parseInt(item.value) === parseInt(preStockStatus));
      let preStockStatusLabel = this.$t('Add');
      if (preStockStatusObj.label === 'PreOrderGameTicket') {
        return preStockStatusLabel =  this.$t('Pre-Order')
      } else if (preStockStatusObj.label === 'PreOrderMerchandise') {
        return preStockStatusLabel = this.$t('Pre-Order')
      }
      return preStockStatusLabel
    }
  },
  computed: {
    ...mapGetters({
      isAddingToCart: 'cart/getIsAdding',
      currentCartToken: 'cart/getCartToken',
      isLoggedin: 'user/isLoggedIn',
      productsInCart: 'cart/getCartItems',
      getAttributeListByCode: 'attribute/getAttributeListByCode'
    }),
    isProductDisabled () {
      return this.disabled || formatProductMessages(this.product.errors) !== '' || this.isAddingToCart
    },
    storeView () {
      return currentStoreView()
    },
    stopAddingProduct () {
      if (this.isLoggedIn) {
        const freeProducts = this.$store.getters['freeGift/getFreeGiftProducts']
        const hasProduct = freeProducts.gifts && freeProducts.gifts.length > 0 ? freeProducts.gifts.find(product => product.id === this.product.id) : {}
        return hasProduct ? hasProduct.added : false
      }
      return false
    }
  },
  beforeMount () {
    this.$bus.$on('product-after-removevariant', this.onAfterRemovedVariant)
  },
  beforeDestroy () {
    this.$bus.$off('product-after-removevariant')
  }
}
</script>
<style lang="scss">
.add-to-cart-with-price {
  span{
    font-weight: 400;
  }
  .h4 {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
  }

  .price-wrap {
    display: flex;
    align-items: center;
  }
}
</style>
