<template>
  <div class="breadcrumbs">
    <span v-for="link in paths" :key="link.route_link" class="flex middle-xs">
      <router-link to="/" v-if="link.name == 'PHOENIX'" aria-label="home">
        <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.05882 15V9.70588H10.5882V15H15V7.94118H17.6471L8.82353 0L0 7.94118H2.64706V15H7.05882Z" fill="#A3A3A3" />
        </svg>
      </router-link>
      <router-link :to="link.route_link" v-else>
        {{ link.name | htmlDecode }}
      </router-link>
      <b class="ml8"><img src="/assets/right-arrow-bredcrumb.svg" width="10" height="10" alt="Right Arrow"></b>
    </span>
    <span>
      {{ current | htmlDecode }}
    </span>
  </div>
</template>

<script>
import { Breadcrumbs } from '@vue-storefront/core/modules/breadcrumbs/components/Breadcrumbs.ts'

export default {
  mixins: [Breadcrumbs]
}
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-A3A3A3: color(gray-A3A3A3);
$color-primary: color(primary);
$color-secondary: color(secondary);

.breadcrumbs {
  font-size: 12px;
  font-weight: 500;
  color: $color-primary;
  display: block;
  span{
    padding-right: 10px;
    display: inline-block;
    vertical-align: middle;
    &:last-child {
      padding-right: 0;
    }
  }
  b{
    display: inline-flex;
    width: 10px;
    height: 10px;
  }
  .flex {
    display: inline-flex;
  }
  svg {
    display: block;

    path {
      transition: all 0.5s ease 0s;
    }
  }

  a {
    color: $gray-A3A3A3;

    &:hover {
      color: $color-secondary;

      svg {
        path {
          fill: $color-secondary;
        }
      }
    }
  }
}
</style>
