<template>
  <div @click="$emit('change', variant)" class="category-filter-item" :class="{ active: isActive }" v-if="getCategoryName(variant.id)">
    <button
      class="relative brdr-cl-bg-tertiary brdr-1 bg-cl-transparent mr10 pointer category-selector"
      :class="{ active: isActive }"
      :aria-label="$t('Category {variant}', { variant: variant.id })"
    />
    <span>{{ getCategoryName(variant.id) }}</span>
  </div>
</template>

<script>

import filterMixin from 'theme/mixins/filterMixin.ts'
import { mapGetters } from 'vuex'

export default {
  mixins: [filterMixin],
  computed: {
    ...mapGetters({
      categoryList: 'category-next/getCategories'
    })
  },
  methods: {
    getCategoryName (catId) {
      if (catId) {
        let result = this.$store.state.category.list.find(c => c.id === parseInt(catId));

        if (result) {
          return result.name;
        } else {
          return '';
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-event: color(tertiary);
$color-active: color(accent);
$gray-D8D8D8: color(gray-D8D8D8);
$blue-1895F5: color(blue-1895F5);

.category-filter-item {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 5px 10px;
  margin: 0 0 2px;
  cursor: pointer;
  &.active{
    background: rgba($color: $blue-1895F5, $alpha: 0.2);
    border-radius: 4px;
  }
  button{
    border: solid 1px $gray-D8D8D8;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    padding: 0;
    &.active{
      border-color: $blue-1895F5;
      background: $blue-1895F5 url(/assets/tick-green.svg) no-repeat;
    }
    .square{
      display: none;
    }
    :hover{
      background: transparent;
    }
  }
  span {
    max-width: 175px;
  }
}
.square {
  width: 80%;
  height: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
</style>
