<template>
  <router-link :to="localizedRoute('/')" :title="$t('Home Page')" class="no-underline main-logo">
    <img src="/assets/logo.png" width="201.6" height="40" alt="Pheonix Next">
  </router-link>
</template>

<script>
import config from 'config'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'

export default {
  data () {
    const storeView = currentStoreView()
    return {
      defaultTitle: storeView.seo.defaultTitle ? storeView.seo.defaultTitle : config.seo.defaultTitle
    }
  },
  props: {
    width: {
      type: [String, Number],
      required: true
    },
    height: {
      type: [String, Number],
      required: true
    }
  }
}
</script>
<style lang="scss" scoped>
  .main-logo{
    transition: all 0.5s ease 0s;
    max-width: 250px;
    @media (max-width: 767px) {
      max-width:115px;
    }
  }
</style>
