<template>
  <div @click="$emit('change', variant)" class="price-filter-item">
    <button
      class="relative brdr-cl-bg-tertiary brdr-1 bg-cl-transparent mr10 pointer price-selector"
      :class="{ active: isActive }"
      :aria-label="$t('Price {variant}', { variant: variant.label })"
    >
      <span class="bg-cl-transparent absolute block square" />
    </button>
    <span>{{ variant.label }}</span>
  </div>
</template>

<script>
import filterMixin from 'theme/mixins/filterMixin.ts'

export default {
  mixins: [filterMixin]
}
</script>

<style lang="scss" scoped>
  @import '~theme/css/variables/colors';
  @import '~theme/css/helpers/functions/color';
  $color-event: color(tertiary);
  $color-active: color(accent);
  $gray-D8D8D8: color(gray-D8D8D8);
  $blue-1895F5: color(blue-1895F5);

  .square {
    width: 80%;
    height: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .price-filter-item{
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 5px 10px;
    margin: 0 0 2px;
    cursor: pointer;
    &.active{
      background: rgba($color: $blue-1895F5, $alpha: 0.2);
      border-radius: 4px;
    }
    button{
      border: solid 1px $gray-D8D8D8;
      border-radius: 100%;
      width: 20px;
      height: 20px;
      padding: 0;
      &.active{
        border-color: $blue-1895F5;
        background: $blue-1895F5 url(/assets/tick-green.svg) no-repeat;
      }
      .square{
        display: none;
      }
      :hover{
        background: transparent;
      }
    }
  }
</style>
