<template>
  <div class="product-thumb-slider">
    <div class="thumb-slider-left">
      <swiper class="swiper gallery-thumbs" :options="swiperOptionThumbs" ref="swiperThumbs" @click-slide="onSwiperThumbsClick">
        <swiper-slide class="product-thumb-item" v-for="(images, index) in gallery" :key="images.src" :class="{ 'current-slide' : currentThumbSlide === index }">
          <product-image
            :image="images"
            :alt="productAlt || productName || htmlDecode"
          />
        </swiper-slide>
      </swiper>
      <div id="thumb-slider-right-button-prev" class="swiper-button-prev" slot="button-prev">
        <svg width="14" height="23" viewBox="0 0 14 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.9023 21L3.00285 11.1005L12.9023 1.20101" stroke="#ffffff" stroke-width="3" /></svg>
      </div>
      <div id="thumb-slider-right-button-next" class="swiper-button-next" slot="button-next">
        <svg width="14" height="23" viewBox="0 0 14 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.89844 21L11.7979 11.1005L1.89844 1.20101" stroke="#ffffff" stroke-width="3" /></svg>
      </div>
    </div>
    <div class="thumb-slider-right">
      <swiper class="swiper gallery-top" :options="swiperOptionTop" ref="swiperTop">
        <swiper-slide
          v-for="(images, index) in gallery"
          :key="images.src"
        >
          <div
            class="product-image-container"
            :class="{'video-container w-100 h-100 flex relative': images.video}"
          >
            <AddToWishlist :product="product">
              <span
                class="product__icon wishlist-icon"
                :class="{'product__icon--active': isProdOnWishlist }"
                :title="isProdOnWishlist ? $t('Remove') : $t('Add to favorite') "
              >
                <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path id="Path" fill-rule="evenodd" clip-rule="evenodd" d="M12.6364 1C15.0463 1 17 2.91878 17 5.28571C17 9.57027 9 16 9 16C9 16 1 9.57114 1 5.28571C1 2.91878 2.95367 1 5.36364 1C6.88183 1 8.21894 1.76148 9.00061 2.91676C9.78106 1.76148 11.1182 1 12.6364 1Z" fill="#A3A3A3" fill-opacity="0.1" stroke="#A3A3A3" stroke-width="1.5" />
                </svg>
              </span>
            </AddToWishlist>
            <product-image
              v-show="hideImageAtIndex !== index"
              class="pointer image"
              :image="images"
              :alt="productAlt || productName || htmlDecode"
            />
            <product-video
              v-if="images.video && (index === currentPage)"
              v-bind="images.video"
              :index="index"
              @video-started="onVideoStarted"
            />
          </div>
        </swiper-slide>
      </swiper>
      <div id="thumb-slider-right-button-prev" class="swiper-button-prev" slot="button-prev">
        <svg width="14" height="23" viewBox="0 0 14 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.9023 21L3.00285 11.1005L12.9023 1.20101" stroke="#ffffff" stroke-width="3" /></svg>
      </div>
      <div id="thumb-slider-right-button-next" class="swiper-button-next" slot="button-next">
        <svg width="14" height="23" viewBox="0 0 14 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.89844 21L11.7979 11.1005L1.89844 1.20101" stroke="#ffffff" stroke-width="3" /></svg>
      </div>
    </div>
  </div>
</template>

<script>
import ProductImage from './ProductImage'
import ProductVideo from './ProductVideo'
import SwiperCore, { Navigation } from 'swiper';
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import 'swiper/swiper.scss'
import AddToWishlist from 'theme/components/core/blocks/Wishlist/AddToWishlist'
import { mapGetters, mapState } from 'vuex';

SwiperCore.use([Navigation]);

export default {
  components: {
    ProductImage,
    ProductVideo,
    Swiper,
    SwiperSlide,
    AddToWishlist
  },
  props: {
    gallery: {
      type: Array,
      required: true
    },
    productName: {
      type: String,
      default: ''
    },
    productAlt: {
      type: String,
      default: ''
    },
    product: {
      required: true,
      type: Object
    }
  },
  data () {
    let current = this
    return {
      hideImageAtIndex: null,
      currentThumbSlide: 0,
      swiperOptionTop: {
        spaceBetween: 0,
        navigation: {
          nextEl: '#thumb-slider-right-button-next',
          prevEl: '#thumb-slider-right-button-prev'
        },
        on: {
          slideChange () {
            current.swiperThumbs.slideTo(this.activeIndex, 500, false);
            current.currentThumbSlide = this.activeIndex;
          }
        }
      },
      swiperOptionThumbs: {
        direction: 'horizontal',
        spaceBetween: 10,
        slidesPerView: 'auto',
        touchRatio: 0.2,
        slideToClickedSlide: true,
        breakpoints: {
          0: {
            direction: 'horizontal'
          },
          1025: {
            direction: 'vertical'
          }
        },
        on: {
          slideChange () {
            current.swiperTop.slideTo(this.activeIndex, 500, false);
          }
        }
      }
    }
  },
  computed: {
    ...mapState({
      currentUser: state => state.user.current
    }),
    ...mapGetters({
      customWishlist: 'customWishlist/getCustomWishlistData'
    }),
    swiperTop () {
      return this.$refs.swiperTop.$swiper
    },
    swiperThumbs () {
      return this.$refs.swiperThumbs.$swiper
    },
    userWishlistProducts () {
      if (this.customWishlist !== 'undefined' && this.currentUser) {
        return this.customWishlist.map(obj => {
          return obj.sku
        })
      }
      return []
    },
    isProdOnWishlist () {
      if (this.userWishlistProducts.length === 0) {
        return false;
      }
      return this.userWishlistProducts.includes(this.product.sku)
    }
  },
  mounted () {
    this.$emit('loaded')
  },
  methods: {
    onSwiperThumbsClick (index) {
      this.swiperTop.slideTo(index, 500, false);
    },
    onSwiperTopClick (index) {
      this.swiperThumbs.slideTo(index, 500, false);
    },
    onVideoStarted (index) {
      this.hideImageAtIndex = index
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/animations/transitions';
.zoom-in {
  position: absolute;
  bottom: 0;
  right: 0;
}
.video-container {
  align-items: center;
  justify-content: center;
}
</style>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$color-white: color(white);
$blue-1895F5: color(blue-1895F5);

.product-thumb-slider {
  display: flex;
  overflow: hidden;
  max-height: 530px;

  .thumb-slider-right {
    border: 0 none;
    background-color: $color-white;
    flex: 0 0 calc(100% - 90px);
    max-width: calc(100% - 90px);
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,0.08);
    padding-top: 515px;
    .swiper-container {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
    @media (max-width: 1325px) {
      padding-top: 87%;
    }
    @media (max-width: 1024px) {
      box-shadow: 0 0 0;
      padding-top: 100%;
    }
    .swiper-button-prev {
      left: 10px;
    }
    .swiper-button-next {
      right: 10px;
    }
  }

  .thumb-slider-left {
    padding-right: 10px;
    flex: 0 0 90px;
    max-width: 90px;
    position: relative;
    .swiper-button-prev,
    .swiper-button-next{
      position: absolute;
      left: 50%;
      margin-left: -15px;
      width: 22px;
      height: 22px;
      transform:rotate(90deg);
      svg{
        width: 8px;
        height: 12px;
      }
      @media (max-width: 1024px) {
        display: none;
      }
    }
    .swiper-button-prev{
      top: 5px;
    }
    .swiper-button-next{
      top: inherit;
      bottom: 5px;
    }
    .swiper-container {
      height: 100%;

      .swiper-slide {
        flex-grow: 0;
        flex-shrink: 1;
        height: auto;
        @media (max-width: 1024px) {
          flex: 0 0 87px;
          max-width: 87px;
        }
        .product-image{
          height:auto;
        }
        &.current-slide {
          .product-image {
            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              height: 2px;
              background-color: $color-secondary;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
  @media screen and (max-width: 1024px) {
    flex-wrap: wrap;
    max-height: none;
  }
}
.product-image-container {
  position: relative;
  padding: 10px;
  .btn-wishlist {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 1;
    @media screen and (max-width: 767px) {
      top: 12px;
      right: 12px;
    }
  }
}
.product-thumb-item {
  .product-image {
    height: auto;
  }
}
@media (max-width: 1024px) {
  #product{
    .product-thumb-slider {
      flex-wrap: wrap;
      max-height: none;
      .thumb-slider-left {
        padding-right:0px;
        flex: inherit;
        max-width: inherit;
        width: 100%;
        order: 2;
        padding-top: 10px;
      }
      .thumb-slider-right {
        flex-basis: inherit;
        max-width: inherit;
        width: 100%;
      }
    }
  }
}
</style>
