<template>
  <div>
    <div class="shaded-box">
      <div class="row mb20">
        <div class="col-xs-12 profile-title" :class="'cl-accent'">
          <h3 class="m0 mb5 f-s-16 cl-gray-333435">
            {{ $t('Additional Address') }}
          </h3>
          <p class="f-s-15 cl-gray-666666">
            {{ $t('Additional address, like your resident Address, work address etc..') }}
          </p>
        </div>
      </div>
      <div class="additional-info" v-if="getallAddresses.length > 0">
        <div class="row mb20">
          <div class="info-block col-xs-12 col-md-6" :class="'customer-address-'+ address.id" v-for="address in getallAddresses" :key="address.id">
            <div class="profile-br-box profile-info">
              <div class="d-flex">
                <span>{{ address.firstname }} {{ address.lastname }}</span>
              </div>
              <div class="d-flex">
                <span>
                  {{ address.street[0] }}
                  <span v-if="address.street[1]"> {{ address.street[1] }}</span>
                  {{ address.city }} {{ address.postcode }}
                  <span v-if="address.region">{{ address.region.region }}, </span>
                  {{ getCountryName(address.country_id) }}
                </span>
              </div>
              <div class="d-flex">
                <span v-if="isCustomerTelephone">
                  {{ isCustomerTelephone }}
                </span>
              </div>
            </div>
            <div class="edit-row flex middle-xs">
              <a href="javascript:void(0)" @click="editAddress(address.id)" class="blue-link flex">
                <svg class="mr10" width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M11.4243 1.26895C12.4697 0.230664 14.1706 0.230664 15.216 1.26895C16.2613 2.30719 16.2613 3.9966 15.216 5.03493L3.97949 16.1951C3.85924 16.3145 3.69619 16.3816 3.52614 16.3816H0.641116C0.28706 16.3816 0 16.0965 0 15.7449V12.8794C0 12.7105 0.0675576 12.5486 0.187767 12.4291L11.4243 1.26895ZM3.15057 11.2875L5.12894 13.2524L11.5685 6.85666L9.5901 4.89172L3.15057 11.2875ZM3.26059 15.1081H1.28223V13.1432L2.2439 12.188L4.22227 14.153L3.26059 15.1081ZM12.4751 5.95602L14.3093 4.13435C14.5735 3.87189 14.719 3.52299 14.719 3.15189C14.719 2.78078 14.5735 2.43188 14.3093 2.16942C14.0451 1.90695 13.6939 1.76245 13.3202 1.76245C12.9465 1.76245 12.5952 1.90699 12.331 2.16942L10.4968 3.99113L12.4751 5.95602Z" fill="#1895F5" />
                </svg>
                <span class="pr5 f-s-14 weight-600 lh20">
                  {{ $t('Edit Address') }}
                </span>
              </a>
              <a @click="removeCustomerAddress(address.id)" class="red-hover flex middle-xs pointer">
                <svg class="mr10" width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11.5232 6.16247C11.5366 5.8059 11.2581 5.50615 10.9015 5.49344C10.5459 5.48077 10.2472 5.75834 10.2338 6.11386L10.0029 12.2395C9.98943 12.5961 10.268 12.8959 10.6247 12.9086C10.9802 12.9212 11.2788 12.6436 11.2922 12.2882L11.5232 6.16247Z" fill="#666666" />
                  <rect x="7.76367" y="5.49347" width="1.29029" height="7.41516" rx="0.645145" fill="#666666" />
                  <path d="M6.19249 12.9084C6.54908 12.8957 6.82763 12.596 6.81419 12.2394L6.58324 6.11363C6.56984 5.7581 6.27114 5.48054 5.91558 5.49321C5.55899 5.50593 5.28044 5.80568 5.29389 6.16224L5.52486 12.288C5.53827 12.6436 5.83695 12.9211 6.19249 12.9084Z" fill="#666666" />
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0.730469 3.02872C0.730469 2.68265 1.01102 2.4021 1.35709 2.4021H15.4584C15.8045 2.4021 16.0851 2.68265 16.0851 3.02872C16.0851 3.3748 15.8045 3.65535 15.4584 3.65535H14.7188L13.6522 15.4281C13.6232 15.7517 13.344 16 13.0096 16H3.78416C3.44978 16 3.17084 15.7518 3.14159 15.4283L2.07497 3.65535H1.35709C1.01102 3.65535 0.730469 3.3748 0.730469 3.02872ZM4.37532 14.7467H12.4191L13.424 3.65533H3.37061L4.37532 14.7467Z" fill="#666666" />
                  <path d="M10.5149 0H6.29985C5.70696 0 5.22461 0.4685 5.22461 1.04438V3.02872H6.5149V1.25325H10.2998V3.02872H11.5901V1.04438C11.5901 0.4685 11.1077 0 10.5149 0Z" fill="#666666" />
                </svg>
                <span class="pr5 f-s-14 weight-600 lh20">
                  {{ $t('Remove') }}
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="customer-address">
        <div class="flex middle-xs actions-sec">
          <button-full
            @click.native="toggleAddressForm = !toggleAddressForm"
            v-show="!toggleAddressForm"
            class="btn-full flex middle-xs"
          >
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect y="7" width="16" height="2" fill="#1895F5" />
              <rect x="9" width="16" height="2" transform="rotate(90 9 0)" fill="#1895F5" />
            </svg>
            <span class="pl5">
              {{ $t('Add a new address') }}
            </span>
          </button-full>
        </div>
      </div>
    </div>
    <address-form
      v-if="toggleAddressForm"
      @reset-toggle="resetToggle"
      :address-id="currentAddressId"
    />
  </div>
</template>
<script>

import AddressForm from './AddressForm'
import ButtonFull from 'theme/components/theme/ButtonFull'
import Countries from '@vue-storefront/i18n/resource/countries.json'
import { RemoveAddress } from './RemoveAddress'
import i18n from '@vue-storefront/i18n'

export default {
  name: 'CustomerAddress',
  data () {
    return {
      toggleAddressForm: false,
      countries: Countries,
      currentAddressId: null
    }
  },
  computed: {
    getallAddresses () {
      return this.$store.state.user.current ? this.sortAddress(this.$store.state.user.current.addresses) : {}
    },
    currentUser () {
      return this.$store.state.user.current || null
    },
    isCustomerTelephone () {
      if(this.currentUser && this.currentUser.custom_attributes.length) {
        const customerTelephone = this.currentUser.custom_attributes.find(({attribute_code}) => attribute_code === 'customer_telephone' )
        return customerTelephone ? customerTelephone.value : null
      }
      return null
    }
  },
  components: {
    ButtonFull,
    AddressForm
  },
  mixins: [ RemoveAddress ],
  methods: {
    sortAddress (addresses) {
      return addresses.sort((a, b) => { return !(a.default_shipping - b.default_shipping) })
    },
    resetToggle () {
      this.toggleAddressForm = false
      this.currentAddressId = null
    },
    getCountryName (countryId) {
      return this.countries.filter(country => country.code === countryId)[0].name
    },
    editAddress (addressId) {
      if (this.toggleAddressForm) {
        this.toggleAddressForm = false
      }
      setTimeout(() => {
        this.toggleAddressForm = true
        this.currentAddressId = addressId
      }, 1)
    },
    removeCustomerAddress (addressId) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: i18n.t('Are you sure you want to remove this address?'),
        action1: { label: i18n.t('Cancel'), action: 'close' },
        action2: { label: i18n.t('OK'),
          action: () => {
            this.removeAddress(addressId)
            document.querySelector('.customer-address-' + addressId).remove()
          }
        },
        hasNoTimeout: true
      })
    }
  }
}
</script>
<style lang="scss">
.address-box {
  padding: 10px;
  min-height: 240px;
  border: 1px solid #ededed;
}
.address-action {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  border: 1px solid #ededed;
  border-top: 0;
  background: #F5F5F5;
  a {
    color: #4A4A4A;
  }
}
</style>
