<template>
  <div class="header">
    <header
      class="fixed w-100 bg-cl-secondary site-header"
      :class="{ 'is-visible': navVisible }"
      id="site-header"
    >
      <div class="top-header">
        <div class="container">
          <div class="row between-xs middle-xs">
            <div class="col-xs-6 col-md-4 col-lg-3 flex middle-xs px10 logo-col">
              <hamburger-icon class="menu-btn pointer mr10" />
              <logo width="auto" height="auto" />
            </div>
            <div class="col-lg-6 col-xs-2 end-xs top-search-input" id="top-search-input" v-if="!isCheckoutPage || isThankYouPage">
              <search-icons />
            </div>
            <div class="col-xs-2 col-md-4 col-lg-3 flex end-xs px15 user-actions-wrap" v-if="!isCheckoutPage || isThankYouPage">
              <div class="flex center-xs user-actions">
                <div class="btn-wrap flex middle-xs center-xs hidden-xs">
                  <router-link
                    :to="'/faqs'"
                    class="btn-help bg-cl-transparent brdr-none block icon"
                    :aria-label="$t('Open help')"
                  >
                    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M1.75 11.5C1.75 6.11522 6.11522 1.75 11.5 1.75C16.8848 1.75 21.25 6.11522 21.25 11.5C21.25 16.8848 16.8848 21.25 11.5 21.25C6.11522 21.25 1.75 16.8848 1.75 11.5ZM11.5 0.25C5.2868 0.25 0.25 5.2868 0.25 11.5C0.25 17.7132 5.2868 22.75 11.5 22.75C17.7132 22.75 22.75 17.7132 22.75 11.5C22.75 5.2868 17.7132 0.25 11.5 0.25ZM11.8009 13.2638V12.8423C11.8009 12.1614 12.0343 11.7983 12.8579 11.3119C13.6879 10.8126 14.2132 10.0928 14.2132 9.07473C14.2132 7.73888 13.0978 6.72727 11.4637 6.72727C9.64149 6.72727 8.7077 7.84264 8.63636 9.24333H9.74524C9.81658 8.31602 10.4391 7.73888 11.4183 7.73888C12.3845 7.73888 13.007 8.32899 13.007 9.13309C13.007 9.82695 12.7152 10.2355 11.963 10.6959C11.0746 11.2276 10.6596 11.8113 10.6661 12.6672V13.2638H11.8009ZM11.321 16.2727C11.8463 16.2727 12.2159 15.8966 12.2159 15.3714C12.2159 14.8396 11.8463 14.4635 11.321 14.4635C10.7958 14.4635 10.4197 14.8396 10.4197 15.3714C10.4197 15.8966 10.7958 16.2727 11.321 16.2727Z" fill="white" />
                    </svg>
                  </router-link>
                </div>
                <div class="btn-wrap flex middle-xs center-xs">
                  <wishlist-icon class="icon pointer" />
                </div>
                <div class="btn-wrap flex middle-xs center-xs">
                  <account-icon class="icon pointer" />
                </div>
                <div class="btn-wrap flex middle-xs center-xs">
                  <microcart-icon class="icon pointer" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-header" v-if="!isCheckoutPage || isThankYouPage">
        <div class="container">
          <div class="flex between-xs nav-bar">
            <quick-links :menu-links="categories" />
            <div class="points-btn" v-show="currentUser">
              {{ $t('Your Points:') }} <span>{{ myRewards }}</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="header-placeholder" :class="{'checkoutpage': isCheckoutPage}" />
    <no-ssr>
      <div v-if="isLoggedIn && currentUser">
        <div class="nosto_customer" style="display:none">
          <span class="email">{{ currentUser.email }}</span>
          <span class="first_name">{{ currentUser.firstname }}</span>
          <span class="last_name">{{ currentUser.lastname }}</span>
        </div>
      </div>
    </no-ssr>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import CurrentPage from 'theme/mixins/currentPage'
import AccountIcon from 'theme/components/core/blocks/Header/AccountIcon'
import HamburgerIcon from 'theme/components/core/blocks/Header/HamburgerIcon'
import Logo from 'theme/components/core/Logo'
import MicrocartIcon from 'theme/components/core/blocks/Header/MicrocartIcon'
import SearchIcons from 'theme/components/core/blocks/Header/SearchIcons'
import WishlistIcon from 'theme/components/core/blocks/Header/WishlistIcon'
import headerMenuData from 'theme/resource/home/home.json'
import { quickSearchByQuery } from '@vue-storefront/core/lib/search';
import SearchQuery from '@vue-storefront/core/lib/search/searchQuery';
import QuickLinks from 'src/modules/aureatelabs/quick-links/components/QuickLinks';
import NoSSR from 'vue-no-ssr'

export default {
  name: 'Header',
  components: {
    AccountIcon,
    HamburgerIcon,
    Logo,
    MicrocartIcon,
    SearchIcons,
    WishlistIcon,
    QuickLinks,
    'no-ssr': NoSSR
  },
  mixins: [CurrentPage],
  data () {
    return {
      navVisible: true,
      isScrolling: false,
      scrollTop: 0,
      lastScrollTop: 0,
      navbarHeight: 130,
      menuLinks: [],
      visibleProducts: [],
      quickLinksList: []
    }
  },
  computed: {
    isLoggedIn () {
      return this.$store.getters['user/isLoggedIn']
    },
    ...mapState({
      isOpenLogin: state => state.ui.signUp,
      currentUser: state => state.user.current,
      categoryList: state => state.category.list
    }),
    isThankYouPage () {
      return this.$store.state.checkout.isThankYouPage
        ? this.$store.state.checkout.isThankYouPage
        : false
    },
    categories () {
      return this.quickLinksList;
    },
    myRewards () {
      if (this.currentUser) {
        return this.currentUser.extension_attributes.rewardspoint
      }
      return 0;
    }
  },
  beforeMount () {
    window.addEventListener(
      'scroll',
      () => {
        this.isScrolling = true
      },
      { passive: true }
    )

    setInterval(() => {
      if (this.isScrolling) {
        this.hasScrolled()
        this.isScrolling = false
      }
    }, 250)
  },
  async created () {
    this.updateMenuData(headerMenuData);
    await this.$store.dispatch('quicklinks/list', {});
    this.quickLinksList = this.$store.getters['quicklinks/getQuickLinksList'] || [];
    if (this.isLoggedIn) {
      await this.$store.dispatch('customWishlist/list', this.currentUser.id)
    }
  },
  methods: {
    gotoAccount () {
      this.$bus.$emit('modal-toggle', 'modal-signup')
    },
    hasScrolled () {
      this.scrollTop = window.scrollY
      if (
        this.scrollTop > this.lastScrollTop &&
        this.scrollTop > this.navbarHeight
      ) {
        this.navVisible = false
      } else {
        this.navVisible = true
      }
      this.lastScrollTop = this.scrollTop
    },
    updateMenuData (data) {
      this.menuLinks = data.menuLinks
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-icon-hover: color(secondary, $colors-background);
$white: color(white);
$gray-666666: color(gray-666666);
$pink-FF6982: color(pink-FF6982);
$color-secondary: color(secondary);

header {
  // height: 135px;
  top: -136px;
  z-index: 3;
  transition: top 0.2s ease-in-out;
  &.is-visible {
    top: 0;
  }

  @media (max-width: 1200px) {
    height: 50px;
    top: -72px;
  }

  @media (max-width: 575px) {
    height: 54px;
    top: -55px;
  }
}
.right-icons {
  //for edge
  float: right;
}
.header-placeholder {
  height: 91px;

  &.checkoutpage {
    height: 73px;
  }

  @media (max-width: 1200px) {
    height: 50px;
  }

  @media (max-width: 575px) {
    height: 54px;
  }
}
.links {
  text-decoration: underline;
}
.user-actions {
  .btn-wrap {
    flex-grow: 1;
    flex-basis: 0;
    margin-left: 30px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      @media (max-width: 1200px) {
        margin-right: 15px;
      }
    }
    button {
      padding: 13px 0;
      height: 50px;
      @media (max-width: 767px) {
        svg {
          width: 18px;
        }
      }
    }
    @media (max-width: 575px) {
      margin-left: 25px;
    }
    @media (max-width: 345px) {
      margin-left: 20px;
    }
  }
}

.points-btn {
  background-color: $white;
  color: $color-secondary;
  border-radius: 4px;
  overflow: hidden;
  padding: 0 9px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}

.bottom-header {
  .bottom-header {
    padding-left: 10px;
    padding-right: 10px;
  }
  .nav-bar{
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  @media (max-width: 1200px) {
    display: none;
  }
}

.user-actions-wrap {
  @media (max-width: 991px) {
    flex-basis: auto;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.top-search-input {
  @media (max-width: 991px) {
    flex-basis: auto;
    max-width: 100%;
    padding: 0;
    margin-left: auto;
  }
  @media (max-width: 767px) {
    margin-left: auto;
  }
}
</style>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
header {
  .top-header {
    .logo-col{
      .main-logo{
        @media (min-width: 1100px) {
          min-height: 40px;
        }
      }
    }
    .icon {
      svg {
        width: 20px;
      }
    }
  }
}
.icon {
  > svg {
    circle,
    path {
      transition: all 0.5s ease 0s;
    }
  }
  &:hover,
  &:focus {
    > svg {
      circle,
      path {
        fill-opacity: 1;
        fill: $white;
      }
    }
  }
}

.user-actions {
  button {
    & > span:not(.whishlist-count):not(.minicart-count) {
      @media (max-width: 575px) {
        display: none;
      }
    }
  }
}

.menu-btn {
  svg {
    @media (max-width: 575px) {
      width: 25px;
    }
  }
}
.btn-user {
  &:hover svg {
    circle, path {
      fill: $white;
      fill-opacity: 1;
    }
  }
}
</style>
