<template>
  <button
    type="button"
    class="relative bg-cl-transparent brdr-none btn-cart w-100 block"
    @click="openMicrocart"
    data-testid="openMicrocart"
    :aria-label="$t('Open microcart')"
  >
    <svg class="block" width="25" height="22" viewBox="0 0 25 22" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g id="Cart">
        <g id="Rectangle">
          <path id="Rectangle_2" d="M1.98742 7.13556C1.90673 6.39593 2.48603 5.75 3.23005 5.75H21.6309C22.5797 5.75 23.1826 6.7656 22.7283 7.59857L18.9101 14.5986C18.6911 15.0001 18.2702 15.25 17.8127 15.25H3.99368C3.35579 15.25 2.82023 14.7697 2.75106 14.1356L1.98742 7.13556Z" fill="white" fill-opacity="0.1" stroke="white" stroke-width="1.5" />
        </g>
        <path id="Path 3" d="M1 1.5H6" stroke="white" stroke-width="1.5" stroke-linecap="round" />
        <circle id="Oval" cx="5.5" cy="20.5" r="1.5" fill="white" />
        <circle id="Oval Copy 6" cx="13.9" cy="20.5" r="1.5" fill="white" />
      </g>
    </svg>
    <span
      class="minicart-count absolute flex center-xs middle-xs border-box py0 px2 h6 lh16 weight-700 cl-white bg-cl-buccaneer"
      v-cloak
      v-show="totalQuantity"
      data-testid="minicartCount"
    >
      {{ totalQuantity }}
    </span>
  </button>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import MicrocartIcon from '@vue-storefront/core/compatibility/components/blocks/Header/MicrocartIcon'
import { syncCartWhenLocalStorageChange } from '@vue-storefront/core/modules/cart/helpers'

export default {
  mounted () {
    syncCartWhenLocalStorageChange.addEventListener()
    this.$once('hook:beforeDestroy', () => {
      syncCartWhenLocalStorageChange.removeEventListener()
    })
  },
  computed: {
    ...mapGetters({
      totalQuantity: 'cart/getItemsTotalQuantity'
    })
  },
  methods: {
    ...mapActions({
      openMicrocart: 'ui/toggleMicrocart'
    })
  }
}
</script>

<style scoped>
  .minicart-count {
    top: 7px;
    left: 50%;
    min-width: 20px;
    min-height: 20px;
    line-height: 1;
    border: solid 2px #fff;
    border-radius: 100%;
  }
</style>
