<template>
  <div class="relative">
    <div class="hidden visible-lg">
      <div class="search-group flex">
        <label class="hidden" for="header-search">{{ $t('Search') }}</label>
        <input
          id="header-search"
          class="search-input f-s-14 weight-500"
          :placeholder="$t('Search here')"
          type="text"
          v-model="search"
          @input="makeSearch(), openSearchModal(), closeSearchModalOnInput()"
          @keyup.enter="openSearchModal"
          @keyup.esc="closeSearchModal"
        >
        <span class="icon-wrap flex middle-xs p5" v-if="search.length > 0">
          <i
            class="material-icons pointer"
            @click="closeSearchModal"
            role="button"
          >
            close
          </i>
        </span>
        <button class="btn-search" :aria-label="$t('Search')" type="button" @click="openSearchModal" @keyup.esc="closeSearchModal">
          <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.0039 12.3689L16.9564 17.7624L12.0039 12.3689Z" fill="#313477" />
            <path d="M12.0039 12.3689L16.9564 17.7624" stroke="white" stroke-width="1.5" stroke-linecap="round" />
            <path d="M13.9586 7.39324C13.9586 11.0659 10.9981 14.0365 7.35432 14.0365C3.71058 14.0365 0.75 11.0659 0.75 7.39324C0.75 3.72054 3.71058 0.75 7.35432 0.75C10.9981 0.75 13.9586 3.72054 13.9586 7.39324Z" fill="white" fill-opacity="0.1" stroke="white" stroke-width="1.5" />
          </svg>
        </button>
      </div>
    </div>
    <div class="flex middle-xs mobile-search-btn">
      <button
        type="button"
        class="bg-cl-transparent brdr-none"
        @click="toggleSearchpanel"
      >
        <img src="~theme/assets/search-mobile.svg" alt="Search" class="search-icons block" width="19" height="20">
      </button>
    </div>
    <div class="overlay fixed w-100" @click="closeSearchModal" v-if="isVisible" />
    <div class="search-lists bg-cl-white absolute w-100">
      <search-result :search-result="visibleProducts" @click="closeSearchModal" />
    </div>
  </div>
</template>

<script>
import SearchIcon from '@vue-storefront/core/compatibility/components/blocks/Header/SearchIcon'
import SearchPanel from '@vue-storefront/core/compatibility/components/blocks/SearchPanel/SearchPanel'
import SearchResult from './SearchResults'
import { Logger } from '@vue-storefront/core/lib/logger'

export default {
  mixins: [SearchIcon, SearchPanel],
  components: {
    SearchResult
  },
  props: {
    isMobileSearch: {
      type: Boolean,
      default: false,
      required: false
    }
  },
  data () {
    return {
      isSeachBoxOpen: false,
      isVisible: false,
      searchString: '',
      totalcharacter: 0
    };
  },
  watch: {
    $route (to, from) {
      this.isSeachBoxOpen = false;
      this.isVisible = false;
    }
  },
  computed: {
    visibleProducts () {
      const productList = this.products || [];
      return productList;
    }
  },
  methods: {
    openSearchModal () {
      if (this.search.length > 0) {
        this.isVisible = true;
        this.isSeachBoxOpen = true;
        this.$bus.$emit('modal-show', 'modal-search-results');
        this.$store.commit('ui/setOverlay', false);
      }
    },
    closeSearchModalOnInput () {
      if (this.search.length < 1) {
        this.isVisible = false;
        this.isSeachBoxOpen = false;
        this.$bus.$emit('modal-hide', 'modal-search-results');
      }
    },
    closeSearchModal () {
      this.isVisible = false;
      this.isSeachBoxOpen = false;
      this.search = '';
      this.$bus.$emit('modal-hide', 'modal-search-results');
    },
    openMobileSearchBox () {
      this.$bus.$emit('open-search-input');
    },
    makeSearch () {
      if (this.search !== '' && this.search !== undefined) {
        this.$store.dispatch('nosto/viewSearch', this.search)
        let query = this.buildSearchQuery(this.search)
        let startValue = 0;
        this.start = startValue
        this.readMore = true
        this.$store.dispatch('product/list', { query, start: this.start, configuration: {}, size: this.size, updateState: false }).then(resp => {
          this.products = resp.items
          this.start = startValue + this.size
          this.emptyResults = resp.items.length < 1
        }).catch((err) => {
          Logger.error(err, 'components-search')()
        })
      } else {
        this.products = []
        this.emptyResults = 0
      }
    }
  }
};
</script>
<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-D8D8D8: color(gray-D8D8D8);
$white: color(white);
$color-primary: color(primary);
$color-secondary: color(secondary);
$pink-FF6982: color(pink-FF6982);
$gray-888888: color(gray-888888);

.search-group {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  background-color: $white;
  position: relative;
  z-index: 5;
  max-width: 450px;
  margin: auto;

  input {
    border: 0 none;
    height: 36px !important;
    line-height: normal !important;
    padding: 0 16px;
    margin: 0;
    flex-grow: 1;
    flex-basis: 0;
    appearance: none;
    line-height: 18px;
    color: $gray-888888;
    font-weight: 500;
    font-size: 12px;

    &:focus {
      outline: 0 none;
    }
  }

  .material-icons {
    color: $color-secondary;
    font-size: 18px;
    &:hover{
      color: $pink-FF6982;
    }
  }

  .btn-search {
    padding: 0;
    width: 57px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    overflow: hidden;
    background-color: $color-secondary;
    border: 0 none;
    margin: 1px 1px 0 0;
    &:hover{
      background-color: $color-secondary;
      opacity: 0.8;
    }
  }
}
.search-lists {
  border-radius: 6px;
  overflow: hidden;
  z-index: 4;
  color: $color-primary;
}
.mobile-search-btn {
  display: none;
  @media (max-width: 991px) {
    padding: 0;
    height: 100%;
    display: inherit;
    margin-right: 30px;
    button {
      padding: 0;
      display: block;
    }
    .search-icons {
      display: block;
      margin: 0 auto;
    }
  }
  @media (max-width: 767px) {
    margin-right: auto;
    button {
      padding-left: 0;
      padding-right: 0;
    }
  }
  @media (max-width: 575px) {
    padding: 17px 0px;
    display: flex;
  }

  button {
    & > span {
      @media (max-width: 575px) {
        display: none;
      }
    }
  }
}
</style>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  cursor:pointer;
  padding: 2px;
  // -webkit-appearance: none;
  // appearance: none;
}

.search-lists {
  .modal-backdrop {
    display: none;
  }
}
.right-sidebar{
  &#search-sidebar{
    right: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    @media (max-width:767px) {
      height: 100%;
      top: 0;
      overflow: hidden;
      width: 100%;
      right: 0;
      border-radius: 0;
      z-index: 9999999 !important;
    }
    .sidebar-wrap{
      margin: 0;
      padding:0;
    }
    .searchpanel{
      /*height: auto;*/
      .container{
        padding-left: 20px;
        padding-right: 20px;
        .product-tile-title{
          font-size: 12px;
          line-height: 1.5;
          min-height:38px;
        }
        @media (max-width:767px) {
          padding: 20px;
        }
      }
      .close-icon{
        position: absolute;
        right: 0;
        top: 0;
        opacity: 1;
        padding: 0;
        z-index: 9999999;
        font-size: 18px;
        display: block;
        height: 28px;
        width: 28px;
        line-height: 28px;
        text-align: center;
        @media (max-width:767px) {
          right: 10px;
          font-size: 25px;
          top: 10px;
        }
      }
      @media (max-width:767px) {
        .product-listing{
          .product-tile-info{
            .product-item-info-list,
            .info-btn-list{
              display: none;
            }
          }
        }
      }
    }
  }
}
</style>
